.misinfo_legend {
    float:left;
    width: 240px;
    padding-left: 10px;
}
.table-misinfo {
    clear: both;
    float: left;
    max-height: 560px;
    overflow-y: auto;
    padding-left: 1px;
    width: 990px;
}
#dbcontent {
    float: left;
    margin-left: 10px;
}
.tabinfo {
    height: 590px;
}
.table_head {
    text-align: center;
    background-color: #ffffff;
    height:24px;
}
/* Table columns */
.bor-1 { border-left: 1px solid #bdbdbd;}
.bor-2 { border-right: 1px solid #bdbdbd;}
.text-1 {
    font-size: 12px;
    color: #ffffff;
}
.text-1 a {
    color: #ffffff;
}
.grey-stroka {
    background-color:#ededed;
    height:20px;
    text-align: center;
}
.white-stroka {
    background-color:#ffffff;
    height:20px;
    text-align: center;
}
.text-2 {
    font-size: 12px;
    color: #2c2c2c;
    overflow: hidden;
}
.head-center {
    text-align: center;
    vertical-align: middle;
}

.cell-center {
    text-align: center;
}
.cell-left {
    text-align: left;
}
.misinfo_dat {
    float: left;
    background-image: url("/img/database/yellow-cell.png");
    background-repeat: no-repeat;
    height:16px;
    width: 56px;
    margin-left: 1px;
    text-align: center;
    font-size: 12px;
}
.last_row {
    border-bottom: 1px solid #bdbdbd;
}
/* SPECHIAL CHECKS */
.pausechecks:hover {
    cursor: pointer;
}
/* Profit Classes */
.green {
    background-color: #86FF80;
}
td.green:hover, td.maroon:hover, td.red:hover, td.black:hover, td.orange:hover, td.white:hover {
    cursor: pointer;
}
.maroon {
    background-color: #800000;
    color: #FFFFFF;
}
.red {
    background-color: #FF0000;
    color: #FFF;
}
.black {
    background-color: #000000;
    color: #FFFFFF;
}
.white {
    background-color: #FFFFFF;
}
.orange {
    background-color: #FFA500;
}
/*  */
.green_tooltip {
    background-color: #86FF80;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #000;
    text-align: justify;
}
.white_tooltip {
    background-color: #FFFFFF;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #000;
    text-align: justify;
}
.red_tooltip {
    background-color: #FF0000;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #FFF;
    text-align: justify;
}
.orange_tooltip {
    background-color: #FFA500;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #000;
    text-align: justify;
}
.black_tooltip {
    background-color: #000000;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: justify;
}
.maroon_tooltip {
    background-color: #800000;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #FFFFFF;
    text-align: justify;
}