.templatelegend_row {
    clear: both;
    float: left;
    width: 1001px;
}
.dbpages_vendors {
    float: left;
    margin-top: 6px;
    margin-left: 15px;
    width: 175px;
}
select.vendorselect {
    width: 165px;
}
.blank_templateloader {
    clear: both;
    float: left;
    width: 931px;
    background: url(/img/database/blank_template_bg.png) no-repeat;
    height: 22px;
    padding-left: 348px;
}
/*.arrow {*/
    /*float: left;*/
    /*width: 15px;*/
    /*text-align: center;*/
    /*padding-top: 4px;*/
/*}*/
.blank_templatelink {
    float: left;
    width: 230px;
    padding-top: 4px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.blank_templatelink a {
    text-decoration: none;
    color: #FFF;
}
.table-templates {
    clear: both;
    float: left;
    max-height: 523px;
    overflow-y: auto;
    padding-left: 1px;
    width: 989px;
}
#dbcontent {
    float: left;
    margin-left: 10px;
}
.tabinfo {
    float: left;
    height: 590px;
    margin-left: 1px;
    width: 972px;
}
.table_head {
    text-align: center;
    background-color: #ffffff;
    height:24px;
}
/* Table columns */
.bor-1 { border-left: 1px solid #bdbdbd;}
.bor-2 { border-right: 1px solid #bdbdbd; }
.bor-3 { border-bottom: 1px solid #bdbdbd; border-left: 1px solid #bdbdbd;}
.bor-4 { border-bottom: 1px solid #bdbdbd; }

.text-1 {
    font-size: 12px;
    color: #ffffff;
}
.text-1 a {
    color: #ffffff;
}
.grey-stroka {
    background-color:#ededed;
    height:20px;
    text-align: center;
}
.white-stroka {
    background-color:#ffffff;
    height:20px;
    text-align: center;
}
.text-2 {
    font-size: 12px;
    color: #2c2c2c;
    overflow: hidden;
}
.cell-center {
    text-align: center;
}
.cell-left {
    text-align: left;
}
/* For cover Element */
.green-bor1 {
    border-left: 1px solid #185500;
    border-top: 1px solid #185500;
    border-bottom: 1px solid #185500;
}
.green-bor2 {
    border-top: 1px solid #185500;
    border-bottom: 1px solid #185500;
}
.green-bor3 {
    border-right: 1px solid #185500;
    border-top: 1px solid #185500;
    border-bottom: 1px solid #185500;
}
.green-stroka {
    background-color:#185500;
    color: #ffffff;
    text-align: left;
}
.cell5 a {
    color: #2c2c2c;
}
.green-stroka a {
    color: #ffffff;
}
.last_row {
    border-bottom: 1px solid #bdbdbd;
}
.aiupdatestatus {
    color: #000000;
}
.aiupdatestatus.empty {
    color: #bdbdbd;
}
.aiupdatestatus.updated {
    color: #ffffff;
    background-color: #0000ff;
}
.aiupdatestatus.partialupdate {
    color: #ffffff;
    background-color: #00bff3;
}

.imprint_update_label {
    float: left;
    width: 123px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.imprint_update_manage {
    float: left;
}