.itemdata {
    background: url(/img/itemdetails/item_detailsnew_bg.png) no-repeat scroll 0 0 transparent;
    clear: both;
    height: 713px;
    margin-left: 25px;
    margin-top: 10px;
    width: 1024px;
    font-size: 12px;
    font-family: Arial;
}
.itemdata input {
    background-color: #fff;
    font-size: 11px;
    margin: 0;
}
.itemdata > .heading {
    clear: both;
    position: relative;
    width: 980px;
    z-index: 15;
}
.itemdata .closeitemdetails {
    height: 40px;
    left: 990px;
    position: absolute;
    top: 13px;
    width: 40px;
    cursor: pointer;
}
.itemdata > .closeitemdetails:hover {
    cursor: pointer;
}
.itemdata .itemname {
    clear: both;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    float:left;
    padding: 6px 5px 5px 8px;
    width: 350px;
}
.itemdata .itemsourcearea {
    float: left;
    height: 30px;
    margin-left: 298px;
    width: 319px;
}
.itemdata .itemsourcearea > .labeltxt {
    color: #000000;
    line-height: 30px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 91px;
}
.itemdata .itemsourcearea > select.itemsourceselect {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    float: left;
    font-size: 11px;
    height: 21px;
    margin-top: 4px;
    padding-left: 2px;
    width: 107px;
}
.itemdata .itemsourcearea select.inventoryitemselect {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    float: left;
    font-size: 11px;
    height: 21px;
    margin-left: 7px;
    margin-top: 4px;
    padding-left: 2px;
    width: 114px;
}
.itemdata input.itemnameinp {
    float: left;
    width: 340px;
    font-size: 14px;
}
/* Key INFO Block */
.itemdata .keyinfo {
    height: 208px;
    left: 7px;
    position: absolute;
    top: 52px;
    width: 115px;
}
.itemdata .itemkeytext {
    clear: both;
    width: 120px;
    padding: 6px;
    font-size: 13px;
}
.itemdata .itemkeytextrow {
    clear: both;
    float: left;
    width: 120px;
    margin-bottom: 2px;
}
.itemdata .itemkeytextrow_gray {
    clear: both;
    float: left;
    width: 120px;
    margin-bottom: 3px;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
}
.itemdata .itemkeytextrow_white {
    clear: both;
    float: left;
    width: 120px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.itemdata .itemkeytextname {
    clear: both;
    margin-left: 8px;
    float: left;
    color: #cccccc;
    font-size: 12px;
}
.itemdata .itemkeytextval {
    float: left;
    margin-left: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
.itemdata select.itemactiveselect {
    font-size: 9px;
    font-weight: normal;
    width: 53px;
}
/* Images Block */
.itemdata .change_picture_order {
    color: #0000FF;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    left: 211px;
    position: absolute;
    top: 33px;
    width: 140px;
    cursor: pointer;
}
/* Imprint locations */
.itemdata .imprintlocationsdata {
    height: 217px;
    left: 222px;
    position: absolute;
    top: 177px;
    width: 369px;
}
.itemdata .imprintlocation_title {
    border-bottom: 1px solid #FFFFFF;
    clear: both;
    margin-left: 6px;
    /* padding-top: 6px; */
    width: 360px;
}
.itemdata .imprintlocation_title > div {
    height: 19px;
    line-height: 19px;
}
.itemdata .location_name {
    width: 146px;
    color: #cccccc;
    text-align: center;
}
.itemdata .location_size {
    width: 105px;
    color: #cccccc;
    text-align: center;
}
.itemdata .location_view {
    width: 64px;
    color: #cccccc;
    text-align: center;
}
.itemdata .location_popular {
    width: 28px;
    color: #cccccc;
    text-align: center;
}
.itemdata .imprintlocation_dat {
    clear: both;
    width: 360px;
    margin-left: 7px;
    overflow-y: auto;
    max-height: 177px;
    margin-top: 3px;
}
.itemdata .imprintdatarow {
    clear: both;
    float: left;
    width: 344px;
}
.itemdata .location_name_tab {
    float: left;
    width: 139px;
    color: #FFF;
    font-weight: bold;
    height: 16px;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #FFFFFF;
}
.itemdata .location_size_tab {
    float: left;
    width: 110px;
    height: 16px;
    color: #FFF;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #FFFFFF;
}
.itemdata .location_view_tab {
    float: left;
    width: 67px;
    height: 16px;
    padding-left: 3px;
    color: #cccccc;
    text-align: center;
}
.itemdata a.locationedit {
    color:#FFFFFF;
    text-decoration: none;
}
.itemdata .location_upload {
    float: left;
    width: 59px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}
.itemdata .location_upload.edit {
    width: 42px;
}
.itemdata .location_upload a {
    text-decoration: none;
    color : #fff;
}
.itemdata .location_del {
    float: left;
    width: 23px;
    color: #cacafc;
    font-size: 12px;
    font-weight: normal;
}
.itemdata .location_del:hover {
    cursor: pointer;
}
.itemdata .location_popular_tab {
    width: 24px;
    text-align: center;
    height: 16px;
    line-height: 16px;
}