/*
    Created on : Apr 09, 2021, 4:18:26 PM
    Author     : polovnikov-go
    Popup Window for Item (SB) Details
*/
#itemDetailsModal .modal-content {
    padding: 10px;
}
#itemDetailsModal .modal-header {
    padding: 0;
    background: #e5e5e5;
    height: 35px;
    border: 1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
}
#itemDetailsModal .modal-header .close {
    margin-top: -12px;
    margin-right: -7px;
    opacity: 1;
}
#itemDetailsModal .modal-body {
    padding: 0;
    background: #e5e5e5;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#itemDetailsModal .modal-footer {
    padding: 0px;
}
input.itemlistdetailsinpt {
    border: 1px solid #000000;
    height: 19px;
    padding-left: 5px;
    font-size: 14px;
    color: #000000;
}
.itemlistdetails-header div {
    float: left;
}
.itemlistdetails-left-header {
    margin-left: 14px;
}
.itemstatusview, .itemstatusbtn {
    height: 24px;
    line-height: 24px!important;
    padding-left: 13px;
    padding-right: 13px;
    /* width: 73px; */
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-right: 8px;
}
.itemstatusbtn {
    border-radius: 7px;
    cursor: pointer;
}
.itemstatusview.active, .itemstatusbtn.active {
    background: #0000ff;
    color: #ffffff;
}
.itemstatusview.inactive, .itemstatusbtn.inactive {
    background: #ededed;
    color: #000000;
}
.itemnumberview {
    color: #0000ff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
    width: 88px;
}
input.itemnumber {
    width: 88px;
}
.itemnameview {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-top: -4px;
}
input.itemname {
    width: 144px;
}
.itemlistdetails-right-header {
    float: right!important;
    margin-right: 113px;
}
.itemlistmodeview {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    margin-right: 8px;
}
.itemlistactivatetbtn {
    background: #cd00d5;
    color: #ffffff;
    font-size: 14px;
    height: 24px;
    line-height: 24px!important;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 9px;
    cursor: pointer;
}
.itemdetails-body {
    padding: 14px 12px;
}
.itemdetails-body div {
    float: left;
}
.itemdetails-body .chapterlabel {
    height: 27px;
    line-height: 27px;
    background: #6e6e6e;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}
.itemdetails-body .chapterlabel.leftpart {
    width: 254px;
}
.itemdetails-body .chapterlabel.centerpart {
    width: 576px;
}
.itemdetails-body > .left-part {
    width: 254px;
}
.itemdetails-body > .center-part {
    margin-left: 45px;
    width: 575px;
}
.itemdetails-body > .right-part {
    margin-left: 48px;
    width: 375px;
}
.itemdetails-webdesign {
    margin-bottom: 18px;
}
.itemdetails-webdesign .content-row {
    margin-top: 3px;
}
.itemdetails-webdesign .tempalte_label {
    height: 23px;
    line-height: 23px;
    margin-left: 9px;
    margin-right: 6px;
    font-size: 13px;
}
.itemdetails-webdesign .template_design {
}
.itemdetails-webdesign .template_design .viewdesignvalue {
    height: 23px;
    line-height: 23px;
    background: #ffffff;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 25px;
}
.itemdetails-webdesign .template-checkbox {
    width: 19px;
    height: 23px;
    line-height: 23px;
}
.itemdetails-webdesign .template-checkbox i {
    font-size: 16px;
}
.itemdetails-webdesign .template-checkbox-label {
    margin-right: 20px;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}
.itemdetails-metadata {
    margin-bottom: 16px;
}
.itemdetails-metadata .content-row {
    width: 100%;
}
.itemdetails-metadata .metadata-label {
    height: 17px;
    line-height: 17px;
    margin-left: 11px;
    margin-top: 8px;
    font-size: 13px;
}
.itemdetails-metadata .metadata-value {
    margin-left: 11px;
    width: 243px;
}
.itemdetails-metadata .metadata-value .viewparam {
    padding-left: 5px;
    background: #ffffff;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemdetails-metadata .metadata-value .viewparam-multirow {
    padding: 5px;
    background: #ffffff;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    min-height: 70px;
}
.itemdetails-intersearchdata {

}
.itemdetails-intersearchdata .content-row {
    width: 100%;
}
.itemdetails-intersearchdata .intersearch-label {
    height: 17px;
    line-height: 17px;
    margin-left: 11px;
    margin-top: 8px;
    font-size: 13px;
}
.itemdetails-intersearchdata .intersearch-value {
    margin-left: 11px;
    width: 243px;
}
.itemdetails-intersearchdata .intersearch-value .viewparam-multirow {
    padding: 5px;
    background: #ffffff;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    min-height: 70px;
}
.itemdetails-intersearchdata .simulardataview {
    width: 30%;
    margin-right: 3%;
    background: #FFF;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.itemdetails-images {
    margin-bottom: 15px;
}
.pictureslderarea {
    padding-left: 11px;
}
.itemdetails-images .itemmedia {
    margin-left:36px;
    margin-top: 5px;
}
/* Picture Slider */
#sliderlist ul, #sliderlist li{
    margin:0;
    padding:0;
    list-style:none;
}
#sliderlist, #sliderlist li{
    height: 132px;
    overflow: hidden;
    width: 435px;
}
.itemdetails-images #nextBtn {
    position: relative;
    left: 437px;
    top: -29px;
}
.itemdetails-images #prevBtn {
    position: relative;
    left: -28px;
}
.itemdetails-images #prevBtn a {
    background: url('/img/database/slider_left_arrow.png') no-repeat scroll 0 0 transparent;
}
.itemdetails-images #nextBtn a {
    background: url('/img/database/slider_right_arrow.png') no-repeat scroll 0 0 transparent;
}
.itemdetails-images .imgcontent {
    width: 77px;
    margin-right: 10px;
}
.itemdetails-images .imgcontent:last-child {
    margin-right: 0px;
}
.itemdetails-images .imagetitle {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
}
.itemdetails-images .pictures {
    position: relative;
    float: left;
    background-image: url("/img/itemdetails/pictures.png");
    width: 77px;
    height: 77px;
}
.itemdetails-images .picturename {
    margin-top: 8px;
    width: 77px;
}
.itemdetails-images .picturename .viewparam {
    height: 22px;
    line-height: 22px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background: #ffffff;
}
/*
.itemdata .picture-none {
    position: relative;
    float:right;
    background-image: url("/img/itemdetails/picture-none.png");
    width: 77px;
    height: 77px;
}
.itemdata .picture-none .qq-upload-button {
    background: none!important;
    position: relative;
    top: 20px;
}
.itemdata .close-x {
    float:right;
    padding-right: 5px;
    position: relative;
    cursor: pointer;
}
.itemdata .pic {
    padding-left: 9px;
}
.itemdata .pic .qq-upload-button {
    background: none!important;
    position: relative;
    top: 20px;
}
*/
.itemdetails-vendorinfo {
    margin-bottom: 12px;
}
.itemdetails-vendorinfo > .content-row {
    width: 576px;
}
.leadstime-label {
    float: right!important;
    margin-top: -26px;
    margin-right: 15px;
}
.leadstime-label .lead-label {
    font-size: 9px;
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
    width: 32px;
}
.vendorinfo-label {
    padding-left: 11px;
    margin-right: 6px;
    margin-top: 4px;
}
.vendorinfo-label.colorprice {
    margin-right: 11px;
}
.vendorinfo-value {
    height: 22px;
    line-height: 22px;
    margin-top: 4px;
}
.vendorinfo-value.vendorname {
    margin-right: 11px;
    width: 129px;
}
.vendorinfo-value.vendorzip {
    width: 59px;
}
.vendorinfo-value.leadtimes {
    margin-right: 9px;
    width: 21px;
}
.vendorinfo-value.vendoritemnum {
    width: 87px;
    margin-right: 9px;
}
.vendorinfo-value.vendoritemname {
    width: 227px;
}
.vendorinfo-value.vendoritemnote {
    width: 461px;
}
.vendorinfo-value.vendoritemqty {
    width: 39px;
    margin-left: 5px;
}
.vendorinfo-value.vendoritemspecqty {
    width: 51px;
    margin-left: 5px;
}
.vendorinfo-value .viewparam {
    background: #ffffff;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.itemdetails-vendorinfo .price_subtitle {
    font-size: 11px;
    color: #000000;
    margin-left: 105px;
    margin-bottom: -3px;
}