html {
    background-color: #252525;
    font-family: arial, verdana, sans-serif;
}
body {
    margin-left: auto;
    margin-right: auto;
    font-family: arial, verdana, sans-serif;
    background-color: #fff;
    margin-top: 0;
}
@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.otf) format("opentype"), url(/fonts/Helvetica.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica-BoldOblique;
    src: url(/fonts/helveticaboldoblique.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica_cyr-BoldOblique;
    src: url(/fonts/Helvetica-BoldOblique.otf) format("opentype");
}
@font-face {
    font-family: HelveticaCE-Oblique;
    src: url(/fonts/HelveticaCE-Oblique.otf) format("opentype"), url(/fonts/helveticaceoblique.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica-Oblique;
    src: url(/fonts/Helvetica-Oblique.otf) format("opentype");
}
@font-face {
    font-family: Helvetica-Bold;
    src: url(/fonts/Helvetica-Bold.otf) format("opentype");
}
@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(/fonts/HelveticaNeue-Medium.otf) format("opentype");
}
/*@font-face {*/
/*    font-family: Helvetica CE;*/
/*    src: url(/fonts/HelveticaCE.otf) format("opentype");*/
/*}*/
@font-face {
    font-family: helveticaneuecyr-black;
    src: url(/fonts/helveticaneuecyr-black.otf) format("opentype");
}
/* Common classes */
input {
    font-family: arial, verdana, sans-serif!important;
}
button, input, select, textarea {
    font-family: arial, verdana, sans-serif!important;
}
input::placeholder {
    font-style: italic;
}
body div {
    /* float: left; */
}
.datarow {
    clear: both;
    width: 100%;
}
.mainheader {
    width: 100%;
    float: left;
    background: #252525;
}
.mainheader div {
    float: left;
    line-height: initial;
}
.content_tab_header {
    cursor: pointer;
    /* width: 157px; */
    height: 44px;
}
.content_tab_header.stressballs {
    background: #3537fc;
}
.content_tab_header.stressballs.active {
    background: #3736fe;
}
.content_tab_header.relievers {
    background: #f9faa8;
}
.content_tab_header.relievers.active {
    background: #fdff44;
}
.relievers_logo {
    width: 146px;
    margin: 5px 9.5px;
}
.stressballs_logo {
    width: 133px;
    margin: 8px 12px;
}
.sigma_logo {
    width: 15px;
    margin: 13px 15px;
}
.content_tab_header.sigmasystem {
    background: #595959;
    width: 47px;
}
.content_tab_header.sigmasystem.active {
    background: #aaa9a9;
}
.content_tab_header img {
    opacity: 0.3;
}
.content_tab_header.active img {
    opacity: 1;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.maincontent {
    width: 100%;
    float: left;
    background: #252525;
    padding-top: 5px;
}
.maincontent div {
    float: left;
}
.maincontent.relievers {
    background: #fdff44;
}
.maincontentmenu {
    margin-left: 8px
}
.maincontentmenu_item {
    cursor: pointer;
    width: 140px;
    height: 24px;
    line-height: 24px !important;
    margin-right: 10px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-top: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincontentmenu_item.relievers {
    background: #f9faa8;
}
.maincontentmenu_item.active {
    background: #d7d7d7;
    height: 30px;
    line-height: 30px !important;
    font-size: 17px;
    color: #000000;
    z-index: 10;
    position: relative;
    margin-top: 0;
}
.maincontentmenu_item_icon {
    width: 16px;
    margin: 2px 6px;
}
.maincontentmenu_item_title {
    font-size: 15px;
    font-weight: 600;
    color: #515151;
}
.maincontentmenu_item.active .maincontentmenu_item_title {
    color: #000000;
    font-size: 17px;
}
.maincontent_view {
    width: 100%;
    background: #d7d7d7;
    border-top: 1px solid #000000;
    margin-top: -1px;
    padding-top: 7px;
}
.contentsubmenu {
    margin-left: 10px;
}
.contentsubmenu_item {
    background: #e3e3e3;
    cursor: pointer;
    height: 22px;
    line-height: 22px !important;
    margin-right: 7px;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
    border-top: 1px solid #969696;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 18px;
    font-size: 14px;
    color: #000000;
    opacity: 0.6;
    margin-top: 3px;
}
.contentsubmenu_item.active {
    background: #FFFFFF;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    font-size: 15px;
    opacity: 1;
    position: relative;
    z-index: 10;
    height: 25px;
    line-height: 25px !important;
    margin-top: 0;
}
.contentdata_view {
    border-top: 1px solid #000000;
    padding: 15px;
    width: 100%;
    background: #FFFFFF;
    min-height: 650px;
    margin-top: -1px;
}