.monitor-head {
    clear: both;
    width: 998px;
    margin-bottom: 5px;
}
.monitor-head.inner {
    margin-bottom: 2px;
}
.adminsearchform {
    clear: both;
    float: left;
    margin-left: 18px;
    width: 958px;
}
.monitorsearch_form {
    float: left;
    width : 380px;
}
.monitor_pagesviews {
    float: left;
    width: 578px;
}
.monitor_pagesviews .Pagination {
    float: right!important;
}
.monitorsearch_input {
    width: 160px;
}
input.monitorsearch_input {
    background-color: #ffffff;
    border: 1px solid #434343;
    width: 161px;
    color: #4c4c4c;
    font-family: arial, verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
    height: 22px;
    padding-left: 3px;
}
.search_action a.find_it {
    background: url(/img/fulfillment/search_button_bg.png) no-repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    margin: 0px 0 0 8px;
    text-align: center;
    text-decoration: none;
    width: 92px;
    line-height: 22px;
}
select.filter_select {
    float: left;
    font-size: 13px;
    width: 150px;
    height: 22px;
}
.sorting_select {
    float: left;
    margin-left: 5px;
    width: 160px;
}
input.boatcontainerdate {
    height: 15px;
    margin-left: 2px;
    width: 56px;
    padding-left: 0px;
}
/* Colors */
.projectcog {
    color: #c22;
}
.projprof {
    background-color: #001072;
    color: #ffffff;
}
.green, .greenprofit {
    background-color: #00e947;
    color: #000000 !important;
}
.white, .whiteprofit {
    background-color: #ffffff;
    color: #000000 !important;
}
.red, .redprofit {
    background-color: #ff0000;
    color: #ffffff;
}
.black, .blackprofit {
    background-color: #000000;
    color: #ffffff;
}
.orange, .orangeprofit {
    background-color: #ea8a0e;
    color: #000000 !important;
}
.cancelprof {
    background: #919191;
    color: #000000;
}
.maroon, .maroonprofit {
    background-color: #6d0303;
    color: #ffffff;
}
.dark_green {
    background-color: #17ef00;
    color: #000000!important;
}
/* Tooltip for Color details */
.colordata_tooltip {
    width: 225px;
    max-width: 225px!important;
    padding: 10px!important;
    color: #000000!important;
    background: #ffffff!important;
    border: 2px solid #000000!important;
    font-size: 16px!important;
    font-weight: bold!important;
    text-align: justify!important;
    line-height: 20px!important;
}
.orderprofit_tooltip {
    max-width: 225px!important;
    padding: 3px!important;
    color: #000000!important;
    background: #ffffff!important;
    border: 2px solid #000000!important;
    font-size: 14px!important;
}
/* In Stock Log Popup */
.stockdataarea {
    background: transparent url("/img/printshop/stock_log_bg.png") no-repeat scroll 0 0;
    height: 346px;
    margin-left: -8px;
    margin-top: 7px;
    width: 366px;
}
.stockdataarea div {
    float: left;
}
.stockdataarea > .stockheaddate {
    border-bottom: 1px solid #000000;
    clear: both;
    color: #010101;
    font-size: 12px;
    height: 27px;
    line-height: 27px!important;
    margin-left: 4px;
    text-align: center;
    width: 358px;
}
.stockdataarea > .stockheaddate > .addstock {
    padding-top: 2px;
    width: 25px;
    text-align: center;
}
.stockdataarea > .stockheaddate > .addstock i {
    color: #359045;
    font-size: 14px;
    cursor: pointer;
}
.stockdataarea > .stockheaddate > .stockdate {
    width: 77px;
}
.stockdataarea > .stockheaddate > .stockdescr {
    width: 121px;
}
.stockdataarea > .stockheaddate > .stockamnt {
    width: 63px;
}
.stockdataarea > .stockheaddate > .stockbalance {
    width: 62px;
}
.stockdataarea > .stockcontentdata {
    clear: both;
    height: 315px;
    margin-left: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 353px;
}
.stockdataarea > .stockcontentdata > .stokdatarow {
    clear: both;
    width: 358px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > div {
    color: #010101;
    font-size: 12px;
    height: 22px;
    line-height: 22px!important;
    text-align: center;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .editstock {
    border-right: 1px solid #000;
    cursor: pointer;
    /*    height: 18px;
        padding-top: 4px;*/
    text-align: center;
    width: 23px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .viewstock {
    border-right: 1px solid #000;
    /* height: 23px; */
    width: 23px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .editstock i {
    color: #5A3F1A;
    font-size: 14px;
    cursor: pointer;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockdate {
    border-right: 1px solid #000;
    width: 77px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockdescr {
    border-right: 1px solid #000;
    width: 120px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockdescr.leadorderlink {
    color: #0000FF;
    cursor: pointer;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockamnt {
    border-right: 1px solid #000;
    width: 62px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockbalance {
    width: 62px;
}
.stockdataarea input.instockdata {
    float: left;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    height: 20px;
    font-size: 12px;
}
.stockdataarea input.instockdata.stockdateinpt {
    margin-left: 3px;
    width: 71px;
}
.stockdataarea input.instockdata.stockdescripinpt {
    margin-left: 3px;
    width: 115px;
}
.stockdataarea input.instockdata.stockamntinpt {
    margin-left: 6px;
    width: 50px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockbalance > .inventorymanage {
    cursor: pointer;
    font-size: 14px;
    height: 18px;
    /* padding-top: 4px; */
    text-align: center;
    width: 30px;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockbalance > .inventorymanage.save {
    color: #359045;
}
.stockdataarea > .stockcontentdata > .stokdatarow > .stockbalance > .inventorymanage.cancel {
    color: #FF0000;
}
