/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 29, 2017, 8:45:55 PM
    Author     : german
*/

.container_needinvlist {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 41px;
}
.container_needinvlist .bookmarks {
    margin-left: -20px;
}
/* Inventory page */
.needinventlist {
    clear: both;
    float: left;
    margin-top: 30px;
    padding-left: 10px;
    width: 1012px;
}
.needinventlist div {
    float: left;
    color: #010101;
    text-align: left;
    font-size: 12px;
}
.needinventlist input {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 11px;
    padding-left: 2px;
    height: 18px;
    /* width: 35px; */
}
.needinventlist .head_title {
    float: right;
    width: 455px;
}
.needinventlist .inventoryviewswitcher {
    float: left;
    background: url('/img/printshop/switchview_bg.png') no-repeat transparent;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    margin-bottom: 5px;
    width: 157px;
}
.needinventlist .inventoryviewswitcher.empty {
    background: none;
}
.needinventlist .inventoryviewswitcher > .label {
    cursor: pointer;
    text-align: center;
    float: left;
    color: #848484;
    width: 78px;
}
.needinventlist .inventoryviewswitcher > .label.active {
    float: left;
    background: url('/img/printshop/switchview_active_bg.png') no-repeat transparent;
    color: #FFFFFF;
    width: 78px;
}
.needinventlist > .maxinventsum {
    width: 312px;
}
.needinventlist > .maxinventsum > .datarow {
    clear: both;
}
.needinventlist > .maxinventsum > .datarow > .label {
    height: 18px;
    line-height: 18px;
    width: 138px;
}
.needinventlist > .maxinventsum > .datarow > .valuedata {
    height: 18px;
    line-height: 18px;
    font-weight: bold;
}
.needinventlist .inventoryfilterarea {
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 92px;
    width: 129px;
}
.needinventlist .inventoryfilterarea > .data {
    width: 16px;
}
.needinventlist .inventoryfilterarea > .label {
    margin-left: 10px;
}
.needinventlist input.chkbox {
    padding: 0;
    width: 16px;
}
.needinventlist .on_boat {
    width: 92px;
    text-align: center;
    font-size: 15px;
    line-height: 14px;
    color: #0000FF;
    float: left;
}
span.add_onboat {
    cursor: pointer;
}
.needinventlist .history_low {
    float: right;
    margin: 3px 5px 10px 0;
    width: 269px;
}
.needinventlist .history_low > .critical_low {
    /* width: 100px; */
    height: 10px;
    line-height: 13px;
    width: 144px;
}
.needinventlist .history_low > .critical_low > .color_critical_low {
    width: 9px;
    height: 9px;
    border: 1px solid #000000;
    background-color: #ff0000;
    margin-right: 5px;
}
.needinventlist .history_low > .getting_low {
    /* width: 100px; */
    height: 10px;
    line-height: 13px;
    width: 124px;
}
.needinventlist .history_low > .getting_low > .color_getting_low {
    width: 9px;
    height: 9px;
    border: 1px solid #000000;
    background-color: #ff9c00;
    margin-right: 5px;
}

.needinventlist  .inventoryheadrow {
    clear: both;
    width: 454px;
}
.needinventlist  .inventoryheadrow > .lefttitle {
    margin-left: 11px;
    height: 36px;
    line-height: 36px;
    color: #0000FF;
    font-size: 16px;
    font-weight: bold;
}
.needinventlist .inventoryheadrow > .headonboat  {
    float: right;
    height: 38px;
    width: 238px;
    overflow: hidden;
}
.needinventlist .inventrightheadrow {
    float: right;
    width: 340px;
}
.needinventlist .inventrightheadrow > .aftercontainers {
    width: 63px;
    color: #0000FF;
    text-align: center;
    margin-left: -10px;
}
.needinventlist .inventrightheadrow > .needtomake {
    width: 55px;
    text-align: center;
    color: #0000FF;
    margin-left: -11px;
}
.needinventlist .inventorytablehead > .headonboat > .left_arrow,
.needinventlist .inventorytablehead > .headonboat > .right_arrow {
    margin-top: 46px;
    width: 20px;

}
.needinventlist .inventorytablehead > .headonboat  > .left_arrow {
    background: url("/img/printshop/left_arrow_inv.png") no-repeat 45% 60%;
}
.needinventlist .inventorytablehead > .headonboat >.left_arrow.active {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    background: url("/img/printshop/right_arrow_inv.png") no-repeat 45% 60%;
    cursor: pointer;
}
.needinventlist .inventorytablehead > .headonboat > .right_arrow {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    background: url("/img/printshop/left_arrow_inv.png") no-repeat 45% 60%;
}
.needinventlist .inventorytablehead > .headonboat > .right_arrow.active {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    background: url("/img/printshop/right_arrow_inv.png") no-repeat 45% 60%;
    cursor: pointer;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas {
    height: 99px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer {
    margin-right: 2px;
    font-size: 12px;
    color: #000000;
    width: 58px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer.arrived {
    opacity: 0.3;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .onboatmanage {
    height: 22px;
    line-height: 22px;
    width: 58px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .onboatmanage span {
    margin-left: 2px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containerdate {
    height: 22px;
    line-height: 22px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 21px;
    line-height: 21px;
    width: 58px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage > .onboatmanagement {
    font-size: 16px;
    width: 27px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage > .onboatmanagement > i.saveboatcontainer {
    color: #359045;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 1px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage > .onboatmanagement > i.cancelboatcontainer {
    color: #FF0000;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 1px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage > .arrived {
    background: url('/img/printshop/arrived_btn.png') no-repeat transparent;
    margin-left: 2px;
    margin-top: 2px;
    width: 53px;
    height: 18px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containrermanage > .waitarrive {
    cursor: pointer;
    margin-left: 2px;
    margin-top: 2px;
    background: url('/img/printshop/waiting_btn.png') no-repeat transparent;
    width: 53px;
    height: 18px;
}
.needinventlist .inventorytablehead > .headonboat > .onboatareas > .after_head > .onboacontainer > .containertotal {
    background-color: #000000;
    color: #FFFFFF;
    width: 58px;
}

.needinventlist .inventorytablehead > .headonboat > .onboatareas .onboat,
.needinventlist .inventorytablehead > .headonboat > .onboatareas .arrived_data {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 26px;
    line-height: 28px;
    width: 55px;
    margin-right: 3px;
}

/*
.needinventlist .inventoryheadrow > .head_text > .head_on_boad
.needinventlist .inventoryheadrow > .head_text > .head_on_boad
*/
.invarriv, .arrived_data_tot {
    float: left;
    width: 100%;
}
.needinventlist .inventoryheadrow > .head_text > .head_on_boad > div > .invarriv > .arriving_inventory {
    width: 55px;
    margin-right: 4px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
}
div.add_boat {
    text-align: center;
    color: #FFFFFF;
}
.needinventlist .inventoryheadrow > .head_text > .head_on_boad > div > .arrived_data_tot > .arriving_data,
.needinventlist .inventoryheadrow > .head_text > .head_on_boad > div > .arrived_data_tot > .arrived_data,
.add_boat input.arriving_data {
    height: 19px;
    width: 53px;
    text-align: center;
    font-weight: normal;
}

.edit_onboat {
    color: #5a3f1a;
    cursor: pointer;
}
.arrived_data {
    opacity: .3;
}

.needinventlist  .inventoryheadrow > .head_text > .north_arlington {
    margin-left: 60px;
    line-height: 40px;
    font-size: 15px;
}

.needinventlist  .inventoryheadrow > .head_text > .little_ferry {
    width: 50px;
    margin-left: 38px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 14px;
}

.needinventlist  .inventoryheadrow > .additcost {
    float: right;
    /* margin-top: 6px; */
    width: 73px;
}
.needinventlist  .inventoryheadrow > .additcost > .label {
    font-size: 11px;
    width: 30px;
}
.needinventlist  .inventoryheadrow > .additcost > .value {
    width: 41px;
}
.printshoparea input.addlcostinpt {
    width: 35px;
}
.needinventlist .totalinventorysum {
    clear: both;
    height: 25px;
    margin-top: 2px;
    /* width: 450px; */
}
.needinventlist .totalinventorysum > div {
    line-height: 25px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 11px;
    text-align: center;
}
.needinventlist .totalinventorysum > .othertotal {
    width: 222px;
}
.needinventlist .totalinventorysum > .itempercent {
    width: 33px;
}
.needinventlist .totalinventorysum > .maxinvent {
    display: none;
    /* width: 51px; */
    width: 60px;
}
.needinventlist .totalinventorysum > .instock {
    width: 61px;
}
.needinventlist .totalinventorysum > .reserved {
    width: 61px;
}
.needinventlist .totalinventorysum > .available {
    width: 62px;
}
.needinventlist .totcoseasum {
    background-color: #000000;
    margin-top: 2px;
    height: 25px;
    line-height: 25px;
    margin-left: 282px;
    width: 109px;
}
.needinventlist .proofstabsum {
    background-color: #000000;
    margin-top: 2px;
    height: 25px;
    line-height: 25px;
    margin-left: 2px;
    width: 170px;
}
.needinventlist .inventorytablehead {
    /*background: transparent url("/img/printshop/inventory_tablehead_bg.png") no-repeat scroll 0 0;
    height: 28px;
    line-height: 28px;
    width: 1005px;
    */
    width: 949px;
}
.needinventlist  .inventorytablehead div {
    height: 25px;
    margin-top: 1px;
    text-align: center;
}
.needinventlist  .inventorytablehead > .totalinventory {
    border: 1px solid #000000;
    margin-right: 3px;
    height: 28px;
    width: 451px;
}
.needinventlist  .inventorytablehead > .totalinventory > div {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    height: 26px;
    line-height: 26px!important;
    margin-top: 0;
}
.needinventlist  .inventorytablehead > .totalinventory > .numpp {
    border-right: 1px solid #f0f0f0;
    width: 24px;
}
.needinventlist  .inventorytablehead > .totalinventory > .itemnum {
    border-right: 1px solid #f0f0f0;
    width: 45px;
}
.needinventlist  .inventorytablehead > .totalinventory > .itemname {
    border-right: 2px solid #f0f0f0;
    width: 166px;
}
.needinventlist  .inventorytablehead > .totalinventory > .itemcolor {
    border-right: 2px solid #f0f0f0;
    width: 90px;
}
.needinventlist  .inventorytablehead > .totalinventory > .itempercent {
    border-right: 1px solid #f0f0f0;
    width: 32px;
}
.needinventlist  .inventorytablehead > .totalinventory > .maxinvent {
    border-right: 1px solid #f0f0f0;
    width: 71px;
}
.needinventlist  .inventorytablehead > .totalinventory > .instock {
    /* border-right: 1px solid #f0f0f0; */
    width: 52px;
}
.needinventlist  .inventorytablehead > .totalinventory > .available {
    width: 60px;
}
/* On Boat */
.needinventlist  .inventorytablehead > .headonboat {
    height: 73px;
    margin-top: -44px;
    width: 220px;
}
.needinventlist .inventorytablehead > .left_arrow,
.needinventlist .inventorytablehead > .right_arrow {
    width: 20px;
}
.needinventlist .inventorytablehead > .left_arrow {
    background: url("/img/printshop/left_arrow_inv.png") no-repeat 45% 60%;
}
.needinventlist .inventorytablehead > .left_arrow.active {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    background: url("/img/printshop/right_arrow_inv.png") no-repeat 45% 60%;
    cursor: pointer;
}
.needinventlist .inventorytablehead > .right_arrow {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    background: url("/img/printshop/left_arrow_inv.png") no-repeat 45% 60%;
}
.needinventlist .inventorytablehead > .right_arrow.active {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    background: url("/img/printshop/right_arrow_inv.png") no-repeat 45% 60%;
    cursor: pointer;
}

.needinventlist  .inventorytablehead > .northarlington {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 28px;
    line-height: 28px;
    width: 159px;
    margin-right: 3px;
}

.needinventlist  .inventorytablehead > .northarlington > .have {
    border-right: 1px solid #f0f0f0;
    width: 52px;
}
.needinventlist  .inventorytablehead > .northarlington > .max {
    border-right: 2px solid #f0f0f0;
    width: 52px;
}

.needinventlist  .inventorytablehead > .northarlington > .toget {
    width: 52px;
}
.needinventlist  .inventorytablehead > .littleferry {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 28px;
    line-height: 28px;
    width: 52px;
    margin-right: 3px;
}
.needinventlist  .inventorytablehead > .littleferry > .backup {
    width: 50px;
}
.needinventlist  .inventorytablehead > .onboatareas > div > .onboat,
.needinventlist  .inventorytablehead > .onboatareas > div > .arrived_data {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 26px;
    line-height: 28px;
    width: 55px;
    margin-right: 3px;
}

.needinventlist  .inventorytablehead > .totcosea {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 28px;
    line-height: 28px;
    margin-right: 3px;
    width: 49px;
}

.needinventlist  .inventorytablehead > .devider {
    border-right: 2px solid #f0f0f0;
    width: 3px;
}
.needinventlist  .inventorytablehead > .onboatareas > div > .arrived_data > .onroute {
    background: url("/img/printshop/arrived_btn.png") no-repeat 10% 50%;
    cursor: pointer;
    text-align: center;
    width: 61px;
}
.needinventlist  .inventorytablehead > .onboatareas > div > .onboat > .onroute {
    background: url("/img/printshop/waiting_btn.png") no-repeat 10% 50%;
    cursor: pointer;
    text-align: center;
    width: 61px;
}
.needinventlist  .inventorytablehead > .totcosea > .costea {
    width: 48px
}

.needinventlist  .inventorytablehead > .specinventhead {
    margin-right: 3px;
    width: 97px;
}
.needinventlist .inventorytablehead > .specinventhead > .aftercontainers {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    height: 28px;
    line-height: 28px;
    width: 34px;
    margin-right: 2px;
}
.needinventlist .inventorytablehead > .specinventhead > .needtomake {
    background-color: #0000FF;
    color: #FFFFFF;
    border: 1px solid #000000;
    height: 28px;
    line-height: 28px;
    width: 55px;
    margin-right: 2px;
}

.needinventlist  .inventorytablehead > .proofstab {
    border: 1px solid #000000;
    height: 28px;
    width: 118px;
}
.needinventlist  .inventorytablehead > .proofstab > div {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    height: 26px;
    line-height: 26px!important;
    margin-top: 0;
}
.needinventlist  .inventorytablehead > .proofstab > .specs {
    border-right: 1px solid #f0f0f0;
    width: 38px;
}

.needinventlist  .inventorytablehead > .proofstab > .platetemp {
    border-right: 1px solid #f0f0f0;
    word-wrap: break-word;
    width: 37px;
}
.needinventlist  .inventorytablehead > .proofstab > .prooftemp {
    border-right: 1px solid #f0f0f0;
    word-wrap: break-word;
    width: 40px;
}
.needinventlist  .inventorytablehead > .proofstab > .draw {
    border-right: 1px solid #f0f0f0;
    width: 36px;
}
.needinventlist  .inventorytablehead > .proofstab > .pics {
    width: 41px;
}

.needinventlist  .inventorytablehead > .colororder {
    width: 24px;
}
.needinventlist  .inventorytablehead > .colordesript {
    width: 163px;
}
.needinventlist  .inventorytablebody {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    clear: both;
    height: 556px;
    overflow-x: hidden;
    overflow-y: auto;
    /* width: 1000px; */
    width: 944px;
}
.needinventlist  .inventorytablebody.short {
    width: 889px;
}
.needinventlist  .inventorytablebody > .inventorydatarow {
    clear: both;
    float: left;
    height: 23px;
    line-height: 26px;
    text-align: center;
    width: 988px;
}

.needinventlist  .inventorytablebody > .total_inv {
    clear: both;
    float: left;
    background: #000000;
    height: 23px;
    line-height: 26px;
    text-align: center;
    width: 988px;
}

.needinventlist  .inventorytablebody > .inventorydatarow > div.red_text {
    color: #ff0000;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .border_b {
    /*border-bottom: 1px solid #000000;
    border-top: 2px solid #000000;*/
}
.needinventlist  .inventorytablebody > .inventorydatarow.itemdata {
    /* height: 26px; */
    background-color: #6c6c6c;
    border-bottom: 1px solid #000000;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .numpp {
    border-right: 2px solid #000000;
    text-align: center;
    width: 20px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .numpp > .edititem {
    height: 20px;
    padding-top: 6px;
    text-align: center;
    width: 18px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .numpp > .edititem i {
    color: #5a3f1a;
    font-size: 14px;
    cursor: pointer;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum {
    border-right: 1px solid #000000;
    text-align: center;
    width: 44px;
    color: #FFFFFF;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum > .editcolor {
    height: 19px;
    padding-top: 4px;
    text-align: center;
    width: 42px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum > .editcolor i {
    color: #5a3f1a;
    font-size: 14px;
    cursor: pointer;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 20px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    width: 20px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum > .inventorymanage.save i {
    color: #359045;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemnum > .inventorymanage.cancel i {
    color: #FF0000;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itemname {
    /*border-bottom: 1px solid #000000;
    border-top: 2px solid #000000;*/
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    width: 147px;
    color: #FFFFFF;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .additemcolor {
    background: transparent url("/img/printshop/additem_color_btn.png") no-repeat scroll 1px 11px;
    /*border-bottom: 1px solid #000000;*/
    border-right: 2px solid #000000;
    /*border-top: 2px solid #000000;*/
    cursor: pointer;
    width: 12px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .coloritemname {
    border-right: 2px solid #000000;
    cursor: pointer;
    padding-right: 5px;
    text-align: right;
    width: 157px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .coloritemname.active {
    color: #828181;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent {
    border-right: 2px solid #000000;
    text-align: center;
    width: 32px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 11px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    width: 16px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent > .inventorymanage.save i {
    color: #359045;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .itempercent > .inventorymanage.cancel i {
    color: #FF0000;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .instock,
.needinventlist  .inventorytablebody > .inventorydatarow > .reserved {
    border-right: 1px solid #000000;
    text-align: center;
    width: 60px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .reserved {
    color: #00840c;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .instock.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .instock.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .available {
    border-right: 2px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: 59px;
}
.needinventlist  .inventorytablebody > .inventorydatarow.itemdata > .available,
.needinventlist  .inventorytablebody > .inventorydatarow.itemdata > .instock,
.needinventlist  .inventorytablebody > .inventorydatarow.itemdata > .itempercent {
    color: #FFFFFF;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .available.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 11px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .available.lowstock {
    color: #000000;
    background-color: #ff9c00;
    font-size: 11px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .devider,
.needinventlist  .inventorytablebody > .inventorydatarow > .onboatarea > div > .devider {
    border-right: 2px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 3px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .have {
    border-right: 1px solid #000000;
    font-weight: bold;
    text-align: center;
    width: 51px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .max {
    border-right: 1px solid #000000;
    text-align: center;
    color: #6c6c6c;
    width: 52px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .to_get {
    border-right: 2px solid #000000;
    text-align: center;
    color: #6c6c6c;
    width: 52px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .back_up {
    border-right: 2px solid #000000;
    text-align: center;
    font-weight: bold;
    width: 50px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .onboatarea > div > .on_route {
    border-right: 2px solid #000000;
    text-align: center;
    color: #0000FF;
    width: 53px;
    height: 23px;
}
.needinventlist  .inventorytablebody > .inventorydatarow.itemdata > .onboatarea > div > .on_route.total_item {
    color: #FFFFFF;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .onroute {
    border-right: 1px solid #000000;
    text-align: center;
    width: 62px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .costea {
    border-right: 1px solid #000000;
    text-align: center;
    width: 53px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .totalea {
    border-right: 2px solid #000000;
    text-align: center;
    width: 64px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .specs {
    border-right: 1px solid #000000;
    text-align: center;
    width: 34px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .specs > .specsdata,
.needinventlist  .inventorytablebody > .inventorydatarow > .plate_temp > .platetempdata,
.needinventlist  .inventorytablebody > .inventorydatarow > .proof_temp > .prooftempdata,
.needinventlist  .inventorytablebody > .inventorydatarow > .pics > .picsdata {
    height: 19px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .specs > .specsdata i,
.needinventlist  .inventorytablebody > .inventorydatarow > .plate_temp > .platetempdata i,
.needinventlist  .inventorytablebody > .inventorydatarow > .proof_temp > .prooftempdata i,
.needinventlist  .inventorytablebody > .inventorydatarow > .pics > .picsdata i {
    background-color: gray;
    cursor: pointer;
    font-size: 13px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .specs > .specsdata i.empty,
.needinventlist  .inventorytablebody > .inventorydatarow > .plate_temp > .platetempdata i.empty,
.needinventlist  .inventorytablebody > .inventorydatarow > .proof_temp > .prooftempdata i.empty,
.needinventlist  .inventorytablebody > .inventorydatarow > .pics > .picsdata i.empty {
    opacity: 0.3;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .plate_temp {
    border-right: 1px solid #000000;
    text-align: center;
    width: 30px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .proof_temp {
    border-right: 1px solid #000000;
    text-align: center;
    width: 30px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .pics {
    text-align: center;
    width: 30px;
}

.needinventlist .inventorytablebody > .inventorydatarow > .left_arrow,
.needinventlist .inventorytablebody > .inventorydatarow > .right_arrow {
    width: 23px;
}

.needinventlist  .inventorytablebody > .inventorydatarow > .onboatarea {
    width: 235px;
    overflow: hidden;
    height: 23px;
    min-width: 235px;
    /*white-space: pre-wrap;*/
}

.needinventlist  .inventorytablebody > .inventorydatarow.itemdata > .onboatarea > div > .on_route.arrived_data {
    background-color: #cfcfcf;
}
.needinventlist  .inventorytablebody > .total_inv > .itempercent,
.needinventlist  .inventorytablebody > .total_inv > .instock,
.needinventlist  .inventorytablebody > .total_inv > .available,
.needinventlist  .inventorytablebody > .total_inv > .onboatarea > div > .arrived_data,
.needinventlist  .inventorytablebody > .total_inv > .onboatarea > div > .on_route {
    color: #FFFFFF;
}
.needinventlist  .inventorytablebody > .total_inv > .onboatarea > div > .on_route.arrived_data {
    opacity: 1;
    background-color: #939393;
}
.needinventlist .download_excell {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    color: #0000FF;
}
.needinventlist .onboatareas, .needinventlist .onboatdataareas {
    width: 180px;
    overflow: hidden;
}
.add_boat {
    float: left;
    width: 53px;
    display: none;
}
.edit_onboatcol {
    border-right: 2px solid #000000;
    float: left;
    width: 53px;
    display: none;
    height: 23px;
    text-align: center;
}

.onboatarea > .after_head > .edit_onboatcol {
    color: #FFFFFF;
    text-align: center;
}
.add_boat input {
    width: 90%;
}
.edit_onboatcol input {
    width: 90%;
}
.add_boat > div > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    width: 26px;
}
.add_boat > div > .inventorymanage.save i {
    color: #359045;
}
.add_boat > div > .inventorymanage.cancel i {
    color: #FF0000;
}

.edit_onboatcol > div > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    width: 26px;
}
.edit_onboatcol > div > .inventorymanage.save i {
    color: #359045;
}
.edit_onboatcol > div > .inventorymanage.cancel i {
    color: #FF0000;
}

/*
.needinventlist  .inventorytablebody > .inventorydatarow > .colororder {
    border-right: 1px solid #000000;
    text-align: center;
    width: 24px;
}
.needinventlist  .inventorytablebody > .inventorydatarow > .colordesript {
    text-align: left;
    padding-left: 3px;
    width: 149px;
}*/
.texteditarea, .platetemparea {
    background-color: #f2f2f2;
    clear: both;
    float: left;
    height: 346px;
    width: 356px;
}
.texteditarea > .title {
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 100%;
}
.texteditarea > .data {
    clear: both;
    float: left;
    padding: 0 10px;
    width: 338px;
}
.texteditarea > .data > textarea.specfile {
    font-size: 12px;
    font-weight: normal;
    height: 274px;
    overflow-y: auto;
    width: 318px;
    resize: none;
}
.texteditarea > .savedata {
    clear: both;
    cursor: pointer;
    float: left;
    margin-left: 255px;
    margin-top: 5px;
    width: 84px;
}

.platetempupload_container {
    background-color: #fff;
    height: 160px;
    padding: 15px;
    width: 330px;
}
.platetemparea {
    padding: 10px;
}
.platetempfiledat {
    clear: both;
    float: left;
    width: 300px;
    margin-top: 10px;
}

.delplatefile {
    margin-top: 18px;
    float: left;
    width: 32px;
    text-align: center;
    display: none;
    cursor: pointer;
}

.platetempfilename {
    float: left;
    width: 250px;
    margin-left: 15px;
    height: 24px;
}

.platetempuploads {
    margin-top: 10px;
    float: left;
    width: 250px;
    margin-left: 15px;
    height: 24px;
}

.platetempsave_data {
    clear: both;
    float: left;
    width: 80px;
    margin-left: 125px;
    position: absolute;
    bottom: 167px;
    left: 75px;
    display: none;
    cursor: pointer;
}

.qq-uploader {
    position: absolute;
    margin-left: 125px;
    bottom: 167px;
}

.invpopup_invredcirkle {
    background: url('/img/artpopup_redcircle.png') no-repeat transparent;
    float: left;
    width: 13px;
    cursor: pointer;
}
.invpopup_invredcirkle img {
    width: 13px;
    height: 13px;
}
.tempupload {
    position: absolute;
    bottom: 163px;
    left: -30px;
}

/*Pics*/
.picsupload_container {
    background-color: #fff;
    min-height: 260px;
    padding: 15px;
    width: 330px;
}
.picsupload_data {
    float: left;
    color: #000;
    font-size: 14px;
    width: 410px;
}
.picsupload_title {
    clear: both;
    float: left;
    width: 330px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.picsuploads {
    clear: both;
    float: left;
    width: 330px;
}
.picsfiledat {
    clear: both;
    float: left;
    width: 400px;
}
.picsfilename {
    float: left;
    width: 250px;
    margin-left: 15px;
    height: 24px;
}
.delpicsfile {
    float: left;
    width: 32px;
    text-align: center;
}
.delpicsfile:hover {
    cursor: pointer;
}
.picssave_data {
    clear: both;
    float: left;
    width: 80px;
    margin-left: 180px;
    display: none;
    position: absolute;
    bottom: 75px;
    left: 10px;
}
.picssave_data:hover {
    cursor: pointer;
}
.picsupload {
    position: absolute;
    bottom: 70px;
    left: -30px;
}

/* Transfer */
.needinventlist .inventoryheadrow > .head_text > .transfered {
    width: 65px;
    margin-left: 94px;
}
.needinventlist .transferheadrow {
    clear: both;
    margin-bottom: 5px;
}
.needinventlist .transferheadrow > div {
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.needinventlist .transferheadrow > .additem {
    background: url('/img/printshop/add_item_btn.png') no-repeat transparent;
    cursor: pointer;
    height: 23px;
    width: 71px;
}
.needinventlist .transferheadrow > .total_inventory {
    font-size: 15px;
    margin-left: 200px;
    text-align: center;
    width: 193px;
}
.needinventlist .transferheadrow > .north_arlington {
    width: 148px;
    text-align: center;
}
.needinventlist .transferheadrow > .transfered {
    width: 189px;
    text-align: center;
}
.needinventlist .transferheadrow > .transfered > .edittrasferval {
    background: transparent url("/img/printshop/edit_invent_btn.png") no-repeat scroll 0 0;
    cursor: pointer;
    margin-left: 71px;
    width: 54px;
}
.needinventlist .transferheadrow > .transfered > .savetransferval {
    background: transparent url("/img/printshop/save_invent_btn.png") no-repeat scroll 0 0;
    cursor: pointer;
    margin-left: 66px;
    width: 54px;
}
.needinventlist .transferheadrow > .little_ferry {
    width: 79px;
    text-align: center;
}
.needinventlist .transfertablehead {
    height: 28px;
    line-height: 28px;
}
.needinventlist .transfertablehead > .totalinventory {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    margin-right: 3px;
    width: 447px;
}
.needinventlist .transfertablehead > .totalinventory > div {
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.needinventlist .transfertablehead > .totalinventory > .numpp {
    border-right: 1px solid #f0f0f0;
    width: 21px;
}
.needinventlist .transfertablehead > .totalinventory > .itemnum {
    border-right: 1px solid #f0f0f0;
    width: 44px;
}
.needinventlist .transfertablehead > .totalinventory > .itemname {
    border-right: 2px solid #f0f0f0;
    width: 163px;
}
.needinventlist .transfertablehead > .totalinventory > .itempercent {
    border-right: 1px solid #f0f0f0;
    width: 32px;
}
.needinventlist .transfertablehead > .totalinventory > .instock,
.needinventlist .transfertablehead > .totalinventory > .reserved {
    border-right: 1px solid #f0f0f0;
    width: 60px;
}
.needinventlist .transfertablehead > .totalinventory > .available {
    width: 60px;
}
.needinventlist .transfertablehead > .northarlington {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    width: 159px;
}
.needinventlist .transfertablehead > .northarlington > div {
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.needinventlist .transfertablehead > .northarlington > .have,
.needinventlist .transfertablehead > .northarlington > .max {
    border-right: 1px solid #f0f0f0;
    width: 52px;
}
.needinventlist .transfertablehead > .northarlington > .toget {
    width: 52px;
}
.needinventlist .transfertablehead > .transferdirect {
    width: 62px;
}
.needinventlist .transfertablehead > .transfered {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    text-align: center;
    width: 62px;
}
.needinventlist .transfertablehead > .littleferrytransfer {
    background: transparent url("/img/printshop/table_head.png") repeat-x scroll 0 0;
    border: 1px solid #000000;
    text-align: center;
    width: 79px;
}
.needinventlist .transertablebody {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    clear: both;
    height: 554px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 882px;
}
.needinventlist .transertablebody > .inventorydatarow {
    clear: both;
    width: 872px;
}
.needinventlist .transertablebody > .inventorydatarow > div {
    float: left;
    height: 23px;
    line-height: 26px;
    text-align: center;
}
.needinventlist .transertablebody > .inventorydatarow > div.red_text {
    color: #ff0000;
}
.needinventlist .transertablebody > .inventorydatarow > .border_b {
    /*border-bottom: 1px solid #000000;
    border-top: 2px solid #000000;*/
}
.needinventlist .transertablebody > .inventorydatarow.itemdata {
    /* height: 26px; */
    background-color: #6c6c6c;
    border-bottom: 1px solid #000000;
}
.needinventlist .transertablebody > .inventorydatarow > .numpp {
    border-right: 2px solid #000000;
    text-align: center;
    width: 20px;
}
.needinventlist .transertablebody > .inventorydatarow > .numpp > .edititem {
    height: 20px;
    padding-top: 6px;
    text-align: center;
    width: 18px;
}
.needinventlist .transertablebody > .inventorydatarow > .numpp > .edititem i {
    color: #5a3f1a;
    font-size: 14px;
    cursor: pointer;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum {
    border-right: 1px solid #000000;
    text-align: center;
    width: 44px;
    color: #FFFFFF;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum > .editcolor {
    height: 19px;
    padding-top: 4px;
    text-align: center;
    width: 42px;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum > .editcolor i {
    color: #5a3f1a;
    font-size: 14px;
    cursor: pointer;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    margin-left: 2px;
    padding-top: 3px;
    text-align: center;
    width: 20px;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum > .inventorymanage.save i {
    color: #359045;
}
.needinventlist .transertablebody > .inventorydatarow > .itemnum > .inventorymanage.cancel i {
    color: #FF0000;
}
.needinventlist .transertablebody > .inventorydatarow > .itemname {
    /*border-bottom: 1px solid #000000;
    border-top: 2px solid #000000;*/
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
    width: 147px;
    color: #FFFFFF;
}
.needinventlist .transertablebody > .inventorydatarow > .additemcolor {
    background: transparent url("/img/printshop/additem_color_btn.png") no-repeat scroll 1px 11px;
    /*border-bottom: 1px solid #000000;*/
    border-right: 2px solid #000000;
    /*border-top: 2px solid #000000;*/
    cursor: pointer;
    width: 12px;
}
.needinventlist .transertablebody > .inventorydatarow > .coloritemname {
    border-right: 2px solid #000000;
    cursor: pointer;
    padding-right: 5px;
    text-align: right;
    width: 157px;
}
.needinventlist .transertablebody > .inventorydatarow > .coloritemname.active {
    color: #828181;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent {
    border-right: 2px solid #000000;
    text-align: center;
    width: 32px;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 11px;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    width: 16px;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent > .inventorymanage.save i {
    color: #359045;
}
.needinventlist .transertablebody > .inventorydatarow > .itempercent > .inventorymanage.cancel i {
    color: #FF0000;
}
.needinventlist .transertablebody > .inventorydatarow > .instock,
.needinventlist .transertablebody > .inventorydatarow > .available ,
.needinventlist .transertablebody > .inventorydatarow > .reserved {
    border-right: 1px solid #000000;
    text-align: center;
    width: 60px;
}
.needinventlist .transertablebody > .inventorydatarow > .reserved {
    color: #00840c;
}
.needinventlist .transertablebody > .inventorydatarow > .instock.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
}
.needinventlist .transertablebody > .inventorydatarow > .instock.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist .transertablebody > .inventorydatarow > .available {
    border-right: 2px solid #000000;
    width: 60px;
}
.needinventlist .transertablebody > .inventorydatarow > .available.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
}
.needinventlist .transertablebody > .inventorydatarow > .available.lowstock {
    color: #000000;
    background-color: #ff9c00;
    font-size: 10px;
}
.needinventlist .transertablebody > .inventorydatarow > .devider {
    background-color: #FFFFFF;
    width: 3px;
}
.needinventlist .transertablebody > .inventorydatarow > .have {
    border-right: 1px solid #000000;
    border-left: 2px solid #000000;
    font-weight: bold;
    text-align: center;
    width: 51px;
}
.needinventlist .transertablebody > .inventorydatarow > .max {
    border-right: 1px solid #000000;
    text-align: center;
    color: #6c6c6c;
    width: 52px;
}
.needinventlist .transertablebody > .inventorydatarow > .to_get {
    border-right: 2px solid #000000;
    text-align: center;
    color: #6c6c6c;
    width: 52px;
}
.needinventlist .transertablebody > .inventorydatarow > .transferitem {
    border-bottom: medium none;
    width: 188px;
}
.needinventlist .transertablebody > .inventorydatarow > .transferdirect {
    background-color: #FFFFFF !important;
    width: 62px;
}
.needinventlist .transertablebody > .inventorydatarow > .transferdirect.empty {
    cursor: auto !important;
}
.needinventlist .transertablebody > .inventorydatarow .transferdirect.direct.nonactive {
    background: url('/img/printshop/trasfer_direct_nonacive.png') no-repeat scroll 17px 0 transparent;
    cursor: pointer;
}
.needinventlist .transertablebody > .inventorydatarow .transferdirect.direct.active {
    background: transparent url("/img/printshop/trasfer_direct_acive.png") no-repeat scroll 17px 0;
    cursor: pointer;
}
.needinventlist .transertablebody > .inventorydatarow .transferdirect.inverse.nonactive {
    background: url('/img/printshop/trasfer_inverse_nonacive.png') no-repeat scroll 17px 0 transparent;
    cursor: pointer;
}
.needinventlist .transertablebody > .inventorydatarow .transferdirect.inverse.active {
    background: transparent url("/img/printshop/trasfer_inverse_acive.png") no-repeat scroll 17px 0;
    cursor: pointer;
}

.needinventlist .transertablebody > .inventorydatarow > .transfered {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 62px;
}
.needinventlist .transertablebody > .inventorydatarow input.transferval {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    text-align: center;
    width: 47px;
}
.needinventlist .transertablebody > .inventorydatarow input.transferval.empty {
    visibility: hidden;
}
.needinventlist .transertablebody > .inventorydatarow > .back_up {
    border-left: 1px solid #000000;
    font-weight: bold;
    text-align: center;
    width: 65px;
}
.needinventlist .transertablebody > .inventorydatarow > .back_up.changed,
.needinventlist .transertablebody > .inventorydatarow > .have.changed {
    color :#0000FF;
}
/* Edit form*/
input.invitemcolordata.colorname {
    width: 143px;
}
input.invitemcolordata.suggstock {
    width: 27px;
    /* width: 43px; */
}
input.invitemcolordata.suggstock.fullrow {
    width: 46px;
}
input.invitemcolordata.stockval {
    width: 48px;
}
input.invitemcolordata.priceea {
    margin-left: 3px;
    width: 34px;
}
input.invitemcolordata.colordescript {
    margin-left: 3px;
    width: 141px;
}
/* Item Form */
input.invitemdataval.itemnum {
    margin-left: 3px;
    width: 33px;
}
input.invitemdataval.itemname {
    margin-left: 3px;
    width: 149px;
}
select.colororderselect {
    background-color: #ffffff;
    border: 1px solid #000000;
    float: left;
    font-size: 11px;
    height: 19px;
    margin-top: 1px;
    margin-left: -12px;
    text-align: left;
    width: 36px;
}
input.addlcostinpt {
    width: 35px;
}
.needinventlist .boat_download {
    clear: both;
    overflow-x: hidden;
    overflow-y: auto;
    width: 999px;
    height: auto;
}

.needinventlist .boat_download > .left_block {
    width: 479px;
}

.needinventlist .boat_download > .boat_block {
    width: 473px;
}
.needinventlist .boat_download > .onboatarea {
    overflow: hidden;
    max-width: 180px;
}
.needinventlist .boat_download > .onboatarea > .after_head > .download_link {
    font-size: 11px;
    width: 57px;
    margin-right: 3px;
    color: #0000FF;
    cursor: pointer;
}
.edit_color, input {
    text-align: center;
}
.save_cancel {
    margin-right: 7px;
    border: none;
}
/* Devider */
.needinventlist  .inventorytablebody .devider {
    border-right: 2px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 5px;
}
.needinventlist .inventorytablebody > .inventorytableleft {
    /* width: 439px; */
    margin-top: 2px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow {
    clear: both;
    /* width: 439px; */
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > div {
    height: 23px;
    line-height: 26px;
    text-align: center;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata {
    background-color: #6c6c6c;
    border: 1px solid #000000;
    width: 436px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .numpp {
    border-right: 2px solid #000000;
    text-align: center;
    width: 24px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .numpp > .edititem {
    height: 20px;
    padding-top: 6px;
    text-align: center;
    width: 18px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .numpp > .edititem i {
    color: #5a3f1a;
    font-size: 14px;
    cursor: pointer;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itemnum {
    border-right: 1px solid #000000;
    color: #000;
    text-align: center;
    width: 44px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itemname {
    font-size: 13px;
    font-weight: normal;
    padding-left: 3px;
    width: 167px;
    color: #000000;
    border-right: 2px solid #000000;
    text-align: center;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .coloritemname {
    border-right: 2px solid #000000;
    cursor: pointer;
    padding-left: 5px;
    text-align: center;
    width: 90px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .coloritemname.active {
    color: #828181;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent {
    border-right: 2px solid #000000;
    text-align: center;
    width: 32px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .itempercent {
    width: 31px;
}
/* inventorymanage */
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    width: 15px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent > .inventorymanage.save i {
    color: #359045;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent > .inventorymanage.cancel i {
    color: #FF0000;
}

.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 11px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .itempercent.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .inventorymanage {
    cursor: pointer;
    font-size: 15px;
    height: 19px;
    padding-top: 3px;
    text-align: center;
    width: 16px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .inventorymanage.save i {
    color: #359045;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .inventorymanage.cancel i {
    color: #FF0000;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .maxinvent {
    border-right: 1px solid #000000;
    text-align: center;
    width: 71px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .instock {
    border-right: 1px solid #000000;
    text-align: center;
    width: 54px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow >  .reserved {
    color: #00840c;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .instock.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .instock.lowstock {
    color: #000000;
    background-color: #ff9c00;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .available {
    border-right: 2px solid #000000;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    width: 59px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .available {
    width: 58px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .available,
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .instock,
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .maxinvent,
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow.itemdata > .itempercent {
    color: #FFFFFF;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .available.outstock {
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 11px;
}
.needinventlist .inventorytablebody > .inventorytableleft > .inventorydatarow > .available.lowstock {
    color: #000000;
    background-color: #ff9c00;
    font-size: 11px;
}
/* On Boat Content */
.needinventlist .inventorytablebody > .inventoryonboatarea {
    width: 221px;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .left_arrow_empty,
.needinventlist .inventorytablebody > .inventoryonboatarea > .right_arrow_empty {
    width: 21px;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .onboatdataareas {
    height: auto;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .onboatdataareas > .after_head > .onboacontainerarea > .onboacontainerdata {
    border: 1px solid #000000;
    height: auto;
    margin-left: 2px;
    width: 58px;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .onboatdataareas > .after_head > .onboacontainerarea > .onboacontainerdata.arrived {
    opacity: 0.3;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .onboatdataareas > .after_head > .onboacontainerarea > .onboacontainerdata > .contanerdataval {
    color: #0000ff;
    height: 23px;
    line-height: 24px;
    text-align: center;
    width: 56px;
}
.needinventlist .inventorytablebody > .inventoryonboatarea > .onboatdataareas > .after_head > .onboacontainerarea > .onboacontainerdata > .contanerdataval.itemdata {
    background-color: #6c6c6c;
    /* border-bottom: 2px solid #000000; */
    border: 1px solid #000000;
    color: #FFFFFF;
}
input.onboatelementinput {
    height: 15px;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    width: 46px;
}
/* Spec Content */
.needinventlist .inventorytablebody > .inventorytableright {
    /* width: 263px; */
    margin-top: 2px;
}
.needinventlist .inventorytablebody.short > .inventorytableright {
    width: 153px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow {
    clear: both;
    margin-left: 2px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow.itemdata {
    background-color: #6c6c6c;
    border: 1px solid #000000;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > div {
    height: 26px;
    line-height: 26px!important;
    text-align: center;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .costea {
    border-left: 1px solid;
    border-right: 1px solid #000000;
    text-align: center;
    width: 49px;
    margin-left: 4px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .aftercontainers {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    text-align: center;
    margin-right: 2px;
    width: 34px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .aftercontainers.red  {
    background-color: #FF0000;
    color: #FFFFFF;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .aftercontainers.orange  {
    background-color: #FF9C00;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .needtomake {
    border-left: 1px solid;
    border-right: 1px solid #000000;
    text-align: center;
    margin-right: 5px;
    width: 55px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .needtomake.red {
    background-color: #FF0000;
    color: #ffffff;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .needtomake.orange {
    background-color: #FF9C00;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .totalea {
    border-right: 2px solid #000000;
    text-align: center;
    width: 56px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .specs {
    border-right: 1px solid #000000;
    text-align: center;
    width: 37px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .specs > .specsdata,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .plate_temp > .platetempdata,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .proof_temp > .prooftempdata,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .draw > .itemlabel,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .pics > .picsdata {
    height: 19px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .specs > .specsdata i,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .plate_temp > .platetempdata i,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .proof_temp > .prooftempdata i,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .draw > .itemlabel i,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .pics > .picsdata i {
    background-color: gray;
    cursor: pointer;
    font-size: 13px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .specs > .specsdata i.empty,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .plate_temp > .platetempdata i.empty,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .proof_temp > .prooftempdata i.empty,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .draw > .itemlabel i.empty,
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .pics > .picsdata i.empty {
    opacity: 0.3;
    cursor: default;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .plate_temp {
    border-right: 1px solid #000000;
    text-align: center;
    width: 36px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .proof_temp {
    border-right: 1px solid #000000;
    text-align: center;
    width: 41px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .draw {
    border-right: 1px solid #000000;
    text-align: center;
    width: 36px;
}
.needinventlist .inventorytablebody > .inventorytableright > .inventorydatarow > .pics {
    text-align: center;
    width: 27px;
}
