/*-------------- Custom SB Form ----------------*/
.ipcustomsbform {
    width: 100%;
    background: #088aff;
    padding: 5px 15px 10px;
}
.customform-left {
    width: 228px;
    margin-right: 17px;
}
.customform-right {
    float: right !important;
    width: 228px;
}
.customform-row {
    width: 100%;
    margin-bottom: 3px;
}
.customform-right .customform-row {
    width: 100%;
    margin-bottom: 9px;
}
.customform-group {
    display: inline-block;
}
.customform-group label {
    width: 100%;
    font-size: 12px;
    color: #fff;
    margin-bottom: 2px;
}
.customform-group input {
    border: 1px solid #0768c0;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    padding-left: 5px;
}
.customform-group textarea {
    border: 1px solid #0768c0;
    border-radius: 3px;
    width: 228px;
    height: 155px;
    font-size: 12px;
    line-height: 16px;
    resize: none;
    margin-top: 10px;
    padding: 5px;
}
.customform-group select {
    border: 1px solid #0768c0;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    padding-left: 5px;
}
.customform-date {
    width: 228px;
}
.customform-company {
    width: 228px;
}
.customform-contact {
    width: 228px;
}
.customform-phone {
    width: 228px;
}
.customform-email {
    width: 228px;
}
.customform-shape-type {
    width: 228px;
}
.customform-addressline {
    width: 228px;
}
.customform-city {
    width: 101px;
    margin-right: 9px;
}
.customform-state {
    width: 42px;
}
.customform-zipcode {
    float: right !important;
    width: 69px;
}
.customform-country {
    width: 228px;
}
.customform-qty {
    width: 100px;
}
.customform-event {
    float: right !important;
    width: 100px;
}
.customform-images {
    margin-top: 10px;
}
.customform-imgstitle {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #fff;
}
.csf-inputgroup {
    width: 100%;
    margin-bottom: 8px;
}
.file-box {
    float: right;
    background: #fff;
    border: 1px solid #0768c0;
    height: 25px;
    padding-left: 7px;
    position: relative;
    border-radius: 3px;
}
.icon-clip {
    margin-right: 7px;
    float: left;
}
.icon-clip img {
    height: 14px;
    width: auto;
    margin-top: 2px;
}
.name-file {
    color: #000;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 240px; */
    line-height: 24px;
    cursor: pointer;
    width: 170px;
}
.btn-closefile {
    cursor: pointer;
    width: 22px;
    text-align: center;
}
.btn-closefile img {
    height: 10px;
    width: auto;
    margin-top: 3px;
}
/*-------------- Web Questions ----------------*/
.webquestsform {
    background: #912025;
    padding: 15px 8px;
}
.webquestsform-row {
    width: 100%;
    margin-bottom: 6px;
}
.webquestsform-group label {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: right;
    float: right;
    line-height: 25px;
}
.webquestsform-message label {
    float: left;
}
.webquestsform-group input {
    border: 1px solid #711216;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 106px;
    float: right;
    padding-left: 5px;
}
.onecolume {
    width: 150px;
    margin-right: 7px;
}
.twocolume {
    float: right !important;
    width: 170px;
}
.webquestsform-group textarea {
    border: 1px solid #711216;
    border-radius: 3px;
    width: 100%;
    height: 265px;
    font-size: 12px;
    line-height: 16px;
    resize: none;
    padding: 5px;
}
.webquestsform-message {
    width: 488px;
}
/*-------------- Online Quotes ----------------*/
.onlinequoteform {
    background: #d85b23;
    width: 100%;
    padding: 10px 14px 10px;
}
.onlinequote-row {
    width: 100%;
    margin-bottom: 4px;
}
.onlinequote-group label {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 2px;
    margin-right: 3px;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.onlinequote-input {
    border: 1px solid #b63901;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
}
.onlinequote-select {
    border: 1px solid #b63901;
    border-radius: 3px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    background: #fff;
}
.onlinequote-company {
    width: 188px;
    margin-right: 7px;
}
.onlinequote-contact {
    width: 188px;
    margin-right: 7px;
}
.onlinequote-date {
    width: 85px;
}
.onlinequote-email {
    width: 232px;
    margin-right: 7px;
}
.onlinequote-phone {
    width: 234px;
}
.onlinequote-item {
    width: 219px;
    margin-right: 7px;
}
.onlinequote-qty {
    width: 67px;
    margin-right: 7px;
}
.onlinequote-colors {
    width: 172px;
}
.onlinequote-imprint {
    width: 156px;
}
.onlinequotev-line {
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 1px;
    margin: 7px 0;
}
.onlinequote-total {
    float: right !important;
    margin-top: 21px;
}
.onlinequote-total label {
    width: 40px !important;
}
.onlinequote-total input {
    width: 91px !important;
}
.btn-filepdf {
    color: #fff;
    font-size: 16px;
    width: 20px;
    float: right !important;
    position: relative;
    top: 1px;
    margin-left: 6px;
}
