/* Header */
.modal-interestpopups .modal-header {
    padding: 10px 0 7px;
    border-bottom: 1px solid transparent;
    background: #fff;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.modal-interestpopups .modal-dialog {
    width: 507px;
    margin: 30px auto;
}
.modal-interestpopups .modal-footer {
    padding: 0;
    text-align: left;
    border-top: 1px solid #e5e5e5;
    background: #fff;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.contant-popup {
    width: 100%;
}
.contant-popup div {
    float: left;
}
.modal-interestpopups .modal-body {
    padding: 0;
}
button.closemodal {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    font-size: 20px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}
h5.modal-title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
/* Footer */
.intpopup-footer {
    float: left;
    width: 100%;
    padding: 14px 7px 7px;
}
.intpopup-footer div {
    float: left;
}
.intpopup-selectlead {
    width: 270px;
}
.intpopup-btn {
    float: right!important;
    width: 120px;
    margin-top: 4px; /*19*/
}
.ip-btncreatelead {
    display: none;
    float: right !important;
    width: 110px;
    height: 30px;
    line-height: 28px;
    background: #5b5afe;
    background: linear-gradient(to top, #4c4bfe, #6664fe);
    text-align: center;
    font-size: 16px;
    border: 1px solid #1a1b70;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.ip-btncreatelead.active {
    display: block;
}
.intpopupfooter-label {
    font-size: 12px;
    font-weight: 400;
}
.intpopupfooter-check {
    width: 20px; /* 100%; */
}
.intpopupfooter-select {
    width: 100%;
    /* opacity: .3; */
}
.interest_lead_assign {
    display: none;
    float: right!important;
    background: #5b5afe;
    background: linear-gradient(to top, #4c4bfe, #6664fe);
    border: 1px solid #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    /*font-weight: 600;*/
    height: 30px;
    line-height: 28px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 128px;
}
.interest_lead_assign.active {
    display: block;
}
.intpopupfooter-select select {
    border: 1px solid #585858;
    width: 269px;
    height: 21px;
    font-size: 12px;
    background: #fff;
}
