/* Lead quote content */
.quotepopupdetails {
    display: none;
    position: absolute;
    z-index: 2;
    width: 620px;
    right: -4px;
    top: 81px;
}
.quotepopupclose {
    cursor: pointer;
    float: right!important;
    position: relative;
    z-index: 7;
    right: -18px;
    top: -6px;
}
.quotecontentarea {
    float: left;
    width: 612px;
    height: 689px;
    background: #9a9a9a;
    border-radius: 7px;
    padding: 9px;
}
.quotecontentarea div {
    float: left;
    color: #000000;
}
.quotecontentarea input, .quotecontentarea select  {
    color: #000000;
}
.datarow.quotetemplaterow {
    margin-bottom: -8px;
}
.quotetemplatetitle {
    height: 22px;
    line-height: 22px;
    margin-right: 5px;
    font-size: 13px;
}
.quotetemplateinpt {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}
.quotetemplateinpt select {
    width: 122px;
    padding-left: 9px;
    font-size: 13px;
    height: 22px;
    background: #e5e5e5;
}
.quoteactionsarea {
    margin-left: 124px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    /* padding-left: 10px; */
    margin-right: 9px;
    box-shadow: 0.3em 0.3em 3px rgb(0 0 0 / 50%);
}
.quoteactionsarea > div {
    text-align: center;
    color: #010192;
    font-size: 13px;
    height: 25px;
    line-height: 22px;
    opacity: 0.5;
    /* padding: 1.5px 0; */
}
.quoteactionsarea > div.active {
    opacity: 1;
    cursor: pointer;
}
.quoteactionaddorder {
    padding: 1.5px 6px;
    border-right: 1px solid #b6b6b6;
}
.quoteactionduplicate {
    padding: 1.5px 6px;
    border-right: 1px solid #b6b6b6;
}
.quoteactionsend {
    padding: 1.5px 4px;
    border-right: 1px solid #b6b6b6;
}
.quoteactionpdfdoc {
    padding: 1.5px 10px;
}
.leadquotesavebtn {
    background-image: url(/img/leadorder/button_save.png);
    background-repeat: no-repeat;
    width: 53px;
    height: 32px;
    cursor: pointer;
}
.leadquoteeditbtn {
    background-image: url(/img/leadorder/button_edit.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 34px;
    width: 52px;
}
.leadquotebtnlabel {
    color: #FFFFFF!important;
    width: 46px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.quotenumbertitle {
    color: #525252!important;
    font-size: 20px;
    font-weight: 600;
    height: 38px;
    line-height: 38px;
    margin-right: 5px;
}
.quotenumbervalue {
    font-size: 20px;
    font-weight: 600;
    height: 38px;
    line-height: 38px;
}
.quotedatearea {
    float: right!important;
    margin-right: 5px;
}
.quotedatetitle {
    color: #525252!important;
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    line-height: 31px;
    margin-right: 5px;
}
.quotedatevalue {
    font-size: 14px;
    font-weight: 600;
    height: 31px;
    line-height: 31px;
}
.quoteitemtablehead {
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
}
.quoteitemtablehead.stresballstab div {
    background: #3e46dd;
    color: #FFFFFF!important;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 11px;
}
.quoteitemtablehead.relieverstab div {
    background: #fffc00;
    color: #000000!important;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 11px;
    border-bottom: 1px solid #000000;
}

.quoteitemtablehead .itemnumber {
    width: 72px;
}
.quoteitemtablehead .itemdescription {
    width: 180px;
}
.quoteitemtablehead .itemcolor {
    /* width: 92px; */
    width: 153px;
}
.quoteitemtablehead .itemqty {
    width: 52px;
}
.quoteitemtablehead .itemprice {
    width: 41px;
}
.quoteitemtablehead .quoteitemsubtotal {
    width: 92px;
}
.quoteitemtabledata {
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    background: #FFFFFF;
    height: 190px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Item Table data */
.quoteitemsarea {
    width: 100%;
}
.quoteitemtabledatarow {
    width: 583px;
    font-size: 11px;
    border-bottom: 1px solid #b5b5b5;
}
.quoteitemtabledatarow > div {
    height: 20px;
    line-height: 20px;
}
input.quouteitem_input, select.quouteitem_input {
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    width: 100%;
}
.quoteitemtabledatarow .itemnumber {
    width: 72px;
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
}
.quoteitemtabledatarow .itemdescription {
    border-left: 1px solid #B5B5B5;
    width: 180px;
}
.quoteitemtabledatarow .itemdescription.viewmode {
    padding-left: 5px;
}
.quoteitemtabledatarow .itemdescription.addquoteitemcolor {
    height: 40px!important;
}
input.quoteitem_description_long {
    padding-left: 2px;
    width: 178px!important;
}
.quoteitemtabledatarow .itemdescription > .itemcoloradd {
    color: #026f11;
    cursor: pointer;
    float: left;
}
.quoteitemtabledatarow .itemcolor {
    width: 153px;
}
.quoteitemtabledatarow .itemcolor.viewmode {
    padding-left: 5px;
}
select.quoteitemcolors {
    width: 150px;
}
.quoteitemtabledatarow .itemcolor.bord_l {
    border-left: 1px solid #B5B5B5;
}
.quoteitemtabledatarow .itemqty {
    border-left: 1px solid #b5b5b5;
    width: 52px;
}
.quoteitemtabledatarow .itemqty.viewmode {
    padding-right: 5px;
    text-align: right;
}
input.quoteitem_qty {
    width: 50px;
    text-align: right;
}
.quoteitemtabledatarow .itemprice {
    width: 41px;
    border-left: 1px solid #b5b5b5;
}
.quoteitemtabledatarow .itemprice.viewmode {
    padding-right: 5px;
    text-align: right;
}
input.quoteitem_price {
    width: 39px;
    text-align: right;
}
.quoteitemtabledatarow .quoteitemrowsubtotal {
    width: 68px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    border-left: 1px solid #b5b5b5;
}
.quoteitemtabledatarow .quoteitemremove {
    width: 16px;
    text-align: center;
}
.quoteitemtabledatarow .quoteitemremove i {
    font-size: 14px!important;
    cursor: pointer;
}
/* Imprints */
.quoteitemtabledatarow .impritdetails {
    padding-left: 5px;
    width: 73px;
}
.quoteitemtabledatarow .impritdetails.addprintdetails {
    color: #026f11;
    cursor: pointer;
}
.quoteitemtabledatarow .imprint_description {
    border-left: 1px solid #b5b5b5;
    width: 331px;
    padding-left: 5px;
}
.quoteitemtabledatarow .imprint_qty {
    border-left: 1px solid #b5b5b5;
    padding-right: 3px;
    text-align: right;
    width: 53px;
}
.quoteitemtabledatarow .imprint_price {
    border-left: 1px solid #b5b5b5;
    width: 41px;
    text-align: right;
    padding-right: 3px;
}
.quoteitemtabledatarow .imprint_subtotal {
    border-left: 1px solid #b5b5b5;
    padding-right: 2px;
    text-align: right;
    width: 65px;
}
.addquoteitem {
    padding-right: 2px;
    text-align: right;
    width: 73px;
    font-size: 11px;
    color: #026f11!important;
    cursor: pointer;
}
/* Item Table data END */
.leadquotediscountarea {
    float: right!important;
    width: 329px;
    background: #FFFFFF;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    /* margin-right: 4px; */
}
/* Discounts */
.quotemisschargetitle {
    width: 216px;
    margin-right: 36px;
    padding-left: 1%;
}
input.quotediscountinpt {
    height: 16px;
    width: 99%;
    text-align: right;
    padding-right: 5px;
    font-size: 11px;
}
.quotemisschargevalue {
    width: 70px;
}
.quotediscountlabel {
    width: 57px;
    margin-right: 5px;
    text-align: right;
    font-size: 11px;
    line-height: 21px;
}
.quotediscounttitle {
    width: 155px;
    margin-right: 36px;
}
.quotediscountvalue {
    width: 70px;
}
.quoteitemsubtotal {
    float: right !important;
    width: 188px;
}
.quoteitemsubtotaltitle {
    font-size: 14px;
    color: #4a4a4a!important;
    margin-right: 7px;
    height: 20px;
    line-height: 20px;
}
.quoteitemsubtotalvalue {
    background: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    width: 85px;
    height: 20px;
    line-height: 20px;
}
.quotesectionlabel {
    font-size: 12px;
    font-weight: bold;
    color: #161616;
    height: 21px;
    line-height: 21px;
}
.quoteshipaddressarea {
    width: 285px;
    margin-bottom: 8px;
}
.quoteshipcountryarea {
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    height: 26px;
    background: #dadada;
    width: 118px;
    position: relative;
    z-index: 5;
    padding-left: 4px;
    padding-top: 4px;
}
select.quoteaddressinpt, input.quoteaddressinpt {
    height: 16px;
    width: 102px;
    font-size: 11px;
    border: none!important;
}
select.quotecountry {
    width: 102px;
}
select.quotecountry:disabled {
    background: #acacac;
    border: #a1a1a3;
    color: #737373;
}
.quoteshipaddressother {
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    width: 285px;
    background: #dadada;
    margin-top: -2px;
    padding-left: 4px;
    border-bottom: 2px solid #000000;
    height: 106px;
}
input.quoteshipadrother {
    width: 100%;
    border-left: none!important;
    border-top: none!important;
    border-right: none!important;
    border-bottom: 1px dotted #8f8f9d!important;
    display: block!important;
}
.quoteshipaddresszip {
    background: #dadada;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    width: 285px;
    padding-bottom: 4px;
    padding-left: 4px;
}
.quoteshipaddreszipcode {
    width: 41px;
}
input.quotepostal {
    width: 40px;
    float: left;
}
.quoteshipaddrescity {
    width: 80px;
    float: left;
}
input.quotetown {
    float: left;
    width: 76px;
    float: left;
}
.quoteshipaddresdistrict {
    /* width: 42px; */
}
select.quotestate {
    float: left;
    width: 38px;
}
.quoterushdataarea {
    width: 302px;
}
.quoteleadtimelabel {
    width: 95px;
    padding-right: 7px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.quoteleadtime {
    width: 152px;
    height: 20px;
    line-height: 20px;
}
select.quoteleadtimeselect {
    height: 19px;
    font-size: 12px;
    padding-left: 5px;
    width: 144px;
}
.quoteleadrush {
    width: 52px;
}
input.quoteleadshipcostinpt {
    height: 19px;
    font-size: 12px;
    text-align: right;
    padding-right: 3px;
}
input.quoteleadrushcost {
    width: 49px;
}
.quoteshippingcostarea {
    width: 237px;
    height: 66px;
    background: #f5f5f5;
    border: 2px solid #000000;
    margin: 5px 4px 3px 4px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Ship Rates */
.quoteshippingcostarea .datarow div {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}
.quoteshippingcostarea .datarow div.active {
    font-weight: 600;
}
.quoteratecheck {
    font-size: 13px!important;
    width: 20px;
    text-align: center;
    margin-right: 5px;
}
.quoteratecheck.choice i {
    cursor: pointer;
}
.quoteratemethod {
    margin-right: 5px;
}
.quoteratecost {
    margin-right: 5px;
}
.quoteratearrive {
    color: #2b2bd8!important;
}
/*  Ship Rates End */
.quoteshipcost {
    width: 52px;
    margin-top: 23px;
    margin-left: 3px;
}
input.quoteshipcostvalue {
    width: 49px;
}
.quotetaxarea {
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background: #dadada;
    margin-top: 9px;
    padding-top: 2px;
    width: 244px;
    margin-left: -2px;
    padding-left: 6px;
}
.quotetaxlabelveiw {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
}
.quotetaxlabeldata {
    color: #000d6e!important;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 7px;
}
.quotetaxemptyview {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    font-style: italic;
}
.quotetaxexceptcheck {
    font-size: 13px!important;
    width: 20px;
    text-align: center;
    margin-right: 2px;
    margin-top: 2px;
}
.quotetaxexceptcheck.choice i {
    cursor: pointer;
}
.quotetaxexcept span {
    font-size: 11px;
}
.quotetaxexceptreason {
    margin-left: 7px;
}
.taxexceptreasoninpt {
    height: 16px;
    width: 85px;
    font-size: 11px;
    padding-left: 3px;
}
.quotetaxinput {
    width: 58px;
    padding-left: 5px;
}
.quotetaxlabel {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-top: -8px;
    width: 100%;
}
.quotetaxvalue {
    width: 100%;
}
input.quotesalestaxvalue {
    width: 49px;
}
.quotebillingaddressarea {
    width: 195px;
}
.quotebillcountryarea {
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    height: 26px;
    background: #dadada;
    width: 118px;
    position: relative;
    z-index: 5;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.quotebillcountryarea.billingsame {
    border-left: 2px solid #737373;
    border-top: 2px solid #737373;
    border-right: 2px solid #737373;
    background: #aaaaaa;
}
.quotesamebilligaddress {
    margin-left: 5px;
}
.quotesamebilligaddress .billingsameinpt {
    cursor: pointer;
    margin-right: 5px;
    width: 21px;
    height: 21px;
    line-height: 21px!important;
/*    background-color: #dadada; */
    text-align: center;
}
.quotesamebilligaddress span {
    font-size: 12px;
    font-weight: normal;
}
.quotebilladdressother {
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    width: 192px;
    background: #dadada;
    margin-top: -2px;
    padding-left: 4px;
    padding-bottom: 4px;
}
.quoteaddressarea {
    width: 168px;
    border: 2px solid #8f8f9d;
    padding: 5px;
    margin-top: 3px;
}
.quotebilladdressother.billingsame {
    border-bottom: 2px solid #737373;
    border-left: 2px solid #737373;
    border-top: 2px solid #737373;
    border-right: 2px solid #737373;
    background: #aaaaaa;
}
input.quotebilladdrother, input.quotebilladdrother:focus-visible {
    width: 100%;
    display: block!important;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    border-bottom: 1px dotted #8f8f9d!important;
}
input.quotebilladdrother:disabled {
    background: #b3b3b3;
    /* border : #97979b; */
}
input[data-item='billing_zip']:disabled,
input[data-item='billing_city']:disabled,
select[data-item='billing_state']:disabled {
    background: #b3b3b3;
    /* border : #97979b; */
}
.quotebilladdreszipcode {
    width: 41px;
}
.quotebilladdrescity {
    width: 80px;
}
.quotebilladdresdistrict {
    /* width: 49px; */
}
.billingaddresscopy, .shipaddrescopy {
    background: #000000;
    color: #ffffff!important;
    font-size: 11px;
    cursor: pointer;
    position: relative;
    left: -22px;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-top: 8px;
}
.quotenotesarea {
    width: 236px;
}
textarea.quotenote {
    width: 227px;
    /* height: 52px; */
    height: 131px;
    resize: none;
    overflow-y: auto;
    font-size: 11px;
    padding: 5px;
}
.quotetotalarea {}
.quotetotals {
    width: 150px;
    background: #2b2b2b;
    border-radius: 7px;
    font-size: 13px;
}
.quotetotallabel {
    height: 23px;
    line-height: 23px;
    text-align: left;
    margin-left: 6px;
    color: #ffffff!important;
}
.quotetotalvalue {
    height: 23px;
    line-height: 23px;
    float: right!important;
    margin-right: 6px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff!important;
}
/* Print Details Popup */
.imprintdetailsarea {
    background: url('/img/leadorder/inprint_location_bg.png') no-repeat transparent;
    clear: both;
    height: 451px;
    width: 1052px;
}
.imprintdetailsdata {
    float: left;
    height: 409px;
    margin-left: 13px;
    width: 745px;
}
.imprintdetailstitle {
    float: left;
    margin-left: 184px;
    height: 31px;
    line-height: 31px;
    width: 240px;
}
.imprintdetailstitle > .quoteblank {
    float: left;
    width: 100%;
}
.imprintdetailstitle > .quoteblank input {
    float: left;
    margin-top: 13px;
}

.imprintdetailstitle > .quoteblank .labeltxt {
    float: left;
    font-size: 12px;
    margin-left: 7px;
    margin-top: 4px;
}
.imprintdetailsdata_left {
    clear: both;
    float: left;
    /* margin-top: 27px; */
    margin-left: -5px;
    width: 362px;
}
.imprintdetailsdata_right {
    float: left;
    margin-left: 16px;
    /* margin-top: 27px; */
    width: 362px;

}
.imprintdetails_location_subltitle {
    float: left;
    width: 100%;
    margin-top: 6px;
}
.imprintdetails_location_subltitle > div {
    font-size: 12px;
    color: #252525;
    float: left;
    height: 21px;
    line-height: 21px;
}
.imprintdetails_location_subltitle > .locname_subtitle {
    width: 68px;
}
.newrepeat_subtitle {
    width: 95px;
}
.numcolors_subtitle {
    width: 68px;
}
.printsetupcost_subtitle {

}
.imprintlocdata {
    border-bottom: 1px solid #000000;
    clear: both;
    float: left;
    opacity: 0.5;
    width: 367px;
}
.imprintlocdata.active {
    opacity: 1;
}
.imprintlocrow {
    clear: both;
    float: left;
    height: 27px;
    line-height: 27px;
    width: 100%;
}
.imprintlocrow input, .imprintlocrow select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000000;
    float: left;
    height: 20px;
}
.imprintlocrow input:disabled, .imprintlocrow select:disabled {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    color: #e2e2e2;
    float: left;
    height: 20px;
}
input.locationactive {
    height: 16px;
    margin-top: 5px;
}
.imprintlocrow > .title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    text-align: left;
    width: 51px;
}
select.locationtype {
    margin-right: 3px;
    margin-top: 2px;
    width: 54px;
}
.repeatdetail {
    background: transparent url("/img/leadorder/icon_fileempty.png") no-repeat scroll 0 0;
    float: left;
    /* margin-left: 2px;*/
    margin-top: 1px;
    /* opacity: 0.5; */
    /* width: 17px; */
    width: 39px;
}
input.imprintrepeatnote {
    width: 37px;
    font-size: 12px;
}
.repeatdetail.active {
    opacity: 1;
    cursor: pointer;
}
.repeatdetail.full {
    background: transparent url("/img/leadorder/icon_file.png") no-repeat scroll 0 0;
}
select.imprintcolorschoice {
    margin-top: 2px;
    width: 32px;
}
.imprintlocrow > .labeltxt {
    float: left;
    font-size: 12px;
    width: 31px;
    margin-left: 2px;
    height: 22px;
    line-height: 21px;
}
.imprintlocprices {
    float: left;
    /* width: 141px; */
}
input.imprintprice {
    font-size: 11px;
    margin-left: 3px;
    text-align: right;
    width: 27px;
}
select.imprintlocationchoice {
    margin-left: 25px;
    width: 94px;
}
.extracostlabel {
    float: left;
    text-align: right;
    line-height: 10px;
    height: 22px;
    font-size: 10px;
    margin-right: 7px;
    width: 39px;
}
.imprintdetailssample {
    float: left;
    margin-left: 9px;
    margin-top: 14px;
    width: 268px;
}
.imprintdetailssample > .title {
    clear: both;
    float: left;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    color: #1f1f1f;
}
.imprinttable_title {
    clear: both;
    float: left;
    height: 17px;
    line-height: 17px;
    margin-left: 29px;
    width: 228px;
}
.imprinttable_title > .label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 98px;
}
.imprinttable_title > .labelprice {
    width: 87px;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-size: 11px;
}
.imprinttable_title > select.imprintpricepiece {
    height: 17px;
    width: 34px;
}
.imprinttablelocations {
    clear: both;
    background: url('/img/leadorder/imprintsample_bg.png') no-repeat transparent;
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    width: 226px;
}
.imprinttablelocations > .imprinttablehead {
    color: #ffffee;
    float: left;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 100%;
}
.imprinttablelocations > .imprinttablehead > .label_locationname {
    float: left;
    width: 143px;
}
.imprinttablelocations > .imprinttablehead > .label_locationsize {
    float: left;
    width: 54px;
}
.imprinttablelocations > .imprinttablehead > .label_locationtemplate {
    float: left;
    width: 28px;
}
.imprinttabledata {
    float: left;
    height: 265px;
    width: 224px;
}
.imprinttabledata > .locationsamplerow {
    clear: both;
    color: #ffffee;
    float: left;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.imprinttabledata > .locationsamplerow > .numpp {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 19px;
}
.imprinttabledata > .locationsamplerow > .locatname {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 117px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.imprinttabledata > .locationsamplerow > .locatname.addnew {
    color: #8a8a8a;
    margin: 0;
    padding: 0;
    text-align: center;
}
.imprinttabledata > .locationsamplerow > .locatsize {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 62px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imprinttabledata > .locationsamplerow > .locattempl {
    float: left;
    margin-left: 3px;
    width: 18px;
}
.imprinttabledata > .locationsamplerow > .locattempl.active {
    background: url('/img/leadorder/icon_glass.png') no-repeat transparent;
}
.saveimprintdetailsarea {
    clear: both;
    float: left;
    margin-left: 626px;
    width: 120px;
}
.saveimprintdetailsarea > .saveimprintdetailsdata {
    background: transparent url("/img/leadorder/button_save.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 31px;
    line-height: 28px;
    text-align: center;
    width: 47px;
}
.saveimprintdetailsarea > .revertimprintdetailsdata {
    background: transparent url("/img/leadorder/button_revert.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 31px;
    line-height: 28px;
    margin-left: 7px;
    text-align: center;
    width: 58px;
}
.placeorderbtn {
    background: transparent url("/img/leadorder/placeorder_btn.png") no-repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 29px;
    text-align: center;
    width: 87px;
}
/* Popup - Item search */
.quote_itemedit_area {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    color: #000000;
    float: left;
    font-size: 14px;
    min-height: 150px;
    padding: 15px;
    width: 391px;
}
.quote_itemedit_title {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
}
.quote_itemedit {
    clear: both;
    float: left;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}
.selectquoteitem {
    font-size: 12px;
    width: 393px;
}
.quote_itemedit_text {
    clear: both;
    float: left;
    margin-top: 10px;
    height: 58px;
    width: 100%;
    text-align: left;
}
.quote_itemedit_text label {
    clear: both;
    float: left;
    font-size: 13px;
    font-weight: normal;
    width: 80%;
}
textarea.quoteitemsvalue {
    float: left;
    height: 47px;
    overflow-y: auto;
    resize: none;
    width: 96%;
}
.quote_itemedit_save {
    clear: both;
    float: left;
    margin-left: 291px;
    margin-top: 15px;
    width: 90px;
    cursor: pointer;
}
/* End Print Details Popup */
/* Autocomplete Address */
.pac-container {
    z-index: 1500!important;
    width: 325px!important;
}