/* POPUP view */
/* Popup Window */
#leadformModal .modal-dialog {
    width: 970px;
}
#leadformModal .modal-header {
    background: #4444ef;
    color: #ffffff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 7px 15px 0 15px;
}
#leadformModal .modal-header.relieverstab {
    background: #ffeb00;
    color: #000000;
}
#leadformModal .modal-content {
    padding: 9px 16px;
}
#leadformModal .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
}
#leadformModal .modal-header.relieverstab .close {
    color: #000000!important;
}
#leadformModal .modal-title {
    font-weight: 600;
    width: 98%;
    float: left;
}
#leadformModal .modal-body {
    background: #4444ef;
    color: #ffffff;
    margin-top: -1px;
    padding: 0 15px 0px 15px;
}
#leadformModal .modal-body.relieverstab {
    background: #ffeb00;
    color: #000000;
}
#leadformModal .modal-footer {
    background: #4444ef;
    color: #ffffff;
    /* padding: 10px 15px; */
    padding: 10px 15px 0 15px;
}
#leadformModal .modal-footer.relieverstab {
    background: #ffeb00;
    color: #000000;
}
.lead_popup_content {
    background: url('/img/leads/lead_popupbg.png?r=233') no-repeat transparent;
    clear: both;
    float: left;
    width: 941px;
    height: 720px;
    padding: 10px 10px 5px 10px;
    color: #FFFFFF;
    font-size: 14px;
}
.lead_popupform_row {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 7px;
}
.lead_popupform_row input {
    color: #000000!important;
    background-color: #ffffff!important;
    padding-left: 5px;
    height: 22px;
    font-size: 14px!important;
    text-align: left!important;
}
.lead_popup_status {
    float: left;
    width: 256px;
}
.lead_popup_number {
    float: left;
    width: 112px;
    font-size: 14px;
    font-weight: bold;
    /* padding-top: 7px; */
}
.lead_popup_statustitle {
    float: left;
    width: 55px;
    font-size: 14px;
    font-weight: bold;
    /* padding-top: 6px; */
}
.lead_popup_statusvalue {
    float: left;
    /* padding-top: 3px; */
    margin-top: -3px;
    width: 195px;
}
select.leadpopstatus {
    height: 23px;
    font-size: 14px;
    color: #232323;
    width: 170px;
}
.lead_popup_replicas {
    float: left;
    width: 510px;
}
.lead_popup_replicatiltle {
    float: left;
    width: 46px;
    /* padding-top: 6px; */
    font-size: 14px;
    font-weight: bold;
}
/*.lead_popup_replicausrbgn {*/
/*    float: left;*/
/*    background: url('/img/leads/lead_replbgn.png') no-repeat transparent;*/
/*    width: 5px;*/
/*    height: 30px;*/
/*}*/
.lead_popup_replicausrarea {
    /* background: url('/img/leads/lead_replbg.png') repeat-x transparent; */
    background: #ccc4c4;
    float: left;
    /* width: 70px; */
    font-size: 15px;
    font-weight: bold;
    color: #232323;
    /* height: 30px; */
    border: 1px solid #808080;
    border-radius: 3px;
    height: 25px;
    margin-top: -3px;
}
.lead_popup_replicausrchk {
    cursor: pointer;
    float: left;
    /* padding-top: 5px; */
    text-align: center;
    width: 20px;
}
.lead_popup_replicausrchk img {
    height: 18px;
}
.lead_popup_addreplica {
    float: left;
    width: 64px;
    cursor: pointer;
    margin-top: -4px;
}
.lead_popup_addreplica.relieverstab {
    margin-left: 5px;
}
input.usrrepliccheck {
    float: left;
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    margin: 3px 5px 0 0;
}
.lead_popup_replicausrname {
    float: left;
    min-width: 50px;
    /* padding-top: 5px; */
    margin-right: 3px;
    text-align: center;
}
/*.lead_popup_replicausrend {*/
/*    float: left;*/
/*    background: url('/img/leads/lead_replend.png') no-repeat transparent;*/
/*    width: 5px;*/
/*    height: 30px;*/
/*}*/
.lead_popup_usrdatas {
    float: left;
    width: 279px;
}
.lead_popup_usrdat_title {
    float: left;
    width: 70px;
    margin-right: 5px;
    text-align: right;
    font-weight: bold;
    /* padding-top: 5px; */
}
.lead_popup_companyinpt {
    float: left;
    width: 204px;
}
input.lead_company {
    width: 193px;
}

.lead_popup_usrcontacts {
    float: left;
    width: 262px;
}
.lead_popup_usrphone_title {
    float: left;
    width: 80px;
    font-weight: bold;
    /* padding-top: 5px; */
}
.lead_popup_phoneinpt {
    float: left;
    width: 180px;
}
input.lead_phone {
    width: 164px;
}
.lead_popup_values {
    float: left;
    width: 140px;
}
.lead_popup_value_title {
    float: left;
    width: 52px;
    /* padding-top: 5px; */
    font-weight: bold;
}
.lead_popup_valueinpt {
    float: left;
    width: 88px;
}
input.lead_value {
    width: 72px;
}
.lead_popup_neadbys {
    float: left;
    width: 225px;
}
.lead_popup_neadbytitle {
    float: left;
    width: 61px;
    font-weight: bold;
}
.lead_popup_calendar {
    float: left;
    width: 25px;
}
.lead_popup_neadbyinpt {
    float: left;
    width: 125px;
}
input.lead_needby {
    width: 135px;
}
.lead_popup_mailtitle {
    float: left;
    width: 47px;
    font-weight: bold;
}
.lead_popup_mailclone {
    float: left;
    height: 22px;
    width: 22px;
    cursor: pointer;
    background: #505050;
    color: #ffffff;
    text-align: center;
}
.lead_popup_mailclone i {
    font-size: 12px;
}
.lead_popup_mailinpt {
    float: left;
    width: 190px;
}
input.lead_email {
    width: 188px;
}
.lead_popup_qtytitle {
    float: left;
    width: 30px;
    /* padding-top: 5px; */
    font-weight: bold;
}
.lead_popup_qtyinpt {
    float: left;
    width: 95px;
}
input.lead_qty {
    width: 93px;
}
.lead_popup_itemtitle {
    float: left;
    width: 36px;
    /* padding-top: 5px; */
    font-weight: bold;
}
.lead_popup_iteminpt {
    float: left;
    width: 184px;
}
.lead_popup_iteminpt > div {
    color: #000;
}
/*input.lead_item {
    width: 187px;
}*/
select.lead_item_select {
    font-size: 14px;
    height: 23px;
    width: 182px;
}
.lead_popup_iteminpt select {
    font-size: 14px;
}
.lead_popup_notearea {
    float: left;
    width: 467px;
}
.leadformdataarea {
    background: #0000ae;
    float: left;
    border-top: 1px solid #fff;
    margin-left: -15px;
    width: 936px;
    margin-right: -15px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.leadformdataarea.relieverstab {
    background: #dbdcdf;
    color: #000000;
    border: 1px solid #808080;
}
.leadformdataarea div {
    float: left;
}
.quotesarea {
    float: left;
    width: 320px;
}
.quotesarea_title {
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 15px;
}
.quotesaddnew {
    background: url(/img/leadquote/new_quote_btn.png) no-repeat;
    width: 111px;
    height: 31px;
    margin-top: 6px;
    cursor: pointer;
}
.quotesdataarea {
    width: 305px;
    height: 394px;
    border-radius: 7px;
    background: #9a9a9a;
    padding: 6px;
    color: #000000;
    font-size: 11px;
    margin-left: 8px;
}
.quotesdataarea.relieverstab {
    background: #f1f1f1;
    border: 1px solid #808080;
}
.quotesdataarea .datarow  > div {
    height: 22px;
    line-height: 22px;
}
.leadquotedatelist {
    width: 37px;
}
.leadquotenumberlist {
    height: 20px!important;
    line-height: 20px!important;
    border: 1.5px solid #616161;
    width: 68px;
    text-align: center;
    background: #ffffff;
    color: #0000ff;
    font-size: 13px!important;
    font-weight: 600;
    margin-right: 6px;
    cursor: pointer;
}
.leadquotenumberlist.orderattach {
    background: #1e1efc;
    color: #FFFFFF;
}
.leadquotenumberlist:hover, .leadquotenumberlist.active {
    background: #ff73ed!important;
}
.leadquotedetailslist {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leadquotetotalslist {
    text-align: right;
    width: 58px;
}
.leadquotedatelist.active, .leadquotedetailslist.active, .leadquotetotalslist.active {
    font-weight: 600;
}
.specificnotearea {
    width: 390px;
}

.lead_popup_notetitle {
    clear: both;
    width: 385px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    font-weight: 600;
}
.lead_popup_notetitle span {
    font-size: 12px;
    font-style: italic;
}
.lead_popup_noteinpt {
    clear: both;
    float: left;
    width: 385px;
}
textarea.lead_note {
    color: #000000;
    font-size: 14px;
    height: 394px;
    overflow-y: auto;
    resize: none;
    width: 382px;
}
.leadstatusarea {
    width: 210px;
}
.lead_popup_statusarea {
    float: left;
    width: 266px;
}
.lead_popup_statuses {
    clear: both;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    height: 37px;
    line-height: 37px;
}
.lead_popup_statusinpt {
    clear: both;
    width: 215px;
}
textarea.lead_statuses {
    color: #000000;
    font-size: 11px;
    height: 73px;
    overflow-y: auto;
    resize: none;
    width: 208px;
}
.lead_popup_history {
    clear: both;
    width: 120px;
    font-size: 15px;
    font-weight: 600;
    height: 37px;
    line-height: 37px;
}
.lead_history {
    background-color: #ffffff;
    height: 318px;
    overflow-y: auto;
    width: 208px;
}
.lead_history.expandhistory {
    height: 462px;
}
.lead_popup_taskarea {
    float: left;
    width: 179px;
}
.lead_popup_addrequest {
    clear: both;
    font-weight: bold;
    width: 262px;
    margin-left: -6px;
}
.lead_popup_addrequest img:hover {
    cursor: pointer;
}
.item_otheritemarea {
    width: 200px;
    display: none;
}
.item_otheritem_label {
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    width: 184px;
    font-size: 15px;
    font-weight: 600;
}
textarea.other_item_name {
    height: 103px;
    width: 208px;
    resize: none;
    font-size: 13px;
    color: #000000;
}
.lead_popup_tasks {
    clear: both;
    float: left;
    width: 120px;
    font-weight: bold;
    margin-bottom: 10px;
}
.lead_popup_taskrow {
    clear: both;
    float: left;
    width: 177px;
}
.lead_popup_taskchk {
    float: left;
    width: 20px;
}
.lead_popup_taskname {
    float: left;
    width: 150px;
    font-size: 13px;
    font-weight: bold;
}
textarea.lead_othertask {
    font-size: 14px;
    color: #000000;
    resize: none;
    overflow-y: auto;
    width: 173px;
    height: 78px;
}
.lead_popup_questarea {
    width: 100px;
    margin-top: 28px;
}
.lead_popup_questitle {
    clear: both;
    font-size: 15px;
    font-weight: bold;
}
.lead_popup_arttitle {
    float: left;
    font-size: 13px;
    font-weight: normal;
    width: 30px;
    height: 33px;
    line-height: 41px;
}
.lead_popup_quescontent {
    clear: both;
    border-radius: 7px;
    background: #9a9a9a;
    width: 92px;
    height: 107px;
    padding-top: 5px;
    margin-top: 5px;
}
.lead_popup_quescontent.relieverstab {
    background: #f1f1f1;
    border: 1px solid #808080;
}
.lead_popup_questrow {
    clear: both;
    float: left;
    width: 92px;
}
.lead_popup_questdate {
    color: #262626;
    float: left;
    font-size: 13px;
    margin-left: 9px;
    width: 59px;
}
.lead_popup_questchck {
    float: left;
    width: 20px;
}
.lead_popup_questchck:hover {
    cursor: pointer;
}
.lead_popup_quotechck {
    float: left;
    width: 20px;
}
.lead_popup_quotechck:hover {
    cursor: pointer;
}
.lead_onlinequotesarea {
    float: left;
    width: 353px;
}
.lead_onlinequotcontent {
    clear: both;
    background: url('/img/leads/onlinequotes_bg.png') no-repeat transparent;
    float: left;
    width: 347px;
    height: 107px;
    padding-top: 5px;
    padding-left: 9px;
}
.lead_onlinequotrow {
    clear: both;
    float: left;
    width: 323px;
    font-size: 13px;
    color: #262626;
}
.lead_quotedate {
    float: left;
    margin-top: 5px;
    width: 46px;
}
.lead_quoteqty {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 24px;
}
.lead_quoteitem {
    float: left;
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
}
.lead_quoteseparat {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 13px;
}
.lead_quoteprofnum {
    float: left;
    margin-top: 5px;
    width: 56px;
    color: #0000FF;
    cursor: pointer;
}
.lead_proofartdata {
    float: left;
    height: 23px !important;
    padding-top: 3px;
    text-align: center;
    width: 30px;
}
.lead_profapprove {
    float:left;
    width: 19px;
}
.lead_profapprove.proofed {
    cursor: pointer;
}
.lead_profapprove img {
    width: 100%;
}
.lead_quoteprice {
    float: left;
    width: 56px;
}
.lead_onlineproofsarea {
    /* margin-top: -176px; */
    width: 429px;
}
.lead-onlineprofcontent {
    background: #9a9a9a; /* url("/img/leads/onlineproofs_bg.png") no-repeat scroll 0 0 transparent; */
    border-radius: 7px;
    float: left;
    height: 107px;
    overflow-y: auto;
    padding-left: 5px;
    padding-top: 5px;
    width: 421px;
}
.lead-onlineprofcontent.relieverstab {
    background: #f1f1f1;
    border: 1px solid #808080;
}
.lead_onlineproofrow {
    font-size: 12px;
    color: #262626;
}
.lead_proofitem {
    float: left;
    margin-right: 6px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 89px;
}
.lead_duplicate {
    float: left;
    width: 126px;
    color: #c1bbbb;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    margin-left: -27px;
}
.savelead {
    float: right;
    background: url(/img/leads/save_lead_button.png) no-repeat;
    height: 36px;
    width: 114px;
    cursor: pointer;
}
table.historytable {
    border: none;
    float: left;
    width: 208px;
}
td.historydat_head {
    background-color: #FFDBCA;
    color: #1E1E1E;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding-left: 8px;
    height: 16px;
    line-height: 16px;
}
td.historydat_msg {
    color: #1E1E1E;
    font-size: 11px;
    font-weight: normal;
    text-indent: 20px;
}
img.leadcalendbtn:hover {
    cursor: pointer;
}
/* Add Lead replic view */
.leadreplicaddarea {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    clear: both;
    color: #000000;
    float: left;
    font-size: 14px;
    padding: 12px;
    width: 536px;
}
.leadreplicaddtitle {
    border-bottom: 1px solid #000000;
    clear: both;
    float: left;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
}
.leadreplicadddata {
    clear: both;
    float: left;
    margin-bottom: 12px;
    width: 100%;
}
.leadreplicadddatarow {
    clear: both;
    float: left;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 100%;
}
.leadreplicadddatarow span {
    margin-left: 10px;
}
.leadreplicadddatasave {
    clear: both;
    cursor: pointer;
    float: right;
    margin-right: 15px;
    width: 90px;
}
/* Attachments */
.lead_attachsarea {
    width: 162px;
}
.lead_popup_attachs {
    padding-left: 7px;
    width: 153px;
    margin-top: 26px;
}
.leadattachrow {
    float: left;
    width: 100%;
}
.leadattachrow div {
    float: left;
}
.lead_attach_view {
    cursor: pointer;
    width: 18px;
}
.lead_attach_srcname {
    width: 106px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lead_attach_remove {
    cursor: pointer;
    width: 18px;
}
/* Upload*/
.btn-addfile {
    float: right!important;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    height: 20px!important;
    background: #5b5b5b!important;
    border-radius: 7px;
    padding: 0 7px 0 9px;
    cursor: pointer;
    width: auto!important;
    margin-top: 5px;
}
.leadquotequestions {
    max-width: 700px;
    margin-top: -162px;
    margin-left: 12px;
}
