.leadquotesdataview {
    margin-top: 15px;
    margin-left: 10px;
    width: 670px;
    font-size: 13px;
}
.leadquotesdataview .pagetitle {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 12px;
}
.leadquotesdataview .searchbox {
    float: right;
    height: 28px;
    line-height: 28px;
    width: 26px;
}
.leadquotesdataview .searchbox-input {
    float: right;
    height: 28px;
    line-height: 28px;
    width: 178px;
}
.leadquotesdataview .searchbox-input input {
    padding-left: 5px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    width: 174px;
}
.leadquotesdataview .leadquotessearchall {
    background: url(/img/leads/searchall_btn.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 27px;
    margin-left: 3px;
    width: 87px;
}
.leadquotesdataview .leadquotessearchclear {
    background: url(/img/leads/clean_btn.png) no-repeat transparent;
    cursor: pointer;
    float: right;
    height: 27px;
    width: 51px;
}
.leadquotesdataview .quotereplicas {
    width: 180px;
    margin-bottom: 7px;
}
.leadquotesdataview .quotereplicas select {
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    width: 174px;
}
.leadquotesdataview .leadqutespaginator {
    float: right;
}
.leadquotes_head div {
    background: #ff73ed;
    text-align: center;
    height: 23px;
    line-height: 23px;
    font-size: 13px;
}
.leadquotes_head .leadquote_date {
    width: 53px;
}
.leadquotes_head .leadquote_number {
    width: 77px;
}
.leadquotes_head .leadquote_customer {
    width: 145px;
}
.leadquotes_head .leadquote_qty {
    width: 55px;
}
.leadquotes_head .leadquote_item {
    width: 162px;
}
.leadquotes_head .leadquote_revenue {
    width: 64px;
}
.leadquotes_head .leadquote_replica {
    width: 60px;
}
.leadquotes_head .leadquote_pdf {
    width: 44px;
}
.leadquote_tabledat {
    max-height: 536px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    width: 660px;
/*    overflow: hidden; */
    margin-bottom: 12px;
}
.leadquote_tabledat .sp-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.leadquote_tabledat .sp-scrollbar .sp-thumb {
    background-color: #aaa;
    transition: height 0.2s ease-in-out;
}
.leadquote_tabledat .sp-scrollbar.active .sp-thumb {
    background-color: #c1c1c1;
}

.leadquote_tabledat .datarow div {
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 12px;
}
.leadquote_tabledat .datarow .leadquote_date {
    border-right: 1px solid #000000;
    width: 53px;
}
.leadquote_tabledat .datarow .leadquote_number {
    border-right: 2px solid #000000;
    padding-top: 1.5px;
    width: 77px;
}
.leadquote_tabledat .datarow .leadquote_number > .leadquote_numberbox {
    width: 68px;
    height: 19px;
    line-height: 15px;
    font-size: 11px;
    font-weight: 600;
    border: 2px solid #b8b8b8;
    text-align: center;
    float: unset;
    margin: 0 auto;
    color: #0000d8;
    cursor: pointer;
    background: #d4d4d4;
}
.leadquote_tabledat .datarow .leadquote_number > .leadquote_numberbox.orderview {
    background: #1e1efc;
    color: #FFFFFF;
}
.leadquote_tabledat .datarow .leadquote_number > .leadquote_numberbox:hover {
    background: #ff73ed;
    color: #FFFFFF;
}
.leadquote_tabledat .datarow .leadquote_customer {
    border-right: 1px solid #000000;
    width: 145px;
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leadquote_tabledat .datarow .leadquote_qty {
    border-right: 1px solid #000000;
    width: 55px;
}
.leadquote_tabledat .datarow .leadquote_item {
    border-right: 1px solid #000000;
    width: 162px;
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leadquote_tabledat .datarow .leadquote_revenue {
    border-right: 1px solid #000000;
    width: 64px;
}
.leadquote_tabledat .datarow .leadquote_replica {
    border-right: 1px solid #000000;
    width: 60px;
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.leadquote_tabledat .datarow .leadquote_pdf {
    width: 33px;
    padding-top: 2px;
    border-right: 1px solid #000000;
}
.leadquote_tabledat .datarow .leadquote_pdf.extended {
    width: 42px;
}
.leadquote_tabledat .datarow .leadquote_pdf > .leadquote_pdflnk {
    float: unset;
    margin: 0 auto;
    width: 23px;
    height: 16px;
    text-align: center;
    border: 2px solid #b8b8b8;
    line-height: 12px;
    color: #0000d8;
    cursor: pointer;
}
.leadquote_tabledat .datarow .leadquote_pdf > .leadquote_pdflnk:hover {
    background: #ff73ed;
    color: #FFFFFF;
}

/* Scrollbar */
.leadquote_tabledat .sp-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.leadquote_tabledat .sp-scrollbar .sp-thumb {
    background-color: #aaa;
    transition: height 0.2s ease-in-out;
}
.leadquote_tabledat .sp-scrollbar.active .sp-thumb {
    background-color: #c1c1c1;
}
/* Scrollbar end */