.leads_content {
    clear: both;
    width: 1590px;
    margin-top: 10px;
    margin-left: 7px;
}
.leads_content_left {
    width: 482px;
    margin-right: 94px;
}
.newunassign_header {
    background: #d572fe;
    border: 1px solid #434343;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    padding-left: 8px;
    margin-bottom: 20px;
    width: 100%;
    height: 38px;
}
.newunassign_taskheader {
    background: #b404fd;
    border: 1px solid #434343;
    border-radius: 5px 5px 0 0;
    height: 25px;
    width: 100%;
}
.newunassign_taskheader.emptycontent {
    opacity: 0.25;
}
.newunassign_tasks_label {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    line-height: 25px;
    margin-left: 8px;
}
.newunassign_tasks_total {
    color: #ffffff;
    float: right!important;
    font-size: 12px;
    font-style: italic;
    line-height: 25px;
    margin-right: 10px;
}
.newunassign_tasksubheader {
    background: #949494;
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    color: #ffffff;
    width: 100%;
}
.newunassign_tasksubheader.emptycontent {
    opacity: 0.25;
}
.newunassign_tasksubheader div {
    color: #ffffff;
    line-height: 23px;
    height: 23px;
    font-size: 11px;
    text-align: center;
}
.newunassign_date {
    width: 58px;
}
.sbcustomform_customer {
    width: 156px;
}
.sbcustomform_qty {
    width: 45px;
}
.sbcustomform_item {
    width: 219px;
}
.newunassign_tasktable {
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    border-bottom: 1px solid #434343;
    margin-bottom: 20px;
    width: 100%;
}
.newunassign_tasktable.emptycontent {
    opacity: 0.25;
}
.newunassign_tasktable .datarow div {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
}
.newunassign_emptydata {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #333333;
    opacity: 0.75;
}
.webquestion_email {
    width: 156px;
}
.webquestion_webpage {
    width: 64px;
}
.webquestion_message {
    width: 200px;
}
.onlinequotes_customer {
    width: 156px;
}
.onlinequotes_qty {
    width: 45px;
}
.onlinequotes_item {
    width: 219px;
}
.proofrequests_customer {
    width: 156px;
}
.proofrequests_qty {
    width: 45px;
}
.proofrequests_item {
    width: 219px;
}
/* Reminder */
.repeatremandheader {
    background: #2ef8b8;
    border-left: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-radius: 5px 5px 0 0;
    height: 32px;
    width: 100%;
}
.repeatremandheader.emptycontent {
    opacity: 0.25;
}
.repeatremandheader div {
    line-height: 32px;
}
.repeatremand_label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
}
.repeatremand_filter {
    float: right!important;
    color: #333333;
    margin-right: 10px;
}
.repeatremand_filter_check {
    font-size: 14px;
    margin-right: 4px;
}
.repeatremand_filter_label {
    font-size: 11px;
}

/* Right part */
.leads_content_right {
    width: 1005px;
    border-right: 1px dotted #000000;
}