.leads_content {
    clear: both;
    width: 1590px;
    margin-top: 10px;
    margin-left: 7px;
}
.leads_content_left {
    width: 482px;
    margin-right: 94px;
}
.newunassign_header {
    background: #d572fe;
    border: 1px solid #434343;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    padding-left: 8px;
    margin-bottom: 20px;
    width: 100%;
}
.newunassign_taskheader {
    background: #b404fd;
    border: 1px solid #434343;
    border-radius: 5px 5px 0 0;
    height: 25px;
    width: 100%;
}
.newunassign_taskheader.emptycontent {
    opacity: 0.25;
}
.newunassign_tasks_label {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    line-height: 25px;
    margin-left: 8px;
}
.newunassign_tasks_total {
    color: #ffffff;
    float: right!important;
    font-size: 12px;
    font-style: italic;
    line-height: 25px;
    margin-right: 10px;
}
.newunassign_tasksubheader {
    background: #949494;
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    color: #ffffff;
    width: 100%;
}
.newunassign_tasksubheader.emptycontent {
    opacity: 0.25;
}
.newunassign_tasksubheader div {
    color: #ffffff;
    line-height: 23px;
    height: 23px;
    font-size: 11px;
    text-align: center;
}
.newunassign_date {
    width: 58px;
}
.sbcustomform_customer {
    width: 156px;
}
.sbcustomform_qty {
    width: 45px;
}
.sbcustomform_item {
    width: 219px;
}
.newunassign_tasktable {
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    border-bottom: 1px solid #434343;
    margin-bottom: 20px;
    max-height: 1050px;
    width: 100%;
}
.newunassign_tasktable.emptycontent {
    opacity: 0.25;
}
.newunassign_tasktable .datarow.current_row {
    background: #e3e1e1;
}
.newunassign_tasktable .datarow div {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    text-align: left;
}
.itemdetailsballonbox {
    font-size: 13px;
    max-width: 400px;
}
/* Custom Data table */
.newunassign_date_dat {
    background: #b404fd;
    color: #ffffff;
    border-right: 1px solid #000000;
    text-align: center!important;
    width: 58px;
}
.sbcustomform_customer_dat {
    border-right: 1px solid ;
    padding-left: 4px;
    width: 156px;
}
.sbcustomform_qty_dat {
    border-right: 1px solid #000000;
    width: 45px;
    text-align: center!important;
}
.sbcustomform_item_dat {
    padding-left: 4px;
    font-weight: 600;
    width: 219px;
}
.newunassign_emptydata {
    width: 100%;
    text-align: center!important;
    font-size: 12px;
    color: #333333;
    opacity: 0.75;
}
/* Web Questions */
.webquestion_email {
    width: 156px;
}
.webquestion_webpage {
    width: 64px;
}
.webquestion_message {
    width: 200px;
}
/*Web question table */
.webquestion_email_dat {
    padding-left: 4px;
    color: #0500fe;
    cursor: pointer;
    width: 136px;
}
.webquestion_phone_dat {
    width: 20px;
    text-align: center!important;
    border-right: 1px solid #000000;
    font-size: 16px;
}
.webquestion_webpage_dat {
    padding: 0 4px;
    width: 64px;
    text-align: center!important;
    border-right: 1px solid #000000;
}
.webquestion_message_dat {
    padding-left: 4px;
    width: 200px;
}
/* Online Quotes */
.onlinequotes_customer {
    width: 156px;
}
.onlinequotes_qty {
    width: 45px;
}
.onlinequotes_item {
    width: 219px;
}
/* Online Quotes table */
.onlinequotes_customer_dat {
    padding-left: 4px;
    width: 156px;
    border-right: 1px solid #000000;
}
.onlinequotes_qty_dat {
    width: 45px;
    text-align: center!important;
    border-right: 1px solid #000000;
}
.onlinequotes_item_dat {
    padding-left: 4px;
    width: 219px;
}
/* Proof request */
.proofrequests_customer {
    width: 156px;
}
.proofrequests_qty {
    width: 45px;
}
.proofrequests_item {
    width: 219px;
}
/* Proof request table */
.proofrequests_customer_dat {
    border-right: 1px solid #000000;
    padding-left: 4px;
    width: 156px;
}
.proofrequests_qty_dat {
    border-right: 1px solid #000000;
    text-align: center!important;
    width: 45px;
}
.proofrequests_item_dat {
    padding-left: 4px;
    width: 219px;
}
/* Reminder */
.repeatremandheader {
    background: #2ef8b8;
    border-left: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-radius: 5px 5px 0 0;
    height: 32px;
    width: 100%;
}
.repeatremandheader.emptycontent {
    opacity: 0.25;
}
.repeatremandheader div {
    line-height: 32px;
}
.repeatremand_label {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}
.repeatremand_filter {
    float: right!important;
    color: #333333;
    margin-right: 10px;
}
.repeatremand_filter_check {
    font-size: 14px;
    margin-right: 4px;
}
.repeatremand_filter_label {
    font-size: 11px;
}
.repeatremand_subheader {
    background: #949494;
    border: 1px solid #000000;
    color: #ffffff;
    height: 23px;
    width: 100%;
}
.repeatremand_subheader div {
    line-height: 23px;
    font-size: 11px;
    text-align: center;
}
.repeatremand_subheader.emptycontent {
    opacity: 0.25;
}
.repeatremand_hide {
    width: 29px;
}
.repeatremand_date {
    width: 42px;
}
.repeatremand_order {
    width: 45px;
}
.repeatremand_customer {
    width: 138px;
}
.repeatremand_qty {
    width: 50px;
}
.repeatremand_item {
    width: 174px;
}
/* Reminder Table data */
.remindermonth {
    width: 100%;
    background: #2ef8b8;
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    padding-left: 13px;
}
.repeatremand_hide_dat {
    border-right: 1px solid #000000;
    font-size: 16px;
    text-align: center!important;
    cursor: pointer;
    width: 29px;
}
.repeatremand_date_dat {
    border-right: 1px solid #000000;
    text-align: center!important;
    width: 42px;
}
.repeatremand_order_dat {
    border-right: 1px solid #000000;
    color: #0500fe;
    cursor: pointer;
    text-align: center!important;
    width: 45px;
}
.repeatremand_customer_dat {
    border-right: 1px solid #000000;
    padding-left: 5px;
    width: 138px;
}
.repeatremand_qty_dat {
    border-right: 1px solid #000000;
    text-align: center!important;
    width: 50px;
}
.repeatremand_item_dat {
    padding-left: 5px;
    width: 174px;
}
.repeatremand_item_dat.customitemdat {
    font-weight: 600;
}
/* Right part */
.leads_content_right {
    width: 1005px;
}
.myleads_header {
    background: #4593fe;
    border-right: 1px solid #434343;
    border-radius: 7px 7px 0 0;
    height: 38px;
    margin-bottom: 20px;
    padding-left: 8px;
    width: 100%;
}
.myleads_header div {
    line-height: 38px;
    color: #ffffff;
}
.myleads_label {
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
}
.leads_selectreplarea {
    /* margin-left: 203px; */
    margin-left: 20px;
}
.leads_selectreplarea label {
    height: 27px;
    line-height: 27px;
    font-size: 11px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 0;
}
.leads_selectreplarea select {
    height: 22px;
    line-height: 22px;
    width: 122px;
    margin-top: 2px;
    font-size: 13px;
    color: #000;
}
.lead_datasearch {
    margin-left: 30px;
}
.lead_datasearch div {
}
.lead_datasearch img {
    float: left;
    margin-top: 11px;
    width: 20px;
}
input.lead_searchinput {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid;
    float: left;
    font-size: 12px;
    height: 21px;
    margin-left: 5px;
    margin-top: 7px;
    width: 175px;
    margin-right: 7px;
}
.leadgreybtn {
    background: #c6c6bd;
    background: linear-gradient(to top, #a5a5a5, #e0e0de );
    cursor: pointer;
    height: 21px;
    line-height: 21px!important;
    font-size: 11px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 7px;
    margin-right: 5px;
    margin-top: 7px;
    color: #434343!important;
}
.leads_add {
    background: #0504b7;
    border-radius: 5px;
    cursor: pointer;
    height: 27px;
    line-height: 27px !important;
    float: right !important;
    margin-right: 9px;
    font-size: 13px;
    /* color: #fff; */
    font-weight: bold;
    text-align: center;
    width: 76px;
    margin-top: 6px;
}
/* Leads sections */
.leads_section_area {
    width: 482px;
    margin-right: 40px;
}
.leads_section_area.lastsection {
    margin-right: 0!important;
}
.leaddata_header {
    width: 100%;
    height: 32px;
    border-left: 1px solid #9b9b9b;
    border-top: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.leaddata_header.leads {
    background: #d3d3d3;
}
.leaddata_header.priority {
    background: #fff77e;
}
.leaddata_header.ordermissinfo {
    background: #d3d3d3;
}
.leaddata_header div {
    line-height: 32px;
}
.leaddata_header .leaddata_label {
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
}
.leaddata_header .leadsdata_sorting_area {
    float: right!important;
    margin-right: 14px;
}
.leaddata_header .leadsdata_sorting {
    margin-left: 11px;
}
.leaddata_header .leadsort_updatedate, .leaddata_header .leadsort_createdate {
    width: 14px;
    margin-right: 6px;
}
.leaddata_header .leadsort_updatedate i, .leaddata_header .leadsort_createdate i {
    font-size: 14px;
    cursor: pointer;
}
.leaddata_header .leadsort_label {
    font-size: 12px;
}
.leaddata_subheader {
    width: 100%;
    background: #949494;
    color: #fff;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}
/* Leads Table Header */
.leaddata_subheader div {
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    text-align: center;
}
.leadnumber_head {
    width: 46px;
}
.leadcustomer_head {
    width: 165px;
}
.leadqty_head {
    width: 46px;
}
.leaditem_head {
    width: 223px;
}
/* Orders Table Header */
.ordernumber_head {
    width: 46px;
}
.ordercustomer_head {
    width: 203px;
}
.ordershipaddr_head {
    width: 53px;
}
.orderpayment_head {
    width: 53px;
}
.orderart_head {
    width: 54px;
}
.orderapproval_head {
    width: 68px;
}
/* Table Body */
.leaddataarea {
    width: 100%;
    border: 1px solid #000000;
    max-height: 1059px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.leaddataarea.priority {
    max-height: 422px;
    margin-bottom: 5px;
}
.leaddataarea .dateout {
    background: #000000;
    color: #ffffff;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}
.leaddataarea.leads .leadsrow.current_row {
    background: #e3e1e1;
}
.leaddataarea.priority .leadsrow.current_row {
    background: #fff5da;
}
.leaddataarea .datarow div {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.datarow.closed {
    background: #90D5FF;
    color: #000000;
}
.datarow.dead {
    opacity: 0.3;
}
.leaddataarea .leadnum {
    width: 46px;
    border-right: 1px solid #000000;
    font-size: 11px!important;
}
.leaddataarea .leadnum.leadpriority {
    background: #fff77e;
}
.leaddataarea .leadcustomer {
    border-right: 1px solid #000000;
    width: 165px;
    text-align: left!important;
    padding-left: 5px;
    padding-right: 5px;
}
.leaddataarea .leadqty {
    width: 46px;
    border-right: 1px solid #000000;
    padding: 0 3px;
    font-size: 13px!important;
}
.leaddataarea .leaditem {
    /* max-width: 160px; */
    width: 223px;
    text-align: left!important;
    padding-left: 5px;
    padding-right: 5px;
    /* border-right: 1px solid #000000; */
}
.leaddataarea .leaditem.custom {
    font-weight: 600;
}
.leaddataarea .leadreplica {
    width: 27px;
}
/* Orders Miss Info */
.ordermissinfoarea {
    width: 100%;
    border: 1px solid #000000;
    max-height: 1059px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.ordermissinfoarea .datarow div {
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
}
.missordernumber_dat {
    border-right: 1px solid #000000;
    color: #0500fe;
    cursor: pointer;
    width: 46px;
}
.missordercustomer_dat {
    border-right: 1px solid #000000;
    padding-left: 5px;
    text-align: left!important;
    width: 203px;
}
.missordersdatarow .missing {
    background: #fb0404;
    color: #ffffff;
    font-size: 11px!important;
}
.missordershipaddr_dat {
    border-right: 1px solid #000000;
    width: 53px;
}
.missorderpayment_dat {
    border-right: 1px solid #000000;
    width: 53px;
}
.missorderart_dat {
    border-right: 1px solid #000000;
    width: 54px;
}
.missorderapproval_dat {
    font-size: 9px!important;
    width: 68px;
}
.missorderapproval_dat.missing {
    font-size: 9px!important;
}
.missordershipaddr_dat img, .missorderpayment_dat img, .missorderart_dat img {
    height: auto;
    width: 16px;
}
.paginationview {
    float: right!important;
    min-height: 22px;
}
