.itemlistview  {
    padding-top: 15px;
    padding-left: 15px;
}
.itemlistview input, .itemlistview select {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
}
.itemlistview .content-row {
    clear: both;
    width: 100%;
    max-width: 1300px;
}
.itemlistview .pageheader {
    height: 23px;
    margin-bottom: 17px;
    width: 1296px;
}
.itemlistview .pageheader > div {
    height: 25px;
    line-height: 25px;
}
.itemlistview .pagetitle {
    font-size: 18px;
    font-weight: 600;
    /*width: 337px;*/
}
.pageitemstatistic {
    margin-left: 15px;
    border: 1px solid #000000;
    height: 28px!important;
}
.pageitemstatistic .totalactiveitems {
    width: 106px;
    text-align: center;
    border-right: 1px solid #000000;
}
.pageitemstatistic .totalactiveitems .totalactiveitemslabel {
    width: 49px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-top: 2px;
}
.pageitemstatistic .totalactiveitems .totalactiveitemsvalue {
    width: 56px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
.pageitemstatistic .totalcompleteditems {
    padding-left: 5px;
}
.pageitemstatistic .totalcompleteditems .totalcompleteditemslabel {
    width: 59px;
    font-size: 10.5px;
    line-height: 13px;
}
.pageitemstatistic .totalcompleteditems .totalcompleteditemsvalue {
    float: right!important;
    padding-right: 4px;
    font-size: 10.5px;
    line-height: 13px;
}
.pageheadersearcharea {
    float: right!important;
}
.itemlistview .pageheadfilter {
    margin-right: 6px;
}
.itemlistview select.itemcategoryfilter {
    width: 204px;
    padding-left: 4px;
    height: 25px;
}
.itemlistview input.itemnamesearch {
    height: 25px;
    padding-left: 8px;
    width: 253px;
}
.itemlistview .itemsearchbtn {
    /* background: #FF0000; */
    background: #a5a5a5;
    color: #ffffff;
    font-size: 14px;
    float: right!important;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.itemlistview .itemclearsearch {
    /* background: #FF0000; */
    background: #a5a5a5;
    color: #ffffff;
    text-align: center;
    /* opacity: 0.5; */
    width: 50px;
    font-size: 14px;
    font-weight: 600;
    /* cursor: auto; */
    cursor: pointer;
}
.itemlistview .itemclearsearch.active {
    opacity: 1;
    cursor: pointer;
}
.itemlistview .totalitems {
    margin-bottom: 5px;
    float: right;
    font-style: italic;
    padding-right: 18px;
}
.itemlistview .pageheadcategories {
    background: #b5b5b5;
    border: 1px solid #767676;
    border-radius: 5px;
    clear: both;
    /* height: 48px; */
    margin-bottom: 17px;
    max-width: 1294px;
    padding-left: 10px;
    padding-top: 12px;
}
.itemlistview .pageheadcategories > .content-row {
    margin-bottom: 8px;
}
.itemlistview .btcategorybtn {
    background: #ffffff;
    border: 1px solid #858585;
    color: #000000;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 23px;
    line-height: 23px;
    margin-right: 12px;
    text-align: center;
    width: 116px;
}
.itemlistview .btcategorybtn > span {
    font-size: 10px;
}
.itemlistview .btcategorybtn.separate {
    width: 209px; /*192px; */
}
.itemlistview .btcategorybtn.separatefirst {
    width: 209px; /* 192px; */
    margin-left: 70px; /* 104px;*/
}
.itemlistview .btcategorybtn.active {
    background: #00009d;
    color: #ffffff;
}
.itemlistview .btcategorybtn:hover {
    background: #5f5fff;
    color: #ffffff;
}
.itemlistview .btcategorybtn.locked {
    color: #858585;
    background: #c8c8c8;
    cursor: default;
}

.itemlistview .datatablearea {
    background: #00009d;
    padding: 10px;
    width: 1296px;
    margin-bottom: 9px;
}
.itemlistview .tabledatatotals {
    /*width: 530px;*/
    margin-left: 10px;
    width: 238px;
    margin-right: 14px;
}
.itemlistview .categoryactivestatistics {
    text-align: center;
    border-right: 1px solid #000000;
    background: #9291c5;
    color: #000000;
    margin-top: -2px;
    margin-bottom: 10px;
    width: 237px;
}
.itemlistview .categoryactivestatistics .totalactiveitems {
    width: 106px;
    text-align: center;
    border-right: 1px solid #000000;
}
.itemlistview .categoryactivestatistics .totalactiveitems .totalactiveitemslabel {
    width: 49px;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-top: 2px;
}
.itemlistview .categoryactivestatistics .totalactiveitems .totalactiveitemsvalue {
    width: 56px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
.itemlistview .categoryactivestatistics .totalcompleteditems {
    padding-left: 6px;
}
.itemlistview .categoryactivestatistics .totalcompleteditems .totalcompleteditemslabel {
    width: 59px;
    font-size: 10.5px;
    line-height: 13px;
}
.itemlistview .categoryactivestatistics .totalcompleteditems .totalcompleteditemsvalue {
    float: right!important;
    padding-right: 4px;
    font-size: 10.5px;
    line-height: 13px;
}
.itemlistview .tabledatatitle {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
}
.itemlistview .tabledatataotalvalue {
    clear: both;
    color: #ffffff;
    font-size: 13px;
    font-style: italic;
    line-height: 14px;
    float: right;
    margin-top: 8px;
}
.itemlistview .tabledatafilter {
    margin-right: 7px;
}
.itemlistview .tabledatafilter:last-child {
    margin-right: 0px;
}
.itemlistview .tabledatafilter select {
    height: 19px;
    padding-left: 2px;
    font-size: 13px;
}
/*.itemlistview .itemvendorfilter,*/
.itemlistview .itemstatusfilter, .itemlistview .itemmisinfofilter {
    width: 115px;
}
/* Vendors filter */
.tabledatavendorsview {
    width: 662px;
    border: 1px solid #000000;
    height: 84px;
}
.vendorcategory_title {
    height: 29px;
    line-height: 29px;
    margin-left: 7px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    margin-right: 10px;
}
.vendorcategory_showall {
    height: 19px;
    line-height: 17px;
    margin-top: 4px;
    border: 1px solid #4444ce;
    color: #4444ce;
    font-size: 12px;
    font-weight: 600;
    padding: 0 6px;
    border-radius: 5px;
    cursor: pointer;
}
.vendorcategory_showall.active {
    border: 1px solid #000000;
    background: #8888ff;
    color: #000000;
}
.vendorcategory_tabledat {
    margin-left: 7px;
    width: 646px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 48px;
}
.vendorcategory_vendordat {
    min-width: 100px;
    border: 1px solid #4444ce;
    color: #4444ce;
    font-size: 11px;
    font-weight: 600;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    margin-bottom: 7px;
    margin-right: 5px;
    height: 19px;
    line-height: 18px;
}
.vendorcategory_vendordat.active {
    border: 1px solid #000000;
    color: #000000;
    background: #8888ff;
}
.itemlistview .tabledataexecute {
    float: right!important;
    margin-right: 4px;
    width: 156px; /* 195px; */
}
.itemlistview .tabledataexport {
    color: #ffffff;
    cursor: pointer;
    float: right;
    font-size: 14px;
}
.itemlistview .tabledataexport i {
    margin-right: 7px;
}
.itemlistview .tabledataheader {
    background: #000040;
    clear: both;
    /* width: 1249px;*/
}
.itemlistview .tabledataheader > div {
    height: 29px;
    line-height: 29px;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}
.itemlistview .tabledataheader .sortable {
    cursor: pointer;
}
.itemlistview .tabledataheader .ascsort {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #FFFFFF;
    float: right;
    position: relative;
    right: 8px;
    top: 8px;
}
.itemlistview .tabledataheader .descsort {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #FFFFFF;
    float: right;
    position: relative;
    right: 8px;
    top: 8px;
}
.itemlistview .tabledataheader-tabs {
    margin-top: 5px;
}
.itemlistview .tabledataheader-tabs .tabledataheader-tab {
    height: 21px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    position: relative;
    cursor: pointer;
    padding: 3px 10px 0 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    background: #00246d;
    margin-right: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.itemlistview .tabledataheader-tabs .tabledataheader-tab.active {
    background: #000040;
    height: 23px;
    margin-top: -2px;
}
.itemlistview .tabledataheader_profitmap {
    display: none;
    height: 20px;
    line-height: 20px;
    float: right !important;
    margin-top: 5px;
}
.itemlistview .tabledataheader_profitmap .profitmapview {
    width: 12px;
    height: 12px;
    border: 1px solid #626262;
    margin-top: 4px;
}
.itemlistview .tabledataheader_profitmap .profitmapview.greenhight {
    background: #17ef00;
}
.itemlistview .tabledataheader_profitmap .profitmapview.green {
    background: #00ef87;
}
.itemlistview .tabledataheader_profitmap .profitmapview.white {
    background: #ffffff;
}
.itemlistview .tabledataheader_profitmap .profitmapview.orange {
    background: #ffa200;
}
.itemlistview .tabledataheader_profitmap .profitmapview.red {
    background: #ff0000;
}
.itemlistview .tabledataheader_profitmap .profitmapview.maroon {
    background: #500000;
}
.itemlistview .tabledataheader_profitmap .profitmapview.black {
    background: #000000;
}
.itemlistview .tabledataheader_profitmap .profitmapview.purple {
    background: #f606ff;
}
.itemlistview .tabledataheader_profitmap .profitmaplegend {
    font-size: 14px;
    color: #ffffff;
    margin-left: 4px;
    margin-right: 12px;
}
.itemlistview .tabledataheader .numberpp {
    width: 65px;
}
.itemlistview .tabledataheader .numberpp img {
    cursor: pointer;
}
.itemlistview .tabledataheader .status {
    width: 48px;
}
.itemlistview .tabledataheader .edit {
    width: 43px;
}
.itemlistview .tabledataheader .subcategory {
    width: 156px;
}
.itemlistview .tabledataheader .itemnumber {
    width: 82px;
}
.itemlistview .tabledataheader .itemname {
    width: 355px;
}
.itemlistview .tabledataheader .itemnameprice {
    width: 318px;
}
.itemlistview .tabledataheader .suplier {
    width: 140px;
}
.itemlistview .tabledataheader .missinfo {
    width: 384px;
}
.itemlistview .tabledataheader .itemprice {
    width: 44px;
}
.itemlistview .tabledataheader .lastupdate {
    width: 133px;
}
.itemlistview .tabledataarea {
    clear: both;
    width: 1271px;
    /* overflow-y: auto; */
    max-height: 427px;
}
/* Scrollbar */
.itemlistview .tabledataarea .sp-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.itemlistview .tabledataarea .sp-scrollbar .sp-thumb {
    background-color: #aaa;
    transition: height 0.2s ease-in-out;
}
.itemlistview .tabledataarea .sp-scrollbar.active .sp-thumb {
    background-color: #c1c1c1;
}
.itemlistview .tabledataarea .tabrow {
    width: 100%;
    height: 25px;
}
.itemlistview .tabledataarea .tabrow.selected {
    background-color: #f0ff00!important;
}
.itemlistview .tabledataarea .tabrow.expand {
    width: 1271px;
}
.itemlistview .tabledataarea .tabrow div {
    color: #000000;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}
.itemlistview .tabledataarea .tabrow .dataview {
    border-right: 1px solid #000000;
    width: 30px;
}
.itemlistview .tabledataarea .tabrow .dataview i {
    cursor: pointer;
}
.itemlistview .tabledataarea .tabrow .numberpp {
    border-right: 1px solid #000000;
    width: 35px;
}
.itemlistview .tabledataarea .tabrow .status {
    border-right: 1px solid #000000;
    font-size: 12px;
    width: 48px;
}
.itemlistview .tabledataarea .tabrow div.inactive {
    color: #cccccc;
}
.itemlistview .tabledataarea .tabrow .btitemedit {
    border-right: 3px solid #000000;
    width: 42px;
}
.itemlistview .tabledataarea .tabrow .btitemedit i {
    cursor: pointer;
}
.itemlistview .tabledataarea .tabrow .subcategory {
    border-right: 3px solid #000000;
    font-size: 12px;
    width: 154px;
}
.itemlistview .tabledataarea .tabrow .itemnumber {
    border-right: 1px solid #000000;
    width: 82px;
}
.itemlistview .tabledataarea .tabrow .itemname {
    border-right: 3px solid #000000;
    text-align: left;
    width: 354px;
    padding-left: 5px;
}
.itemlistview .tabledataarea .tabrow .itemnameprice {
    border-right: 3px solid #000000;
    text-align: left;
    width: 318px;
    padding-left: 5px;
}
.itemlistview .tabledataarea .tabrow .suplier {
    border-right: 1px solid #000000;
    padding-left: 5px;
    text-align: left;
    width: 140px;
}
.itemlistview .tabledataarea .tabrow .internal {
    font-weight: 600;
}
.itemlistview .tabledataarea .tabrow .missinfo {
    /* width: 362px; */
    width: 374px;
}
.itemlistview .tabledataarea .tabrow .missinfo.missing {
    padding-left: 5px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-align: left;
    /* color: #FF0000; */
}
.missing_info_details {
    background-color: #ff78f1;
    border: 1px solid #000;
    font-size: 9px!important;
    font-weight: 600;
    height: 18px!important;
    line-height: 16px!important;
    padding: 0 3px;
    margin-top: 3px;
    margin-right: 3px;
    display: inline-block;
}
.missing_info_details.unvisible {
    visibility: hidden;
}
.itemlistview .tabledataarea .tabrow .emptydataview {
    color: #FF0000;
    width: 100%;
    text-align: center;
}
.itemlistview .tabledataarea .tabrow .itemprice {
    width: 44px;
    border-right: 1px solid #000000;
}
.itemlistview .tabledataarea .tabrow .itemprice.greenhight {
    background: #17ef00;
}
.itemlistview .tabledataarea .tabrow .itemprice.green {
    background: #00ef87;
}
.itemlistview .tabledataarea .tabrow .itemprice.white {
    background: #ffffff;
}
.itemlistview .tabledataarea .tabrow .itemprice.orange {
    background: #ffa200;
}
.itemlistview .tabledataarea .tabrow .itemprice.red {
    background: #ff0000;
    color: #ffffff!important;
}
.itemlistview .tabledataarea .tabrow .itemprice.maroon {
    background: #500000;
    color: #ffffff!important;
}
.itemlistview .tabledataarea .tabrow .itemprice.black {
    background: #000000;
    color: #ffffff!important;
}
.itemlistview .tabledataarea .tabrow .lastupdate {
    width: 133px;
    text-align: left;
    padding-left: 5px;
}
.itemlistview .tabledataarea .tabrow .lastupdate.needaction {
    background: #f606ff;
    color: #ffffff!important;
}
/* Paginator */
.tabledatapaginator {
    float: right!important;
    margin-top: 29px;
}
.itemlistview .pagination a {
    color: #ffffff!important;
}
/* Add new item */
.btitemnewaddarea {
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background: #d7d7d7;
    display: none;
    font-family: Helvetica;
    height: 210px;
    padding: 4px 7px 7px 13px;
    position: absolute;
    top: 244px;
    left: 277px;
    z-index: 120;
    width: 514px;
}
.btitemnewaddarea .pagetitleadd {
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    /* font-weight: 600; */
    font-family: Helvetica-Bold;
}
.btitemnewaddarea .canceladd {
    float: right!important;
    color: #ff0000;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.btitemnewaddarea .canceladd span {
    font-size: 13px;
    /* font-weight: bold; */
}
.btitemnewaddarea .canceladd i {
    font-size: 14px;
    margin-left: 7px;
}
.btitemnewaddarea .itemaddform {
    margin-top: 12px;
}
.btitemnewaddarea .itemaddform-label {
    height: 36px;
    line-height: 36px!important;
    font-size: 14px;
    /* font-weight: 600; */
    font-family: Helvetica-Bold;
    color: #000040;
    text-align: right;
    padding-right: 4px;
    width: 102px;
}
.btitemnewaddarea .itemaddform-value {
    height: 36px;
    line-height: 36px!important;
}
.btitemnewaddarea select.addnewitemoption {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    padding-left: 6px;
    width: 200px;
}
.btitemnewaddarea input.addnewiteminput {
    height: 28px;
    line-height: 28px;
    padding-left: 6px;
    font-size: 14px;
    /* font-weight: 600; */
    width: 380px;
    font-family: Helvetica-Bold!important;
}
.btitemnewaddarea .procedaddnewitem {
    background-color: #00009c;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    float: right!important;
    font-size: 14px;
    /* font-weight: 600; */
    height: 28px;
    line-height: 28px!important;
    padding: 0 11px;
    box-shadow: -0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin-right: 9px;
    margin-top: 11px;
    font-family: Helvetica-Bold!important;
}
.btitemnewsucategarea {
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background: #d7d7d7;
    display: none;
    font-family: Helvetica;
    height: 210px;
    padding: 4px 7px 7px 13px;
    position: absolute;
    top: 244px;
    left: 277px;
    z-index: 125;
    width: 514px;
}
.btitemnewsucategarea .pagetitleadd {
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    font-weight: 600;
}
.btitemnewsucategarea .cancelsubcateg {
    float: right!important;
    color: #ff0000;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.btitemnewsucategarea .cancelsubcateg span {
    font-size: 13px;
    /* font-weight: bold; */
}
.btitemnewsucategarea .cancelsubcateg i {
    font-size: 14px;
    margin-left: 7px;
}
.btitemnewsucategarea .subcategaddform {
    margin-top: 12px;
}
.btitemnewsucategarea .subcategaddform-label {
    height: 36px;
    line-height: 36px!important;
    font-size: 14px;
    font-weight: 600;
    color: #000040;
    text-align: right;
    padding-right: 4px;
    width: 136px;
}
.btitemnewsucategarea .subcategaddform-value {
    height: 36px;
    line-height: 36px!important;
}
.btitemnewsucategarea .subcategaddform-value span {
    font-size: 16px;
    margin-left: 4px;
}
.btitemnewsucategarea input.addnewsubcategoryinput {
    height: 28px;
    line-height: 28px;
    padding-left: 6px;
    font-size: 14px;
    /* font-weight: 600; */
    font-family: Helvetica-Bold!important;
}
.btitemnewsucategarea input.addnewsubcategoryinput.code {
    width: 33px;
    text-transform: uppercase;
}
.btitemnewsucategarea input.addnewsubcategoryinput.name {
    width: 345px;
}
.btitemnewsucategarea .procedaddnewsubcateg {
    background-color: #00009c;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    float: right!important;
    font-size: 14px;
    /* font-weight: 600; */
    height: 28px;
    line-height: 28px!important;
    padding: 0 11px;
    box-shadow: -0.4em 0.4em 5px rgba(122,122,122,0.5);
    margin-right: 9px;
    margin-top: 11px;
    font-family: Helvetica-Bold!important;
}
