.inventorydataview .pagetitle {
    font-weight: bold;
}
.invtypebutton {
    background: #07adad;
    border: 1px solid #000000;
    color: #ffffff;
    float: left;
    font-weight: 600;
    text-align: center;
}
.invtypebutton .oldvesionlabel {
    float: left;
    opacity: 0.6;
    position: relative;
    left: 47%;
    background-color: #b53535;
    width: 0.75rem;
    margin-top: 0px;
    height: 1.7rem;
    z-index: 100;
}
.invtypebutton.active {
    background: #097676;
}
.inventorydataview .inventfilterlabel {
    text-align: right;
}
.inventorydataview .inventfilterdata {
    float: left;
}
.totalinvent {
    border: 1.5px solid #000000;
}
.totalinventlabel {
    font-weight: 600;
    color: #727272;
}
.totalinventvalue {
    font-weight: 600;
    color: #000000;
    text-align: right;
}
.mastinvent_left_menu {
    width: 20.4%;
    float: left;
}
.mastinvent_left_section {
    width: 100%;
}
.mastinvent_left_section.active {
    background: #252525;
}
.mastinvent_left_sectiondata {
    background: #ebebeb;
    border: 1px solid #000000;
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
}
.inventsectionhead {
    color: #000000;
    font-weight: 600;
}
.inventsectionvalue {
    border: 1px solid #000000;
    background: #6e6e6e;
}
.inventsectionvalue_label {
    color: #ffffff;
    font-style: italic;
    float: left;
}
.inventsectionvalue_data {
    color: #32faff;
    font-weight: 600;
    float: left;
}
.mastinvent_left_sectiondata.active {
    background: #252525;
    border: none;
}
.mastinvent_left_sectiondata.active > .inventsectionhead {
    color: #ffffff;
}
.mastinvent_left_sectiondata.active > .inventsectionvalue {
    border: 1px solid #ffffff;
    background: #252525;
}
.mastinvent_databody {
    background: #252525;
    float: left;
    width: 79.6%;
}
.masterinventlegend {
    float: left;
}
.masterinventlegend > div {
    float: left;
}
.legendmapicon.severeval {
    color: #FF0000;
}
.legendmapicon.lowval {
    color: #ff9900;
}
.legendmaplabel {
    color: #ffffff;
}
.masterinventexport {
    float: right;
    color: #ffffff;
}
.masterinventtotals {
    font-weight: 600;
    color: #ffffff;
}
.masterinventtotals > div {
    float: left;
}
.masterinventtotals .inventtotalmaxshow {
    color: #8989ff;
}
.masterinventtablehead {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    float: left;
}
.masterinventtablehead > div {
    float: left;
}
.masterinventtablehead .addnewmasterinvent {
    width: 4.87%;
}
.addnewmasterinvbtn {
    background: #c9c9c9;
    color: #000000;
    cursor: pointer;
    width: 95%;
}
.masterinventtablehead .masterinventseq {
    width: 3.4%;
}
.masterinventtablehead .masterinventnumber {
    width: 8%;
}
.masterinventtablehead .masterinventdescrip {
    width: 25.85%;
}
.masterinventtablehead .masterinventpercent {
    width: 3.4%;
}
.masterinventtablehead .masterinventinstock {
    width: 6.8%;
}
.masterinventtablehead .masterinventreserv {
    width: 6.8%;
}
.masterinventtablehead .masterinventavailab {
    width: 6.8%;
}
.masterinventtablehead .masterinventunit {
    width: 2.9%;
}
.masterinventtablehead .masterinventonorder {
    width: 8.26%;
}
.masterinventtablehead .masterinventavgprice {
    width: 6.4%;
}
.masterinventtablehead .masterinventtotalval {
    width: 10.2%;
}
.masterinventtablehead .masterinventdetails {
    width: 6.32%;
}
.masterinventtablebody {
    background: #ffffff;
    color: #000000;
    width: 100%;
    float: left;
    overflow-y: visible;
    overflow-x: hidden;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.inventorydatarow {
    width: 100%;
    float: left;
}
.inventorydatarow > div {
    float: left;
    text-align: center;
}
.inventorydatarow.masteritem {
    background: #6e6e6e;
    color: #ffffff;
}
.inventorydatarow.masteritem > div {
    border-bottom: 1px solid #000000;
}
.inventorydatarow.masteritem .masterinventonorder {
    border-bottom: none;
}
.inventorydatarow .masterinventstatus {
    width: 4.87%;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventseq {
    width: 3.4%;
    font-weight: 600;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventnumber {
    width: 8%;
    font-weight: 600;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventdescrip {
    width: 25.85%;
    text-align: left;
    font-weight: 600;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventpercent {
    width: 3.4%;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventinstock {
    width: 6.8%;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventreserv {
    width: 6.8%;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventavailab {
    width: 6.8%;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventunit {
    width: 2.9%;
}
.inventorydatarow .masterinventonorder {
    width: 8.26%;
    color: #5d51ff;
    background: #252525;
}
.inventorydatarow .masterinventavgprice {
    width: 6.4%;
    text-align: right;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventtotalval {
    width: 11.2%;
    text-align: right;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventdetails {
    width: 5.32%;
    font-weight: 600;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .inventorydataview {
        max-width: 1160px;
    }
    .inventorydataview .pagetitle {
        height: 2.5rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .invtypebutton {
        border-radius: 0.4rem;
        font-size: 0.9375rem;
        height: 1.75rem;
        line-height: 1.7rem;
        margin-top: 0.7rem;
        margin-right: 0.5rem;
        width: 8.25rem;
    }
    .inventfilterlabel {
        font-size: 0.75rem;
    }
    .inventfilterdata {
        font-size: 0.8rem;
        height: 1.3rem;
    }
    .totalinvent {
        height: 1.8rem;
        width: 147%;
        margin-left: -5rem;
    }
    .totalinventlabel {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .totalinventvalue {
        font-size: 1rem;
        line-height: 1.8rem;
    }
    .mastinvent_left_section {
        padding: 0.75rem 0.75rem 0 0;
    }
    .inventsectionhead {
        font-size: 1rem;
    }
    .inventsectionvalue {
        height: 1.375rem;
    }
    .inventsectionvalue_label {
        font-size: 0.75rem;
        line-height: 1.375rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .inventsectionvalue_data {
        font-size: 0.9375rem;
        line-height: 1.375rem;
    }
    .mastinvent_databody {
        padding-left: 0.7rem;
        padding-right: 0.4rem;
    }
    .legendmapicon {
        padding-left: 0.7rem;
        font-size: 0.8rem;
    }
    .legendmaplabel {
        padding-left: 0.5rem;
        font-size: 0.75rem;
    }
    .masterinventexport {
        font-size: 0.875rem;
        padding-right: 0.7rem;
    }
    .masterinventexport i {
        padding-right: 0.4rem;
    }
    .masterinventtotals .inventtotalmaxshow {
        font-size: 0.6875rem;
        font-weight: normal;
    }
    .masterinventtotals {
        font-size: 0.875rem;
    }
    .masterinventtablehead > div {
        font-size: 0.8125rem;
        height: 1.6875rem;
        line-height: 1.6875rem;
        text-align: center;
    }
    .addnewmasterinvbtn {
        font-size: 0.75rem;
        height: 1.2rem;
        line-height: 1.2rem;
        border-radius: 0.6rem;
        margin-top: 0.2rem;
    }
    .masterinventtablebody {
        max-height: 64.5rem;
        margin-bottom: 0.5rem;
    }
    .inventorydatarow > div {
        height: 1.4375rem;
        line-height: 1.4375rem;
    }
    .inventorydatarow .masterinventstatus {
        font-size: 0.75rem;
        color: #cccccc;
    }
    .inventorydatarow .masterinventseq {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventnumber {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventdescrip {
        font-size: 0.875rem;
        padding-left: 0.3rem;
    }
    span.addmasterinventory {
        font-size: 0.875rem;
        float: right;
        padding-right: 0.3rem;
    }
    .inventorydatarow .masterinventpercent {
        font-size: 0.8125rem;
    }
    .inventorydatarow .masterinventinstock {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventreserv {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventavailab {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventunit {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventonorder {
        font-size: 0.875rem;
    }
    .inventorydatarow .masterinventavgprice {
        font-size: 0.875rem;
        padding-right: 0.3rem;
    }
    .inventorydatarow .masterinventtotalval {
        font-size: 0.875rem;
        padding-right: 0.3rem;
    }
    .inventorydatarow .masterinventdetails {
        font-size: 0.875rem;
    }

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .inventorydataview .pagetitle {
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .inventorydataview .pagetitle {
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .inventorydataview .pagetitle {
    }
}
/* Surface Duo */
@media (max-width: 540px) {
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    .inventorydataview .pagetitle {
        font-size: 1.5rem;
    }
}
