.dbcontentarea#inventoryview {
    height: 1200px;
}
.inventorydataview {
    margin-top: 17px;
    margin-left: 10px;
    float: left;
    height: 640px;
}
.inventorydataview div {
    float: left;
}
.inventorydataview .pagetitle {
    margin-left: 4px;
    font-size: 24px;
    font-weight: bold;
    /* width: 426px; */
    width: 402px;
}
.invtypebutton {
    background: url('/img/masterinvent/typebutton_bg.png') no-repeat;
    color: #ffffff;
    /*font-size: 15px;
    font-weight: 600;
    height: 35px;
    line-height: 32px!important;
     */
    margin-right: 14px;
    text-align: center;
    width: 142px;
}
.invtypebutton span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    height: 35px;
    line-height: 32px!important;
}
.invtypebutton.oldver span {
    margin-left: -6px;
}
.invtypebutton .oldvesionlabel {
    opacity: 0.6;
    position: relative;
    left: 65px;
    background-color: #b53535;
    width: 12px;
    margin-top: 1px;
    height: 31px;
    z-index: 100;
}
.invtypebutton.active {
    background: url('/img/masterinvent/typebutton_active_bg.png') no-repeat;
}
.inventfilterarea {
    width: 271px;
    margin-top: -12px;
    margin-left: 17px;
}
.inventfilterlabel {
    font-size: 14px;
    text-align: right;
    height: 28px;
    line-height: 22px;
    padding-right: 5px;
    width: 140px;
    margin-bottom: 6px;
}
.inventfilterdata {
}
.inventfilterselect {
    font-size: 14px;
    font-weight: normal;
    height: 24px;
    width: 128px;
}
.totalinvent {
    border: 2px solid #000000;
    width: 240px;
    height: 31px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-left: 29px;
}
.totalinvent > div {
    line-height: 29px!important;
}
.totalinventlabel {
    padding-left: 7px;
    color: #727272;
}
.totalinventvalue {
    color: #000000;
    float: right!important;
    padding-right: 7px;
}
.mastinvent_left_menu {
    width: 267px;
}
.mastinvent_left_section {
    width: 100%;
}
.mastinvent_left_section.active {
    background: #252525;
    margin-bottom: 15px;
}
.mastinvent_left_sectiondata {
    background: #ebebeb;
    border: 1px solid #000000;
    width: 256px;
    padding: 6px 10px;
    cursor: pointer;
    margin-bottom: 15px;
}
.mastinvent_left_sectiondata.rawsbtype {
    background: #252525;
}
.inventsectionhead {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}
.inventsectionvalue {
    border: 1px solid #000000;
    background: #6e6e6e;
    width: 233px;
}
.inventsectionvalue > div {
    height: 22px;
    line-height: 22px;
}
.inventsectionvalue_label {
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
    padding-left: 5px;
}
.inventsectionvalue_data {
    color: #32faff;
    font-size: 15px;
    font-weight: 600;
    padding-left: 8px;
}
.mastinvent_left_sectiondata.active {
    background: #252525;
    border: none;
    margin-bottom: 0!important;
}
.mastinvent_left_sectiondata.active > .inventsectionhead,
.mastinvent_left_sectiondata.rawsbtype > .inventsectionhead {
    color: #ffffff;
}
.mastinvent_left_sectiondata.active > .inventsectionvalue,
.mastinvent_left_sectiondata.rawsbtype > .inventsectionvalue {
    border: 1px solid #ffffff;
    background: #252525;
}
.mastinvent_databody {
    background: #252525;
    width: 1050px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 6px;
}
.masterinventlegend {
    padding-top: 5px;
    padding-left: 10px;
}
.masterinventlegend > div {
    height: 16px;
    line-height: 16px;
}
.legendmapicon.severeval {
    color: #FF0000;
    font-size: 14px;
    margin-right: 5px;
}
.legendmapicon.lowval {
    color: #ff9900;
    font-size: 14px;
    margin-right: 5px;
}
.legendmaplabel {
    color: #ffffff;
    font-size: 12px;
    margin-right: 10px;
}
.masterinventexport {
    padding-top: 5px;
    float: right!important;
    color: #ffffff;
    font-size: 14px;
    padding-right: 6px;
}
.masterinventtotals {
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
}
.masterinventtotals .inventtotalmaxshow {
    margin-left: 435px;
    margin-top: -8px;
    color: #8989ff;
    width: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 11px;

}
.masterinventtotals .inventtotalmaximum {
    width: 75px;
    text-align: center;
    display: none;
    color: #8989ff;
}
.masterinventtotals .inventtotalinstock {
    width: 69px;
    text-align: center;
}
.masterinventtotals .inventtotalavailable {
    margin-left: 71px;
    width: 69px;
    text-align: center;
}
.masterinventtablehead {
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
}
.masterinventtablehead > div {
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.masterinventtablehead .addnewmasterinvent {
    width: 55px;
    padding-left: 2px;
}
.masterinventtablehead .addnewmasterinvent img {
    cursor: pointer;
}
.masterinventtablehead .masterinventseq {
    width: 26px;
}
.masterinventtablehead .masterinventnumber {
    width: 80px;
}
.masterinventtablehead .masterinventdescrip {
    width: 268px;
}
.masterinventtablehead .masterinventpercent {
    width: 42px;
}
.masterinventtablehead .masterinventorymaximum {
    display: none;
    width: 72px;
    color: #8989ff;
}
.masterinventtablehead .masterinventinstock {
    width: 69px;
}
.masterinventtablehead .masterinventreserv {
    width: 71px;
}
.masterinventtablehead .masterinventavailab {
    width: 69px;
}
.masterinventtablehead .masterinventunit {
    width: 30px;
}
.masterinventtablehead .masterinventonorder {
    width: 85px;
}
.masterinventtablehead .masterinventonmax {
    width: 14px;
    display: none;
}
.masterinventtablehead .masterinventavgprice {
    width: 66px;
}
.masterinventtablehead .masterinventtotalval {
    width: 100px;
}
.masterinventtablehead .masterinventdetails {
    width: 70px;
}
.masterinventtablebody {
    background: #ffffff;
    color: #000000;
    width: 100%;
    max-height: 990px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.inventorydatarow {
    width: 100%;
}
.inventorydatarow > div {
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.inventorydatarow.masteritem {
    background: #6e6e6e;
    color: #ffffff;
}
.inventorydatarow.masteritem > div {
    border-bottom: 1px solid #000000;
}
.inventorydatarow.masteritem .masterinventonorder {
    border-bottom: none;
}
.inventorydatarow .masterinventstatus {
    width: 50px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventstatus.donotreorder {
    background: #FF0000;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
}
.inventorydatarow .masterinventseq {
    width: 31px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventseq.itemedit {
    cursor: pointer;
}
.inventorydatarow .masterinventnumber {
    width: 80px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventdescrip {
    width: 268px;
    text-align: left;
    border-right: 1px solid #000000;
    padding-left: 8px;
}
.addmasterinventory {
    float: right!important;
    padding-right: 4px;
    cursor: pointer;
}
.inventorydatarow.itemcolor.activeinvent {
    background: #FFFF00;
}
.inventorydatarow.itemcolor.activeinvent .masterinventavgprice {
    color: #0000FF;
    font-weight: 600;
    cursor: pointer;
}
.inventorydatarow.itemcolor .masterinventdescrip {
    text-align: right;
    padding-left: 0;
    padding-right: 6px;
}
.inventorydatarow .masterinventpercent {
    /* width: 3.9%; */
    font-size: 13px;
    width: 42px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventmaximum {
    color: #0000FF;
    width: 70px;
    border-left: 2px solid #0000FF;
    border-right: 2px solid #0000FF;
    display: none;
}
.inventorydatarow.masteritem .masterinventmaximum {
    font-weight: 600;
}
.inventorydatarow .masterinventinstock {
    /* width: 6.8%; */
    width: 69px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventreserv {
    /* width: 6.8%; */
    width: 71px;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventavailab {
    /* width: 6.8%; */
    width: 69px;
    border-right: 1px solid #000000;
    font-weight: 600;
}
.inventorydatarow .masterinventinstock.severevalstock,
.inventorydatarow .masterinventavailab.severevalstock {
    font-size: 11px!important;
    font-weight: 600;
    background: #FF0000;
    color: #ffffff;
}
.inventorydatarow .masterinventpercent.severevalstock {
    background: #FF0000;
    color: #ffffff;
}
.inventorydatarow .masterinventinstock.lowinstock,
.inventorydatarow .masterinventavailab.lowinstock,
.inventorydatarow .masterinventpercent.lowinstock {
    background: #ff9900;
    color: #000000;
}
.inventorydatarow .masterinventunit {
    /* width: 2.9%; */
    width: 28px;
}
.inventorydatarow .masterinventonorder {
    /* width: 8.26%; */
    width: 87px;
    color: #5d51ff;
    background: #252525;
    text-align: left;
    padding-left: 5px;
}
.inventorydatarow .masterinventonmax {
    width: 14px;
    background: #252525;
    display: none;
}
.inventorydatarow .masterinventavgprice {
    /* width: 6.4%; */
    width: 66px;
    padding-right: 6px;
    text-align: right;
    border-right: 1px solid #000000;
}
.inventorydatarow .masterinventtotalval {
    /* width: 11.2%; */
    width: 101px;
    text-align: right;
    border-right: 2px solid #000000;
    padding-right: 6px;
}
.inventorydatarow .masterinventavgprice.emptytotal,
.inventorydatarow .masterinventtotalval.emptytotal {
    color: #c5c4c4;
}
.inventorydatarow .masterinventdetails {
    /* width: 4.82%; */
    width: 48px;
    font-weight: 600;
}
.inventoryemptydata {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FF0000;
    font-weight: 600;
}
/* POPUP Price View */
#modalEditInventPrice .modal-dialog {
    width: 680px;
    max-width: 680px;
}
#modalEditInventPrice .modal-header {
    color: #ffffff;
    background: #2635ff;
    height: 32px;
    float: left;
    padding: 0 0.4rem!important;
    border-bottom: none!important;
}
#modalEditInventPrice .modal-header h4 {
    line-height: 32px;
    color: #879213;
    font-size: 15px;
    font-weight: 600;
    float: left;
    padding-left: 6px;
}
#modalEditInventPrice .modal-header h4 span.priceheadhistorylnk {
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
    line-height: 32px;
    float: right!important;
    cursor: pointer;
}
#modalEditInventPrice .modal-header h4 span.priceitemdata {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
}
#modalEditInventPrice .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
    /* padding-top: 1.1rem; */
    padding: 0!important;
    margin: 4px 8px 8px 8px;
}
#modalEditInventPrice .modal-body {
    background: #2635ff;
    padding: 0 12px 12px 12px;
}
#modalEditInventPrice .modal-body div {
    float: left;
}
.inventoryprice_body_content {
    background: #ffffff;
    width: 100%;
    height: 316px;
}
.inventoryprice_table_head {
    width: 100%;
    background: #c1c1c1;
    border: 1px solid;
}
.inventoryprice_table_head > div {
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    text-align: center;
}
.inventoryprice_table_head .inventoryincome_date {
    width: 71px;
    text-align: left;
}
.inventoryprice_table_head .inventoryincome_date span {
    color: #797979;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.inventoryprice_table_head .inventoryincome_recnum {
    width: 55px;
}
.inventoryprice_table_head .inventoryincome_descript {
    width: 212px;
}
.inventoryprice_table_head .inventoryincome_price {
    width: 53px;
}
.inventoryprice_table_head .inventoryincome_incomeqty {
    width: 59px;
}
.inventoryprice_table_head .inventoryincome_divide {
    width: 11px;
}
.inventoryprice_table_head .inventoryincome_leftqty {
    width: 60px;
}
.inventoryprice_table_head .inventoryincome_lefttotal {
    width: 82px;
}
.inventoryprice_table_body {
    width: 100%;
    /* max-height: 229px; */
    max-height: 95px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    /* border-bottom: 1px solid #000000; */
}
.inventoryprice_table_body.showused {
    max-height: 185px;
    border-bottom: 1px solid #000000;
}
.inventoryprice_table_row {
    width: 100%;
}
.inventoryprice_table_row.lastrow {
    border-bottom: 2px solid #000000;
}
.inventoryprice_table_row.used {
    color: #939394;
}
.inventoryprice_table_row > div {
    height: 23px;
    line-height: 23px;
    font-size: 13px;
    text-align: center;
}
.inventoryprice_table_row .inventoryincome_date {
    width: 71px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_recnum {
    width: 55px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_descript {
    width: 212px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_price {
    width: 53px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_incomeqty {
    width: 59px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_divide {
    width: 11px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row .inventoryincome_leftqty {
    width: 60px;
    border-right: 1px solid #000000;
}
.inventoryprice_table_row.lastrow .inventoryincome_leftqty {
    color: #0000FF;
}
.inventoryprice_table_row .inventoryincome_lefttotal {
    width: 82px;
}
.inventoryprice_total_left {
    width: 330px;
    padding-left: 7px;
    padding-top: 6px;
}
.viewbalancesused {
    color: #0000ff;
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
}
.inventoryprice_total_right {
    padding-top: 3px;
}
.inventoryprice_total_right .datarow > div {
    height: 22px;
    line-height: 22px;
}
.inventoryprice_total_right .inventoryprice_total_label {
    width: 135px;
    margin-right: 13px;
    text-align: right;
    font-size: 13px;
}
.inventoryprice_total_right .inventoryprice_total_value {
    font-size: 13px;
    font-weight: 600;
}
/* History view */
#modalEditInventHistory .modal-dialog {
    width: 520px;
    max-width: 520px;
}
#modalEditInventHistory .modal-header {
    color: #ffffff;
    background: #2635ff;
    height: 32px;
    float: left;
    padding: 0 0.4rem!important;
    border-bottom: none!important;
}
#modalEditInventHistory .modal-header h4 {
    line-height: 32px;
    color: #879213;
    font-size: 15px;
    font-weight: 600;
    float: left;
    padding-left: 6px;
}
#modalEditInventHistory .modal-header h4 span.priceitemdata {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
}
#modalEditInventHistory .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
    /* padding-top: 1.1rem; */
    padding: 0!important;
    margin: 4px 8px 8px 8px;
}
#modalEditInventHistory .modal-body {
    background: #2635ff;
    padding: 0 12px 12px 12px;
}
#modalEditInventHistory .modal-body div {
    float: left;
}
.inventoryhistory_body_content {
    background: #ffffff;
    width: 100%;
    height: 426px;
}
.inventoryhistory_table_head {
    width: 100%;
    background: #c1c1c1;
    border: 1px solid;
}
.inventoryhistory_table_head > div {
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    text-align: center;
}
.inventoryhistory_table_head .instock_date {
    width: 71px;
    text-align: left;
}
.inventoryhistory_table_head .instock_date span {
    color: #797979;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
.inventoryhistory_table_head .instock_recnum {
    width: 62px;
}
.inventoryhistory_table_head .instock_descript {
    width: 183px;
}
.inventoryhistory_table_head .instock_amount {
    width: 72px;
}
.inventoryhistory_table_head .instock_balance {
    width: 77px;
}
.inventoryhistory_table_body {
    width: 100%;
    /* max-height: 229px; */
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.inventoryhistory_table_row {
    width: 100%;
}
.inventoryhistory_table_row > div {
    height: 23px;
    line-height: 23px;
    font-size: 13px;
    text-align: center;
}
.inventoryhistory_table_row .instock_date {
    width: 71px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid #000000;
}
.inventoryhistory_table_row .instock_recnum {
    width: 62px;
    border-right: 1px solid #000000;
}
.inventoryhistory_table_row .instock_descript {
    width: 183px;
    border-right: 1px solid #000000;
}
.inventoryhistory_table_row .instock_descript span {
    color: #8e8e8e;
}
.inventoryhistory_table_row .instock_amount {
    width: 72px;
    border-right: 1px solid #000000;
}
.inventoryhistory_table_row .instock_amount.negative {
    background: #FF0000;
    color: #ffffff;
}
.inventoryhistory_table_row .instock_balance {
    width: 77px;
}
.inventoryhistory_view_prices {
    float: right!important;
    margin-top: 5px;
    margin-right: 8px;
    font-size: 12px;
    font-style: italic;
    color: #FF0000;
    cursor: pointer;
}
#modalEditInventItem .modal-dialog {
}
#modalEditInventItem .modal-content {
    width: 466px;
    max-width: 465px;
    height: 280px;
    border: 1px solid #000000;
}
#modalEditInventItem .modal-header {
    color: #ffffff;
    background: #2635ff;
    height: 32px;
    float: left;
    padding: 0 0.4rem!important;
    border-bottom: none!important;
}
#modalEditInventItem .modal-header h4 {
    line-height: 32px;
    color: #868eff;
    font-size: 15px;
    font-weight: 600;
    float: left;
    padding-left: 6px;
}
#modalEditInventItem .modal-header h4 span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
}
#modalEditInventItem .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
    padding: 0!important;
    margin: 4px 8px 8px 8px;
}
#modalEditInventItem .modal-body {
    background: #2635ff;
    padding: 0 9px 11px 9px;
    border-bottom: none!important;
}
#modalEditInventItem .modal-body div {
    float: left;
}
#modalEditInventItem .modal-footer {
    background: #2635ff;
    padding: 0 9px 12px 9px;
    border-top: none!important;
}
.inventoryitem_body_content {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
}
.itemdatalabel {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 10px;
    width: 83px;
}
.itemdatavalue {
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.itemdatavalue.itemname {
    width: 340px;
}
.itemdatavalue.itemunit {
    width: 40px;
}
.masteritemdevide {
    height: 12px;
}
.itemtemplatelabel {
    width: 104px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 10px;
}
.itemteplatevalue {
    width: 78px;
    margin-bottom: 10px;
    height: 24px;
    line-height: 24px;
}
.itemteplatevalue.empty {
    color: #d7d7d7;
    width: 83px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.itemteplatevalue.edittemplate {
    width: 168px;
}
.masteritemfooter {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    width: 100%;
    text-align: right!important;
}
.edititembutton {
    font-size: 14.55px;
    font-weight: 600;
    height: 23px;
    line-height: 23px;
    background: #9b00d4;
    border-color: #9b00d4;
    color: #ffffff;
    padding: 0 14px;
}
.edititembutton:hover, .edititembutton:not(:disabled):not(.disabled):active {
    color: #ffffff;
    background-color: #d91dd9;
    border-color: #d91dd9;
}
input.itemdataname {
    border: 1px solid #dddddd;
    padding-left: 6px;
    width: 340px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}
select.itemdataunit {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding-left: 6px;
    width: 51px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
}
.closeitemdata, .saveitemdata {
    font-size: 14.55px;
    font-weight: 600;
    height: 23px;
    line-height: 23px;
    padding: 0 14px;
}
.closeitemdata {
    padding: 0 10px;
}
#modalEditInventColor .modal-content {
    width: 651px;
    max-width: 650px;
    height: 487px;
    border: 1px solid #000000;
}
#modalEditInventColor .modal-header {
    color: #ffffff;
    background: #2635ff;
    height: 32px;
    float: left;
    padding: 0 0.4rem!important;
    border-bottom: none!important;
}
#modalEditInventColor .modal-header h4 {
    line-height: 32px;
    color: #868eff;
    font-size: 15px;
    font-weight: 600;
    float: left;
    padding-left: 6px;
}
#modalEditInventColor .modal-header h4 span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 32px;
}
#modalEditInventColor .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
    padding: 0!important;
    margin: 4px 8px 8px 8px;
}
#modalEditInventColor .modal-body {
    background: #2635ff;
    padding: 0 9px 11px 9px;
    border-bottom: none!important;
}
#modalEditInventColor .modal-body div {
    float: left;
}
#modalEditInventColor .modal-footer {
    background: #2635ff;
    padding: 0 9px 12px 9px;
    border-top: none!important;
}
.inventorycolor_body_content {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 0 10px 10px 10px;
    height: 383px;
    width: 100%;
}
.statusradiobtn {
    width: 16px;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
}
.statusradiobtn.edit {
    cursor: pointer;
}
.statuslabel {
    max-width: 258px;
    margin-left: 5px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 7px;
}
.statuslabel span {
    font-style: italic;
}
.inventorycolor_body_left {
    width: 435px;
}
.colorparamlabel {
    font-size: 14px;
    width: 85px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}
.colorparamvalue {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 6px;
}
.colorparamvalue.colorname {
    width: 224px;
}
.colordatainput input {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    height: 24px;
    line-height: 24px;
}
input.colornameinpt {
    width: 224px;
}
.colorparamvalue.pantones {
    width: 319px;
    height: 45px;
    line-height: 22.5px;
}
textarea.colorpantonesinpt {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    width: 319px;
    height: 45px;
    line-height: 22.5px;
    resize: none;
    margin-bottom: 10px;
}
.colorparamvalue.colormaxvalue, .colorparamvalue.mfgprice {
    width: 90px;
}
input.colormaxvalueinpt {
    width: 90px;
}
.colordatadevide {
    width: 100%;
    height: 15px;
}
.inventorycolor_body_right {
    width: 172px;
}
.colorvendorslabel {
    width: 120px;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}
.colorvendorsdata {
    margin-left: 82px;
    width: 238px;
}
.colorvendorsdata > .datarow {
    margin-bottom: 8px;
}
.colorvendorname {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    padding-left: 6px;
    width: 153px;
}
.colorvendorinpt {
    margin-right: 10px;
}
select.colorvendornameinpt {
    border: 1px solid #dddddd;
    background: #ffffff;
    font-size: 14px;
    font-weight: 600;
    height: 23px;
    line-height: 23px;
    padding-left: 6px;
    width: 153px;
}
.colorvendorprice {
    margin-left: 10px;
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
    padding-left: 6px;
    width: 64px;
}
input.colorvendorpriceinpt {
    border: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    height: 23px;
    line-height: 23px;
    width: 64px;
}
.colorimagelabel {
    margin-left: -52px;
    font-size: 14px;
}
.colorimagevalue {
    border: 1px solid #dddddd;
    width: 168px;
    min-height: 156px;
}
.colorimagevalue img {
    width: 100%;
}
.colorimagevalue #pic-uploader {
    margin-left: 49px;
    margin-top: 66px;
}
.colorimagedata #picnew-uploader {
    margin-left: 106px;
}
/* Upload button */
.qq-upload-button {
    background-image: none!important;
    background-color: #e6e6e6!important;
    color: #959595;
    width: 73px!important;
    height: 23px!important;
    text-align: center;
    font-size: 14px;
}
.qq-upload-button.replacebutton {
    background-color: unset!important;
    background-image: none!important;
    color: #0000ff!important;
    font-size: 12px!important;
}