#itemDetailsModal .modal-dialog {
    width: 1298px;
}
#itemDetailsModal .content-row {
    width: 100%;
}
#itemDetailsModal .modal-header {
    padding: 0;
    background: #282828;
    /* height: 35px; */
    border: 1px solid #282828;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
}
#itemDetailsModal .modal-header .close {
    margin-top: -12px;
    margin-right: -7px;
    opacity: 1;
}
#itemDetailsModal .modal-content {
    background: #282828;
}
#itemDetailsModal .modal-body {
    padding: 0 8px 10px 8px;
    background: #282828;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
#itemDetailsModal .modal-body div {
    float: left;
}
#itemDetailsModal .modal-footer {
    padding: 0px;
}
.relieverdetails-left-header {
    float: left;
    margin-left: 8px;
}
.relieverdetails-left-header div {
    float: left;
}
.itemnameview {
    height: 37px;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px 7px;
    width: 584px;
    margin-right: 10px;
}
.itemnameview div {
    width: 100%;
    border: 1px solid #9f9f9f;
    padding-left: 7px;
    font-size: 18px;
    font-weight: 600;
}
.itemnumberlabel {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    height: 37px;
    line-height: 37px;
    margin-right: 5px;
}
.itemnumberview {
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 37px;
    height: 37px;
    text-align: center;
    width: 105px;
}
.relieverdetails-right-header {
    float: right!important;
    margin-right: 35px;
}
.relieverdetails-action {
    background: #ffffff;
    border-radius: 5px;
    height: 52px;
    line-height: 52px;
    padding: 14px 0;
}
.relieverdetailseditbtn {
    background: #cd00d5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    line-height: 21px;
    margin: 0 27px;
    text-align: center;
    width: 68px;
}
.itemlistactivatetbtn {
    background: #cd00d5;
    color: #ffffff;
    font-size: 14px;
    height: 24px;
    line-height: 24px!important;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 9px;
    cursor: pointer;
}
.itemlistsaveactionbtn {
    background: #1B6633;
    color: #ffffff;
    font-size: 14px;
    height: 24px;
    line-height: 24px!important;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 9px;
    cursor: pointer;
}
/* Sections */
.leftpartitembody {
    margin-left: 8px;
    width: 249px;
}
.centralpartbody {
    margin-left: 8px;
    width: 240px;
}
.rightpartbody {
    width: 770px;
}
.sectionlabel {
    color: #000000;
    height: 29px;
    line-height: 29px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.sectionbody {
    padding: 8px 8px 0 8px;
    background: #eaeaea;
    border-radius: 5px;
    width: 100%;
}
/* Key Info */
.relievers_keyinfo {
    margin-right: 8px;
    width: 248px;
}
.relievers_keyinfo .content-row {
    margin-bottom: 8px;
}
.relievers_keyinfo .sectionlabel {
    margin-top: -3px;
}
.itemparamlabel {
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    text-align: right;
}
.itemparamvalue {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 21px;
    line-height: 21px;
    padding-left: 5px;
}
.itemparamlabel.itemactive {
    padding-right: 15px;
    width: 75px;
}
.itemparamvalue.itemactive {
    width: 70px;
}
.itemparamvalue.itemtemplate {
    width: 156px;
}
itemparamlabel.tags {
    width: 36px;
}
.tags-checkbox {
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 3px;
    width: 12px;
}
.tags-checkbox-label {
    font-size: 14px;
    font-weight: 600;
    color: #b0b0b0;
    height: 23px;
    line-height: 23px;
}
.tags-checkbox-label.active {
    color: #000000;
}
.itemparamlabel.subcategory {
    padding-right: 10px;
    width: 71px;
}
.itemparamvalue.subcategory {
    width: 167px;
}
.itemparamlabel.itemsize {
    padding-right: 4px;
    width: 63px;
}
.itemparamvalue.itemsize {
    width: 167px;
}
.itemparamlabel.itemdescrip {
    width: 70px;
}
.itemparamvalue.itemdescrip {
    height: 70px;
    width: 232px;
}
.sectionseparator {
    border-top: 2.5px solid #000000;
    height: 8px;
    margin-left: -4px;
    width: calc(100% - 9px);
}
.itemparamlabel.bullets {
    width: 222px;
    text-align: left;
}
.bullet_point {
    width: 14px;
    text-align: center;
    font-size: 8px;
    margin-top: 5px;
}
.itemparamvalue.itembullet {
    width: 216px;
    margin-bottom: 7px;
}
/* Similar */
.relievers_similar {
    margin-right: 8px;
    width: 248px;
}
.relievers_similar .content-row {
    margin-bottom: 8px;
}
.similar_numpp {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    width: 17px;
}
.itemparamvalue.similarname {
    width: 215px;
}
/* Vendor main */
.relievers_vendormain {
    width: 240px;
}
.relievers_vendormain .sectionlabel {
    margin-top: -3px;
}
.vendormainbody {
    background: #b8b8cd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 0 0 8px;
    width: 100%;
}
.vendormainbody .content-row {
    margin-bottom: 8px;
}
.itemparamlabel.vendorname {
    padding-right: 4px;
    width: 68px;
}
.itemparamvalue.vendorname {
    width: 162px;
}
.itemparamlabel.vendosrship {
    padding-right: 4px;
    width: 70px;
}
.itemparamvalue.vendorcountry {
    width: 59px;
}
.itemparamvalue.vendorzip {
    margin-left: 7px;
    width: 47px;
}
.vendorshipstate {
    margin-left: 7px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    font-weight: 600;
}
.itemparamlabel.vedorponote {
    padding-right: 28px;
    width: 100px;
}
.itemparamlabel.vendorinterval {
    padding-right: 4px;
    width: 95px;
}
.itemparamvalue.vendorinterval {
    width: 28px;
}
.itemparamvalue.vendorponote {
    height: 40px;
    margin-top: 4px;
    width: 224px;
}
.pricesarea {
    width: 100%;
}
.relievers_vendorprices {
    background: #b8b8cd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px 0;
    margin-top: 26px;
}
.vendorqtypricesarea {
    border-right: 1px solid #9f9f9f;
    width: 460px;
}
.relievers_vendorprices .content-row {
    margin-bottom: 4px;
}
.vendorpricetitle {
    text-align: right;
    padding-right: 4px;
    width: 49px;
}
.vendorqtypricetitlearea {
    border-bottom: 1px solid #000000;
}
.vendorqtypricetitle {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    text-align: center;
    width: 36px;
}
.vendorqtypricetitle.minprice {
    font-weight: normal;
}
.vendorqtypriceqty, .vendorqtypriceval {
    border: 1px solid #6c6c7d;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 5px;
    width: 36px;
}
.vendorextrapricearea {
    border-right: 1px solid #9f9f9f;
    padding-top: 12px;
    padding-left: 4px;
}
.vendorextraprice {
    font-size: 12px;
    margin-right: 5px;
    width: 34px;
}
.vendorextrapricetitle {
    margin-bottom: 6px;
    text-align: center;
    width: 100%;
}
.vendorextrapricevalue {
    border: 1px solid #6c6c7d;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    width: 100%;
}
.vendorextraprice.repeatsetup {
    width: 40px;
}
.vendorrusharea {
    border-right: 1px solid #9f9f9f;
    padding-top: 5px;
    padding-left: 4px;
}
.vendorstandrush {
    width: 41px;
}
.vendorrush1rush, .vendorrush2rush {
    width: 42px;
}
.vendorrushtitle {
    font-size: 12px;
    margin-bottom: 8px;
}
.vendorrushterm {
    border: 1px solid #6c6c7d;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width: 17px;
}
.vendorrushtermtitle {
    font-size: 9px;
    padding-right: 3px;
    padding-left: 3px;
    line-height: 9px;
    width: 24px;
}
.vendorrushprice {
    border: 1px solid #6c6c7d;
    height: 21px;
    line-height: 21px;
    width: 37px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
}
.vendorpantonearea {
    margin-left: 3px;
    width: 46px;
    margin-right: 3px;
}
.vendorpantonetitle {
    font-size: 12px;
    margin-top: 23px;
    margin-bottom: 4px;
    line-height: 14px;
    text-align: center;
    width: 100%;
}
.vendorpantoneprice {
    border: 1px solid #6c6c7d;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-left: 6px;
    text-align: center;
    width: 35px;
}
/*Pricing */
.relievers_itemprices {
    margin-left: 8px;
}
.relievers_itemprices .sectionlabel {
    width: 424px;
}
.itemprice_legend {
    margin-right: 5px;
}
.itemprice_legend span {
    color: #ffffff;
    font-size: 11px;
    height: 29px;
    line-height: 29px;
}
.relievers_itemprices .sectionbody {
    padding: 8px 0 8px 2px;
}
.itempricearea {
    border-right: 1px solid #626262;
    padding-top: 14px;
    width: 457px;
}
.itempricearea .content-row {
    margin-bottom: 5px;
}
.itemprice_title {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    text-align: right;
    width: 47px;
}
.itemprice_qtyarea {
    border-bottom: 1px solid #363636;
}
.itemprice_qty {
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_pub {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_discount {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_discount_separat {
    border-top: 1px solid #555555;
    height: 3px;
    margin-top: 10px;
    width: 79%;
}
.itemprice_new {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_extraarea {
    border-right: 1px solid #626262;
    padding-left: 5px;
    width: 134px;
}
.itemprice_extra {
    width: 35px;
    margin-right: 5px;
}
.itemprice_extra.repeatsetup {
    width: 39px;
    margin-left: 3px;
}
.itemprice_extratitle {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}
.itemprice_extraprice, .itemprice_extradisc, .itemprice_extrasale {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_rusharea {
    border-right: 1px solid #626262;
    padding: 17px 0 0 22px;
    width: 112px;
}
.itemprice_rush {
    margin-right: 5px;
    width: 39px;
}
.itemprice_rushtitle {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}
.itemprice_rushprice, .itemprice_rushtdisc, .itemprice_rushsale {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 39px;
}
.itemprice_pantonearea {
    padding-left: 3px;
    width: 46px;
}
.itemprice_pantonetitle {
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}
.itemprice_pantoneprice, .itemprice_pantonedisc, .itemprice_pantonesale {
    border: 1px solid #9f9f9f;
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-left: 7px;
    margin-bottom: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_profit_separator {
    border-top: 3px solid #686868;
    height: 5px;
    margin-left: 47px;
    margin-top: 5px;
    width: 702px;
}
.itemprice_profitqtyarea {
    width: 457px;
}
.itemprice_profittitle {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    text-align: right;
    width: 47px;
}
.itemprice_profitval, .itemprice_profitperc  {
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.itemprice_profitextraarea {
    padding-left: 6px;
    width: 134px;
}
.itemprice_profitrusharea {
    padding-left: 24px;
    width: 112px;
}
.itemprice_profitrusharea .itemprice_profitval, .itemprice_profitrusharea .itemprice_profitperc {
    width: 39px;
}
.itemprice_profitpantonearea {
    padding-left: 10px;
    width: 46px;
}