/* POPUP WIN */
.artpopup_content {
    background: url("/img/artpage/artpopup_bg.png") repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 611px;
    /* padding: 9px 11px 0 12px; */
    width: 898px;
}
.artpopup_content input {
    height: 16px;
    font-size: 13px;
    font-weight: normal;
    color: #010101;
}
/* COMMON DATA Section */
.artpopup_itemdetails {
    background: url('/img/artpage/artpopup_itemdetail_bg.png') no-repeat transparent;
    float: left;
    height: 111px;
    margin-bottom: 5px;
    width: 900px;
}
.artpopup_orderdata {
    border-right: 1px solid #000;
    clear: both;
    float: left;
    height: 105px;
    padding: 3px 0 0 3px;
    width: 140px;
}
.artpopup_orderrow {
    clear: both;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-left: 5px;
    width: 127px;
}
.artpopup_orderlabel {
    color: #000000;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    text-align: right;
    width: 48px;
}
.artpopup_orderlabel.rushlabel {
    width: 57px;
}
.artpopup_ordernum {
    float: left;
    width: 73px;
    font-size: 19px;
    color: #000000;
    font-weight: bold;
}
.artpopup_ordernum#assign_order:hover {
    cursor: pointer;
}
.artpopup_orderproof {
    color: #07550A;
    float: left;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding-top: 2px;
    width: 73px;
}
.artpopup_orderemp {
    clear: both;
    float: left;
    width: 120px;
    height: 15px;
}
.artpopup_rushinpt {
    float: left;
    margin-top: -3px;
    text-align: center;
    width: 22px;
}
.artpopup_common {
    float: left;
    padding-top: 5px;
    width: 756px;
}
.artpopup_commonrow {
    clear: both;
    color: #000000;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 3px;
    width: 755px;
}
.artpopup_commonrow.merged {
    max-height: 47px;
}
.artpopup_customerlabel {
    float: left;
    padding-top: 4px;
    width: 66px;
}
.artpopup_customerval {
    float: left;
    width: 201px;
}
input.order_customer {
    width: 182px;
}
.artpopup_contactlabel {
    float: left;
    padding-top: 4px;
    width: 49px;
}
.artpopup_contactval {
    float: left;
    width: 209px;
}
input.order_contact {
    width: 184px;
}
.artpopup_phonelabel {
    float: left;
    padding-top: 4px;
    width: 43px;
}
.artpopup_phoneval {
    float: left;
    width: 182px;
}
input.order_phone {
    width: 178px;
}
.artpopup_common_merged {
    float: left;
    width: 266px;
}
.artpopup_emaillabel {
    float: left;
    padding-top: 4px;
    width: 36px;
}
.artpopup_emailval {
    float: left;
    width: 220px;
}
input.order_email {
    width: 207px;
}
.artpopup_notelabel {
    float: left;
    padding-top: 4px;
    width: 51px;
}
.artpopup_noteval {
    float: left;
    width: 437px;
}
textarea.order_notes {
    color: #000000;
    font-size: 14px;
    height: 64px;
    overflow-y: auto;
    resize: none;
    width: 430px;
}
textarea.parsedorder_notes {
    color: #000000;
    font-size: 14px;
    height: 43px;
    overflow-y: auto;
    resize: none;
    width: 430px;
}
.artpopup_itemlabel {
    float: left;
    padding-top: 4px;
    width: 36px;
}
.artpopup_itemval {
    float: left;
    width: 220px;
}
select.order_itemname {
    width: 207px;
}
input.order_itemname {
    width: 207px;
}
.artpopup_itemnumval {
    float: left;
    width: 68px;
}
input.order_itemnum {
    width: 62px;
}
.artpopup_otheritemarea {
    float: left;
    display: none;
    margin-left: 2px;
    width: 160px;
}
.artpopup_otheritemvalue {
    float: left;
    width: 124px;
}
input.order_otheritemdat {
    width: 170px;
}
.artpopup_itemcolorval {
    float: left;
    width: 250px;
}
input.order_colors {
    width: 243px;
}
.artpopup_artarea {
    clear: both;
    float: left;
    width: 910px;
}
/* History, Update, User Notes */
.artpopup_usrmsg {
    background: url("/img/artpage/artpopup_usrmsg_bg.png") no-repeat transparent;
    float: left;
    height: 483px;
    margin-right: 5px;
    width: 185px;
}
.artpopup_custominstuctlabel {
    color: #010101;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 9px;
    width: 95px;
}
.artpopup_custominstuct {
    background-color: #FFFFFF;
    clear: both;
    color: #010101;
    float: left;
    margin-left: 7px;
    margin-top: 4px;
    width: 169px;
}
.artpopup_historydatalabel {
    float: left;
    font-size: 12px;
    color: #010101;
    font-style: italic;
    margin-top: 9px;
    width: 70px;
}
.artpopup_historydatalabel.active {
    color: #0000ff;
    cursor: pointer;
}
textarea.artpopup_custominstucttxt {
    color: #000000;
    font-size: 11px;
    height: 350px;
    line-height: 15px;
    overflow-y: auto;
    resize: none;
    width: 161px;
}
.clearboth {
    clear: both;
}
a.truncate_more_link {
    color: #C60000;
    float: right;
    font-size: 10px;
    font-style: italic;
    width: 48px;
}
.artpopup_update {
    clear: both;
    float: left;
    /* margin-top: 24px; */
    margin-left: 6px;
    height: 66px;
    width: 168px;
}
textarea.artupdate {
    height: 60px;
    resize: none;
    width: 165px;
}
.artpopup_historyarea {
    background: url('/img/artpage/artpopup_history_bg.png') no-repeat;
    clear: both;
    float: left;
    height: 472px;
    width: 365px;
}
.artpopup_historydata {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    float: left;
    height: 426px;
    margin-left: 29px;
    margin-top: 6px;
    overflow-y: auto;
    width: 314px;
}
.artpopup_historyhead {
    clear: both;
    float: left;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 3px;
    width: 307px;
}
.parsedproofrequest {
    float: right;
    margin-top: -13px;
    width: 30px;
}
.artpopup_historymsg {
    clear: both;
    float: left;
    font-size: 11px;
    margin-bottom: 5px;
    text-align: left;
    width: 312px;
}
.parsedproofrequest:hover {
    cursor: pointer;
}
/* ART Locations */
.artpopup_locations {
    float: left;
    /*max-height: 463px;
    overflow-y: auto;*/
    width: 526px;
}
.artpopup_locationsarea {
    float: left;
    width: 522px;
}
.artworksheadarea {
    clear: both;
    float: left;
    width: 513px;
}
.artworkshead_label {
    float: left;
    width: 65px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #1a1a1a;
}
.artworkshead_srclabel {
    float: left;
    width: 145px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_redrawlabel {
    float: left;
    width: 47px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_rushlabel {
    float: left;
    width: 33px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_vectorlabel {
    float: left;
    width: 85px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_rdrnoteslabel {
    float: left;
    width: 55px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_redolabel {
    float: left; width: 42px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkshead_dellabel {
    float: left;
    width: 40px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
/* Locations List */
.artworksarea {
    clear: both;
    float: left;
    width: 513px;
    padding-top: 5px;
}
.artworkdata_content {
    float: left;
    width: 473px;
}
.artworkdata {
    float: left;
    height: 27px;
    margin-bottom: 2px;
    padding-top: 5px;
    width: 472px;
}
.artworkdata.redrawn {
    background: url('/img/artpage/artlocredrawn_bg.png') no-repeat transparent;
}
.artworkdata.source, .artworkdata.source_alert  {
    background: url('/img/artpage/artlocsource_bg.png') no-repeat transparent;
}

.artworklabel {
    float: left;
    width: 50px;
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #1a1a1a;
}
.artworksource {
    float: left;
    width: 145px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #0c00ff;
}
.artworktextsource {
    float: left;
    width: 145px;
    text-align: left;
}
.artworksource:hover {
    cursor:pointer;
}
.artworkredraw {
    float: left;
    width: 47px;
    margin-top: -2px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkrush {
    float: left;
    width: 33px;
    margin-top: -2px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkvector {
    float: left;
    width: 85px;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #0c00ff;
}
.artworkvector:hover {
    cursor: pointer;
}
.artworkrdrnote {
    float: left;
    width: 55px;
    margin-top: -2px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    color: #1a1a1a;
}
.artworkrdrnote img {
    width: 15px;
    height: 18px;
}
.artworkrdrnote img:hover {
    cursor: pointer;
}
.artworkredo {
    color: #1A1A1A;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin-top: -2px;
    text-align: center;
    width: 38px;
}
.artworkoptions {
    clear: both;
    float: left;
    margin-left: 64px;
    width: 405px;
}
.artworkoption_label {
    float:left;
    color: #1a1a1a;
    font-size: 10px;
    margin-top: 3px;
    text-align: left;
    width: 45px;
}
.artworkoption_colors {
    float:left;
    width: 41px;
    color: #FFFFFF;
    font-size: 10px;
    margin-top: 3px;
    text-align: left;
}
.artworkoption_colors_select {
    float: left;
    width: 36px;
}
select.artnumcolors {
    float: left;
    width: 34px;
    font-size: 10px;
}
.artworkoption_color {
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    margin-top: 3px;
    text-align: left;
    width: 33px;
}
.artworkoption_color_choice {
    background: none no-repeat scroll 0 0 #e5e5e5;
    border: 1px solid #000000;
    float: left;
    height: 11px;
    margin-right: 3px;
    margin-top: 3px;
    width: 30px;
}
.artworkoption_color_choice.blackcolor {
    background: #000000;
}
.artworkoption_color_choice.forestgreen {
    background: #254c25;
}
.artworkoption_color_choice.aquacolor {
    background: #2287bf;
}
.artworkoption_color_choice.whitecolor {
    background: #ffffff;
}
.artworkoption_color_choice.yellowcolor {
    background: #ffff00;
}
.artworkoption_color_choice.tealcolor {
    background: #3893af;
}
.artworkoption_color_choice.lightblue {
    background: #9cb6ff;
}
.artworkoption_color_choice.yellowishorange {
    background: #eabf0a;
}
.artworkoption_color_choice.peachcolor {
    background: #ffbdae;
}
.artworkoption_color_choice.royalblue {
    background: #0000ff;
}
.artworkoption_color_choice.orangecolor {
    background: #ff6700;
}
.artworkoption_color_choice.tancolor {
    background: #ba7735;
}
.artworkoption_color_choice.reflexblue {
    background: #0404aa;
}
.artworkoption_color_choice.burntorange {
    background: #bc6506;
}
.artworkoption_color_choice.browncolor {
    background: #603f0f;
}
.artworkoption_color_choice.navyblue {
    background: #030356;
}
.artworkoption_color_choice.scarletred {
    background: #ff0000;
}
.artworkoption_color_choice.lightgreycolor {
    background: #e5e5e5;
}
.artworkoption_color_choice.lightgreen {
    background: #5fffc2;
}
.artworkoption_color_choice.marooncolor {
    background: #6d0303;
}
.artworkoption_color_choice.medgrey {
    background: #999999;
}
.artworkoption_color_choice.limegreen {
    background: #00ff00;
}
.artworkoption_color_choice.pinkcolor {
    background: #ee87f9;
}
.artworkoption_color_choice.darkgreycolor {
    background: #494948;
}
.artworkoption_color_choice.grassgreen {
    background: #009345;
}
.artworkoption_color_choice.purplecolor {
    background: #3c1699;
}
.artworkoption_color_choice.metallicsilver {
    background: #e5e5e5;
}
.artworkoption_color_choice.originalgreen {
    background: #21937d;
}
.artworkoption_color_choice.lavender {
    background: #b69ef2;
}
.artworkoption_color_choice.metallicgold {
    background: #baba4f;
}
.artworkoption_color_choice.emptycolor {
    opacity: 0.2;
}

.artworkoption_color_choice:hover {
    cursor: pointer;
}
.artworkoption_loclabel {
    float:left;
    width: 22px;
    color: #FFFFFF;
    font-size: 10px;
    text-align: left;
    margin-top: 3px;
}
.artworkoption_locselect {
    float:left;
    width: 88px;
    font-size: 10px;
    text-align: left;
}
select.artworkoption_location {
    float: left;
    width: 86px;
    font-size: 10px;
}
.artworkdelete {
    float: left;
    width: 40px;
    margin-top: 2px;
    text-align:  center;
    color: #1a1a1a;
}
.artworkdelete img {
    width: 20px;
}
.artworkdelete:hover {
    cursor:pointer;
}
.artworkdataadd {
    background: url("/img/artpage/artcoladd_button.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    margin-top: 8px;
    padding-top: 2px;
    width: 160px;
}
select.artdataadd {
    float: left;
    font-size: 10px;
    margin-top: 1px;
    width: 83px;
}
.artworkdataadd:hover {
    cursor: pointer;
}
.artdataaddbutton {
    float: left;
    width: 69px;
}
textarea.artworkusertext {
    color: #000000;
    float: left;
    font-size: 12px;
    height: 111px;
    overflow-y: auto;
    resize: none;
    width: 403px;
}
.artworkusrtxt {
    float: left;
    margin-top: -2px;
    text-align: center;
    width: 28px;
}
.artworkusrtxt:hover {
    cursor: pointer;
}
.artpopup_fontlabel {
    float: left;
    font-size: 10px;
    width: 34px;
}
.artpopup_fontval {
    float: left;
    margin-top: -4px;
    width: 61px;
}
input.artfont {
    font-size: 10px;
    font-weight: normal;
    height: 13px;
    width: 80px;
}
input.artrepeat {
    font-size: 10px;
    font-weight: normal;
    height: 13px;
    width: 80px;
}
/* color choice popup */
.imprintcolors {
    background: url("/img/artpage/popupcolors_bg.png") repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 14px;
    float: left;
    height: 698px;
    margin: 0;
    padding: 25px 25px 0;
    position: relative;
    width: 982px;
}
.imprintcolors_head {
    clear: both;
    color: #0000FF;
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -18px;
    text-align: center;
    width: 930px;
}
.imprintcolors_table {
    clear: both;
    float: left;
    width : 930px;
    margin-top: 15px;
}
table.table-imprintcolors {
    border: none;
}
.imprintcolors_table table.table-imprintcolors td.colordat {
    width: 307px;
    padding: 3px;
}
.radiselect {
    clear: both;
    float: left;
    width: 15px;
    padding-top: 13px;
}
.colorshow {
    float:left;
    margin-left: 10px;
    width: 82px;
    height: 39px;
    border: 1px solid #000;
}
.colorname {
    float:left;
    width:150px;
    margin-left:10px;
    padding-top: 12px;
}
input.inputcolor {
    border: 1px solid #000000;
    color: #000000;
    font-size: 14px;
    height: 20px;
    margin-left: -60px;
    margin-top: 9px;
    width: 120px;
}
.select_color {
    background: url("/img/artpage/select_color_btn.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 17px;
    height: 45px;
    margin-left: 107px;
    padding-top: 10px;
    text-align: center;
    width: 158px;
}
.select_color a {
    color: #494948;
    text-decoration: none;
    font-size: 20px;
}
.select_color a.active {
    color: #000000;
}
/* Upload ARTWORK Logos */
.artlogoupload_container {
    background: none no-repeat scroll 0 0 #FFFFFF;
    height: 74px;
    margin-left: -7px;
    margin-top: 5px;
    padding: 15px;
    width: 293px;
}
.artlogoupload_data {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 301px;
}
.artlogoupload_title {
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 299px;
}
.artlogouploads {
    clear: both;
    float: left;
    width: 303px;
}
.artlogouploadsave_data {
    clear: both;
    display: none;
    float: left;
    margin-left: 110px;
    width: 80px;
}
.artlogouploadsave_data:hover {
    cursor: pointer;
}
.artlogofilename {
    float: left;
    height: 24px;
    overflow: hidden;
    padding-top: 3px;
    white-space: nowrap;
    width: 236px;
}
/* Manage code popup */
.managecodeform {
    background: none repeat scroll 0 0 border-box #FFFFFF;
    clear: both;
    float: left;
    height: 25px;
    padding: 20px 15px;
    width: 319px;
}
.managecodeform span {
    float: left;
    width: 120px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
input.managecodeval {
    float: left;
    border: 1px solid #000000;
    font-size: 13px;
    color: #000000;
    width: 90px;
}
.managecodesend {
    float: left;
    margin-left: 10px;
    width: 80px;
}
.managecodesend:hover {
    cursor: pointer;
}
/* Clay & Preview  */
.artpopup_clayarea {
    float: left;
    margin-top: -19px;
    width: 147px;
}
.artpopup_clayrow {
    clear: both;
    float: left;
    width: 100%;
}
.claycheck {
    float: left;
    margin-left: 28px;
    width: 52px;
}
.claycheck label {
    color: #1A1A1A;
    float: left;
    font-size: 11px;
    line-height: 20px;
    width: 32px;
}
.previewcheck {
    float: left;
    width: 66px;
}
.previewcheck label {
    color: #1a1a1a;
    font-size: 11px;
    float: left;
    line-height: 20px;
    width: 44px;
}
.previewcheck span, .claycheck span {
    float: left;
    text-align: center;
    width: 20px;
}
/* Clay Data */
.claydataarea {
    background: url("/img/artpopup_clay_bg.png") no-repeat transparent;
    height: 159px;
    width: 150px;
}
.claydocsarea {
    clear: both;
    float: left;
    padding: 5px;
    width: 140px;
}
.claydocsendbtn {
    /* clear: both;*/
    float: left;
    margin-left: 73px;
    margin-top: 3px;
    width: 46px;
}
.claydocsendbtn.locked {
    opacity: 0.4;
}
.claydocsendbtn.active {
    opacity: 1;
    cursor: pointer;
}
.claydocrevisarea {
    clear: both;
    float: left;
    height: 90px;
    overflow: hidden;
    width: 100%;
}
.claydocrow {
    clear: both;
    float: left;
    width: 100%;
}
.claydocapprov {
    float: left;
    height: 18px;
    margin-top: 4px;
    width: 23px;
}
.claydocname {
    color: #0C00FF;
    float: left;
    font-size: 11px;
    line-height: 22px;
    width: 55px;
}
.claydocname:hover {
    cursor: pointer;
}
.claydocsended {
    float: left;
    font-size: 11px;
    width: 40px;
}
.claydocmarksend {
    float: left;
    text-align: center;
    width: 18px;
}
/* Revisions */
.clayrevisiondat {
    clear: both;
    float: left;
    margin-bottom: 3px;
    width: 100%;
}
.clayrevisicon {
    float: left;
    text-align: center;
    width: 21px;
}
.clayrevisicon img {
    height: 16px;
    width: 13px;
}
.clayrevisicon:hover {
    cursor: pointer;
}
.clayrevisseparat {
    display: table-cell;
    float: left;
    font-size: 11px;
    padding-top: 1px;
    vertical-align: middle;
    width: 60px;
}
.clayrevisdate {
    float: left;
    font-size: 11px;
    padding-top: 1px;
    text-align: center;
    width: 40px;
}
.claydocmanage {
    clear: both;
    float: left;
    width: 100%;
}
.claydocadd {
    float: left;
    width: 67px;
}
.claydocadd.locked {
    opacity: 0.4;
}
.claydocadd.active {
    opacity: 1;
    cursor: pointer;
}
.clayrevisadd {
    float: left;
    width: 67px;
}
.clayrevisadd.locked {
    opacity: 0.4;
}
.clayrevisadd.active {
    opacity: 1;
    cursor: pointer;
}
.claydocexpand {
    clear: both;
    float: left;
    margin-left: 126px;
    margin-top: -7px;
    text-align: center;
    width: 12px;
}
.claydocexpand.locked {
    opacity: 0.4;
}
.claydocexpand.active {
    opacity: 1;
    cursor: pointer;
}
/* Expand version */
.claydataexpand {
    background: url("/img/artpage/artpopup_clayexpand_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    display: none;
    float: left;
    height: 160px;
    left: 404px;
    position: absolute;
    top: 144px;
    width: 510px;
}
.claydocmanage_expand {
    clear: both;
    float: left;
    margin-left: 58px;
    margin-top: 8px;
    width: 449px;
}
.claydocsendbtn.expand {
    margin-left: 245px;
    margin-top: 0;
}
.claydocdata_expand {
    clear: both;
    float: left;
    height: 105px;
    width: 100%;
}
.expandcolview {
    float: left;
    margin-left: 7px;
    width: 134px;
}
.claycollapse {
    clear: both;
    float: left;
    margin-left: 486px;
    font-size: 12px;
    width: 10px;
}
.claycollapse:hover {
    cursor: pointer;
}
/* Clay Approved Data */
.clayapprovedarea {
    background: url("/img/artpage/artpopup_clayapproved_bg.png") no-repeat transparent;
    height: 61px;
    width: 150px;
}
/* Preview Area */
.previewdataarea {
    background: url("/img/artpage/artpopup_preview_bg.png") no-repeat transparent;
    height: 159px;
    width: 150px;
}
/* Approved Preview */
.previewapprovedarea {
    background: url("/img/artpage/artpopup_previewapproved_bg.png") no-repeat transparent;
    height: 61px;
    width: 150px;
}
/* Clay Revision Edit */
.clayrevision_edit {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    height: 313px;
    margin-top: 9px;
    padding: 10px;
    width: 703px;
}
.artpopup_artwork {
    float: left;
    width: 188px;
}
/* Template description */
.artpopup_template {
    background: url('/img/artpage/artpopup_templat_bg.png') no-repeat transparent;
    float: left;
    width: 170px;
    height: 49px;
    margin-bottom: 5px;
    padding: 5px;
}
.artpopup_templrow {
    clear: both;
    color: #010101;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 165px;
}
.artpopup_templview {
    float: left;
    margin-left: 80px;
    width: 18px;
}
.artpopup_templview:hover {
    cursor: pointer;
}
.artpopup_templviewicon {
    float: left;
    width: 18px;
}
.artpopup_templviewicon:hover {
    cursor: pointer;
}
.artpopup_templtype {
    color: #0000FF;
    float: left;
    font-size: 12px;
    padding-top: 3px;
    width: 36px;
}
.artpopup_templtype:hover {
    cursor: pointer;
}
.artpopup_templtypeemp {
    float: left;
    width: 57px;
}

.artpopup_proofs {
    background: url("/img/artpage/artpopup_proofs_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 254px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 1px;
    width: 177px;
}
.artpopup_maildat {
    float: left;
    margin-left: 110px;
    width: 58px;
    margin-bottom: 15px;
}
.artpopup_maildat:hover {
    cursor: pointer;
}
.proofdocsarea {
    clear: both;
    float: left;
    margin-bottom: 10px;
    max-height: 167px;
    overflow-y: scroll;
    width: 177px;
}
.artpopup_proofrow {
    clear: both;
    float: left;
    margin-bottom: 3px;
    /* width: 181px; */
    width: 164px;
}
.addproof {
    width: 64px;
}
.addproof:hover {
    cursor: pointer;
}
.proofnotapproved:hover {
    cursor: pointer;
}
/* artpopup_approve_btn.png */
/* artpopup_approved_btn.png */
.artpopup_artproofcheck {
    float: left;
    margin-top: -4px;
    width: 24px;
}
.artpopup_proofstar {
    float: left;
    margin-top: -1px;
    width: 20px;
}
.artpopup_proofname {
    float: left;
    color: #0c00ff;
    font-size: 11px;
    width: 75px;
}
.artpopup_proofname:hover {
    cursor: pointer;
}
.artpopup_proofsend {
    float: left;
    width: 27px;
    color: #1a1a1a;
    font-size: 11px;
    font-style: italic;
}
.artpopup_proofsend:hover {
    cursor: pointer;
}
.artpopup_approved {
    background: url("/img/artpage/artpopup_approved_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 148px;
    padding: 29px 5px 5px;
    width: 180px;
}
.artpopup_approvedname {
    float: left;
    color: #0c00ff;
    font-size: 11px;
    width: 75px;
}
.artpopup_approvedname:hover {
    cursor: pointer;
}
.artpopup_save {
    float: left;
    margin-left: 124px;
    width: 62px;
}
.artpopup_save:hover {
    cursor: pointer;
}
/*  Templates */
.template_container {
    background-color: #E9E9E9;
    float: left;
    height: 470px;
    margin: 5px auto 0;
    padding: 15px;
    position: relative;
    width: 600px;
}
.itemstemplate_head {
    clear: both;
    color: #000000;
    float: left;
    font-size: 13px;
    height: 24px;
    text-align: center;
    width: 600px;
}
.template_head_itemnum {
    float: left;
    width: 66px;
}
.template_head_itemname {
    float: left;
    width: 350px;
}
.template_head_itemfile {
    float: left;
    width: 183px;
}
.templates_listdata {
    clear: both;
    color: #000000;
    float: left;
    font-size: 13px;
    height: 432px;
    overflow-y: auto;
    width: 590px;
    text-align: left;
}
.templatesdata_row {
    clear: both;
    float: left;
    height: 20px;
    padding-top: 3px;
    width: 573px;
}
.template_data_itemnum {
    float: left;
    width: 66px;
}
.template_data_itemname {
    float: left;
    width: 350px;
}
.template_data_itemfile {
    float: left;
    width: 120px;
}
i.templateplayer {
    color:#2b542c;
    font-size: 16px;
}
.artpopup_artfilename {
    float: left;
    font-size: 11px;
    color: #0c00ff;
    width: 95px;
}
.artpopup_artfilename:hover {
    cursor: pointer;
}
.artpopup_artredcirkle {
    background: url('/img/art/artpopup_redcircle.png') no-repeat transparent;
    float: left;
    width: 13px;
}
.artpopup_artredcirkle img {
    width: 13px;
    height: 13px;
}
.artpopup_artredcirkle:hover {
    cursor: pointer;
}
.artpopup_vectorfilename {
    float: left;
    font-size: 11px;
    color: #0c00ff;
    width: 95px;
}
.artpopup_vectorfilename:hover {
    cursor: pointer;
}
/* Popup - edit text */
/* Upload view */
.vectorupload_container {
    background-color: #fff;
    min-height: 160px;
    padding: 15px;
    width: 410px;
}
.vectorupload_data {
    float: left;
    color: #000;
    font-size: 14px;
    width: 410px;
}
.vectorupload_title {
    clear: both;
    float: left;
    width: 410px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.vectoruploads {
    clear: both;
    float: left;
    width: 400px;
}
.vectorfiledat {
    clear: both;
    float: left;
    width: 400px;
}
.vectorfilename {
    float: left;
    width: 325px;
    margin-left: 15px;
    height: 24px;
}
.delvectofile {
    float: left;
    width: 32px;
    text-align: center;
}
.delvectofile:hover {
    cursor: pointer;
}
.vectorsave_data {
    clear: both;
    float: left;
    width: 80px;
    margin-left: 180px;
    display: none;
}
.vectorsave_data:hover {
    cursor: pointer;
}
/* Fonts Popup */
.imprintfonts {
    background: url("/img/artpage/font_select_bg.png") repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 14px;
    height: 644px;
    margin: 0;
    padding: 91px 25px 10px 38px;
    position: relative;
    width: 981px;
}
.imprintfonts-row {
    clear: both;
    float: left;
    width: 880px;
    color: #0000c0;
    font-family: arial, verdana, sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.imprintfonts-legend {
    float: left;
    width: 535px;
    text-align: left;
    padding-left: 15px;
}
.imprintcolors-input {
    float: left;
    width: 295px;
    color: #000;
}
input.fontmanual {
    width: 290px;
    border: 1px solid;
    font-family: arial, verdana, sans-serif;
    font-size: 22px;
    height: 40px;
}
.imprintfonts_table {
    clear: both;
    float: left;
    margin-left: -11px;
    margin-top: 9px;
    max-height: 358px;
    overflow-y: auto;
    width: 922px;
}
table.table-fontpopular {
    border: none;
}
.imprintfonts_table table.table-fontpopular td.fontdat {
    height: 44px;
    padding: 12px;
    vertical-align: middle;
    width: 255px;
}
table.table-fontpopular td.fontdat div.fontshow {
    float: left;
    text-align: left;
    width: 250px;
}
.fontshow {
    float: left;
    width: 380px;
    text-align: left;
}
.select_font_bottom {
    clear: both;
    float: left;
    margin-top: 15px;
    margin-left: 739px;
    width: 180px;
    height: 52px;
}
.fontview {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    width: 450px;
    display: none;
}
.fontviewtitle {
    float: left;
    font-size: 14px;
    color: #717174;
    width: 74px;
}
.viewtype {
    float: left;
    font-size: 14px;
    color: #bcbcbd;
    width: 80px;

}
.viewtype-active {
    float: left;
    font-size: 14px;
    width: 80px;
    color: #3d3df8;
}
.font_button_select {
    background: url("/img/artpage/select_font_btn.png") repeat scroll 0 0 transparent;
    color: #514F4F;
    float: right;
    font-size: 23px;
    font-weight: bold;
    height: 52px;
    padding-top: 7px;
    text-align: center;
    width: 165px;
}
.font_button_select.active {
    color: #000;
}
.font_button_select.active:hover {
    cursor: pointer;
}
/* Order Assign */
.orderassign_content {
    background-color: #FFFFFF;
    clear: both;
    float: left;
    height: 379px;
    margin-top: 9px;
    width: 698px;
}
.orderassigndata_content {
    clear: both;
    float: left;
    margin: 10px 8px 10px 11px;
    width: 678px;
}
.orderassign_row {
    clear: both;
    float: left;
    text-align: left;
    margin-bottom: 11px;
    width: 664px;
}
.orderdatatitle {
    background-color: #787878;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 0;
    padding-top: 4px;
    text-align: center;
    width: 677px;
}
.orderdata {
    font-size: 13px;
    height: 21px;
    margin-bottom: 0;
    padding-top: 4px;
}
.orderassign_row.orderdata:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}
.orderassigndata_info {
    clear: both;
    float: left;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 677px;
}
.orderassign_num {
    float: left;
    text-align: center;
    width: 60px;
}
.orderassign_date {
    float: left;
    text-align: center;
    width: 65px;
}
.orderassign_customer {
    float: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    width: 230px;
}
.orderassign_item {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 240px;
}
.orderassign_itemqty {
    float: left;
    width: 35px;
}
.orderassign_total {
    float: left;
    text-align: center;
    width: 68px;
}
/* Approve mail */
.aprovemail_content {
    background: url("/img/artpage/artpopup_approveemail_bg.png") no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 442px;
    margin-top: 9px;
    width: 356px;
}
.approvemaildata_content {
    clear: both;
    float: left;
    margin: 10px 8px 10px 11px;
    width: 345px;
}
.approvemail_row {
    clear: both;
    float: left;
    text-align: left;
    margin-bottom: 11px;
    width: 331px;
}
.approvemail_label {
    color: #1A1A1A;
    float: left;
    font-size: 12px;
    padding-top: 4px;
    text-align: left;
    width: 46px;
}
.approvemail_data {
    float: left;
    width: 285px;
}
.addbccapprove {
    text-align: left;
    color: #0e02ff;
    font-size: 11px;
    text-decoration: none;
    font-style: italic;
}
.addbccapprove:hover {
    cursor: pointer;
}
input.aprovemail_input {
    float: left;
    border: 1px solid #000000;
    color: #000;
    font-size: 12px;
    width: 283px;
}
textarea.aprovemail_message {
    float: left;
    height: 241px;
    margin-top: -6px;
    overflow-y: auto;
    resize: none;
    width: 323px;
    color: #000;
    font-size: 12px;
}
.approvemail_send {
    float: left;
    margin-left: 271px;
    margin-top: -6px;
    width: 60px;
}
.approvemail_send:hover {
    cursor: pointer;
}
/* Refference logo upload */
.reflogoupload_container {
    background: none no-repeat scroll 0 0 #FFFFFF;
    margin-left: -7px;
    margin-top: 5px;
    padding: 15px;
    width: 350px;
    float: left;
}
.reflogoupload_data {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 100%;
}
.referencelogo_row {
    width: 100%;
}
.referencelogo_row > div {
    float: left;
}
.refattachcheck {
    text-align: center;
    width: 20px;
}
.refattachlogoname {
    padding-left: 7px;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.refattachview {
    text-align: center;
    width: 20px;
}
.reflogouploadsave_data {
    float: right!important;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}