/* Popup WIN */
#proofRequestModal h4.modal-title {
    text-align: center!important;
    font-weight: 600;
}
#proofRequestModal .modal-header {
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}
#proofRequestModal .modal-body {
    padding: 0!important;
}
#proofRequestModal .modal-footer {
    padding: 0!important;
}
#proofRequestModal button.close {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    font-size: 22px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    padding: 0;
    font-weight: 600;
}
#proofRequestModal .modal-dialog {
    width: 507px;
    margin: 30px auto;
}
/* Content */
.contant-popup div {
    float: left;
}
.proofrequestsform {
    width: 100%;
    background: #229e1f;
    padding: 9px 7px;
    border-radius: 0 0 5px 5px;
}
.pr-greyblock {
    width: 100%;
    background: #d4d4d4;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 7px;
}
.topgreyblock {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}
.proofrequsts-row {
    width: 100%;
    margin-bottom: 3px;
}
.onlinequote-group label {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 2px;
    margin-right: 3px;
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.proofrequsts-group {}
.proofrequsts-group label {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 5px;
    text-align: right;
    line-height: 21px;
    float: left;
}
.proofrequsts-group input {
    border: 1px solid #000;
    border-radius: 3px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    padding-left: 5px;
}
.pr-orderboxconnect {
    background: #bebebe;
    background: linear-gradient(to top, #a1a1a1, #ececec);
    border: 1px solid #585858;
    border-radius: 5px;
    width: 73px;
    height: 21px;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
}
.prgroup-request {
    margin-left: 17px;
    line-height: 23px;
}
.pr-requestbox {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    line-height: 19px;
}
.prgreyblock-left {
    width: 238px;
    margin-right: 5px;
}
.prgroup-customer input,
.prgroup-contact input,
.prgroup-email input,
.prgroup-phone input {
    width: 175px;
}
.prgroup-customer label,
.prgroup-contact label,
.prgroup-email label,
.prgroup-phone label {
    width: 58px;
    margin-right: 4px;
}
.prgreyblock-right {
    float: right !important;
    width: 230px;
}
/*.prgroup-itemnumber label {*/
.prgroup-item label {
    width: 34px;
    margin-right: 6px;
}
.prgroup-itemnumber input {
    width: 65px;
}
.prgroup-item select {
    border: 1px solid #000;
    border-radius: 3px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 600;
    background: #fff;
    /*width: 227px;*/
    width: 183px;
    float: right;
}
.prgroup-item > .select2-container .select2-selection--single {
    border: 1px solid #000!important;
    border-radius: 3px!important;
    height: 21px!important;
    font-size: 12px;
    line-height: 21px!important;
    font-weight: 600;
    background: #fff;
}
.prgroup-item > .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000000!important;
    line-height: 21px!important;
}
.prgroup-item > .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 21px!important;
}
.prgroup-itemdescription input {
    display: none;
    width: 183px;
    margin-left: 40px;
}
.prgroup-itemdescription input.active {
    display: block;
}
.prgroup-notes textarea {
    border: 1px solid #000;
    border-radius: 3px;
    height: 46px;
    width: 186px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    background: #fff;
    resize: none;
    float: right;
    padding: 2px 5px;
}
.pr-lightgreen {
    background: #8aff87;
    border: 1px solid #136f11;
    border-radius: 5px;
    padding: 5px 7px;
}
.pr-instrupdate {
    width: 100%;
    margin-top: 12px;
}
.pr-instructions {
    width: 300px;
}
.pr-blocktitle {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
}
.pr-instructions .pr-blockbox {
    /*background: #fff;*/
    /*border: 1px solid #585858;*/
    /*width: 298px;*/
    /*height: 58px;*/
    /*border-radius: 3px;*/
}
.pr-instructions .pr-blockbox textarea {
    background: #fff;
    border: 1px solid #585858;
    width: 298px;
    height: 58px;
    border-radius: 3px;
    resize: none;
    font-size: 12px;
    padding: 5px;
}
.pr-update {
    float: right !important;
    width: 168px;
}
.pr-update .pr-blockbox {
    /*background: #fff;*/
    /*border: 1px solid #585858;*/
    /*width: 167px;*/
    /*height: 58px;*/
    /*border-radius: 3px;*/
}
.pr-update .pr-blockbox textarea {
    background: #fff;
    border: 1px solid #585858;
    width: 167px;
    height: 58px;
    border-radius: 3px;
    resize: none;
    font-size: 12px;
    padding: 5px;
}
.viewhistory {
    color: #0e19f3;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    float: right !important;
    margin-right: 3px;
}
.viewhistory.active {
    cursor: pointer;
}
.pr-artworkblock {
    width: 100%;
    /*height: auto;*/
    /*min-height: 186px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.pr-otherblocks {
    width: 100%;
}
.otherblocks-left {}
.otherblocks-right {
    width: 241px;
    float: right !important;
}
.pr-proofs {
    width: 241px;
    height: 152px;
}
.prproofs-top {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
    width: 100%;
    margin-bottom: 5px;
}
.prproofs-title {
    font-size: 12px;
    font-weight: 600;
}
.prproofs-data-table {
    width: 100%;
    margin-bottom: 10px;
    height: 77px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.prproofs-data-table .datarow div {
    font-size: 11px;
    height: 18px;
    line-height: 18px;
}
.prproofs-data-table .approveflag {
    width: 20px;
    text-align: center;
    padding-top: 2px;
}
.prproofs-data-table .approveflag i {
    font-size: 14px;
    cursor: pointer;
}
.prproofs-data-table .proofdocname {
    width: 50px;
    cursor: pointer;
}
.prproofs-data-table .proofdocsend {
    width: 50px;
}
.prproofs-data-table .proofdoccheck {
    width: 15px;
    text-align: center;
}
.prproofs-data-table .proofdoccheck input {
    margin-top: 2px;
}
.prproofs-data-table .proofdocremove {
    width: 20px;
    text-align: center;
}
.prproofs-data-table .proofdocremove i {
    font-size: 14px;
    cursor: pointer;
    color: #ff0000;
}
.prproofs-btnemail {
    width: 53px;
    height: 18px;
    line-height: 16px;
    color: #fff;
    background: #1cab22;
    background: linear-gradient(to top, #1a9726, #1dc11d);
    border: 1px solid #0e6e0c;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    float: right !important;
}
.prproofs-btnadd {
    width: 36px;
    height: 18px;
    line-height: 16px;
    color: #fff;
    background: #1cab22;
    background: linear-gradient(to top, #1a9726, #1dc11d);
    border: 1px solid #0e6e0c;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 11px;
    cursor: pointer;
}
.pr-templates {
    float: right !important;
    width: 241px;
    height: 48px;
}
.templates-title {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
}
.templates-links {
    width: 100%;
}
.templates-linkbox {
    cursor: pointer;
    margin-right: 15px;
}
.templ-linkicon {
    color: #000;
    font-size: 14px;
    margin-right: 3px;
}
.templ-linktext {
    color: #0e19f3;
    font-size: 12px;
    line-height: 22px;
}
.templlink-find {
    float: right !important;
}
.templlink-find .templ-linkicon {
    position: relative;
    top: -2px;
}
.templlink-find .templ-linkicon img {
    height: 15px;
    width: auto;
}
.pr-approved {
    float: right !important;
    width: 241px;
    height: 92px;
    margin-top: 12px;
}
.approved-title {
    font-size: 12px;
    font-weight: 600;
    width: 100%;
}
.prapproved-data-table {
    width: 100%;
    height: 66px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.prapproved-data-table .datarow div {
    height: 18px;
    line-height: 18px;
    font-size: 11px;
}
.approveddocname {
    width: 72px;
    cursor: pointer;
}
.approveddocremove {
    width: 20px;
    padding-top: 2px;
}
.approveddocremove i {
    font-size: 14px;
    color: #ff0000;
}
.pr-footer {
    width: 100%;
    height: 45px;
}
.pr-btnsave {
    width: 71px;
    height: 27px;
    line-height: 25px;
    color: #fff;
    background: #5d61ff;
    background: linear-gradient(to top, #4c4dff, #757cff);
    border: 1px solid #1a1b70;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right !important;
    margin-top: 15px;
}
.newartwork {
    width: 151px;
    height: 25px;
    background: #5edfe9;
    background: linear-gradient(to top, #30d4e3, #95ecf0);
    border: 1px solid #494949;
    border-radius: 5px;
    padding: 0 3px;
    margin-top: 15px;
}
.newartwork-text {
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}
.newartwork-select {
    float: right !important;
}
.newartwork-select select {
    width: 83px;
    height: 18px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #8f8f9d;
    font-size: 11px;
}
.artwork-contant {
    width: 100%;
}
.artwork-header {
    width: 100%;
    line-height: 17px;
    margin-bottom: 4px;
    font-size: 11px;
    text-align: center;
}
.artwork-body {
    width: 100%;
    height: 162px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}
.artw-titleblock {
    /*width: 63px;*/
    color: #fff;
    font-size: 14px;
    width: 80px;
}
.artw-type {
    width: 81px;
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
    line-height: 22px;
}
.artw-srclabel {
    width: 124px;
}
.artw-redraw {
    width: 44px;
    text-align: center;
}
.artw-rush {
    width: 37px;
    text-align: center;
}
.artw-vector {
    width: 80px;
    text-align: center;
}
.artw-rdrnotes {
    width: 56px;
    text-align: center;
}
.artw-rdrnotes-icon {
    color: #000;
    font-size: 14px;
    position: relative;
    top: -1px;
}
.artw-rdrnotes-icon i {
    color: #999999;
}
.artw-rdrnotes-icon.filled i {
    color: #254c25;
}
.artw-redo {
    width: 37px;
    text-align: center;
}
.artw-delete {
    float: right !important;
    width: 25px;
    margin-left: 3px;
}
.artw-area {
    width: 100%;
}
.artw-row {
    width: 100%;
    margin-bottom: 3px;
}
.artw-linebox {
    height: 24px;
    line-height: 24px;
    border: 1px solid #136f11;
    border-radius: 3px;
}
.artw-linebox.lightgreen {
    background: #8aff87;
}
.artw-linebox.white {
    background: #fff;
}
.artw-btndelete {
    width: 24px;
    height: 24px;
    line-height: 20px;
    background: #f82408;
    border: 1px solid #136f11;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.artw-srcfont {}
.artw-srcfont-icn {
    margin-right: 3px;
}
.artw-srcfont-icn i {
    color: #999999;
}
.artw-srcfont-icn.filled i {
    color: #254c25;
}
.artw-srcfont-txt {
    font-size: 11px;
    margin-right: 4px;
}
.artw-srcfont-inp {}
.artw-srcfont-inp input {
    width: 77px;
    height: 16px;
    border: 1px solid #8f8f9d;
    border-radius: 2px;
    font-size: 10px;
    padding-left: 3px;
    position: relative;
    top: -3px;
}
.artw-srclogo {
    width: 100%;
    color: #3736fe;
    font-size: 12px;
}
.artw-srcrepeat {}
.artw-srcrepeat-txt {
    font-size: 11px;
    margin-right: 4px;
}
.artw-srcrepeat-inp input {
    width: 81px;
    height: 16px;
    border: 1px solid #8f8f9d;
    border-radius: 2px;
    font-size: 10px;
    padding-left: 3px;
    position: relative;
    top: -3px;
}
.artw-rowoptions {
    width: 100%;
    line-height: 24px;
    padding-left: 5px;
}
.artwoptions-title {
    font-size: 11px;
    margin-right: 4px;
}
.artwoptions-subtitle {
    color: #fff;
    font-size: 11px;
    margin-right: 4px;
}
.artwoptions-selectcolors {
    margin-right: 4px;
}
.artwoptions-selectcolors select {
    width: 80px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    background: #fff;
    font-size: 11px;
    position: relative;
    top: -2px;
}
.artwoptions-colorlist {
    margin-top: 7px;
    margin-right: 5px;
}
.artwoptions-colorbox.activebox {
    opacity: 1;
}
.artwoptions-colorbox {
    width: 30px;
    height: 11px;
    border: 1px solid #000;
    background: #fff;
    opacity: .2;
    margin-right: 4px;
}
.artwoptions-colorbox:last-child {
    margin-right: 0;
}
.artwoptions-colorbox.blackcolor {
    background: #000000;
}
.artwoptions-colorbox.forestgreen {
    background: #254c25;
}
.artwoptions-colorbox.aquacolor {
    background: #2287bf;
}
.artwoptions-colorbox.whitecolor {
    background: #ffffff;
}
.artwoptions-colorbox.yellowcolor {
    background: #ffff00;
}
.artwoptions-colorbox.tealcolor {
    background: #3893af;
}
.artwoptions-colorbox.lightblue {
    background: #9cb6ff;
}
.artwoptions-colorbox.yellowishorange {
    background: #eabf0a;
}
.artwoptions-colorbox.peachcolor {
    background: #ffbdae;
}
.artwoptions-colorbox.royalblue {
    background: #0000ff;
}
.artwoptions-colorbox.orangecolor {
    background: #ff6700;
}
.artwoptions-colorbox.tancolor {
    background: #ba7735;
}
.artwoptions-colorbox.reflexblue {
    background: #0404aa;
}
.artwoptions-colorbox.burntorange {
    background: #bc6506;
}
.artwoptions-colorbox.browncolor {
    background: #603f0f;
}
.artwoptions-colorbox.navyblue {
    background: #030356;
}
.artwoptions-colorbox.scarletred {
    background: #ff0000;
}
.artwoptions-colorbox.lightgreycolor {
    background: #e5e5e5;
}
.artwoptions-colorbox.lightgreen {
    background: #5fffc2;
}
.artwoptions-colorbox.marooncolor {
    background: #6d0303;
}
.artwoptions-colorbox.medgrey {
    background: #999999;
}
.artwoptions-colorbox.limegreen {
    background: #00ff00;
}
.artwoptions-colorbox.pinkcolor {
    background: #ee87f9;
}
.artwoptions-colorbox.darkgreycolor {
    background: #494948;
}
.artwoptions-colorbox.grassgreen {
    background: #009345;
}
.artwoptions-colorbox.purplecolor {
    background: #3c1699;
}
.artwoptions-colorbox.metallicsilver {
    background: #e5e5e5;
}
.artwoptions-colorbox.originalgreen {
    background: #21937d;
}
.artwoptions-colorbox.lavender {
    background: #b69ef2;
}
.artwoptions-colorbox.metallicgold {
    background: #baba4f;
}
.selectlocation {
    margin-right: 4px;
}
.selectlocation select {
    width: 80px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    background: #fff;
    font-size: 11px;
    position: relative;
    top: -2px;
}
/* Order Repeat Popup */
.orderarchive_area {
    width: 274px;
}
.orderarchive_save {
    cursor: pointer;
}
/* Proof Req - History View */
.artpopup_historyarea {
    background: url('/img/artpage/artpopup_history_bg.png') no-repeat;
    clear: both;
    float: left;
    height: 472px;
    width: 365px;
}
.artpopup_historydata {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    float: left;
    height: 426px;
    margin-left: 29px;
    margin-top: 6px;
    overflow-y: auto;
    width: 314px;
}
.artpopup_historyhead {
    clear: both;
    float: left;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 3px;
    width: 307px;
}
/*.parsedproofrequest {*/
/*    float: right;*/
/*    margin-top: -13px;*/
/*    width: 30px;*/
/*}*/
.artpopup_historymsg {
    clear: both;
    float: left;
    font-size: 11px;
    margin-bottom: 5px;
    text-align: left;
    width: 312px;
}
/*.parsedproofrequest:hover {*/
/*    cursor: pointer;*/
/*}*/

/* Upload ARTWORK Logos */
.artlogoupload_container {
    background: none no-repeat scroll 0 0 #FFFFFF;
    height: 74px;
    margin-left: -7px;
    margin-top: 5px;
    padding: 15px;
    width: 293px;
}
.artlogoupload_data {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 301px;
}
.artlogoupload_title {
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 299px;
}
.artlogouploads {
    clear: both;
    float: left;
    width: 303px;
}
.artlogouploadsave_data {
    clear: both;
    display: none;
    float: left;
    margin-left: 110px;
    width: 80px;
}
.artlogouploadsave_data:hover {
    cursor: pointer;
}
.artlogofilename {
    float: left;
    height: 24px;
    overflow: hidden;
    padding-top: 3px;
    white-space: nowrap;
    width: 236px;
}

/* Refference logo upload */
.reflogoupload_container {
    background: none no-repeat scroll 0 0 #FFFFFF;
    margin-left: -7px;
    margin-top: 5px;
    padding: 15px;
    width: 350px;
    float: left;
}
.reflogoupload_data {
    color: #000000;
    float: left;
    font-size: 13px;
    width: 100%;
}
.referencelogo_row {
    width: 100%;
}
.referencelogo_row > div {
    float: left;
}
.refattachcheck {
    text-align: center;
    width: 20px;
}
.refattachlogoname {
    padding-left: 7px;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.refattachview {
    text-align: center;
    width: 20px;
}
.reflogouploadsave_data {
    float: right!important;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
/* Fonts Popup */
.imprintfonts {
    background: url("/img/artpage/font_select_bg.png") repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 14px;
    height: 644px;
    margin: 0;
    padding: 91px 25px 10px 38px;
    position: relative;
    width: 981px;
}
.imprintfonts-row {
    clear: both;
    float: left;
    width: 880px;
    color: #0000c0;
    font-family: arial, verdana, sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
.imprintfonts-legend {
    float: left;
    width: 535px;
    text-align: left;
    padding-left: 15px;
}
.imprintcolors-input {
    float: left;
    width: 295px;
    color: #000;
}
input.fontmanual {
    width: 290px;
    border: 1px solid;
    font-family: arial, verdana, sans-serif;
    font-size: 22px;
    height: 40px;
}
.imprintfonts_table {
    clear: both;
    float: left;
    margin-left: -11px;
    margin-top: 9px;
    max-height: 358px;
    overflow-y: auto;
    width: 922px;
}
table.table-fontpopular {
    border: none;
}
.imprintfonts_table table.table-fontpopular td.fontdat {
    height: 44px;
    padding: 12px;
    vertical-align: middle;
    width: 255px;
}
table.table-fontpopular td.fontdat div.fontshow {
    float: left;
    text-align: left;
    width: 250px;
}
.fontshow {
    float: left;
    width: 380px;
    text-align: left;
    padding: 6px;
}
.select_font_bottom {
    clear: both;
    float: left;
    margin-top: 15px;
    margin-left: 739px;
    width: 180px;
    height: 52px;
}
.fontview {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    width: 450px;
    display: none;
}
.fontviewtitle {
    float: left;
    font-size: 14px;
    color: #717174;
    width: 74px;
}
.viewtype {
    float: left;
    font-size: 14px;
    color: #bcbcbd;
    width: 80px;

}
.viewtype-active {
    float: left;
    font-size: 14px;
    width: 80px;
    color: #3d3df8;
}
.font_button_select {
    background: url("/img/artpage/select_font_btn.png") repeat scroll 0 0 transparent;
    color: #514F4F;
    float: right;
    font-size: 23px;
    font-weight: bold;
    height: 52px;
    padding-top: 7px;
    text-align: center;
    width: 165px;
}
.font_button_select.active {
    color: #000;
}
.font_button_select.active:hover {
    cursor: pointer;
}
/* Color Choice Popup */
.imprintcolors {
    background: url("/img/artpage/popupcolors_bg.png") repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 14px;
    float: left;
    height: 698px;
    margin: 0;
    padding: 25px 25px 0;
    position: relative;
    width: 982px;
}
.imprintcolors_head {
    clear: both;
    color: #0000FF;
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -18px;
    text-align: center;
    width: 930px;
}
.imprintcolors_table {
    clear: both;
    float: left;
    width : 930px;
    margin-top: 15px;
}
table.table-imprintcolors {
    border: none;
}
.imprintcolors_table table.table-imprintcolors td.colordat {
    width: 307px;
    padding: 3px;
}
.radiselect {
    clear: both;
    float: left;
    width: 15px;
    padding-top: 13px;
}
.colorshow {
    float:left;
    margin-left: 10px;
    width: 82px;
    height: 39px;
    border: 1px solid #000;
}
.colorname {
    float:left;
    width:150px;
    margin-left:10px;
    padding-top: 12px;
}
input.inputcolor {
    border: 1px solid #000000;
    color: #000000;
    font-size: 14px;
    height: 20px;
    margin-left: -60px;
    margin-top: 9px;
    width: 120px;
}
.select_color {
    background: url("/img/artpage/select_color_btn.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 17px;
    height: 45px;
    margin-left: 107px;
    padding-top: 10px;
    text-align: center;
    width: 158px;
}
.select_color a {
    color: #494948;
    text-decoration: none;
    font-size: 20px;
}
.select_color a.active {
    color: #000000;
}
/* Order Assign */
.orderassign_content {
    background-color: #FFFFFF;
    clear: both;
    float: left;
    height: 379px;
    margin-top: 9px;
    width: 698px;
}
.orderassigndata_content {
    clear: both;
    float: left;
    margin: 10px 8px 10px 11px;
    width: 678px;
}
.orderassign_row {
    clear: both;
    float: left;
    text-align: left;
    margin-bottom: 11px;
    width: 664px;
}
.orderdatatitle {
    background-color: #787878;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 0;
    padding-top: 4px;
    text-align: center;
    width: 677px;
}
.orderdata {
    font-size: 13px;
    height: 21px;
    margin-bottom: 0;
    padding-top: 4px;
}
.orderassign_row.orderdata:hover {
    background-color: #a9a9a9;
    cursor: pointer;
}
.orderassigndata_info {
    clear: both;
    float: left;
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 677px;
    scrollbar-width: none;
}
.orderassign_num {
    float: left;
    text-align: center;
    width: 60px;
}
.orderassign_date {
    float: left;
    text-align: center;
    width: 65px;
}
.orderassign_customer {
    float: left;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    width: 230px;
}
.orderassign_item {
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 240px;
}
.orderassign_itemqty {
    float: left;
    width: 35px;
}
.orderassign_total {
    float: left;
    text-align: center;
    width: 68px;
}
