/* CSS for page Accounts Receivable */
.accreceivedataview  .pagetitle {
    font-weight: bold;
}
.accreceiv-period {
    text-align: end;
}
.accreceiv-period span {
    margin-right: 0.1rem;
}
.accreceiv-period-select {
    font-size: 0.9rem;
    height: 1.9rem;
    padding: 0 0.3rem;
}
.accreceiv-totals {
    /* width: 100%; */
    margin-bottom: 0.125rem;
}
.accreceiv-totals:first-child {
    margin-bottom: -0.1875rem;
}
.accreceiv-totals-title {
    text-align: right;
    font-weight: bold;
    color: #0000ff;
}
.accreceiv-totals-title.totalar {
}
.accreceiv-totals-value {
    text-align: right;
    font-weight: bold;
}
.accreceiv-totals-value span {
    position: relative;
}
.accreceiv-totals-value.totalbalance {
    border: 2px solid #000000;
}
.accreceiv-totals-value.refund {
    color: #ff0000;
}
.accreceiv-totals-value.refund span {
}
/* Total OWN */
.accreceiv-totalown {
    width: 70%;
}
.accreceiv-totalown-title {
    font-weight: bold;
    color: #0000ff;
}
.accreceiv-totalown-value {
    border: 2px solid #000000;
    font-weight: bold;
    padding-right: 0.2rem;
    text-align: right;
}
.accreceiv-totalpast {
    margin-top: -0.5rem;
}
.accreceiv-totalpast-title {
    font-weight: bold;
    color: #ff0000;
    width: 100%;
}
.accreceiv-totalpast-value {
    font-weight: bold;
    width: 100%;
}
.accreceiv-totalpast-value span {
    position: relative;
}
.accreceiv-totalown-table {
    width: 100%;
}
.accreceiv-totalown-cell {
    border: 1px solid #000000;
    width: 33.33%;
    float: left;
}
.accreceiv-totalown-cell-year {
    font-weight: bold;
    color: #0000ff;
    float: left;
}
.accreceiv-totalown-cell-value {
    font-weight: bold;
    text-align: right;
    float: right!important;
}
.accreceiv-totalown-cell-value span {
    position: relative;
}
/* Refund Totals */
.accreceiv-totalrefund {
}
.accreceiv-totalrefund-title {
    font-weight: bold;
    color: #0000ff;
}
.accreceiv-totalrefund-value {
    border: 2px solid #000000;
    font-weight: bold;
    color: #ff0000;
    text-align: right;
}
.accreceiv-totalrefund-value span {
    position: relative;
}
.accreceiv-totalrefund-table {
    width: 100%;
}
.accreceiv-totalrefund-cell {
    border: 1px solid #000000;
    width: 33.33%;
    color: #ff0000;
    float: left;
}
.accreceiv-totalrefund-cell-year {
    font-weight: bold;
    color: #0000ff;
    float: left;
}
.accreceiv-totalrefund-cell-value {
    color: #ff0000;
    font-weight: bold;
    text-align: right;
    float: right!important;
}
.accreceiv-totalrefund-cell-value span {
    position: relative;
}
.accreceiv-totalrefund-cell-value.empty {
    color: #000000;
    text-align: left;
    float: left!important;
}
/* OWN DETAILS HEAD */
.accreceiv-owndetails-head {
    /* width: 100%; */
    /* border: 1px solid #000000;*/
    display: inline-flex;
}
.accreceiv-owndetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.ownsort {
    cursor: pointer;
}
.ownsort span {
    font-weight: normal;
}
.accreceiv-owndetails-headnum {
    width: 6.73%;
}
.accreceiv-owndetails-headdue {
    width: 13.92%;
}
.accreceiv-owndetails-headbalance {
    width: 17.63%;
}
.accreceiv-owndetails-headorder {
    width: 13.46%;
}
.accreceiv-owndetails-headcustomer {
    width: 28.07%;
}
.accreceiv-owndetails-headtype {
    width: 20.19%;
}
/* OWN Body */
.accreceiv-owndetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    width: auto;
}
.accreceiv-owndetails-bodyrow {
    /* width: 100%; */
    display: inline-flex;
    flex-direction: row;
}
.accreceiv-owndetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-owndetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
    display: block;
}
.accreceiv-owndetails-bodynum {
    text-align: center;
    border-right: 1px solid #000000;
    font-weight: bold;
    width: 6.73%;
}
.accreceiv-owndetails-bodydue {
    text-align: center;
    border-right: 1px solid #000000;
    width: 13.92%;
}
.accreceiv-owndetails-bodydue.pastdue {
    color: #ff0000;
    font-weight: bold;
}
.accreceiv-owndetails-bodybalance {
    text-align: right;
    font-weight: bold;
    border-right: 1px solid #000000;
    width: 17.63%;
}
.accreceiv-owndetails-bodybalance span {
    position: relative;
}
.accreceiv-owndetails-bodyorder {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    cursor: pointer;
    text-align: center;
    width: 13.46%;
}
.accreceiv-owndetails-bodycustomer {
    border-right: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 28.07%;
}
.accreceiv-owndetails-bodytype {
    text-align: center;
    width: 20.19%;
}
.accreceiv-owndetails-bodytype.creditcard {
    color: #0000ff;
}
/* Refund Head */
.accreceiv-refunddetails-head {
    /* border: 1px solid #000000; */
    display: inline-flex;
}
.accreceiv-refunddetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.refundsort {
    cursor: pointer;
}
.refundsort span {
    font-weight: normal;
}
.accreceiv-refunddetails-headnum {
    width: 7.43%
}
.accreceiv-refunddetails-headorderdate {
    width: 16.09%;
}
.accreceiv-refunddetails-headbalance {
    width: 18.56%;
}
.accreceiv-refunddetails-headorder {
    width: 15.84%;
}
.accreceiv-refunddetails-headcustomer {
    width: 42.08%;
}
.accreceiv-refunddetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    width: auto;
}
.accreceiv-refunddetails-bodyrow {
    display: inline-flex;
    flex-direction: row;
}
.accreceiv-refunddetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-refunddetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
    display: block;
}
.accreceiv-refunddetails-bodynum {
    text-align: center;
    border-right: 1px solid #000000;
    font-weight: bold;
    width: 7.43%;
}
.accreceiv-refunddetails-bodyorderdate {
    text-align: center;
    border-right: 1px solid #000000;
    width: 16.09%;
}
.accreceiv-refunddetails-bodybalance {
    text-align: right;
    font-weight: bold;
    color: #ff0000;
    border-right: 1px solid #000000;
    width: 18.56%;
}
.accreceiv-refunddetails-bodybalance span {
    position: relative;
}
.accreceiv-refunddetails-bodyorder {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    cursor: pointer;
    text-align: center;
    width: 18.54%;
}
.accreceiv-refunddetails-bodycustomer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 42.08%;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .accreceivedataview {
        /* max-width: 1080px; */
    }
    .accreceivedataview .pagetitle {
        height: 2.5rem;
        font-size: 1.7rem;
    }
    .accreceiv-period span {
        font-size: 1.1rem;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 0.81rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value {
        font-size: 0.95rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.75rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.65rem;
        top: -0.3rem;
    }
    /**/
    .accreceiv-totalown-title {
        font-size: 0.85rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast {
        margin-top: -0.8rem;
    }
    .accreceiv-totalpast-title {
        font-size: 1rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.95rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.32rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.5rem;
        top: -0.21rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.95rem;
        height: 1.7rem;
    }
    .accreceiv-totalrefund-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.8rem;
        padding-left: 0.15rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.17rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.5rem;
        top: -0.21rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.7rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.4rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.7rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.5rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.75rem;
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.5rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .accreceiv-period span {
        font-size: 1.05rem;
    }
    .accreceivedataview  .pagetitle {
        font-size: 1.7rem;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 0.81rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value {
        font-size: 0.95rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.75rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.65rem;
        top: -0.3rem;
    }
    /**/
    .accreceiv-totalown-title {
        font-size: 0.85rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast {
        margin-top: -0.8rem;
    }
    .accreceiv-totalpast-title {
        font-size: 1rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.95rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
        /* width: 7.21rem; */
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.32rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.5rem;
        top: -0.21rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.95rem;
        height: 1.7rem;
        line-height: 0.87rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
        /* width: 7.2rem; */
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.8rem;
        padding-left: 0.15rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.17rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.5rem;
        top: -0.21rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.7rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.4rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.65rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.5rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.75rem;
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.5rem;
        top: -0.3rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .accreceiv-period span {
        font-size: 1.05rem;
    }
    .accreceivedataview  .pagetitle {
        font-size: 1.7rem;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 1.2rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1.3rem;
    }
    .accreceiv-totals-value {
        font-size: 1.3rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.75rem;
        top: -0.35rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.65rem;
        top: -0.3rem;
    }
    .accreceiv-totalown-title {
        font-size: 1rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast {
        margin-top: -0.8rem;
    }
    .accreceiv-totalpast-title {
        font-size: 1rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.95rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 1rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.32rem;
        font-size: 1rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.7rem;
        top: -0.15rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 1rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
        /*width: 13.44rem; */
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 1rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.32rem;
        font-size: 1rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.7rem;
        top: -0.15rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.95rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.7rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.9rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.95rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
        /* width: 40.32rem; */
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.725rem;
        line-height: 1.725rem;
        font-size: 0.9rem;
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
/* Surface Duo */
@media (max-width: 540px) {
    .accreceivedataview  .pagetitle {
        font-size: 1.7rem;
    }
    .accreceiv-period {
        text-align: inherit;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 0.875rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1rem;
    }
    .accreceiv-totals-value {
        font-size: 1rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.6875rem;
        top: -0.25rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 0.875rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.5625rem;
        top: -0.25rem;
    }
    .accreceiv-totalown-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast-title {
        font-size: 0.8rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.75rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.5rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.7rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.7rem
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .accreceiv-period span {
        font-size: 1.05rem;
    }
    .accreceivedataview  .pagetitle {
        font-size: 1.7rem;
    }
    .accreceiv-period {
        text-align: inherit;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 1.2rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1.3rem;
    }
    .accreceiv-totals-value {
        font-size: 1.3rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.75rem;
        top: -0.35rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 1.1rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.65rem;
        top: -0.3rem;
    }
    .accreceiv-totalown-title {
        font-size: 1rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 1.1rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast {
        margin-top: -0.8rem;
    }
    .accreceiv-totalpast-title {
        font-size: 1rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.95rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.9rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.32rem;
        font-size: 0.9rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.7rem;
        top: -0.15rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.9rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.32rem;
        font-size: 0.9rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.7rem;
        top: -0.15rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.85rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.5rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.8rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.85rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.8rem
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
}
/* Surface Duo */
@media (max-width: 540px) {
    .accreceivedataview  .pagetitle {
        font-size: 1.7rem;
    }
    .accreceiv-period {
        text-align: inherit;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 0.875rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1rem;
    }
    .accreceiv-totals-value {
        font-size: 1rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.6875rem;
        top: -0.25rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 0.875rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.5625rem;
        top: -0.25rem;
    }
    .accreceiv-totalown-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast-title {
        font-size: 0.8rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.75rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.5rem;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.7rem;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.8rem;
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.25rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    .accreceivedataview  .pagetitle {
        font-size: 1.5rem;
    }
    .accreceiv-period {
        text-align: inherit;
    }
    .accreceiv-totals {
        margin-bottom: 0.125rem;
    }
    .accreceiv-totals:first-child {
        margin-bottom: -0.1875rem;
    }
    .accreceiv-totals-title {
        font-size: 0.875rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totals-title.totalar {
        font-size: 1rem;
    }
    .accreceiv-totals-value {
        font-size: 1rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
        padding-right: 0.4375rem;
    }
    .accreceiv-totals-value span {
        font-size: 0.6875rem;
        top: -0.25rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totals-value.totalbalance {
        line-height: 1.5rem!important;
    }
    .accreceiv-totals-value.refund {
        font-size: 0.875rem;
    }
    .accreceiv-totals-value.refund span {
        font-size: 0.5625rem;
        top: -0.25rem;
    }
    .accreceiv-totalown-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalown-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalown-value span {
        font-size: 0.6rem;
        position: relative;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalpast-title {
        font-size: 0.8rem;
    }
    .accreceiv-totalpast-value {
        font-size: 0.75rem;
    }
    .accreceiv-totalpast-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalown-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalown-cell {
        height: 1.75rem;
    }
    .accreceiv-totalown-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalown-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalown-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund {
        margin-top: 0.5rem;
    }
    .accreceiv-totalrefund-title {
        font-size: 0.78rem;
        height: 1.7rem;
        line-height: 1.7rem!important;
    }
    .accreceiv-totalrefund-value {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.4rem!important;
    }
    .accreceiv-totalrefund-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-table {
        margin-bottom: 0.0625rem;
        margin-top: 0.4375rem;
    }
    .accreceiv-totalrefund-cell {
        height: 1.75rem;
    }
    .accreceiv-totalrefund-cell-year {
        font-size: 0.8rem;
        padding-left: 0.25rem;
        line-height: 1.75rem!important;
    }
    .accreceiv-totalrefund-cell-value {
        padding-right: 0.25rem;
        font-size: 0.8rem;
        line-height: 1.75rem!important;
        float: right!important;
    }
    .accreceiv-totalrefund-cell-value span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-totalrefund-cell-value.empty {
        padding-left: 1.25rem;
    }
    .accreceiv-owndetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .ownsort span {
        font-size: 0.5rem;
    }
    .accreceiv-owndetails-headnum {
        width: 8.43%;
    }
    .accreceiv-owndetails-headdue {
        width: 17.44%;
    }
    .accreceiv-owndetails-headbalance {
        width: 22.09%;
    }
    .accreceiv-owndetails-headorder {
        width: 16.86%;
    }
    .accreceiv-owndetails-headcustomer {
        width: 35.17%;
    }
    .accreceiv-owndetails-headtype {
        display: none!important;
    }
    /* OWN BODY */
    .accreceiv-owndetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-owndetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.8rem;
    }
    .accreceiv-owndetails-bodynum {
        width: 8.43%;
    }
    .accreceiv-owndetails-bodydue {
        width: 17.44%;
    }
    .accreceiv-owndetails-bodybalance {
        padding-right: 0.125rem;
        width: 22.09%;
    }
    .accreceiv-owndetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-owndetails-bodyorder {
        width: 16.86%;
    }
    .accreceiv-owndetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        width: 35.17%;
        border-right: none!important;
    }
    .accreceiv-owndetails-bodytype {
        display: none!important;
    }
    .accreceiv-refunddetails-head > div {
        font-size: 0.75rem;
        height: 1.75rem;
        line-height: 1.75rem!important;
    }
    .refundsort span {
        font-size: 0.5rem;
    }
    .accreceiv-refunddetails-body {
        margin-bottom: 1.25rem;
    }
    .accreceiv-refunddetails-bodyrow {
        width: 100%;
    }
    .accreceiv-refunddetails-bodyrow > div {
        height: 1.5625rem;
        line-height: 1.625rem;
        font-size: 0.8rem
    }
    .accreceiv-refunddetails-bodyrow.empty {
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .accreceiv-refunddetails-bodybalance {
        padding-right: 0.125rem;
    }
    .accreceiv-refunddetails-bodybalance span {
        font-size: 0.6rem;
        top: -0.18rem;
        margin-left: 0.125rem;
    }
    .accreceiv-refunddetails-bodycustomer {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
}
