/* CSS for page Accounts Receivable */
.accreceiv-content {
    /* width: 1292px; */
    /* max-width: 1080px; */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.accreceive-title {
    /* width: 770px; */
    width: 100%;
    margin-bottom: 16px;
}
.accreceive-title div {
    height: 34px;
    line-height: 34px;
}
.accreceiv-label {
    font-size: 24px;
    font-weight: bold;
}
.accreceiv-period {
    width: 204px; /* 209 */
    /* float: right!important; */
    text-align: right;
}
.accreceiv-period span {
    font-size: 14px;
    margin-right: 5px;
}
.accreceiv-period select {
    width: 130px;
    font-size: 14px;
    padding: 2px 0 2px 5px;
    background: #e9e9ed;
}
#accreceivebrandmenu {
    margin-top: -3px;
}
.accreceiv-content-data {
    /* width: 1067px; */
    width: 1365px;
}
.accreceiv-totals, .accreceiv-details {
    width: 100%;
}
.accreceiv-content-left {
    width: 754px;
    margin-right: 125px;
}
.accreceiv-content-left.stressrelievers {
    width: 838px;
    margin-right: 41px;
}
.accreceiv-content-left.sigmasystem {
    width: 879px;
    margin-right: 20px;
}
.accreceiv-content-center {
    width: 420px;
}
.accreceiv-content-center.sigmasystem {
    width: 459px;
}
.accreceiv-content-right {
    border: 2px solid #000000;
    width: 227px;
    float: right !important;
    margin-top: -48px;
}
.accreceiv-totalown {
    width: 142px; /* 230px */
    margin-bottom: 7px;
}
.accreceiv-totalown-title {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    height: 28px;
    line-height: 28px!important;
    /* width: 87px; */
}
.accreceiv-totalown-value {
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 27px !important;
    padding-right: 5px;
    text-align: right;
    width: 100%;
}
.accreceiv-totalown-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.accreceiv-totalpast {
    margin-left: 16px;
    width: 142px;
    margin-bottom: 7px;
}
.accreceiv-totalpast-title {
    font-weight: bold;
    font-size: 14px;
    color: #ff0000;
    width: 100%;
    height: 28px;
    line-height: 24px!important;
}
.accreceiv-totalpast-value {
    border: 2px solid #ff0000;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 28px;
    line-height: 27px !important;
    text-align: right;
    padding-right: 5px;
}
.accreceiv-totalpast-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.accreceiv-totalown-table {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 7px;
}
.accreceiv-totalown-cell {
    border: 1px solid #000000;
    width: 33.33%;
    height: 28px;
}
.accreceiv-totalown-cell-year {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    padding-left: 8px;
    line-height: 28px!important;
}
.accreceiv-totalown-cell-value {
    font-size: 14px;
    font-weight: bold;
    padding-right: 11px;
    text-align: right;
    line-height: 28px!important;
    float: right!important;
}
.accreceiv-totalown-cell-value span {
    font-size: 9px;
    position: relative;
    top: -3px;
    margin-left: 0.5px;
}
.accreceiv-totalrefund {
    width: 161px; /*  360px; */
    margin-bottom: 7px;
}
.accreceiv-totalrefund-title {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    height: 28px;
    line-height: 28px!important;
    width: 163px;
}
.accreceiv-totalrefund-value {
    border: 2px solid #000000;
    font-size: 17px;
    font-weight: bold;
    color: #ff0000;
    height: 28px;
    line-height: 24px!important;
    padding-right: 5px;
    text-align: right;
    width: 137px;
}
.accreceiv-totalrefund-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.accreceiv-totalrefund-table {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 7px;
}
.accreceiv-totalrefund-cell {
    border: 1px solid #000000;
    width: 33.33%;
    color: #ff0000;
}
.accreceiv-totalrefund-cell-year {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    padding-left: 8px;
    height: 28px;
    line-height: 28px!important;
}
.accreceiv-totalrefund-cell-value {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    padding-right: 11px;
    text-align: right;
    height: 28px;
    line-height: 28px!important;
    float: right!important;
}
.accreceiv-totalrefund-cell-value span {
    font-size: 9px;
    position: relative;
    top: -3px;
    margin-left: 0.5px;
}
.accreceiv-totalrefund-cell-value.empty {
    color: #000000;
    text-align: left;
    float: left!important;
    padding-left: 20px;
}
.accreceiv-totals {
    width: 100%;
    margin-bottom: 2px;
}
.accreceiv-totals:first-child {
    margin-bottom: -3px;
}
.accreceiv-totals-title {
    width: 108px;
    margin-right: 9px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    height: 28px;
    line-height: 28px!important;
    color: #0000ff;
}
.accreceiv-totals-title.refund {
    color: #ff0000;
}
.accreceiv-totals-title.totalar {
    font-size: 16px;
    color: #000;
}
.accreceiv-totals-value {
    width: 105px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    line-height: 28px !important;
    padding-right: 7px;
    color: #1818ff;
}
.accreceiv-totals-value span {
    font-size: 11px;
    position: relative;
    top: -4px;
    margin-left: 2px;
}
.accreceiv-totals-value.totalbalance {
    color: #000;
    font-size: 17px;
}
.accreceiv-totals-value.refund {
    color: #ff0000;
    font-size: 14px;
}
.accreceiv-totals-value.refund span {
    font-size: 9px;
    top: -4px;
}
.accreceiv-owndetails-head {
    width: 100%;
    border: 1px solid #000000;
}
.accreceiv-owndetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 28px!important;
}
.ownsort {
    cursor: pointer;
}
.ownsort span {
    font-size: 9px;
    font-weight: normal;
}
.accreceiv-owndetails-headnum {
    width: 24px;
}
.accreceiv-owndetails-headdue {
    width: 58px;
}
.accreceiv-owndetails-headbalance {
    width: 86px;
}
.accreceiv-owndetails-headrunningtotal {
    width: 62px;
}
.accreceiv-owndetails-headorder {
    width: 47px;
}
.accreceiv-owndetails-headbrand {
    width: 52px;
    margin-left: -14px;
}
.accreceiv-owndetails-headordersigma {
    width: 50px;
}
.accreceiv-owndetails-headcustomer {
    width: 180px;
}
.accreceiv-owndetails-headtype {
    width: 70px;
}
.accreceiv-owndetails-headapproval {
    width: 84px;
}
.accreceiv-owndetails-headstatus {
    width: 140px;
}
.accreceiv-owndetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 20px;
}
.accreceiv-owndetails-bodyrow {
    width: 100%;
}
.accreceiv-owndetails-bodyrow > div {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.accreceiv-owndetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-owndetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
}
.accreceiv-owndetails-bodynum {
    text-align: center;
    width: 23px;
    border-right: 1px solid #000000;
}
.accreceiv-owndetails-bodydue {
    text-align: center;
    width: 58px;
    border-right: 1px solid #000000;
}
.accreceiv-owndetails-bodydue.pastdue {
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
}
.accreceiv-owndetails-bodybalance {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    border-right: 1px solid #000000;
    width: 86px;
}
.accreceiv-owndetails-bodybalance span {
    font-size: 9px;
    position: relative;
    top: -4px;
    margin-left: 0.5px;
}
.accreceiv-owndetails-bodyrunningtotal {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    border-right: 1px solid #000000;
    width: 62px;
    color: #6c6c6c;
}
.accreceiv-owndetails-bodyorder {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    width: 47px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-owndetails-bodybrand {
    border-right: 1px solid #000000;
    font-weight: bold;
    width: 25px;
    text-align: center;
}
.accreceiv-owndetails-bodybrand.stressrelievers {
    color: #000000;
    background: #fdff44;
}
.accreceiv-owndetails-bodybrand.bluetrack {
    color: #FFFFFF;
    background: #3736fe;
}
.accreceiv-owndetails-bodyordersigma {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    width: 64px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-owndetails-bodycustomer {
    border-right: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 180px;
}
.accreceiv-owndetails-bodytype {
    width: 70px;
    text-align: center;
    font-size: 12px!important;
    border-right: 1px solid #000000;
}
.accreceiv-owndetails-bodytype.creditcard {
    color: #0000ff;
}
.accreceiv-owndetails-bodyapproval {
    width: 84px;
    text-align: center;
    border-right: 1px solid #000000;
    font-size: 12px!important;
}
.accreceiv-owndetails-bodyapproval.notapproved {
    background: #fcfdab;
}
.accreceiv-owndetails-bodystatus {
    width: 140px;
    padding-left: 5px;
}
select.debtstatus {
    width: 129px;
    padding-left: 3px;
    color: #000000;
    background: #e9e9ed;
}
/* SR & Sigma fields */
.accreceiv-owndetails-headponumber {
    width: 84px;
}
.accreceiv-owndetails-bodyponumber {
    border-right: 1px solid #000000;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 84px;
}
/* Refund */
.accreceiv-refunddetails-head {
    width: 100%;
    border: 1px solid #000000;
}
.accreceiv-refunddetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 28px!important;
}
.refundsort {
    cursor: pointer;
}
.refundsort span {
    font-size: 9px;
    font-weight: normal;
}
.accreceiv-refunddetails-headnum {
    width: 15px;
}
.accreceiv-refunddetails-headorderdate {
    width: 81px;
}
.accreceiv-refunddetails-headbalance {
    width: 83px;
}
.accreceiv-refunddetails-headbrand {
    width: 52px;
    margin-left: -14px;
}
.accreceiv-refunddetails-headorder {
    width: 52px;
}
.accreceiv-refunddetails-headordersigma {
    width: 51px;
}
.accreceiv-refunddetails-headcustomer {
    width: 187px;
}
.accreceiv-refunddetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 20px;
    width: 100%;
}
.accreceiv-refunddetails-bodyrow {
    width: 100%;
}
.accreceiv-refunddetails-bodyrow > div {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
}
.accreceiv-refunddetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-refunddetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
    height: 25px;
    line-height: 25px!important;
    width: 100%;
}
.accreceiv-refunddetails-bodynum {
    text-align: center;
    width: 20px;
    border-right: 1px solid #000000;
}
.accreceiv-refunddetails-bodyorderdate {
    text-align: center;
    width: 59px;
    border-right: 1px solid #000000;
    font-size: 12px!important;
}
.accreceiv-refunddetails-bodybalance {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color: #ff0000;
    border-right: 1px solid #000000;
    width: 87px;
    font-size: 12px;
}
.accreceiv-refunddetails-bodybalance span {
    font-size: 9px;
    position: relative;
    top: -4px;
    margin-left: 0.5px;
}
.accreceiv-refunddetails-bodyorder {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    width: 50px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-refunddetails-bodybrand {
    border-right: 1px solid #000000;
    font-weight: bold;
    width: 25px;
    text-align: center;
}
.accreceiv-refunddetails-bodybrand.stressrelievers {
    color: #000000;
    background: #fdff44;
}
.accreceiv-refunddetails-bodybrand.bluetrack {
    color: #FFFFFF;
    background: #3736fe;
}
.accreceiv-refunddetails-bodyordersigma {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    width: 64px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-refunddetails-bodycustomer {
    /*border-right: 1px solid #000000;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 202px;
}
