/* CSS for page Accounts Receivable */
.accreceiv-content {
    /* width: 1292px; */
    /* max-width: 1080px; */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.accreceive-title {
    /* width: 770px; */
    width: 100%;
    margin-bottom: 16px;
}
.accreceive-title div {
    height: 34px;
    line-height: 34px;
}
.accreceiv-label {
    font-size: 24px;
    font-weight: bold;
}
.accreceiv-period {
    width: 204px; /* 209 */
    /* float: right!important; */
    text-align: right;
}
.accreceiv-period span {
    font-size: 14px;
    margin-right: 5px;
}
.accreceiv-period select {
    width: 130px;
    font-size: 14px;
    padding: 2px 0 2px 5px;
    background: #e9e9ed;
}
#accreceivebrandmenu {
    margin-top: -3px;
}
.accreceiv-content-data {
    /* width: 1067px; */
    width: 1365px;
    margin-top: 18px;
}
.accreceiv-totals, .accreceiv-details {
    width: 100%;
}
.accreceiv-content-left {
    width: 887px;
    margin-right: 55px;
    /*width: 823px;*/
    /*margin-right: 55px;*/
}
.accreceiv-content-left.stressrelievers {
    width: 838px;
    margin-right: 41px;
}
.accreceiv-content-left.sigmasystem {
    width: 879px;
    margin-right: 20px;
}
.accreceiv-content-center {
    width: 317px;
}
.accreceiv-content-center.sigmasystem {
    width: 459px;
}
.accreceiv-content-right {
    border: 2px solid #000000;
    width: 227px;
    float: right !important;
    /* margin-top: -48px; */
    margin-top: -146px;
}
.accreceiv-totalown {
    width: 142px; /* 230px */
    margin-bottom: 7px;
}
.accreceiv-totalown-title {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    height: 28px;
    line-height: 28px!important;
    /* width: 87px; */
}
.accreceiv-totalown-value {
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    line-height: 27px !important;
    padding-right: 5px;
    text-align: right;
    width: 100%;
}
.accreceiv-totalown-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.accreceiv-totalpast {
    margin-left: 16px;
    width: 142px;
    margin-bottom: 7px;
}
.accreceiv-totalpast-title {
    font-weight: bold;
    font-size: 14px;
    color: #ff0000;
    width: 100%;
    height: 28px;
    line-height: 24px!important;
}
.accreceiv-totalpast-value {
    border: 2px solid #ff0000;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    height: 28px;
    line-height: 27px !important;
    text-align: right;
    padding-right: 5px;
}
.accreceiv-totalpast-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.accreceiv-datafilter {
    padding-top: 29px;
    padding-left: 8px;
}
.ownsortselect {
    height: 26px;
    width: 100px;
    padding-left: 3px;
    font-size: 16px;
}
.accreceiv-export, .accreceiv-print {
    float: right!important;
    margin-top: 23px;
    margin-left: 7px;
}
.accreceiv-exportbtn, .accreceiv-printbtn {
    /*background: #0d01b3;*/
    /*color: #FFFFFF;*/
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0 8px 13px;
    /*border-radius: 7px;*/
}
.accreceiv-totalown-table {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 7px;
}
.accreceiv-totalown-cell {
    border: 1px solid #000000;
    width: 33.33%;
    height: 28px;
}
.accreceiv-totalown-cell-year {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    padding-left: 8px;
    line-height: 28px!important;
}
.accreceiv-totalown-cell-value {
    font-size: 14px;
    font-weight: bold;
    padding-right: 11px;
    text-align: right;
    line-height: 28px!important;
    float: right!important;
}
.accreceiv-totalown-cell-value span {
    font-size: 9px;
    position: relative;
    top: -3px;
    margin-left: 0.5px;
}
.accreceiv-totalrefund {
    width: 161px; /*  360px; */
    margin-bottom: 7px;
}
.accreceiv-totalrefund-title {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    height: 28px;
    line-height: 28px!important;
    width: 163px;
}
.accreceiv-totalrefund-value {
    border: 2px solid #000000;
    font-size: 17px;
    font-weight: bold;
    color: #ff0000;
    height: 28px;
    line-height: 24px!important;
    padding-right: 5px;
    text-align: right;
    width: 137px;
}
.accreceiv-totalrefund-value span {
    font-size: 12px;
    position: relative;
    top: -4px;
    margin-left: 1px;
}
.totalrefund-export {
    float: right!important;
    margin-top: 23px;
    margin-left: 7px;
}
.totalrefund-exportbtn {
    /*background: #0d01b3;*/
    /*color: #FFFFFF;*/
    cursor: pointer;
    font-size: 14px;
    padding: 8px 0 8px 13px;
    /*border-radius: 7px;*/
}
.accreceiv-totalrefund-table {
    width: 100%;
    margin-bottom: 1px;
    margin-top: 7px;
}
.accreceiv-totalrefund-cell {
    border: 1px solid #000000;
    width: 33.33%;
    color: #ff0000;
}
.accreceiv-totalrefund-cell-year {
    font-size: 14px;
    font-weight: bold;
    color: #0000ff;
    padding-left: 8px;
    height: 28px;
    line-height: 28px!important;
}
.accreceiv-totalrefund-cell-value {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    padding-right: 11px;
    text-align: right;
    height: 28px;
    line-height: 28px!important;
    float: right!important;
}
.accreceiv-totalrefund-cell-value span {
    font-size: 9px;
    position: relative;
    top: -3px;
    margin-left: 0.5px;
}
.accreceiv-totalrefund-cell-value.empty {
    color: #000000;
    text-align: left;
    float: left!important;
    padding-left: 20px;
}
.accreceiv-totals {
    width: 100%;
    margin-bottom: 2px;
}
.accreceiv-totals:first-child {
    margin-bottom: -3px;
}
.accreceiv-totals-title {
    width: 108px;
    margin-right: 9px;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    height: 28px;
    line-height: 28px!important;
    color: #0000ff;
}
.accreceiv-totals-title.refund {
    color: #ff0000;
}
.accreceiv-totals-title.totalar {
    font-size: 16px;
    color: #000;
}
.accreceiv-totals-value {
    width: 105px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    line-height: 28px !important;
    padding-right: 7px;
    color: #1818ff;
}
.accreceiv-totals-value span {
    font-size: 11px;
    position: relative;
    top: -4px;
    margin-left: 2px;
}
.accreceiv-totals-value.totalbalance {
    color: #000;
    font-size: 17px;
}
.accreceiv-totals-value.refund {
    color: #ff0000;
    font-size: 14px;
}
.accreceiv-totals-value.refund span {
    font-size: 9px;
    top: -4px;
}
.accreceiv-owndetails-head {
    width: 100%;
    border: 1px solid #000000;
}
.accreceiv-owndetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-size: 11.5px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
.ownsort {
    cursor: pointer;
}
/*.ownsort span {*/
/*    font-size: 9px;*/
/*    font-weight: normal;*/
/*}*/
.accreceiv-owndetails-head > div.activesortbt, .accreceiv-owndetails-head > div.activesortsb {
    background: #1849ff!important;
}
.accreceiv-owndetails-head > div.activesortsr {
    background: #fdff44!important;
    color: #000000;
}
.accreceiv-owndetails-head > div.activesortsigma {
    background: #aaa9a9!important;
    color: #000000;
}
.accreceiv-owndetails-headnum {
    width: 21px;
}
.accreceiv-owndetails-headdue {
    width: 44px;
}
.accreceiv-owndetails-headdays {
    width: 42px;
}
.accreceiv-owndetails-headdue.stressrelievers {
}
.accreceiv-owndetails-headdue.sigmasystem {
}
.accreceiv-owndetails-headbalance {
    width: 66px;
}
.accreceiv-owndetails-headrunningtotal {
    width: 62px;
    color: #c4c4c4 !important;
    line-height: 14px !important;
    font-size: 12px;
}
.accreceiv-owndetails-headorder {
    width: 47px;
}
.accreceiv-owndetails-headconfirm {
    width: 53px;
}
.accreceiv-owndetails-headbrand {
    width: 24px;
}
.accreceiv-owndetails-headordersigma {
    width: 64px;
}
.accreceiv-owndetails-headcustomer {
    width: 161px;
}
.accreceiv-owndetails-headtype {
    width: 62px;
}
.accreceiv-owndetails-headapproval {
    width: 68px;
}
.accreceiv-owndetails-headstatus {
    width: 258px;
}
.accreceiv-owndetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 20px;
}
.accreceiv-owndetails-bodyrow {
    width: 100%;
}
.accreceiv-owndetails-bodyrow > div {
    height: 22px;
    line-height: 22px;
    font-size: 11px;
}
.accreceiv-owndetails-bodyrow > div.separated {
    border-top: 1px solid #000000;
}
.accreceiv-owndetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-owndetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
}
.accreceiv-owndetails-bodyrow.separated {
    border-top: 1px solid #000000;
}
.accreceiv-owndetails-bodynum {
    text-align: center;
    width: 20px;
    border-right: 1px solid #000000;
}
.accreceiv-owndetails-bodydue {
    text-align: center;
    width: 53px;
    font-size: 12px!important;
    border-right: 1px solid #b0b0b0;
}
.accreceiv-owndetails-bodydue.pastdue {
    color: #ff0000;
}
.accreceiv-owndetails-bodydays {
    text-align: center;
    width: 28px;
    border-right: 1px solid #b0b0b0;
}
.accreceiv-owndetails-bodydays.pastdue {
    color: #ff0000;
}
.accreceiv-owndetails-bodybalance {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    font-size: 13px;
    border-right: 1px solid #b0b0b0;
    width: 74px;
}
.accreceiv-owndetails-bodybalance span {
    font-size: 9px;
    position: relative;
    top: -4px;
    margin-left: 0.5px;
}
.accreceiv-owndetails-bodyrunningtotal {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    border-right: 1px solid #b0b0b0;
    width: 62px;
    color: #6c6c6c;
    font-size: 11px!important;
}
.accreceiv-owndetails-bodyorder {
    border-right: 1px solid #b0b0b0;
    font-weight: bold;
    color: #0000ff;
    width: 47px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-owndetails-bodyconfirm {
    border-right: 1px solid #b0b0b0;
    width: 53px;
    font-size: 10px!important;
    text-align: center;
}
.accreceiv-owndetails-bodybrand {
    border-right: 1px solid #b0b0b0;
    font-weight: bold;
    width: 25px;
    text-align: center;
}
.accreceiv-owndetails-bodybrand.stressrelievers {
    color: #000000;
    background: #fdff44;
}
.accreceiv-owndetails-bodybrand.bluetrack {
    color: #FFFFFF;
    background: #3736fe;
}
.accreceiv-owndetails-bodyordersigma {
    border-right: 1px solid #b0b0b0;
    font-weight: bold;
    color: #0000ff;
    width: 64px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-owndetails-bodycustomer {
    border-right: 1px solid #b0b0b0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 161px;
}
.accreceiv-owndetails-bodytype {
    width: 61px;
    text-align: center;
    font-size: 10px!important;
    border-right: 1px solid #b0b0b0;
}
.accreceiv-owndetails-bodytype.creditcard {
    color: #0000ff;
}
.accreceiv-owndetails-bodytype.sorted {
}
.accreceiv-owndetails-bodyapproval {
    width: 68px;
    text-align: center;
    font-size: 10px!important;
    border-right: 1px solid #b0b0b0;
}
.accreceiv-owndetails-bodyapproval.notapproved {
    background: #fcfdab;
}
.accreceiv-owndetails-bodyapproval.sorted {
}
.accreceiv-owndetails-bodystatus {
    width: 258px;
    /* padding-left: 5px; */
}
.accreceiv-owndetails-bodystatus > div {
    height: 22px;
    line-height: 22px!important;
}
.accreceiv-statusbtn {
    width: 16px;
    cursor: pointer;
    color: #717171;
    font-size: 12px;
    text-align: center;
}
.accreceiv-statusbtn.active {
    color: #000000;
}
.current_row .accreceiv-statusbtn.active {
    color: #FFFFFF;
}
.accreceiv-statusdate {
    width: 36px;
}
.accreceiv-statustext {
    width: 204px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.accreceiv-owndetails-bodystatusedit {
    display: none;
    height: 93px!important;
    width: 286px;
    position: relative;
    top: -33px;
    left: 629px;
    z-index: 1105;
    margin-bottom: -93px;
    background-color: #efefef!important;
    border: 1px solid #000;
}
.debtstatuseditarea {
    padding: 10px;
    width: 100%;
}
.debtstatuseditarea > .datarow {
    height: 41px;
    line-height: 37px;
}
.debtstatusinpt {
    padding-left: 4px;
    color: #000000;
    height: 25px;
    width: 100%;
}
.debtstatuscancel, .debtstatussave {
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    float: right!important;
    margin-left: 7px;
}
.debtstatussave {
    background-color: #04a700;
    color: #FFFFFF;
}
.debtstatuscancel {
    background-color: #ff0000;
    color: #FFFFFF;
}
select.debtstatus {
    width: 129px;
    padding-left: 3px;
    color: #000000;
    background: #e9e9ed;
    font-size: 11px;
}
select.debtstatus.checked {
    background: #FFFFFF;
}
/* SR & Sigma fields */
.accreceiv-owndetails-headponumber {
    width: 84px;
}
.accreceiv-owndetails-bodyponumber {
    border-right: 1px solid #000000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 84px;
}
/* Refund */
.accreceiv-refunddetails-head {
    width: 100%;
    border: 1px solid #000000;
}
.accreceiv-refunddetails-head > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
.refundsort {
    cursor: pointer;
}
.accreceiv-refunddetails-head > div.activesortbt, .accreceiv-refunddetails-head > div.activesortsb {
    background: #1849ff!important;
}
.accreceiv-refunddetails-head > div.activesortsr {
    background: #fdff44!important;
    color: #000000;
}
.accreceiv-refunddetails-head > div.activesortsigma {
    background: #aaa9a9!important;
    color: #000000;
}
/*.refundsort span {*/
/*    font-size: 9px;*/
/*    font-weight: normal;*/
/*}*/
.accreceiv-refunddetails-headnum {
    width: 22px;
}
.accreceiv-refunddetails-headorderdate {
    width: 37px;
    font-size: 12px !important;
    line-height: 14px !important;
}
.accreceiv-refunddetails-headorderdate.stressrelievers {
    background: #fdff44!important;
    color: #000000;
}
.accreceiv-refunddetails-headorderdate.sigmasystem {
    background: #aaa9a9!important;
    color: #000000;
}
.accreceiv-refunddetails-headbalance {
    width: 72px; /* 74px; */
}
.accreceiv-refunddetails-headbrand {
    width: 25px;
}
.accreceiv-refunddetails-headorder {
    width: 43px;
}
.accreceiv-refunddetails-headordersigma {
    width: 64px;
}
.accreceiv-refunddetails-headcustomer {
    width: 141px;
}
.accreceiv-refunddetails-body {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: 20px;
    width: 100%;
}
.accreceiv-refunddetails-bodyrow {
    width: 100%;
}
.accreceiv-refunddetails-bodyrow > div {
    height: 22px;
    line-height: 22px;
    font-size: 11.5px;
}
.accreceiv-refunddetails-bodyrow.current_row > div {
    background: #0000ff;
    color: #ffffff!important;
}
.accreceiv-refunddetails-bodyrow.empty {
    color: #ff0000;
    text-align: center;
    height: 25px;
    line-height: 25px!important;
    width: 100%;
}
.accreceiv-refunddetails-bodyrow.yeartitle {
    color: #000000;
    background-color: #acabab!important;
    text-align: center;
    height: 25px;
    line-height: 25px!important;
    /* width: 100%; */
    font-size: 12px;
    font-weight: 600;
}
.accreceiv-refunddetails-bodynum {
    text-align: center;
    width: 22px;
    border-right: 1px solid #b0b0b0;
}
.accreceiv-refunddetails-bodyorderdate {
    text-align: center;
    width: 37px;
    border-right: 1px solid #b0b0b0;
    font-size: 12px!important;
}
.accreceiv-refunddetails-bodybalance {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    color: #ff0000;
    border-right: 1px solid #b0b0b0;
    width: 72px;
    /* font-size: 12px; */
}
.accreceiv-refunddetails-bodybalance span {
    font-size: 9px;
    position: relative;
    top: -4px;
    margin-left: 0.5px;
}
.accreceiv-refunddetails-bodyorder {
    border-right: 1px solid #b0b0b0;
    font-weight: bold;
    color: #0000ff;
    width: 43px;
    cursor: pointer;
    text-align: center;
    font-size: 12px!important;
}
.accreceiv-refunddetails-bodybrand {
    border-right: 1px solid #b0b0b0;
    font-weight: bold;
    width: 25px;
    text-align: center;
}
.accreceiv-refunddetails-bodybrand.stressrelievers {
    color: #000000;
    background: #fdff44;
}
.accreceiv-refunddetails-bodybrand.bluetrack {
    color: #FFFFFF;
    background: #3736fe;
}
.accreceiv-refunddetails-bodyordersigma {
    border-right: 1px solid #000000;
    font-weight: bold;
    color: #0000ff;
    width: 64px;
    cursor: pointer;
    text-align: center;
}
.accreceiv-refunddetails-bodycustomer {
    /*border-right: 1px solid #000000;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    width: 141px;
}
