.expensivesviewarea {
    width: 1000px;
    padding: 15px;
    font-size: 12px;
}
.expensivesviewtitle {
    height: 23px;
    line-height: 23px!important;
    font-size: 17px;
    font-weight: 600;
    margin-right: 25px;
    margin-bottom: 12px;
}
.expensivesview-addnewbtn {
    border: 1.5px solid #000000;
    border-radius: 5px;
    background: #7c0000;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    padding: 4px;
}
.expensivesviewsort {
    float: right!important;
    margin-right: 25px;
}
.expensivesviewsort span {
    height: 23px;
    line-height: 23px!important;
    margin-right: 7px;
}
.expensivesviewsort select {
    height: 23px;
    line-height: 23px!important;
    width: 105px;
    padding-left: 5px;
}
.expensivesviewtablehead {
    border: 1px solid #000000;
}
.expensivesviewtablehead div {
    background: #7c0000;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    height: 24px;
    line-height: 24px!important;
}
.expensivesviewtablehead .expensive-deeds {
    border-right: 1px solid #ffffff;
    width: 32px;
}
.expensivesviewtablehead .expensive-annually {
    border-right: 1px solid #ffffff;
    width: 73px;
}
.expensivesviewtablehead .expensive-monthly {
    border-right: 1px solid #ffffff;
    width: 73px;
}
.expensivesviewtablehead .expensive-weekly {
    border-right: 1px solid #ffffff;
    width: 65px;
}
.expensivesviewtablehead .expensive-date {
    background: #414141;
    border-right: 1px solid #ffffff;
    width: 68px;
}
.expensivesviewtablehead .expensive-method {
    background: #414141;
    border-right: 1px solid #ffffff;
    width: 80px;
}
.expensivesviewtablehead .expensive-description {
    background: #414141;
    border-right: 1px solid #ffffff;
    width: 296px;
}
.expensivesviewtablehead .expensive-quoter {
    border-right: 1px solid #ffffff;
    width: 85px;
}
.expensivesviewtablehead .expensive-yearly {
    border-right: 1px solid #ffffff;
    width: 97px;
}
.expensivesviewtablehead .expensive-percent {
    width: 85px;
}
/* Datarow */
.expensivesviewtable {
    border-left: 1px solid #000000;
    height: 528px;
}
/* Scrollbar */
.expensivesviewtable .sp-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.expensivesviewtable .sp-scrollbar .sp-thumb {
    background-color: #aaa;
    transition: height 0.2s ease-in-out;
}
.expensivesviewtable .sp-scrollbar.active .sp-thumb {
    background-color: #c1c1c1;
}
/* End scroll bar */
.expensivesviewtablerow div {
    height: 24px;
    line-height: 24px!important;
}
.expensivesviewtablerow input, .expensivesviewtablerow select {
    border: 1px solid #bfbfbf;
    background: #ffffff;
    height: 19px;
}
.expensivesviewtablerow .expensive-deeds {
    border-right: 1px solid #000000;
    text-align: center;
    width: 32px;
}
.expensivesviewtablerow .expensive-deeds i {
    font-size: 13px;
    cursor: pointer;
}
.expensivesviewtablerow .expensive-savedata,
.expensivesviewtablerow .expensive-cancel {
    text-align: center;
    width: 15.5px;
}
.expensivesviewtablerow .expensive-savedata i {
    color: #3b9806;
}
.expensivesviewtablerow .expensive-cancel i {
    color: #d30a0a;
}
.expensivesviewtablerow .expensive-annually {
    border-right: 1px solid #c5c5c5;
    text-align: right;
    padding-right: 4px;
    width: 73px;
}
.expensivesviewtablerow .expensive-annually i, .expensivesviewtablerow .expensive-monthly i, .expensivesviewtablerow .expensive-weekly i {
    text-align: left;
    /* margin-right: 3px; */
    color: #cdcdcd;
}
.expensivesviewtablerow .expensive-annually i.checked, .expensivesviewtablerow .expensive-monthly i.checked, .expensivesviewtablerow .expensive-weekly i.checked {
    color: #4a4a4a;
}
.expensivesviewtablerow .expensive-annually input {
    width: 57px;
}
.expensivesviewtablerow .expensive-monthly {
    border-right: 1px solid #c5c5c5;
    text-align: right;
    padding-right: 4px;
    width: 73px;
}
.expensivesviewtablerow .expensive-monthly input {
    width: 56px;
}
.expensivesviewtablerow .expensive-weekly {
    border-right: 1px solid #000000;
    text-align: right;
    padding-right: 4px;
    width: 65px;
}
.expensivesviewtablerow .expensive-weekly input {
    width: 48px;
}
.expensivesviewtablerow .expensive-date {
    border-right: 1px solid #c5c5c5;
    text-align: center;
    width: 68px;
}
.expensivesviewtablerow .expensive-date input, .expensivesviewtablerow .expensive-date select {
    width: 60px;
}
.expensivesviewtablerow .expensive-method {
    border-right: 1px solid #000000;
    text-align: center;
    width: 80px;
}
.expensivesviewtablerow .expensive-method select {
    width: 74px;
}
.expensivesviewtablerow .expensive-description {
    border-right: 1px solid #000000;
    text-align: right;
    padding-right: 8px;
    width: 296px;
}
.expensivesviewtablerow .expensive-description input {
    margin-left: 4px;
    padding-right: 4px;
    text-align: right;
    width: 287px;
}
.expensivesviewtablerow .expensive-quoter {
    border-right: 1px solid #ffffff;
    color: #ffffff;
    text-align: right;
    padding-right: 6px;
    width: 85px;
}
.expensivesviewtablerow .expensive-yearly {
    border-right: 1px solid #ffffff;
    color: #ffffff;
    text-align: right;
    padding-right: 6px;
    width: 97px;
}
.expensivesviewtablerow .expensive-percent {
    color: #ffffff;
    text-align: right;
    padding-right: 6px;
    width: 75px;
}
.expensivesviewtablerow .expensive-edit-radio {
    width: 14px;
    text-align: center;
}
.expensivesviewtablerow .expensive-edit-inputval {
    width: calc(100% - 14px);
}
.expensive-total-light {
    background: #cd3c3c;
}
.expensive-total-dark {
    background: #af1b1b;
}
.expensivesviewfooter {
    border: 1px solid #000000;
}
.expensivesviewfooter div {
    background: #7c0000;
    color: #ffffff;
    height: 36px;
    /* line-height: 18px; */
    text-align: center;
}
.expensivesviewfooter .expensive-grandtotal {
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    padding-top: 15px;
    padding-right: 45px;
    border-right: 1px solid #ffffff;
    width: 687px;
}
.expensivesviewfooter .expensive-quoter {
    border-right: 1px solid #ffffff;
    width: 85px;
}
.expensivesviewfooter .expensive-yearly {
    border-right: 1px solid #ffffff;
    width: 97px;
}
.expensivesviewfooter .expensive-percent {
    width: 85px;
}
.expensivesviewfooter .expensive-quoter span, .expensivesviewfooter .expensive-yearly span, .expensivesviewfooter .expensive-percent span {
    color: #ff5252;
    font-size: 11px;
}
.expensive-totalamount {
    height: 18px!important;
    line-height: 18px!important;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
