.netprofitviewarea {
    width: 100%;
    padding: 15px;
    font-size: 12px;
}
.netprofitviewtitle {
    margin-left: 26px;
}
.netprofitviewtitle select {
    width: 100%;
    height: 20px;
}
.netprofitheadoptionlabel {
    height: 20px;
    line-height: 20px!important;
    margin-right: 10px;
}
.netprofitsortselect {
    width: 109px;
    margin-right: 25px;
}
.netprofitweekselect {
    width: 154px;
    margin-right: 8px;
}
.netprofitviewdataselect {
    margin-left: 22px;
    width: 92px;
}
.netprofitheadocheck {
    width: 19px;
    height: 20px;
    line-height: 20px!important;
    color: #9595a2;
}
.netprofitheadocheck.active {
    color: #0060df;
}
.netprofitheadochecklabel {
    margin-left: 3px;
    margin-right: 9px;
    height: 20px;
    line-height: 20px!important;
}
.netprofitheadocheck.first {
    margin-left: 88px;
}
.netprofitheadocheck i {
    font-size: 19px;
}
.netprofitsalesdatalabel {
    font-weight: 600;
    color: #00004b;
    margin-left: 129px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.netprofit-table-head {
    border: 1px solid #919191;
    color: #000000;
    font-weight: 600;
}
.netprofit-table-head div {
    background: #bcbcbc;
    height: 19px;
    line-height: 19px;
    text-align: center;
    font-size: 11px;
}
.netprofit-table-head div.rightpart {
    background: #39dd50;
}
.netprofit-table-head .weekname {
    width: 110px;
}
.netprofit-table-head .sales {
    width: 38px;
}
.netprofit-table-head .revenue {
    width: 66px;
}
.netprofit-table-head .grossprofit {
    width: 67px;
}
.netprofit-table-head .profitperc {
    width: 31px;
}
.netprofit-table-head .operating {
    width: 62px;
}
.netprofit-table-head .ads {
    width: 61px;
}
.netprofit-table-head .payroll {
    width: 64px;
}
.netprofit-table-head .upwork {
    width: 56px;
}
.netprofit-table-head .w9work {
    width: 64px;
}
.netprofit-table-head .discretionary {
    width: 84px;
    border-right: 1.5px solid #000000;
}
.netprofit-table-head .totalcost {
    width: 66px;
}
.netprofit-table-head .totalcostperc {
    width: 31px;
}
.netprofit-table-head .netprofit {
    width: 61px;
}
.netprofit-table-head .netprofitperc {
    width: 31px;
    border-right: 3px solid #000000;
}
.netprofit-table-head .invest {
    width: 51px;
}
.netprofit-table-head .investperc {
    width: 31px;
}
.netprofit-table-head .od {
    width: 52px;
}
.netprofit-table-head .odperc {
    width: 31px;
}
.netprofit-table-head .retained {
    width: 58px;
}
.netprofit-table-head .retainedperc {
    width: 31px;
}
.netprofit-table-head .emptyspace {
    width: 33px;
}
.netprofit-running {
    color: #aaaabc;
    border-bottom: 1px solid #000000;
}
.netprofit-running div {
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.netprofit-running .weekname {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    width: 110px;
}
.netprofit-running .sales {
    width: 38px;
}
.netprofit-running .revenue {
    width: 66px;
}
.netprofit-running .grossprofit {
    width: 67px;
}
.netprofit-running .profitperc {
    border-right: 1px solid #000000;
    width: 31px;
}
.netprofit-running .operating {
    width: 62px;
}
.netprofit-running .ads {
    width: 61px;
}
.netprofit-running .payroll {
    width: 64px;
}
.netprofit-running .upwork {
    width: 56px;
}
.netprofit-running .w9work {
    width: 64px;
}
.netprofit-running .discretionary {
    width: 85px;
    padding-right: 18px;
    border-right: 1.5px solid #000000;
}
.netprofit-running .totalcost {
    width: 66px;
}
.netprofit-running .totalcostperc {
    border-right: 1px solid #000000;
    width: 31px;
}
.netprofit-running .netprofit {
    width: 61px;
}
.netprofit-running .netprofitperc {
    width: 31px;
    border-right: 3px solid #000000;
}
.netprofit-running .invest {
    width: 51px;
}
.netprofit-running .investperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-running .od {
    width: 52px;
}
.netprofit-running .odperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-running .retained {
    width: 58px;
}
.netprofit-running .retainedperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-running .emptyspace {
    width: 34px;
    border-right: 1px solid #000000;
}
.netprofitviewdata {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    max-height: 273px;
    overflow-y: scroll;
}
.weeknumber {
    color: #069ec5;
    height: 21px;
    line-height: 21px!important;
    margin-left: 3px;
    width: 24px;
    text-align: center;
    border-right: 1px solid #000000;
}
.quoternumber {
    height: 21px;
    line-height: 21px!important;
    margin-left: 3px;
    width: 24px;
    text-align: center;
    border: 1px solid #000000;
}
.netprofit-table-data div {
    height: 21px;
    line-height: 21px!important;
    text-align: center;
}
.netprofit-table-data .weekname {
    width: 109px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .sales {
    width: 38px;
}
.netprofit-table-data .revenue {
    width: 66px;
}
.netprofit-table-data .grossprofit {
    width: 67px;
}
.netprofit-table-data .profitperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .operating {
    width: 62px;
}
.netprofit-table-data .ads {
    width: 61px;
}
.netprofit-table-data .payroll {
    width: 64px;
}
.netprofit-table-data .upwork {
    width: 56px;
}
.netprofit-table-data .w9work {
    width: 64px;
}
.netprofit-table-data .discretionary {
    width: 66px;
}
.netprofit-table-data .discretionarynote {
    width: 19px;
    border-right: 1.5px solid #000000;
}
.netprofit-table-data .discretionarynote img {
    width: 11px;
}
.netprofit-table-data .totalcost {
    width: 66px;
}
.netprofit-table-data .totalcostperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .netprofit {
    width: 61px;
}
.netprofit-table-data .netprofitperc {
    width: 31px;
    border-right: 3px solid #000000;
}
.netprofit-table-data .invest {
    width: 51px;
}
.netprofit-table-data .investperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .od {
    width: 52px;
}
.netprofit-table-data .odperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .retained {
    width: 58px;
}
.netprofit-table-data .retainedperc {
    width: 31px;
    border-right: 1px solid #000000;
}
.netprofit-table-data .includeweek {
    width: 20px;
    border-right: 1px solid #000000;
}
.expandnetprofittableview, .collapsenetprofittableview {
    clear: both;
    margin-left: 522px;
    color: #3736fe;
    font-style: italic;
    cursor: pointer;
    height: 30px;
    line-height: 30px!important;
}
.collapsenetprofittableview {
    display: none;
}
.netprofitchartdata {
    clear: both;
    width: 100%;
}
.netprofitchartdata_title {
    padding-left: 45px;
    width: 100%;
}
.netprofitchartdata_title select {
    width: 100%;
    height: 20px;
}
.netprofitbrandselect {
    width: 120px;
    margin-right: 38px;
}
.netprofitheadoptionlabel.compareyear {
    color: #39dd50;
}
.netprofitperiodselect {
    width: 120px;
    margin-right: 37px;
}
.netprofitcompareperiodselect {
    display: none;
}
.weektotalsdataarea {
    clear: both;
    width: 100%;
    margin-top: 7px;
}
.weektotalsdataarea > .weektotalsrow {
    clear: both;
    height: 22px;
    width: 100%;
}
.weektotalsdataarea > .weektotalsrow.small {
    height: 16px;
}
.weektotalsdataarea > .weektotalsrow.small > div {
    line-height: 16px!important;
    font-size: 11px;
}
.weektotalsdataarea > .weektotalsrow.expensivesrow {
    display: none;
}
.weektotalsdataarea > .weektotalsrow > div {
    color: #010101;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.weektotalsdataarea > .weektotalsrow > .parameterlabel {
    padding-right: 5px;
    width: 88px;
    text-align: right;
    border-right: 1px solid #000000;
}
.weektotalsdataarea > .weektotalsrow.small > .parameterlabel {
    border-right: 1px solid #FFFFFF;
}
.weektotalsdataarea > .weektotalsrow.small > .parametervalue.incomplete {
    color: #ff0000;
    font-style: italic;
}
.weektotalsdataarea > .weektotalsrow.small > .parametervalue.prognosis {
    font-size: 13px;
    font-weight: 600;
    color: #0000FF;
}
.weektotalsdataarea > .weektotalsrow > .parameterlabel.netprofit {
    font-weight: bold;
}
.weektotalsdataarea > .weektotalsrow > .parameterlabel.expensives {
    color: #ff0000;
}
.weektotalsdataarea > .weektotalsrow > .parameterlabel > span.exponsivedata {
    cursor: pointer;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue {
    width: 73px;
    border-right: 1px solid #000000;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.currentyearval {
    display: block;
    background: #ededed;
}
.weektotalsdataarea > .weektotalsrow.small > .parametervalue {
    border-right: 1px solid #FFFFFF;
}
.weektotalsdataarea > .weektotalsrow.small > .parametervalue.showhidecuryear {
    color: #0000ff;
    cursor: pointer;
    text-align: center;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.netprofit {
    font-weight: bold;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.pcssold {
    color: #8e8e8e;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.grossprofitperc {
    color: #0000FF;
}
.weektotalsdataarea > .weektotalsrow.bottomborder > .parametervalue {
    border-bottom: 1px solid #000000;
    height: 21px;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.headdata {
    background-color: #d6d6d6;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height: 22px;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.headdata.prognosis {
    color: #ffffff;
    width: 146px;
    background: #413dd6;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.headdata.prognosis.narrow {
    width: 73px;
}
.weektotalsdataarea > .weektotalsrow > .parametervalue.headdata.prognosis.currentyear {
    display: block;
}

.netprofitexpensesarea {
    margin-top: 68px;
    padding-left: 30px;
    width: 100%;
}
.expensesdataarea {
    width: 270px;
    margin-right: 26px;
}
.expensesdata_title {
    height: 25px;
    line-height: 25px!important;
    color: #010101;
    font-weight: 600;
}
.expensesdata_title span {
    font-weight: normal;
}
.expensesdata_managecategories {
    float: right!important;
    color: #0000ff;
    cursor: pointer;
    height: 25px;
    line-height: 25px!important;
}
.expensesdata-table-head {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 2px solid #000000;
}
.expensesdata-table-head div {
    height: 20px;
    line-height: 20px!important;
    text-align: center;
}
.expensesdata-table-head .category_name {
    width: 141px;
}
.expensesdata-table-head .amountvalue {
    width: 76px;
}
.expensesdata-table-head .percentvalue {
    width: 50px;
}
.expensesdata-table-data {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.expensesdata-table-data div {
    height: 20px;
    line-height: 20px!important;
}
.expensesdata-table-data .category_name {
    width: 141px;
    border-right: 1px solid #7f7f7f;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.expensesdata-table-data .amountvalue {
    width: 76px;
    padding-right: 5px;
    text-align: right;
    border-right: 1px solid #7f7f7f;
}
.expensesdata-table-data .percentvalue {
    width: 49px;
    text-align: center;
}
.expensesdata-table-data .emptyexpenses {
    width: 267px;
    text-align: center;
    color: #FF0000;
}