/* CSS for page PO totals */
.pototalsdataview .pagetitle {
    font-weight: bold;
}
.pototalsdataview .manage-purchase-methods {
    background: #5252ff;
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    float: right;
    cursor: pointer;
}
.pototals-toplacehead {
    margin-bottom: 1.25rem;
}
.pototals-placetitle {
    font-weight: 600;
}
.pototals-placefiltr {
    font-style: italic;
}
.pototals-placeresult span {
    font-weight: 600;
}
.poplace-tablehead {
    display: inline-flex;
}
.poplace-tablehead > div {
    background: #545454;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}
.poplace-tablehead .poplace-timehead {
    width: 13.5%;
    text-align: right;
    padding-right: 0.3rem;
}
.poplace-tablehead .poplace-orderhead {
    width: 11.7%;
}
.poplace-tablehead .poplace-itemhead {
    width: 30.7%;
}
.poplace-tablehead .poplace-vendorhead {
    width: 20.9%;
}
.poplace-tablehead .poplace-esttotalhead {
    width: 13%;
}
.poplace-tablehead .poplace-actionhead {
    width: 10.2%;
}
.addnonlistedpo {
    max-width: 60%;
    background: #5e5eff;
    color: #ffffff;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.addnonlistedpo:hover {
    opacity: 0.8;
}
.pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
    color: #078f00;
    float: left;
    width: 76.8%;
    font-weight: 600;
    font-style: italic;
}
.pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
    font-weight: 600;
    width: 14%;
    float: left;
    text-align: center;
}
.poplace-unsigntablebody, .poplace-approvtablebody, .poplace-prooftablebody {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
}
.poplace-tablerow {
    display: inline-flex;
    width: 100%;
}
/*
.poplace-tablerow .poplace-time {
    border-right: 1px #000000 solid;
    width: 17.5%;
}
*/
.poplace-rush {
    color: #ff0000;
    width: 4.5%;
}
.poplace-late {
    border-right: 1px #000000 solid;
    text-align: right;
    font-weight: bold;
    color: #ff0000;
    width: 9%;
}
.poplace-tablerow .poplace-order {
    border-right: 1px #000000 solid;
    text-align: center;
    color: #0000ff;
    font-weight: 600;
    width: 11.7%;
}
.poplace-tablerow .poplace-item {
    border-right: 1px #000000 solid;
    width: 30.7%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.poplace-tablerow .poplace-item.customitem, .poplace-tablerow .poplace-vendor.customitem {
    font-weight: 600;
}
.poplace-tablerow .poplace-vendor {
    border-right: 1px #000000 solid;
    width: 20.9%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.poplace-tablerow .poplace-esttotal {
    border-right: 1px #000000 solid;
    width: 14%;
    text-align: center;
}
.poplace-tablerow .poplace-poaction {
    width: 10.2%;
}
.poplace-poactionbtn {
    color: #ffffff;
    background: #5757ff;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
}
.poplace-poactionbtn:hover {
    opacity: 0.8;
}
/* Edit Purchase Methods */
#modalManage .modal-dialog {
}
#modalManage .modal-header {
    background: #000066;
    color: #ffffff;
}
#modalManage .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
}
#modalManage .modal-title {
    font-weight: 600;
}
input.addnewpurchase {
    width: 98%;
}
.addmethodbtn {
    background: #5151ff;
    cursor: pointer;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}
.methodslabel {
    width: 100%;
    font-weight: bold;
}
.purchmethodname {
}
.purchmethodaction {
    color: #ffffff;
    text-align: center;
    font-style: italic;
}
.purchmethodaction.deactivate {
    background: #ff2b2b;
    cursor: pointer;
}
.purchmethodaction.activate {
    background: #178900;
    cursor: pointer;
}
/* Edit Purchase Popup */
#modalEditpurchase .modal-dialog {
}
#modalEditpurchase .modal-header {
    background: #000066;
    color: #ffffff;
}
#modalEditpurchase .modal-header .close {
    color: #ffffff!important;
    opacity: 1!important;
}
#modalEditpurchase .modal-title {
    font-weight: 600;
}
.purchaseorder_popuparea {
}
.ordercustomerplace {
    color: #0000ff;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.orderitemnameplace {
    color: #0000ff;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.poeditlabel {
    text-align: right;
    font-weight: 600;
}
.amountprofitval {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: inline-flex;
    font-weight: 600;
}
.amountprofitprc {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    display: inline-flex;
    font-weight: 600;
}
.poreasondata {
    width: 100%;
    resize: none;
}
.poamount-save {
    display: none;
}
.poamount-save .btn {
    float: right;
}
/* PO REPORTS */
.poreport-sorting {
    font-weight: 600;
    text-align: right;
}
.poreportsortselect {
    font-weight: bold;
}
.poreporttablehead {
    font-weight: 600;
    text-align: right;
}
.poyearcompare {
    font-weight: 600;
}
.poreportPaginator > .pagination {
    float: right;
}
.poreporttablebody {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.poreportdatacell {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.poreportdatacell.vendornamedat {
    font-weight: 600;
}
.poreportdata {
    color: #717171;
}
.poreportdata span {
    color: #000000;
}
.poreportdata.grassgreenprofit span, .poreportdata.redprofit span {
    color: #ffffff!important;
}
.poreport_detailmessage {
    background-color: #ffffff!important;
    float: left;
    padding: 0;
    color: #000!important;
    text-align: justify!important;
    border-color: #000000!important;
    font-family: arial, verdana, sans-serif;
}
.poreportdatahint {
    display: inline-flex;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .pototalsdataview .pagetitle {
        font-weight: bold;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 3.7rem;
        height: 2rem;
        line-height: 1rem;
        border-radius: 0.3rem;
    }
    .pototals-placetitle {
        font-size: 0.9rem;
        padding-top: 0.3rem;
    }
    .pototals-placefiltr {
        font-size: 0.7rem;
        padding-top: 0.4rem;
    }
    .pototals-placeresult {
        font-size: 0.7rem;
    }
    .poplace-tablehead > div {
        height: 1.3rem;
        line-height: 1.3rem;
        font-size: 0.75rem;
    }
    .addnonlistedpo {
        font-size: 0.8rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.8rem;
        height: 1.5625rem;
        line-height: 1.75rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        padding-left: 0.2rem;
    }
    .poplace-late {
        padding-right: 0.25rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    #modalManage .modal-title {
        font-size: 1.3rem;
    }
    #modalManage .modal-dialog {
        max-width: 28rem;
    }
    .methodslabel {
        font-size: 1.1rem;
    }
    .addmethodbtn {
        font-size: 0.9rem;
        padding: 0 0.9rem;
        height: 1.7rem;
        line-height: 1.7rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        max-width: 70%;
    }
    .purchmethodname {
        font-size: 0.9rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }
    .purchmethodaction {
        font-size: 0.85rem;
        max-width: 5rem;
        border-radius: 0.4rem;
        height: 1.3rem;
        line-height: 1.3rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.75rem;
        line-height: 1.42rem;
    }
    .poreportsortselect {
        font-size: 0.7rem;
        padding: 0.15rem;
    }
    .poreporttablehead {
        font-size: 0.68rem;
        line-height: 1.42rem;
    }
    .poyearcompare {
        font-size: 0.7rem;
        padding: 0.15rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.75rem!important;
    }
    .poreportdatacell {
        font-size: 0.9rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreportdata {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreport_detailmessage {
        font-size: 0.75rem;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .pototalsdataview .pagetitle {
        font-size: 1.3rem;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 3.7rem;
        height: 2rem;
        line-height: 1rem;
        border-radius: 0.3rem;
    }
    .pototals-placetitle {
        font-size: 0.85rem;
        padding-top: 0.3rem;
    }
    .pototals-placefiltr {
        font-size: 0.7rem;
        padding-top: 0.4rem;
    }
    .pototals-placeresult {
        font-size: 0.7rem;
    }
    .poplace-tablehead > div {
        height: 1.3rem;
        line-height: 1.3rem;
        font-size: 0.75rem;
    }
    .addnonlistedpo {
        font-size: 0.8rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.8rem;
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        padding-left: 0.2rem;
    }
    .poplace-late {
        padding-right: 0.25rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    #modalManage .modal-title {
        font-size: 1.3rem;
    }
    #modalManage .modal-dialog {
        max-width: 28rem;
    }
    .methodslabel {
        font-size: 1.1rem;
    }
    .addmethodbtn {
        font-size: 0.9rem;
        padding: 0 0.9rem;
        height: 1.7rem;
        line-height: 1.7rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        max-width: 60%;
    }
    .purchmethodname {
        font-size: 0.9rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }
    .purchmethodaction {
        font-size: 0.85rem;
        max-width: 5rem;
        border-radius: 0.4rem;
        height: 1.3rem;
        line-height: 1.3rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.75rem;
        line-height: 1.42rem;
    }
    .poreportsortselect {
        font-size: 0.7rem;
        padding: 0.15rem;
    }
    .poreporttablehead {
        font-size: 0.68rem;
        line-height: 1.42rem;
    }
    .poyearcompare {
        font-size: 0.7rem;
        padding: 0.15rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.75rem!important;
    }
    .poreportdatacell {
        font-size: 0.62rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreportdata {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreport_detailmessage {
        font-size: 0.75rem;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .pototalsdataview .pagetitle {
        font-size: 1.7rem;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 4.9rem;
        height: 2.5rem;
        line-height: 1.25rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }
    .pototals-placetitle {
        font-size: 1rem;
        padding-top: 0.7rem;
    }
    .pototals-placefiltr {
        font-size: 0.8rem;
        padding-top: 0.85rem;
    }
    .pototals-placeresult {
        font-size: 0.8rem;
    }
    .poplace-tablehead > div {
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 0.9rem;
    }
    .addnonlistedpo {
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.85rem;
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        padding-left: 0.15rem;
        font-size: 0.9rem;
    }
    .poplace-late {
        padding-right: 0.25rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    #modalManage .modal-title {
        font-size: 1.3rem;
    }
    #modalManage .modal-dialog {
        max-width: 28rem;
    }
    .methodslabel {
        font-size: 1.1rem;
    }
    .addmethodbtn {
        font-size: 0.9rem;
        padding: 0 0.9rem;
        height: 1.7rem;
        line-height: 1.7rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        max-width: 60%;
    }
    .purchmethodname {
        font-size: 0.9rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }
    .purchmethodaction {
        font-size: 0.85rem;
        max-width: 5rem;
        border-radius: 0.4rem;
        height: 1.3rem;
        line-height: 1.3rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.85rem;
        line-height: 1.62rem;
    }
    .poreportsortselect {
        font-size: 0.78rem;
        padding: 0.25rem;
    }
    .poreporttablehead {
        font-size: 0.85rem;
        line-height: 1.62rem;
    }
    .poyearcompare {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.8rem!important;
    }
    .poreportdatacell {
        font-size: 0.9rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.35rem;
        padding-right: 0.35rem;
    }
    .poreportdata {
        padding-left: 0.35rem;
        padding-right: 0.35rem;
    }
    .poreport_detailmessage {
        font-size: 0.95rem;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .pototalsdataview .pagetitle {
        font-size: 1.3rem;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 3.9rem;
        height: 2.2rem;
        line-height: 1.1rem;
        border-radius: 0.4rem;
    }
    .pototals-placetitle {
        font-size: 1rem;
        padding-top: 0.7rem;
    }
    .pototals-placefiltr {
        font-size: 0.8rem;
        padding-top: 0.85rem;
    }
    .pototals-placeresult {
        font-size: 0.8rem;
        padding-right: 0.4rem!important;
    }
    .poplace-tablehead > div {
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 0.8rem;
    }
    .addnonlistedpo {
        font-size: 0.95rem;
        height: 1.4rem;
        line-height: 1.4rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.75rem;
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        font-size: 0.9rem;
    }
    .poplace-late {
        padding-right: 0.2rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    #modalManage .modal-title {
        font-size: 1rem;
    }
    #modalManage .modal-dialog {
        max-width: 28rem;
    }
    .methodslabel {
        font-size: 1rem;
    }
    .addmethodbtn {
        font-size: 0.85rem;
        padding: 0 0.8rem;
        height: 1.7rem;
        line-height: 1.7rem;
        border-radius: 0.5rem;
        margin-top: 0.2rem;
        max-width: 70%;
    }
    .purchmethodname {
        font-size: 0.9rem;
        height: 1.6rem;
        line-height: 1.6rem;
    }
    .purchmethodaction {
        font-size: 0.85rem;
        max-width: 5rem;
        border-radius: 0.4rem;
        height: 1.3rem;
        line-height: 1.3rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.85rem;
        line-height: 1.62rem;
    }
    .poreportsortselect {
        font-size: 0.78rem;
        padding: 0.25rem;
    }
    .poreporttablehead {
        font-size: 0.85rem;
        line-height: 1.62rem;
    }
    .poyearcompare {
        font-size: 0.75rem;
        padding: 0.25rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.8rem!important;
    }
    .poreportdatacell {
        font-size: 0.85rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .poreportdata {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .poreport_detailmessage {
        font-size: 0.92rem;
    }
}
/* Surface Duo */
@media (max-width: 540px) {
    .pototalsdataview .pagetitle {
        font-size: 1.3rem;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 3.9rem;
        height: 2.2rem;
        line-height: 1.1rem;
        border-radius: 0.4rem;
    }
    .pototals-placetitle {
        font-size: 1rem;
        padding-top: 0.7rem;
    }
    .pototals-placefiltr {
        font-size: 0.8rem;
        padding-top: 0.85rem;
    }
    .pototals-placeresult {
        font-size: 0.8rem;
        padding-right: 0.4rem!important;
    }
    .poplace-tablehead > div {
        height: 1.6rem;
        line-height: 1.6rem;
        font-size: 0.8rem;
    }
    .addnonlistedpo {
        font-size: 0.95rem;
        height: 1.4rem;
        line-height: 1.4rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.75rem;
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        font-size: 0.9rem;
    }
    .poplace-late {
        padding-right: 0.2rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    #modalManage .modal-title {
        font-size: 1rem;
    }
    .methodslabel {
        font-size: 1rem;
    }
    .addmethodbtn {
        font-size: 0.75rem;
        padding: 0 0.7rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border-radius: 0.3rem;
        margin-top: 0.1rem;
        max-width: 70%;
    }
    .purchmethodname {
        font-size: 0.8rem;
        height: 1.4rem;
        line-height: 1.4rem;
    }
    .purchmethodaction {
        font-size: 0.75rem;
        max-width: 5rem;
        border-radius: 0.3rem;
        height: 1.1rem;
        line-height: 1.1rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.75rem;
        line-height: 1.42rem;
    }
    .poreportsortselect {
        font-size: 0.78rem;
        padding: 0.2rem;
    }
    .poreporttablehead {
        font-size: 0.75rem;
        line-height: 1.42rem;
    }
    .poyearcompare {
        font-size: 0.75rem;
        padding: 0.2rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.8rem!important;
    }
    .poreportdatacell {
        font-size: 0.8rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .poreportdata {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .poreport_detailmessage {
        font-size: 0.82rem;
    }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    .pototalsdataview .pagetitle {
        font-size: 1.3rem;
    }
    .pototalsdataview .manage-purchase-methods {
        width: 3.7rem;
        height: 2rem;
        line-height: 1rem;
        border-radius: 0.3rem;
    }
    .pototals-placetitle {
        font-size: 0.8rem;
        padding-top: 0.3rem;
    }
    .pototals-placefiltr {
        font-size: 0.7rem;
        padding-top: 0.4rem;
    }
    .pototals-placeresult {
        font-size: 0.7rem;
        padding-right: 0.4rem!important;
    }
    .poplace-tablehead > div {
        height: 1.3rem;
        line-height: 1.3rem;
        font-size: 0.75rem;
    }
    .addnonlistedpo {
        font-size: 0.8rem;
    }
    .pototals-unsign-tolalqty, .pototals-approved-tolalqty, .pototals-proof-tolalqty {
        font-size: 1.1rem;
    }
    .pototals-unsign-tolalsum, .pototals-approved-tolalsum, .pototals-proof-tolalsum {
        font-size: 0.9rem;
    }
    .poplace-tablerow > div {
        font-size: 0.7rem;
        height: 1.5625rem;
        line-height: 1.625rem;
    }
    .poplace-poactionbtn {
        max-width: 77%;
        height: 1.2rem;
        line-height: 1.2rem;
        margin-top: 0.15rem;
    }
    .poplace-rush {
        font-size: 0.8rem;
    }
    .poplace-late {
        padding-right: 0.15rem;
    }
    .poplace-tablerow .poplace-item {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    .poplace-tablerow .poplace-vendor {
        padding-left: 0.15rem;
        padding-right: 0.15rem;
    }
    #modalManage .modal-title {
        font-size: 1rem;
    }
    .methodslabel {
        font-size: 1rem;
    }
    .addmethodbtn {
        font-size: 0.75rem;
        padding: 0 0.7rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border-radius: 0.3rem;
        margin-top: 0.1rem;
    }
    .purchmethodname {
        font-size: 0.8rem;
        height: 1.4rem;
        line-height: 1.4rem;
    }
    .purchmethodaction {
        font-size: 0.75rem;
        max-width: 5rem;
        border-radius: 0.3rem;
        height: 1.1rem;
        line-height: 1.1rem;
        margin-top: 0.15rem;
    }
    /* Popup Purchase Order */
    #modalEditpurchase .modal-title {
        font-size: 1rem;
    }
    .purchaseorder_popuparea {
        font-size: 0.8rem;
    }
    .leftpart {
        height: 1.8rem;
        line-height: 1.8rem;
    }
    .ordernuminpt {
        max-width: 4.6rem;
    }
    .poamntdateinpt {
        max-width: 4.6rem;
    }
    .amountvalueinpt {
        max-width: 4.6rem;
    }
    .amountprofitval {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountprofitprc {
        height: 1.5rem;
        line-height: 1.5rem;
    }
    .amountvendorselect, .amountmethodselect {
        height: 1.5622rem;
        padding: 1px;
        width: 9.2rem;
    }
    /*PO Reports */
    .poreport-sorting {
        font-size: 0.75rem;
        line-height: 1.42rem;
    }
    .poreportsortselect {
        font-size: 0.75rem;
        padding: 0.2rem;
    }
    .poreporttablehead {
        font-size: 0.72rem;
        line-height: 1.42rem;
    }
    .poyearcompare {
        font-size: 0.75rem;
        padding: 0.2rem;
    }
    .poreportPaginator > .pagination {
        font-size: 0.8rem!important;
    }
    .poreportdatacell {
        font-size: 0.7rem;
    }
    .poreportdatacell.vendornamedat {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreportdata {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .poreport_detailmessage {
        font-size: 0.8rem;
    }
}

