html {
    background-color: #252525;
    font-family: arial, verdana, sans-serif;
}
body {
    margin-left: auto;
    margin-right: auto;
    font-family: arial, verdana, sans-serif;
    background-color: #fff;
    margin-top: 0;
}
@font-face {
    font-family: Helvetica;
    src: url(/fonts/Helvetica.otf) format("opentype"), url(/fonts/Helvetica.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica-BoldOblique;
    src: url(/fonts/helveticaboldoblique.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica_cyr-BoldOblique;
    src: url(/fonts/Helvetica-BoldOblique.otf) format("opentype");
}
@font-face {
    font-family: HelveticaCE-Oblique;
    src: url(/fonts/HelveticaCE-Oblique.otf) format("opentype"), url(/fonts/helveticaceoblique.ttf) format('truetype');
}
@font-face {
    font-family: Helvetica-Oblique;
    src: url(/fonts/Helvetica-Oblique.otf) format("opentype");
}
@font-face {
    font-family: Helvetica-Bold;
    src: url(/fonts/Helvetica-Bold.otf) format("opentype");
}
@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(/fonts/HelveticaNeue-Medium.otf) format("opentype");
}
/*@font-face {*/
/*    font-family: Helvetica CE;*/
/*    src: url(/fonts/HelveticaCE.otf) format("opentype");*/
/*}*/
@font-face {
    font-family: helveticaneuecyr-black;
    src: url(/fonts/helveticaneuecyr-black.otf) format("opentype");
}
/* Common classes */
input {
    font-family: arial, verdana, sans-serif!important;
}
button, input, select, textarea {
    font-family: arial, verdana, sans-serif!important;
}
input::placeholder {
    font-style: italic;
}
body div {
    /* float: left; */
}
.datarow {
    clear: both;
    width: 100%;
}
.mainheader {
    width: 100%;
    float: left;
    background: #252525;
    padding: 7px 10px 0 0;
}
.mainheader div {
    float: left;
    line-height: initial;
}
.content_tab_header {
    cursor: pointer;
    width: 187px;
}
.content_tab_header.stressballs {
    background: #3537fc;
    height: 49px;
}
.content_tab_header.stressballs.active {
    background: #3736fe;
    position: relative;
}
.stressballs_logo {
    margin: 13px 25.5px 0 25.5px;
}
.stressballs_logo.active {
    margin: 9px 10.5px 0 10.5px;
}
.content_tab_header.relievers {
    background: rgba(253, 255, 68, 0.4);
    height: 49px;
}
.content_tab_header.active.relievers {
    background: rgba(253, 255, 68, 1);
    height: auto;
}
.relievers_logo {
    margin: 5px 20.5px 0 20.5px;
}
.relievers_logo.active {
    margin: 5px 8.5px 0 8.5px;
}
.content_tab_header.sigmasystem {
    background: #595959;
    width: 54px;
    height: 49px;
}
.sigma_logo {
    margin: 16px 16px 0 16px;
}
.content_tab_header.active.sigmasystem {
    background: #aaa9a9;
}
.sigma_logo.active {
    margin: 17px 20px 0 20px;
}
.mainsiteheader {
    width: calc(100% - 432px);
}
.period_analitic_info {
    border: 1px solid #9b9b9b;
}
.period_analitic_info div {
    height: 24px;
    line-height: 24px;
    color: #ffffff;
}
.period_analitic_info .period_name {
    width: 86px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #55aeff;
    text-transform: uppercase;
}
.period_analitic_info .param_value_label {
    text-align: right;
    padding-right: 7px;
    text-transform: uppercase;
    font-family: Helvetica CE;
    font-size: 12px;
    cursor: pointer;
}
.period_analitic_info .param_value {
    min-width: 26px;
    font-family: Helvetica-Bold;
    font-size: 18px;
    padding-right: 7px;
    cursor: pointer;
}
.period_analitic_info .param_value.money {
    min-width: 45px;
    padding-left: 7px;
    cursor: pointer;
}
.period_analitic_info .allbrandstotalweek {
    border-left: 1px solid #9b9b9b;
    font-weight: bold;
    font-size: 13px;
    color: #55aeff;
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 7px;
    cursor: pointer;
}
.publicsearch {
    margin-left: 5px;
    /* Compensation for magnif.icon */
    margin-right: -16px;
}
.publicsearch > select.publicsearch_type {
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    font-family: Arial;
    padding-left: 6px;
}
.publicsearch > input.publicsearch_template {
    border: 1px solid #088aff;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    font-family: Arial;
    padding-left: 6px;
    width: 111px;
}
.publicsearch > input.publicsearch_template::placeholder {
    text-align: left;
}
.publicsearch > .publicsearch_btn {
    position: relative;
    float: right;
    left: -21px;
    top: 4px;
    cursor: pointer;
}
.userinfo {
    float: right!important;
    width: 187px;
    margin-right: 7px;
}
.userinfo .signout {
    color: #82f8ff;
    font-family: Helvetica-Oblique;
    font-size: 12px;
    font-style: italic;
    width: 50px;
    padding-top: 1px;
    float: right!important;
    cursor: pointer;
}
.userinfo .usersigninfo {
    float: right!important;
    padding-right: 7px;
    text-align: right;
    color: #ffffff;
    font-family: Helvetica-Oblique;
    font-style: italic;
    font-size: 14px;
}
.userinfo .dateinfo {
    float: right!important;
    padding-right: 7px;
    text-align: right;
    color: #979797;
    font-family: Helvetica;
    font-size: 13px;
}
.inforeports {
    border: 1px solid #9b9b9b;
    height: 26px;
    color: #ffffff;
    /* width: 105px; */
    margin: 0.25rem 4px 0 4px;
    cursor: pointer;
    padding: 0 6px;
}
.inforeports:hover {
    background: #000080;
}
.inforeports.oldver {
    width: 94px;
}
.inforeports .icon {
    width: 15px;
    padding-top: 4px;
    /* margin-left: 12px; */
}
.inforeports.oldver .icon {
    margin-left: -3px!important;
}
.inforeports .icon img {
    width: 100%;
    height: auto;
}
.inforeports .infotext {
    padding-left: 7px;
    font-family: Helvetica-BoldOblique;
    font-size: 14px;
    height: 26px;
    line-height: 26px!important;
}
.infoalerts {
    border: 1px solid #9b9b9b;
    height: 26px;
    color: #ffffff;
    /* width: 90px; */
    margin-right: 4px;
    float: right!important;
    cursor: pointer;
    padding: 0 6px;
    margin-top: 2.5px;
}
.infoalerts:hover {
    background: #000080;
}
.infoalerts.resources {
    /* width: 111px!important; */
}
.infoalerts .alerticon {
    /* padding-left: 12px;*/
    width: 15px;
    padding-top: 6px;
    /* margin-left: 12px; */
}
.resources.oldver .alerticon {
    margin-left: -3px;
}
.admininfo.oldver .alerticon {
    margin-left: -3px;
}
.infoalerts .alerticon.admin {
    padding-top: 5px;
}
.infoalerts .alerticon img {
    width: 100%;
    height: auto;
}
.alerttext {
    padding-left: 7px;
    font-family: Helvetica-BoldOblique;
    font-size: 14px;
    height: 26px;
    line-height: 26px!important;
}
.menurow {
    padding-top: 7px;
    padding-left: 20px;
    margin-bottom: -7px;
}
/* Main menu */
.main-buttons {
    display: inline-block;
    float: right!important;
    margin-top: 4px;
}
ul.mainmenu {
    float: left;
    padding: 0;
    margin-top: 8px;
    /* margin-bottom: 8px; */
    list-style: none;
}
ul.mainmenu li {
    display: inline-block;
}
ul.mainmenu a {
    display: block;
    text-decoration: none;
    color: #fff;
    min-width: 92px;
    height: 23px;
    line-height: 23px!important;
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-right: 4px;
    padding: 0 13px;
    margin-bottom: 0!important;
}
ul.mainmenu a.activelink {
    height: 30px;
    line-height: 25px!important;
}
ul.mainmenu a.activelink.adminbutton {
    background: #ff1c1c;
    color: #ffffff;
}
ul.mainmenu a.activelink.marketbtn {
    background: #2626ff;
    color: #ffffff;
}
ul.mainmenu a.activelink.databasebtn {
    background: #228927;
    color: #ffffff;
}
ul.mainmenu a.activelink.resourcesbtn {
    background: #cc28c2;
    color: #ffffff;
}
a.adminbutton {
    background: #ff1c1c;
    background: linear-gradient(to top, #e11919, #ff2d2d);
}
a.adminbutton:hover {
    background: #d12525!important;
    color: #ffffff!important;
}
a.marketbtn {
    background: #5656ff;
    background: linear-gradient(to top, #4e4ee7, #6666ff);
}
a.marketbtn:hover {
    background: #4443ce!important;
    color: #ffffff!important;
}
a.databasebtn {
    background: #228927;
    background: linear-gradient(to top, #1f7b23, #37943b);
}
a.databasebtn:hover {
    background: #1d6e21!important;
    color: #ffffff!important;
}
a.resourcesbtn {
    background: #cc28c2;
    background: linear-gradient(to top, #b824af, #d13cc8);
}
a.resourcesbtn:hover {
    background: #9c2095!important;
    color: #ffffff!important;
}
ul.mainmenu .dropdown {
    position: relative;
}
li.nav-item.dropdown.open .dropdown-menu {
    display: block !important;
}
ul.mainmenu a.dropdown-item {
    margin: 2px;
    font-weight: 400 !important;
}
ul.mainmenu a.dropdown-item:hover {
    font-weight: bold;
}
ul.mainmenu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1.5rem;
    z-index: 1000;
    display: none;
    min-width: 215px;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
ul.mainmenu #collapsed.dropdown-menu {
    right: 0 !important;
    position: absolute;
    left: auto !important;
    top: auto !important;
    padding: 1px !important;
}
#collapsed li.dropdown.open div.dropdown-menu {
    position: absolute;
    left: auto !important;
    right: 100%;
    top: -11px;
}
ul.mainmenu #collapsed.dropdown-menu li {
    display: block!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#collapsed.dropdown-menu a {
    margin-right: 1px !important;
}
/* Classes for left tabs */
.page_container {
    float: left;
    width: 100%;
    background: #3636ff;
}
.left_maincontent {
    float: left;
    width: 25px;
    /* margin-top: 30px; */
}
.left_maincontent > .left_tab {
    background: url('/img/page_view/nonactive_side_tab.png');
    width: 33px;
    height: 119px;
    margin-bottom: 2px;
    cursor: pointer;
}
.left_maincontent > .left_tab img {
    padding-top: 10px;
    padding-left: 3px;
}
.left_maincontent > .left_tab.active {
    background: url('/img/page_view/active_side_tab.png');
}
.right_maincontent {
    background: #ededed;
    float: left;
    width: calc(100% - 25px);
}
.container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.maincontent {
    width: 100%;
    background: #252525;
    float: left;
}
.maincontent div {
    float: left;
    line-height: initial;
}
.leftmenuarea {
    width: 126px;
}
.content_tab {
    display: none;
    width: 100%;
    min-height: 650px;
}
.content_tab.active {
    display: block;
}
.content_tab.stressballs {
    background: #3736fe;
}
.content_tab.relievers {
    background: #fdff44;
}
.content_tab.sigmasystem {
    background: #aaa9a9;
}
.stressballssubtitle {
    display: block;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin-left: 11px;
    margin-top: -7px;
    position: relative;
}
.relieverssubtitle {
    display: block;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin-left: 11px;
    margin-top: -7px;
    position: relative;
}
.sigmasystemsubtitle {
    display: block;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin-left: 11px;
    margin-top: -7px;
    position: relative;
}
.brandcontentmenu {
    margin-top: 24px;
    width: 100%;
}
.brandmenuitem {
    margin: 8px;
    border: 1px solid #000000;
    height: 25px;
    background: #5856ff;
    color: #ffffff;
    width: 114px;
    cursor: pointer;
}
.brandmenuitem:hover {
    background: #16019e;
}
.brandmenuitem.relievers {
    border: 1px solid #000000;
    background: #ebebeb;
    color: #00004b;
}
.brandmenuitem.relievers:hover {
    background: #00004b;
    color: #ffffff;
}
.brandmenuitem.sigmasystem {
    border: 1px solid #000000;
    background: #d5d5d5;
    color: #000000;
}
.brandmenuitem.sigmasystem:hover {
    background: #000000;
    color: #ffffff;
}
.brandmenuitemactive {
    background: #ffffff;
    color: #000000;
    width: 118px;
    margin: 8px 0 8px 8px;
    /* height: 35px; */
    height: 25px;
}
.brandmenuitemactive.relievers,
.brandmenuitemactive.sigmasystem {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: relative;
    width: 119px;
}
.brandmenuicon {
    width: 16px;
    margin: 2px 6px;
}
.brandmenuicon.active {
    /* margin: 9px 6px; */
}
.brandmenuicon img {
    width: 100%;
    height: auto;
}
.brandmenutitle {
    font-size: 15px;
    font-weight: 600;
    height: 23px;
    line-height: 23px!important;
}
.brandmenutitle.active {
    /* height: 35px;
    line-height: 35px!important;
    font-size: 18px;
    /* text-transform: uppercase; */
}
.branmenudevider {
    border-bottom: 1.5px solid #000000;
    margin: 18px 8px;
    width: 123px;
}
.branmenudevider.relievers {
    border-bottom: 1.5px solid #929292;
}
.maincontentmenuarea {
    width: calc(100% - 126px);
    padding: 10px 10px 10px 0;
}
.maincontentmenuarea.stresballstab {
    background: #3736fe;
}
.maincontentmenuarea.relieverstab {
    background: #fdff44;
}
.maincontentmenuarea.sigmasystem {
    background: #aaa9a9;
}
.maincontentmenuarea.adminmenu {
    /* background: #ff1c1c; */
    background: #3636ff;
    /* color: #ffffff; */
}
.maincontentmenuarea.marketmenu {
    /* background: #2626ff; */
    background: #3636ff;
    /* color: #ffffff; */
}
.maincontentmenuarea.databasemenu {
    /* background: #228927; */
    background: #3636ff;
    /* color: #ffffff; */
}
.maincontentmenu {
    margin-left: 5px;
}
.maincontentmenu > .title {
    margin-right: 20px;
    margin-left: 14px;
    height: 30px;
    line-height: 30px!important;
    font-family: Helvetica-Bold;
    font-size: 19px;
    color: #ffffff;
    margin-top: 3px;
}
.relieverstab .maincontentmenu > .title {
    color: #00004b;
}
.maincontentmenu > .subtitle, .maincontentmenu > .subtitlelink {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 6px;
    position: relative;
    margin-left: 14px;
    color: #5554ff;
    height: 24px;
}
.maincontentmenu > .subtitlelink {
    cursor: pointer;
}
.maincontentmenu_item {
    background: #5a5aff;
    margin-top: 5px;
    height: 23px;
    line-height: 23px!important;
    text-align: center;
    padding: 0 13px;
    font-family: Arial;
    font-size: 14px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-right: 5px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 9px;
    color: #f7f4f4;
    position: relative;
}
.relieverstab .maincontentmenu_item {
    background: #ededed!important;
    color: #2E2E2E;
}
.maincontentmenu_item.oldver {
    padding: 0 13px 0 1px;
}
.maincontentmenu_item.active {
    color: #000;
    font-weight: bold;
    background: #ffffff!important;
    cursor: default;
    line-height: 26px!important;
    height: 26px;
    margin-top: 7px;
}
.maincontentarea {
    width: 100%;
    min-height: 640px;
}
.maincontent_view {
    background: #ffffff;
    width: 100%;
    min-height: 598px;
    margin-top: -1px;
}
.relieverstab .maincontent_view,
.sigmasystem .maincontent_view {
    border: 1px solid #000000;
}
.databrands {
    float: right!important;
    margin-right: 7px;
    margin-top: 5px;
}
.databrands > .label {
    height: 24px;
    line-height: 24px;
    margin-right: 6px;
    font-family: Arial;
    font-size: 14px;
}
.databrands > .choicearea {
    height: 22px;
    line-height: 22px;
    border: 1px solid #7a7a7a;
    background: #ffffff;
}
.choicearea > .bransselectlabel {
    color: #a8a8a8;
    font-family: Arial;
    margin: 0 11px;
    height: 22px;
    line-height: 22px;
}
.choicearea > .bransselectlabel.active {
    color: #000;
}
.brandschooselabel {
    height: 22px;
    line-height: 22px!important;
    font-size: 14px;
    color: #000000;
    margin-right: 6px;
    margin-top: 8px;
    margin-left: 10px;
}
.brandschoosearea {
    background: #ffffff;
    border: 1px solid #7a7a7a;
    margin-top: 8px;
}
.brandschoosearea > div {
    height: 22px;
    line-height: 22px!important;
    color: #808080;
}
.brandschoosearea > .brandchoseval {
    width: 16px;
    margin: 0 10px;
}
.brandschoosearea > .brandchoseval i {
    margin-top: 3px;
    font-size: 18px;
    cursor: pointer;
}
.brandschoosearea > .brandlabel {
    margin-right: 17px;
}
.brandschoosearea > .brandchoseval.active ,
.brandschoosearea > .brandlabel.active {
    color: #000;
}
/* Colors rows */
.whitedatarow {
    background-color: #ffffff;
    color: #333333;
}
.greydatarow {
    background-color: #ededed;
    color: #333333;
}
.truncateoverflowtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clearfix {
    clear: both;
}
li.mainmenulasttab  {
    height: 23px;
    line-height: 23px!important;
    padding: 0!important;
    display: none;
}
li.mainmenulasttab > a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px!important;
    display: none;
}
li.mainmenulasttab > a:hover, li.mainmenulasttab > a:focus {
    color: #ffffff;
    text-decoration: none;
    background: none!important;
    border: none!important;
}
.left-box {
    /* float: left; */
    /* width: 70%; */
    margin-left: 12px;
}
.right-box {
    float: right!important;
    /* width: 30%; */
}
.userinfo,
.brands-logos,
.period_analitic_info,
.publicsearch {
    margin-top: 0.25rem;
}
/* New Menu */
.menuitem {
    background: #6b6b6b;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #d7d7d7;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 26px;
    line-height: 26px!important;
    margin-left: 7px;
    cursor: pointer;
    min-width: 60px;
    padding: 0 16px;
}
.menuitem.oldver {
    padding: 0 16px 0 4px!important;
}
div.oldvesionlabel {
    opacity: 0.6;
    position: relative;
    left: 47%;
    background-color: #b53535;
    width: 12px;
    margin-top: 0px;
    height: 23px;
}
.menuitem.activelink, .menuitem.activelink:hover {
    background: #3636ff;
    color: #ffffff;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    height: 30px;
    line-height: 30px!important;
    margin-top: -4px;
}
.menuitem:hover {
    background: #000080;
    color: #ffffff;
}
.finmenusection {
    margin-left: -15px;
}
.contentmenusection {
    float: right!important;
    margin-right: -15px;
}
.menurow > .row {
    width: 100%;
}
.marketmenusection {
    margin-left: 40px;
}
/* Finance button */
.menuitem.finance .triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 26px 0 0;
    border-color: #6b6b6b transparent transparent transparent;
    position: absolute;
    top: 0px;
    right: -21px;
}
.menuitem.financenew .triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 26px 26px;
    border-color: transparent transparent #9c9c9c transparent;
    position: absolute;
    top: 0px;
    left: -21px;
}
.menuitem.finance span.bnt-side {
    background: #6b6b6b;
    border-top-left-radius: 7px;
    font-size: 23px;
    display: block; /*inline-block*/;
    width: 26px;
}
.menuitem.financenew span.bnt-side {
    background: #9c9c9c;
    border-top-right-radius: 7px;
    font-size: 23px;
    display: inline-block;
    width: 32px;
    height: 26px;
    position: relative;
    left: 0px;
}
.menuitem.finance {
    border-top-right-radius: 0px;
    padding: 0 0 0 0rem!important;
    position: relative;
    min-width: 20px!important;
    /* border-radius: 0!important; */
    /* background: #64390e; */
}
.menuitem.financenew {
    border-top-left-radius: 0;
    /*padding-left: 0rem!important;
    padding-right: 0rem!important;*/
    padding: 0!important;
    position: relative;
    margin-left: 22px;
    min-width: 20px!important;
    /* background: #64390e; */
}
.menuitem.finance div.nameitem {
    background: #6b6b6b;
    /* display: inline-block; */
    position: relative;
    top: -22px;
    left: 15px;
    width: 14px;
}
.menuitem.financenew div.nameitem {
    background: #6b6b6b;
    /* display: inline-block; */
    position: relative;
    top: 4px;
    right: -13px;
    width: 5px;
}
.menuitem.finance:hover > div.nameitem,
.menuitem.financenew:hover > div.nameitem,
.menuitem.finance:hover > span.bnt-side,
.menuitem.financenew:hover > span.bnt-side {
    background: #000080!important;
}
.menuitem.finance:hover span.triangle-top {
    border-color: #000080 transparent transparent transparent;
}
.menuitem.financenew:hover span.triangle-bottom {
    border-color: transparent transparent #000080 transparent;
}
.menuitem.finance div.nameitem span {
    position: relative;
    z-index: 20;
    left: 0px;
}
.menuitem.financenew div.nameitem span {
    position: relative;
    left: -46px;
}
.menuitem.financenew:hover div.nameitem span {
    position: relative;
    left: -46px;
    z-index: 25;
}
/* END Finance button */
/* Finance ACTIVE */
.menuitem.financenew.activelink .triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #1a73e8 transparent;
    position: absolute;
    top: -1px;
    left: -25px;
    float: left;
}
.menuitem.financenew.activelink div.nameitem {
    background: #1a73e8;
    float: left;
    position: relative;
    top: 0px;
    right: -5px;
    width: 14px;
    height: 29px;
}
.menuitem.financenew.activelink span.bnt-side {
    background: #1a73e8;
    border-top-right-radius: 7px;
    display: inline-block;
    width: 15px;
    left: 0;
    height: 29px;
}
.menuitem.financenew.activelink div.nameitem span {
    position: relative;
    left: -48px;
    top: 6px;
    color: #fff;
    z-index: 25;
}
.menuitem.finance.activelink span.bnt-side {
    background: #3636ff;
    border-top-left-radius: 7px;
    font-size: 23px;
    float: left;
    width: 15px;
    position: relative;
    top: -1px;
}
.menuitem.finance.activelink div.nameitem {
    background: #3636ff;
    / border-top: 1px solid #000; /
    float: left;
    position: relative;
    top: -1px;
    left: 0;
    width: 14px;
    line-height: 30px;
}
.menuitem.finance.activelink .triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #3636ff transparent transparent transparent;
    position: absolute;
    top: -1px;
    right: -30px;
    float: left;
}
.menuitem.finance.activelink {
    border-top-left-radius: 7px!important;
}
.menuitem.financenew.activelink {
    padding-right: 0!important;
    margin-left: 28px;
    border-left: none;
}
/* END Finance ACTIVE */
/* Fulfillment button */
.menuitem.fulfillment span.triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 26px 0 0;
    border-color: #6b6b6b transparent transparent transparent;
    position: absolute;
    top: 0px;
    right: -26px;
}
.menuitem.fulfillmentnew span.triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 26px 26px;
    border-color: transparent transparent #9c9c9c transparent;
    position: absolute;
    top: 0px;
    left: -26px;
}
.menuitem.fulfillment span.bnt-side {
    background: #6b6b6b;
    border-top-left-radius: 7px;
    font-size: 23px;
    display: block;
    width: 38px;
}
.menuitem.fulfillmentnew span.bnt-side {
    background: #9c9c9c;
    border-top-right-radius: 7px;
    font-size: 23px;
    display: inline-block;
    width: 25px;
    height: 26px;
    position: relative;
    left: 4px;
}
.menuitem.fulfillment {
    border-top-right-radius: 0px;
    padding: 0 0 0 0rem!important;
    position: relative;
    min-width: 20px!important;
}
.menuitem.fulfillmentnew {
    border-top-left-radius: 0;
    padding: 0!important;
    position: relative;
    margin-left: 31px;
    min-width: 20px!important;
    background: #9c9c9c;
    margin-right: 3px;
}
.menuitem.fulfillment div.nameitem {
    background: transparent;
    position: relative;
    top: -22px;
    left: 15px;
    width: 14px;
}
.menuitem.fulfillmentnew div.nameitem {
    background: transparent;
    position: relative;
    top: 4px;
    right: 5px;
    width: 7px;
}
.menuitem.fulfillment:hover > div.nameitem,
.menuitem.fulfillmentnew:hover > div.nameitem,
.menuitem.fulfillment:hover > span.bnt-side,
.menuitem.fulfillmentnew:hover,
.menuitem.fulfillmentnew:hover > span.bnt-side {
    background: #000080!important;
}
.menuitem.fulfillment:hover span.triangle-top {
    border-color: #000080 transparent transparent transparent;
}
.menuitem.fulfillmentnew:hover span.triangle-bottom {
    border-color: transparent transparent #000080 transparent;
}
.menuitem.fulfillment div.nameitem span {
    position: relative;
    z-index: 20;
    left: 0px;
}
.menuitem.fulfillmentnew div.nameitem span {
    position: relative;
    left: -49px;
}
.menuitem.fulfillmentnew:hover div.nameitem span {
    position: relative;
    left: -49px;
    z-index: 25;
}
/* End Fulfillment */
/* Fulfillment ACTIVE */
.menuitem.fulfillmentnew.activelink .triangle-bottom {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #1a73e8 transparent;
    position: absolute;
    top: -1px;
    left: -25px;
    float: left;
}
.menuitem.fulfillmentnew.activelink div.nameitem {
    background: #1a73e8;
    float: left;
    position: relative;
    top: 0px;
    right: -5px;
    width: 14px;
    height: 29px;
}
.menuitem.fulfillmentnew.activelink span.bnt-side {
    background: #1a73e8;
    border-top-right-radius: 7px;
    display: inline-block;
    width: 32px;
    left: 0;
    height: 29px;
}
.menuitem.fulfillmentnew.activelink div.nameitem span {
    position: relative;
    left: -48px;
    top: 6px;
    color: #fff;
    z-index: 25;
}
.menuitem.fulfillment.activelink span.bnt-side {
    background: #3636ff;
    border-top-left-radius: 7px;
    font-size: 23px;
    float: left;
    width: 15px;
    position: relative;
    top: -1px;
}
.menuitem.fulfillment.activelink div.nameitem {
    background: #3636ff;
    float: left;
    position: relative;
    top: -1px;
    left: 0;
    width: 14px;
    line-height: 30px;
}
.menuitem.fulfillment.activelink .triangle-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: #3636ff transparent transparent transparent;
    position: absolute;
    top: -1px;
    right: -30px;
    float: left;
}
.menuitem.fulfillment.activelink {
    border-top-left-radius: 7px!important;
}
.menuitem.fulfillmentnew.activelink {
    padding-right: 0!important;
    margin-left: 28px;
    border-left: none;
}
.color_red, .color_red2 {
    color: #FF0000!important;
}
.color_blue, .color_blue2 {
    color: #0000FF!important;
}
/* Week totals popup */
.weekbrandtotals {
    padding: 0!important
}
.brantotalarea {
    display: inline-table;
    width: 240px;
    background: #000000;
    /*border: 1px solid #adadad; */
    padding: 7px;
    /* margin-top: -10px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -11px; */
}
.brantotalarea div {
    float: left;
}
.brantotalarea .datarow > div {
    height: 22px;
    line-height: 22px!important;
}
.brantotalarea .totalrowlabel {
    width: 130px;
    padding-right: 7px;
    text-align: right;
    color: #4ca4ee;
    font-size: 15px;
    font-weight: 600;
}
.brantotalarea .totalrowvalue {
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 600;
}
/* Submenu */
.brandsubmenu {
    display: none;
    position: absolute;
    left: 35px;
    top: 185px;
    z-index: 25;
    padding: 6px 8px 0 8px;
}
.brandsubmenu.bluetrack {
    background-color: #0100a9;
}
.brandsubmenu.relievers {
    background-color: #00004c;
}
.submenu_content {
    width: 162px;
}
.submenuitem {
    width: 162px;
    height: 25px;
    line-height: 25px!important;
    padding-left: 7px;
    font-size: 15px;
    margin-bottom: 7px;
    cursor: pointer;
}
.submenuitem.bluetrack {
    background-color: #3736fe;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.submenuitem.bluetrack:hover {
    background-color: #0100aa;
}
.submenuitem.relievers {
    background-color: #ebebeb;
    color: #000000;
    border: 1px solid #bdbdbd;
}
.submenuitem.relievers:hover {
    background-color: #00004c;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.submenuitem.sigma {
    background-color: #ebebeb;
    color: #000000;
    border: 1px solid #bdbdbd;
}
.submenuitem.sigma:hover {
    background-color: #00004c;
    color: #ffffff;
    border: 1px solid #ffffff;
}
