.fu_popover_Theme_blue {
    position: absolute;
    background: #1E3294;
    z-index: 1060;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #362DF1;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.fu_popover_header_Theme_blue{
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    text-align: center;
    color:#FFFFFF;
    background-color: #404FB3;
    border-bottom: 1px solid #213491;
    border-radius: 8px 8px 0 0;
}
.fu_popover_content_Theme_blue{
    padding: 9px 14px;
    color: #ffffff;
    text-align: center;
}
.fu_popover_Theme_blue:after, .fu_popover_Theme_blue:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.fu_popover_Theme_blue:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
}
.fu_popover_Theme_blue:before {
    border-color: rgba(0, 0, 0, 0);
    border-width: 11px;
}
.arrow_top_Theme_blue:after{
    left: 50%;
    bottom: 100%;
    border-bottom-color: #1E3294;
    margin-left: -10px;
}
.arrow_top_Theme_blue:before{
    left: 50%;
    bottom: 100%;
    border-bottom-color: #362DF1;
    margin-left: -11px;
}
.arrow_bottom_Theme_blue:after{
    left: 50%;
    top: 100%;
    border-top-color: #1E3294;
    margin-left: -10px;
}
.arrow_bottom_Theme_blue:before{
    left: 50%;
    top: 100%;
    border-top-color: #362DF1;
    margin-left: -11px;
}
.arrow_left_Theme_blue:after{
    right: 100%;
    top: 50%;
    border-right-color: #1E3294;
    margin-top: -10px;
}
.arrow_left_Theme_blue:before{
    right: 100%;
    top: 50%;
    border-right-color: #362DF1;
    margin-top: -11px;
}
.arrow_right_Theme_blue:after{
    left: 100%;
    top: 50%;
    border-left-color: #1E3294;
    margin-top: -10px;
}
.arrow_right_Theme_blue:before{
    left: 100%;
    top: 50%;
    border-left-color: #362DF1;
    margin-top: -11px;
}
/* Red */
.fu_popover_theme_red {
    position: absolute;
    background: #E53030;
    z-index: 1060;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #F3AFAF;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.fu_popover_header_theme_red{
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    text-align: center;
    color:#000000;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3AFAF;
    border-radius: 8px 8px 0 0;
}
.fu_popover_content_theme_red{
    padding: 9px 14px;
    color: #ffffff;
    text-align: center;
}
.fu_popover_theme_red:after, .fu_popover_theme_red:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.fu_popover_theme_red:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
}
.fu_popover_theme_red:before {
    border-color: rgba(0, 0, 0, 0);
    border-width: 11px;
}
.arrow_top_theme_red:after{
    left: 50%;
    bottom: 100%;
    border-bottom-color: #EA2D2D;
    margin-left: -10px;
}
.arrow_top_theme_red:before{
    left: 50%;
    bottom: 100%;
    border-bottom-color: #F3AFAF;
    margin-left: -11px;
}
.arrow_bottom_theme_red:after{
    left: 50%;
    top: 100%;
    border-top-color: #EA2D2D;
    margin-left: -10px;
}
.arrow_bottom_theme_red:before{
    left: 50%;
    top: 100%;
    border-top-color: #F3AFAF;
    margin-left: -11px;
}
.arrow_left_theme_red:after{
    right: 100%;
    top: 50%;
    border-right-color: #EA2D2D;
    margin-top: -10px;
}
.arrow_left_theme_red:before{
    right: 100%;
    top: 50%;
    border-right-color: #F3AFAF;
    margin-top: -11px;
}
.arrow_right_theme_red:after{
    left: 100%;
    top: 50%;
    border-left-color: #EA2D2D;
    margin-top: -10px;
}
.arrow_right_theme_red:before{
    left: 100%;
    top: 50%;
    border-left-color: #F3AFAF;
    margin-top: -11px;
}