html {
    background-color: #dfdfdf;
    font-family: Helvetica;
}
body {
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica;
    background-color: #fff;
    margin-top: 0;
}
/* Common classes */
input::placeholder {
    font-style: italic;
}
body div {
    float: left;
}
.datarow {
    clear: both;
    width: 100%;
}
.maincontent {
    width: 100%;
    height: 780px;
    overflow: hidden;
    background: #252525;
}
.signin_logo {
    padding-top: 10px;
    padding-left: 10px;
}
.openincome {
    position: relative;
    top: 14px;
    left: -64px;
    width: 12px;
}
.signin_form {
    margin: 268px 0 0 568px;
    width: 355px;
    height: 133px;
    background: url(/img/signin/signin_form.png) no-repeat;
    background-position: bottom right;
}
.signin_form > .datarow {
    margin-bottom: 13px;
}
input.signinformelement {
    background: #ffffff;
    width: 273px;
    height: 35px;
    padding-left: 5px;
    font-family: Arial;
    font-size: 18px;
    color: #000;
}
.go {
    float: right!important;
    width: 63px;
    height: 63px;
    position: relative;
    top: -61px;
    border-radius: 50%;
}