html {
    background-color: #dfdfdf;
    font-family: Helvetica;
}
body {
    margin-left: auto!important;
    margin-right: auto!important;
    font-family: Helvetica!important;
    background-color: #fff!important;
    margin-top: 0!important;
}

/* Common classes */
input::placeholder {
    font-style: italic;
}
body div {
    /* float: left; */
}
.header {
    background: #252525;
}
.login-form {
    background: #252525;
    height: 780px;
    overflow: hidden;
    background: #252525;
}
.signin_form {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    background: url(/img/signin/signin_form.png) no-repeat;
    background-position: bottom right;
}
.go {
    cursor: pointer;
    float: right;
    width: 4rem;
    height: 4rem;
    position: relative;
    bottom: 4.8rem;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .signin_form {
        background-position: bottom 3.2rem right;
    }
    .go {
        bottom: 4.6rem;
    }
    .navbar-brand img {
        max-width: 70%;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .signin_form {
        width: 40%;
        background-position: bottom 2.8rem right;
    }
    .go {
        bottom: 4.3rem;
    }
    .navbar-brand img {
        max-width: 55%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .signin_form {
        width: 54%;
        background-position: bottom 3.3rem right;
    }
    .navbar-brand img {
        max-width: 45%;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .signin_form {
        width: 58%;
        background-position: bottom 2.8rem right;
    }
    .go {
        bottom: 4.2rem;
    }
    .navbar-brand img {
        max-width: 50%;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .signin_form {
        width: 95%;
        background-position: bottom 0.8rem right;
        height: 8.3rem;
    }
    .navbar-brand img {
        max-width: 40%;
    }
}
