.pscalendar {
    position: relative;
    width: 745px;
    margin-left: 10px;
}
.pscalendar-days {
    width: 766px;
    margin-bottom: 5px;
}
.pscalendar-td {}
.pscalendar-days .pscalendar-td {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 108px;
    margin-left: -1px;
}
.pscalendar-daybox {
    border: 1px solid #303030;
    width: 108px;
    height: 39px;
    background: #fff;
    opacity: 1;
    padding: 0 2px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: -1px;
}
.pscalendar-daybox:first-child {
    margin-left: 0;
}
.pscalendar-daybox.dayoff {
    border: 1px solid #303030;
    width: 106px;
    height: 39px;
    background: #d9d9d9;
    padding: 0 2px;
}
.pscalendar-daybox:hover,
.pscalendar-daybox.today {
    outline: 3px solid #1c08d2;
    background: #e2ebfc;
    z-index: 2;
}
.pscalendar-daybox .daybox-date {
    width: 24px;
    margin-top: 4px;
}
.pscalendar-daybox .dayboxdate-month {
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    color: #000;
}
.pscalendar-daybox .dayboxdate-date {
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
}
.dayoff .dayboxdate-date {
    color: #676767;
}
.pscalendar-daybox .daybox-orders {
    width: 32px;
    margin-top: 5px;
    margin-left: 2px;
}
.pscalendar-daybox .dayboxorders-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
    color: #a4a4a4;
}
.pscalendar-daybox .dayboxorders-numbers {
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: #1000a7;
}
.pscalendar-daybox .daybox-prints {
    width: 42px;
    margin-top: 5px;
}
.pscalendar-daybox .dayboxprints-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
    color: #a4a4a4;
}
.pscalendar-daybox .dayboxprints-numbers {
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    color: #1000a7;
}
.pscalendar-daybox .daybox-itemsprinted {
    width: 38px;
    margin-top: 3px;
    margin-left: 2px;
}
.pscalendar-daybox .daybox-printsprinted {
    width: 36px;
    margin-top: 3px;
}
.pscalendar-arrows {
    width: 100%;
    font-size: 26px;
    color: #656565;
}
.pscalendar-arrowsleft {
    position: absolute;
    top: -10px;
    left: 0;
    cursor: pointer;
}
.pscalendar-arrowsright {
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
}





.rightside {
    float: right !important;
    margin-right: 10px;
    width: calc(100% - 1200px);
    /* 790px */
}
/*.btn-reschedular {*/
/*    float: right !important;*/
/*    width: 237px;*/
/*    height: 50px;*/
/*    border-radius: 5px;*/
/*    background: #5c5b5b;*/
/*}*/
/*.btnreschedular-txt {*/
/*    width: 196px;*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    line-height: 32px;*/
/*    text-align: center;*/
/*    font-weight: 600;*/
/*    margin: 9px 0;*/
/*}*/
/*.btnreschedular-btn {*/
/*    width: 37px;*/
/*    margin: 9px 0;*/
/*    line-height: 32px;*/
/*    border-left: 1px solid #aeadad;*/
/*    color: #fff;*/
/*    font-size: 26px;*/
/*    text-align: center;*/
/*    cursor: pointer;*/
/*}*/





.maingreyblock {
    margin-top: 12px;
    background: #969595;
    margin-left: 10px;
    margin-right: 10px;
}
.fullinfo {
    /* width: 1550px; */
    width: 1500px;
}
.maingrey-header {
    width: 100%;
    height: 35px;
}
.maingrey-title {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    margin-left: 15px;
}
.maingrey-infobox {
    width: 258px;
    height: 22px;
    background: #fff;
    border: 1px solid #000;
    margin-top: 6px;
    margin-left: 15px;
}
.maingreyinfo-prints,
.maingreyinfo-items,
.maingreyinfo-orders {
    width: 85px;
    text-align: center;
    font-size: 12px; /* 13px; */
    line-height: 21px; /* 19px; */
}
.maingreyinfo-prints span,
.maingreyinfo-items span,
.maingreyinfo-orders span {
    font-weight: 600;
}
.maingrey-close {
    float: right !important;
    color: #fff;
    font-size: 22px;
    margin: 5px 10px;
    cursor: pointer;
    position: relative;
    top: -3px;
}





.warning-section {
    background: #000;
    width: 100%;
    padding-bottom: 12px;
    /*margin-bottom: 50px;*/
    margin-bottom: 15px;
    display: none;
}
.warning-title {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    font-style: italic;
    margin-left: 10px;
}
.warning-title span {
    font-weight: 600;
    font-size: 14px;
}
.warning-close {
    float: right !important;
    color: #fff;
    font-size: 22px;
    margin: 5px 10px;
    cursor: pointer;
    position: relative;
    top: -3px;
}
.warning-table {
    width: 100%;
    margin-left: 10px;
}
.warntabl-tr {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
}
.warntabl-header {
    margin-bottom: 4px;
}
.warntabl-td {
    background: #ffffff; /* #edecec */;
    font-size: 11px;
    text-align: center;
    border-right: 1px solid #d3d1d1;
}
/*.warntabl-header .warntabl-td {*/
/*}*/
.warntabl-header .warntabl-td {
    border-right: 1px solid #f98bfd !important;
    background: #f98bfd;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.warntabl-apprblock {
    margin-right: 19px;
    border: 1px solid #888888;
}
.warntabl-mainblock {
    margin-right: 12px;
    border: 1px solid #888888;
}
.warntabl-fulfblock {
    margin-right: 12px;
    /*border: 1px solid #888888;*/
}
.warntabl-header .warntabl-fulfblock {
    margin-right: 52px;
}
.warntabl-shipblock {
    /*border: 1px solid #888888;*/
}
.warntabl-header .warntabl-shipblock {
    margin-right: 40px;
}
.warntabl-prcful {
    width: 33px;
}
.warntabl-prcship {
    width: 36px;
}
.warntabl-prcful.pink,
.warntabl-prcship.pink {
    background: #f98bfd;
}
.warntabl-approval {
    width: 68px;
    font-size: 10px;
}
.iconart {
    background: #fff;
    border: 1px solid #888888;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    color: #000;
    font-size: 10px;
    display: inline-block;
    line-height: 14px !important;
    cursor: pointer;
    position: relative;
    top: -1px;
}
.notapprv {
    background: #fcf306 !important;
}
.warntabl-brand {
    width: 13px;
}
.warntabl-rush {
    width: 38px;
}
.redrush {
    color: #ff0000!important;
    font-size: 11px!important;
    font-weight: 600;
}
.warntabl-order {
    width: 41px;
    color: #0000ff;
    font-weight: 600;
}
.warntabl-header .warntabl-order {
    color: #000 !important;
}
.warntabl-items {
    width: 41px;
    font-weight: 600;
}
.warntabl-imp {
    width: 21px;
    color: #b8b7b7;
}
.warntabl-prints {
    width: 41px;
    color: #b8b7b7;
}
.warntabl-header .warntabl-imp, .warntabl-header .warntabl-prints {
    color: #949292 !important;
}
.warntabl-itmcolor {
    width: 78px;
}
.warntabl-description {
    width: 156px;
    text-align: left !important;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden;    /* Hides any content that overflows the container */
    text-overflow: ellipsis;
}
.warntabl-description.shortresched {
    width: 220px;
}
.warntabl-inkcolor {
    width: 76px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.warntabl-header .warntabl-description, .warntabl-header .warntabl-inkcolor {
    text-align: center !important;
}
.warntabl-done {
    background: #eeeded;
    width: 38px;
}
.warntabl-flfremain {
    background: #eeeded;
    width: 38px;
    font-weight: 600;
}
.warntabl-flfdate {
    background: #eeeded;
    width: 34px;
    font-weight: 600;
}
.warntabl-flfdate input {
    width: 33px;
}
.warntabl-flfprint {
    background: #eeeded;
    width: 44px;
}
.warntabl-flfprint input {
    width: 38px;
}
.warntabl-flfkept {
    background: #eeeded;
    width: 25px;
}
.warntabl-flfkept input {
    width: 20px;
}
.warntabl-flfmisprt {
    background: #eeeded;
    width: 35px;
}
.warntabl-flfmisprt input {
    width: 30px;
}
.warntabl-flftotal {
    background: #eeeded;
    width: 37px;
    font-weight: 600;
}
.warntabl-flfplates {
    background: #eeeded;
    width: 30px;
}
.warntabl-flfplates input {
    width: 20px;
}
.warntabl-sent {
    background: #eeeded;
    width: 43px;
    font-weight: 600;
}
.warntabl-shipremain {
    background: #eeeded;
    width: 39px;
    font-weight: 600;
}
.warntabl-qty {
    background: #eeeded;
    width: 42px;
}
.warntabl-qty input {
    width: 37px;
}
.warntabl-shipdate {
    background: #eeeded;
    width: 38px;
    font-size: 11px;
}
.warntabl-shipdate input {
    width: 33px;
}
.warntabl-method {
    background: #eeeded;
    width: 51px;
}
.warntabl-method select {
    width: 50px;
}
.warntabl-tracking {
    background: #eeeded;
    width: 112px;
}
.warntabl-tracking input {
    width: 106px;
}
.warntabl-save {
    width: 40px;
}
.icon-move {
    width: 13px;
    height: 20px;
    /* margin-top: -1px; */
}
.icon-move img {
    width: 100%;
    height: auto;
}
.icon-move.stressball {
    background: url('/img/printscheduler/move-blue.svg');
}
.icon-move.relievers {
    background: url('/img/printscheduler/move-yellow.svg');
}
.btnsave {
    height: 20px;
    line-height: 22px;
    border: 1px solid #888888;
    outline: 1px solid #888888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #93fc9b;
    color: #000000;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 40px;
    position: relative;
    /*top: -1px;*/
}
.btnsave:hover {
    background: #5ee268;
}
.btnsave.unassigned {
    background: #f606ff;
    color: #ffffff;
}
.btnsave:hover.unassigned {
    background: #f75cfc;
}
.warntabl-td input {
    border: 1px solid #888888;
    height: 15px;
    line-height: 15px;
    font-size: 11px !important;
    position: relative;
    top: -1px;
}
.warntabl-td select {
    border: 1px solid #888888;
    height: 15px;
    line-height: 16px;
    font-size: 11px !important;
    background: #fff;
    position: relative;
    top: -1px;
}





.regular-section {
    width: 100%;
    /*padding-bottom: 12px;*/
}
.regular-table {
    width: calc(100% - 10px);
    margin-left: 10px;
    margin-bottom: 12px;
}
.regularsection-subtitle {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 2px;
}
.reglsection-subtitle-1 {
    margin-left: 845px;
}
.reglsection-subtitle-2 {
    margin-left: 183px;
}
.regltabl-tr {
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-left: 10px;
}
.regltabl-header {
    margin-bottom: 4px;
    margin-left: 10px;
}
.regltabl-td {
    /* background: #eeeded; */
    background: #FFFFFF;
    font-size: 11px;
    text-align: center;
    border-right: 1px solid #d3d1d1;
}
.regltabl-header .regltabl-td {
    border-right: 1px solid #dbdbdb !important;
}
.regltabl-header .regltabl-td {
    background: #dbdbdb;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.regltabl-apprblock {
    border: 1px solid #888888;
}
.regltabl-mainblock {
    margin-right: 10px;
    border: 1px solid #888888;
}
.regltabl-mainblock.shortresched {
    margin-left: 10px;
}
.regltabl-header .regltabl-prepblock {
    margin-right: 7px;
    border: 1px solid #888888;
}
.regltabl-fulfblock {
    margin-right: 10px;
    border: 1px solid #888888;
}
.regltabl-header .regltabl-fulfblock {
    margin-right: 50px;
}
.regltabl-shipblock {
    border: 1px solid #888888;
    min-width: 317px;
}
.regltabl-header .regltabl-shipblock {
    margin-right: 40px;
}
.regltabl-prcful {
    width: 33px;
    font-size: 11px;
}
.regltabl-prcship {
    width: 36px;
    font-size: 11px;
}
.regltabl-prcful.peach,
.regltabl-prcship.peach {
    background: #f7aa78;
}
.regltabl-approval {
    width: 68px;
    font-size: 10px;
}
.regltabl-userprinter {
    width: 20px;
    background: transparent !important;
    border-right: none !important;
}
.regltabl-header .regltabl-userprinter {
    border-right: none !important;
}
.userprinter {
    cursor: pointer;
    padding: 0 2px;
}
.userprinter img {
    width: 14px;
    height: auto;
}
.regltabl-brand {
    width: 13px;
}
.regltabl-rush {
    width: 38px;
}
.regltabl-order {
    width: 41px;
    color: #0000ff;
/*    font-size: 12px; */
    font-weight: 600;
}
.regltabl-header .regltabl-order {
    color: #000 !important;
}
.regltabl-items {
    width: 41px;
    font-weight: 600;
    /* font-size: 12px; */
}
.regltabl-imp {
    width: 21px;
    color: #b8b7b7;
}
.regltabl-prints {
    width: 41px;
    color: #b8b7b7;
}
.regltabl-header .regltabl-imp,
.regltabl-header .regltabl-prints {
    color: #949292 !important;
}
.regltabl-itmcolor {
    width: 68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 3px;
}
.regltabl-itmcolor.shortresched {
    width: 83px;
}
.regltabl-description {
    width: 136px;
    text-align: left !important;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.regltabl-description.shortresched {
    width: 220px;
}
.regltabl-inkcolor {
    width: 66px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.regltabl-inkcolor.shortresched {
    width: 76px;
}
.regltabl-header .regltabl-description,
.regltabl-header .regltabl-inkcolor {
    text-align: center !important;
}
.regltabl-prepared {
    width: 142px; /* 128px; */
    background: transparent;
    border-right: 1px solid transparent;
}
.regltabl-prepblock {
    margin-right: 5px;
    border: 1px solid transparent !important;
}
.regltabl-header .regltabl-td.regltabl-prepared {
    background: #dbdbdb !important;
}
.regltabl-prepstock {
    background: url(/img/printscheduler/prepared-stock-green.svg) no-repeat;
    height: 16px;
    width: 44px;
    font-size: 10.5px;
    line-height: 17px;
    margin-top: 2px;
    text-align: left;
    padding-left: 7px;
    cursor: pointer;
}
.regltabl-prepstock.unassigned {
    background: url(/img/printscheduler/prepared-stock-pink.svg) no-repeat;
    color: #ffffff;
}
.regltabl-prepplate {
    background: url(/img/printscheduler/prepared-plateupd-green.svg) no-repeat;
    height: 16px;
    width: 57px;
    font-size: 10.5px;
    line-height: 17px;
    margin-left: -2px;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
}
.regltabl-prepplate.unassigned {
    background: url(/img/printscheduler/prepared-plateupd-pink.svg) no-repeat;
    color: #ffffff;
}
.prepplate-docview {
    border-right: 1px solid #000000;
    height: 13px;
    margin-top: 1px;
    width: 20px;
}
.regltabl-prepplate.unassigned .prepplate-docview {
    border-right: 1px solid #FFFFFF;
}
.regltabl-prepplate.grey .prepplate-docview {
    border-right: 1px solid #ffffff;
}
.prepplate-label {
    width: 37px;
    text-align: left;
    padding-left: 4px;
}
.regltabl-prepink {
    background: url(/img/printscheduler/prepared-ink-green.svg) no-repeat;
    height: 16px;
    width: 42px;
    font-size: 10.5px;
    line-height: 17px;
    margin-left: -2px;
    margin-top: 2px;
    text-align: left;
    padding-left: 14px;
    cursor: pointer;
}
.regltabl-prepink.unassigned {
    background: url(/img/printscheduler/prepared-ink-pink.svg) no-repeat;
    color: #ffffff;
}
.regltabl-blankorder {
    width: 90px;
    border: 1px solid #bcbbbb;
    color: #dad8d8;
    text-align: center;
    font-size: 10.5px;
    margin-left: 5px;
}
.regltabl-prepstock.grey {
    background: url('/img/printscheduler/prepared-stock-grey.svg') no-repeat;
    color: #fff;
}
.regltabl-prepplate.grey {
    background: url('/img/printscheduler/prepared-plateupd-grey.svg') no-repeat;
    height: 16px;
    width: 57px;
    font-size: 10.5px;
    line-height: 14px;
    margin-left: -2px;
    margin-top: 2px;
    text-align: center;
    color: #fff;
}
.regltabl-prepink.grey {
    background: url('/img/printscheduler/prepared-ink-grey.svg') no-repeat;
    color: #fff;
}
.regltabl-done {
    width: 38px;
    background: #eeeded;
}
.regltabl-flfremain {
    width: 38px;
    font-weight: 600;
    background: #eeeded;
}
.regltabl-flfdate {
    width: 33px;
    background: #eeeded;
}
.regltabl-flfdate input {
    width: 33px;
}
.regltabl-flfprint {
    width: 44px;
    background: #eeeded;
}
.rectabl-blankfullfill {
    background: #eeeded;
    width: 127px;
    border: 1px solid #bcbbbb;
    color: #dad8d8;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    height: 20px;
    line-height: 20px;
}
.regltabl-flfprint input {
    width: 38px;
}
.regltabl-flfkept {
    background: #eeeded;
    width: 25px;
}
.regltabl-flfkept input {
    width: 20px;
}
.regltabl-flfmisprt {
    background: #eeeded;
    width: 35px;
}
.regltabl-flfmisprt input {
    width: 30px;
}
.regltabl-flftotal {
    background: #eeeded;
    width: 37px;
    font-weight: 600;
}
.regltabl-flfplates {
    background: #eeeded;
    width: 30px;
}
.regltabl-flfplates input {
    width: 20px;
}
.regltabl-flfplates select {
    width: 28px;
}
.regltabl-sent {
    background: #eeeded;
    width: 43px;
    font-weight: 600;
}
.regltabl-shipremain {
    background: #eeeded;
    width: 39px;
    font-weight: 600;
}
.regltabl-qty {
    background: #eeeded;
    width: 42px;
}
.regltabl-qty input {
    width: 37px;
}
.regltabl-shipdate {
    background: #eeeded;
    width: 38px;
    font-size: 11px;
}
.regltabl-shipdate input {
    width: 33px;
}
.regltabl-method {
    background: #eeeded;
    width: 51px;
}
.regltabl-method select {
    width: 50px;
}
.regltabl-tracking {
    background: #eeeded;
    width: 102px;
}
.regltabl-tracking input {
    width: 96px;
}
.regltabl-save {
    width: 40px;
}
.regltabl-td input {
    border: 1px solid #888888;
    height: 15px;
    line-height: 15px;
    font-size: 11px !important;
    position: relative;
    top: -1px;
}
.regltabl-td select {
    border: 1px solid #888888;
    height: 15px;
    line-height: 16px;
    font-size: 11px !important;
    background: #fff;
    position: relative;
    top: -1px;
}
.printerline {
    width: calc(100% - 12px);
    height: 19px;
    line-height: 19px;
    margin: 7px 0 5px 0px;
}
.printerline.unassignedtotal {
    /* background: #93fc9b; */
}
.regltabl-printername {
    font-size: 13px;
    /* line-height: 22px; */
    font-style: italic;
    font-weight: 600;
    color: #000000;
    background: #FFFFFF;
    width: 94px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.regltabl-printername.unassignedtotal {
    background: #93fc9b;
}
.regltabl-printerinfo {
    background: #FFFFFF;
    width: calc(100% - 97px);
    height: 20px;
}
.regltabl-printerinfo.unassignedtotal {
    background: #93fc9b;
}
.regltabl-printerinfo-data {
    background: #969595;
    color: #EFEFEF;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    width: 100%;
    padding-left: 10px;
}
.regltabl-printerinfo-data span {
    font-weight: 600;
}

/*.unassignedtotal .regltabl-printerinfo {*/
/*    color: #000000;*/
/*}*/
/*.regltabl-printerinfo span {*/
/*    font-weight: 600;*/
/*}*/
.closedblock {
    opacity: .3;
}





.history-section {
    margin-top: 26px;
    width: 1499px;
}
.history-title {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    font-style: italic;
    margin-left: 15px;
    margin-bottom: 5px;
    width: 470px;
}
.history-title-printed {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    margin-left: 230px;
    width: 270px;
}
.history-title-shipped {
    font-size: 12px;
    font-weight: 600;
    font-style: italic;
    margin-left: 15px;
}
.historyblock {
    margin-top: 2px;
    background: #dbdbdb;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; /* calc(100% - 10px); -  1499px; */
}
.history-section-small .historyblock {
    margin-left: 0;
}
.history-section-small .history-title {
    margin-left: 5px;
}
.history-table {
    margin-left: 10px;
    width: 1250px;
    margin-right: 10px;
}
.histrtabl-tr {
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
}
.histrtabl-header {
    margin-bottom: 4px;
    color: #4f4e4e;
}
.histrtabl-td {
    background: #ffffff; /* #edecec;*/
    font-size: 11px;
    text-align: center;
    /*border-right: 1px solid #000000; !* #d3d1d1*!;*/
    color: #787777;
}
.histrtabl-header .histrtabl-td {
    border-right: 1px solid #adacac !important;
}
.histrtabl-header .histrtabl-td {
    background: #adacac;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.histrtabl-apprblock {
    border: 1px solid #888888;
}
.histrtabl-body .histrtabl-apprblock {
    border-color: #000000;
    border-radius: 2px;
}
.histrtabl-mainblock {
    margin-right: 12px;
    border: 1px solid #888888;
}
.histrtabl-body .histrtabl-mainblock {
    border: 1px solid #000000;
    border-radius: 2px;
}
.histrtabl-fulfblock {
    margin-right: 12px;
    border: 1px solid #888888;
}
.histrtabl-body .histrtabl-fulfblock {
    border: 1px solid #000000;
    border-radius: 2px;
}
.histrtabl-shipblock {
    border: 1px solid #888888;
}
.histrtabl-body .histrtabl-shipblock {
    border: 1px solid #000000;
    border-radius: 2px;
}
.histrtabl-edit {
    width: 16px;
    font-size: 12px;
    color: #8f8f8f;
    padding: 0 2px;
    background: transparent;
}
.histrtabl-edit i {
    cursor: pointer;
}
.histrtabl-prcful.pink,
.histrtabl-prcship.pink {
    background: #f98bfd;
}
.histrtabl-approval {
    width: 68px;
    font-size: 10px;
    color: #6d6c6c;
}
.histrtabl-header .histrtabl-printer {
    width: 53px;
    background: transparent !important;
    font-style: normal;
}
/*.history-section-small .histrtabl-header .histrtabl-printer {*/
/*    width: 58px;*/
/*}*/
.histrtabl-printer {
    width: 53px;
    background: transparent !important;
    font-style: italic;
    font-size: 12px;
}
.history-section-small .histrtabl-printer {
    width: 58px;
}
.histrtabl-brand {
    width: 13px;
}
.histrtabl-rush {
    width: 38px;
}
.histrtabl-order {
    width: 44px;
    color: #0000ff;
    /* font-size: 12px; */
    font-weight: 600;
}
.histrtabl-header .histrtabl-order {
    color: #4f4e4e !important;
}
.histrtabl-items {
    width: 42px;
    font-weight: 600;
    font-size: 12px;
}
.histrtabl-imp {
    width: 23px;
    color: #b8b7b7;
}
.histrtabl-prints {
    width: 42px;
    color: #b8b7b7;
}
.histrtabl-header .histrtabl-imp,
.histrtabl-header .histrtabl-prints {
    color: #949292 !important;
}
.histrtabl-itmcolor {
    width: 77px;
}
.histrtabl-description {
    width: 169px;
    text-align: left !important;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.histrtabl-description.shortresched {
    width: 222px;
}
.histrtabl-inkcolor {
    width: 92px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.histrtabl-header .histrtabl-description,
.histrtabl-header .histrtabl-inkcolor {
    text-align: center !important;
}
.histrtabl-printed {
    width: 50px;
}
.histrtabl-flfkept {
    width: 37px;
}
.histrtabl-flfmisprt {
    width: 42px;
}
.histrtabl-flfproc {
    width: 50px;
}
.histrtabl-flftotal {
    width: 50px;
    font-weight: 600;
}
.histrtabl-flfplates {
    width: 39px;
}
.histrtabl-shipped {
    width: 56px;
    font-weight: 600;
}
.histrtabl-method {
    /* width: 78px; */
    width: 62px;
}
.histrtabl-tracking {
    position: relative;
    /* width: 132px; */
    width: 152px;
}
/*.histrtabl-tracking span {*/
/*    color: #030ffa;*/
/*    font-size: 11px;*/
/*    font-weight: 600;*/
/*}*/
.histrtabl-tracking input {
    color: #030ffa;
    font-size: 11px;
    font-weight: 600;
    width: 130px;
    height: 21px;
}
.trackbtn {
    width: 20px;
    height: 20px;
    background: #979797;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    float: right !important;
    cursor: pointer;
}
.histrtabl-body .histrtabl-rush, .histrtabl-body .histrtabl-order, .histrtabl-body .histrtabl-items, .histrtabl-body .histrtabl-imp,
.histrtabl-body .histrtabl-prints, .histrtabl-body .histrtabl-itmcolor, .histrtabl-body .histrtabl-description,
.histrtabl-body .histrtabl-printed, .histrtabl-body .histrtabl-flfkept, .histrtabl-body .histrtabl-flfmisprt,
.histrtabl-body .histrtabl-flfproc, .histrtabl-body .histrtabl-flftotal, .histrtabl-body .histrtabl-shipped, .histrtabl-body .histrtabl-method {
    border-right: 1px solid #000000;
}

.history-totalbox {
    background: #fff;
    border: 1px solid #888888;
    margin-right: 10px;
    padding: 7px 20px;
    float: right !important;
    width: 215px;
}
.totalbox-title {
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 20px;
    width: 100%;
}
.totalbox-table {
    width: 175px;
}
.totalboxtab-printers {
    width: 50px;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    padding-right: 5px;
}
.totalboxtab-prints {
    text-align: center;
    font-size: 12px;
    width: 40px;
}
.totalboxtab-items {
    text-align: center;
    font-size: 12px;
    width: 40px;
}
.totalboxtab-orders {
    text-align: center;
    font-size: 12px;
    width: 40px;
}
.totalboxtab-header .totalboxtab-td {
    font-size: 11px;
    color: #909090;
}
.totalboxtab-header {
    border-bottom: 1px solid #adacac;
}
.totalboxtab-footer {
    border-top: 1px solid #adacac;
    font-weight: 600 !important;
}
.totalboxtab-tr {
    line-height: 24px;
}
/* Assign user popup */
.assign-popup {
    position: relative;
    top: -65px;
    left: 25px;
    background: #fff;
    border: 1px solid #000;
    z-index: 10;
    display: none;
}
/*.assign-popup {*/
/*    position: relative;*/
/*    top: 20px;*/
/*    left: -20px;*/
/*    background: #fff;*/
/*    border: 1px solid #000;*/
/*    z-index: 10;*/
/*    display: none;*/
/*}*/
/*.assign-popup:after, .assign-popup:before {*/
/*    content: "";*/
/*    border: solid transparent;*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    bottom: 100%;*/
/*}*/
/*.assign-popup:after {*/
/*    border-bottom-color: #fff;*/
/*    border-width: 6px;*/
/*    margin-left: 0;*/
/*}*/
/*.assign-popup:before {*/
/*    border-bottom-color: #000;*/
/*    border-width: 7px;*/
/*    margin-left: -1px;*/
/*}*/
.assign-popup ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.assign-popup ul li {
    /*height: 15px;*/
    line-height: 15px !important;
    font-size: 11px;
    text-align: center;
    border-bottom: 1px solid #9a9999;
    padding: 3px 15px;
    cursor: pointer;
}
.assign-popup ul li:last-child {
    border-bottom: none;
}
.assign-popup ul li:hover {
    background: #eae8e8;
}
/* Keymaps */
.calendar-keymaps {
    margin-left: 36px;
    width: 374px;
    margin-top: 26px;
}
.calendar-keymap-square {
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    margin-right: 10px;
    margin-bottom: 6px;
}
.calendar-keymap-square.whitecolor {
    background: #ffffff;
}
.calendar-keymap-square.pinkcolor {
    background: #fa89fb;
}
.calendar-keymap-square.peachcolor {
    background: #f7aa78;
}
.calendar-keymap-square.darkpinkcolor {
    background: #f606ff;
}
.calendar-keymap-label {
    width: 164px;
    color: #000000;
    font-size: 11px;
    height: 13px;
    line-height: 13px;
}