.btn-reschedular-open {
    display: none;
    float: right !important;
    width: 255px;
    height: 50px;
    background: url(/img/printscheduler/btnreschedular-open2.svg) no-repeat;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.btn-reschedular-open .btnreschedular-btn {
    width: 40px;
    margin: 9px 0;
    line-height: 32px;
    border-left: 1px solid #aeadad;
    color: #fff;
    font-size: 20px;
    text-align: center;
    /* cursor: pointer; */
    float: right !important;
    z-index: 15;
    position: relative;
}
.btn-reschedular-open .btnreschedular-txt {
    float: right !important;
}
.pschedul-leftside {
    display: none;
    width: 760px;
    overflow-y: auto;
    overflow-x: hidden;
    /* max-height: 640px; */
    margin-top: 12px;
    margin-left: 10px;
    scrollbar-width: none;
}
.maingreyblock-small {
    background: #969595;
    width: 100%;
}
.history-section-small {
    width: 100%;
}
.pschedul-leftside .historyblock {
    width: calc(100% - 10px);
}
/*.maingrey-header {*/
/*    width: 100%;*/
/*    height: 35px;*/
/*}*/
.maingreyblock-small .warning-title {
    margin: 7px 0 7px 10px;
}
.warning-title1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    width: 74px;
}
.warning-title2 {
    width: 634px;
    font-size: 12px;
    margin-left: 7px;
    line-height: 14px;
}
.pschedul-leftside .warning-table {
    margin-left: 14px;
    width: calc(100% - 14px);
}
/*.maingrey-title {*/
/*    color: #fff;*/
/*    font-size: 18px;*/
/*    line-height: 35px;*/
/*    font-weight: 600;*/
/*    margin-left: 15px;*/
/*}*/
/*.maingrey-infobox {*/
/*    width: 258px;*/
/*    height: 22px;*/
/*    background: #fff;*/
/*    border: 1px solid #000;*/
/*    margin-top: 6px;*/
/*    margin-left: 15px;*/
/*}*/
/*.maingreyinfo-prints,*/
/*.maingreyinfo-items,*/
/*.maingreyinfo-orders {*/
/*    width: 85px;*/
/*    text-align: center;*/
/*    font-size: 13px;*/
/*    line-height: 19px;*/
/*}*/
/*.maingreyinfo-prints span,*/
/*.maingreyinfo-items span,*/
/*.maingreyinfo-orders span {*/
/*    font-weight: 600;*/
/*}*/
.maingrey-close {
    float: right !important;
    color: #fff;
    font-size: 16px;
    margin: 5px 10px;
    cursor: pointer;
}

.pschedul-rightside {
    display: none;
    float: right !important;
    margin-right: 10px;
    width: calc(100% - 790px);
    margin-top: -47px; /* -46px; */
}
.reschedular-block {
    width: 100%;
    margin-top: 0;
    position: relative;
    z-index: 5;
}
.reschedulartabs {
    /* width: 100%; */
    width: 790px;
    margin-bottom: -1px;
}
.reschdl-tab {
    padding: 0 10px;
    background: #b0afaf; /* #888888; */
    padding: 5px 14px;
    color: #dad9d9; /* #d4d4d4; */
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    margin-top: 5px;
    margin-right: 7px;
    cursor: pointer;
}
.reschdl-tab.active {
    padding: 0 10px;
    background: #5c5b5b;
    padding: 6px 14px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    margin-top: 1px;
}
.reschedularbody {
    width: 100%;
    background: #5c5b5b;
    padding-bottom: 12px;
    height: 665px;
}
.reschedular-table {
    margin-top: 10px;
    margin-left: 5px;
}
.reschdltabl-tr {
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-left: 7px;
}
.reschdltabl-header {
    margin-bottom: 4px;
    margin-left: 0;
}
.reschdltabl-td {
    background: #eeeded;
    /* font-size: 12px; */
    text-align: center;
    border-right: 1px solid #d3d1d1;
}
.reschdltabl-header .reschdltabl-td {
    border-right: 1px solid #dbdbdb !important;
}
.reschdltabl-header .reschdltabl-td {
    background: #dbdbdb;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.reschdltabl-apprblock {
    border: 1px solid #888888;
    margin-right: 19px;
}
.reschdltabl-header .reschdltabl-apprblock {
    padding-left: 7px;
    background: #dbdbdb;
}
.reschdltabl-mainblock {
    border: 1px solid #888888;
}
.reschdltabl-header .reschdltabl-mainblock {
    padding-right: 10px;
    background: #dbdbdb;
}
.reschdltabl-prcful {
    width: 33px;
    font-size: 11px;
}
.reschdltabl-prcship {
    width: 36px;
    font-size: 11px;
}
.reschdltabl-prcful.peach,
.reschdltabl-prcship.peach {
    background: #f7aa78;
}
.reschdltabl-approval {
    width: 68px;
    font-size: 10px;
}
.reschdltabl-brand {
    width: 13px;
}
.reschdltabl-rush {
    width: 38px;
}
.reschdltabl-order {
    width: 41px;
    color: #0000ff;
    font-size: 12px;
    font-weight: 600;
}
.reschdltabl-header .reschdltabl-order {
    color: #000 !important;
}
.reschdltabl-items {
    width: 41px;
    font-weight: 600;
    font-size: 12px;
}
.reschdltabl-imp {
    width: 21px;
    color: #b8b7b7;
}
.reschdltabl-prints {
    width: 41px;
    color: #b8b7b7;
}
.reschdltabl-header .reschdltabl-imp,
.reschdltabl-header .reschdltabl-prints {
    color: #949292 !important;
}
.reschdltabl-itmcolor {
    width: 78px;
}
.reschdltabl-description {
    /*width: 183px;*/
    width: 163px;
    text-align: left !important;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschdltabl-inkcolor {
    width: 94px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschdltabl-header .reschdltabl-description,
.reschdltabl-header .reschdltabl-inkcolor {
    text-align: center !important;
}
.printerline {
    height: 26px;
    line-height: 26px;
}
.reschdltabl-printername {
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
}
.reschdltabl-printerinfo {
    color: #e0e0e0;
    font-size: 13px;
    line-height: 22px;
    margin-left: 17px;
}
.reschdltabl-printerinfo span {
    font-weight: 600;
}
.reschdltabl-body {
    max-height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: calc(100% - 12px);
}
.late-section {
    background: #fb0404;
    padding-bottom: 12px;
    margin-top: 3px;
}
.latesection-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
    line-height: 22px;
    margin-top: 5px;
}
.latesection-date {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
}
.ontime-section {
    background: #969595;
    padding-bottom: 12px;
    margin-top: 10px;
}
.ontimesection-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
    line-height: 22px;
    margin-top: 5px;
}
.ontimesection-date {
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
}

/*---------------------- SORT BY ITEM ---------------------------*/
.reschditms-table {
    margin-left: 10px;
    margin-top: 15px;
}
.reschditms-body {
    max-height: 620px;
    overflow-y: scroll;
}
.reschditms-itemline {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
}
.reschditms-tr {
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
    /*margin-left: 7px;*/
}
.reschditms-header {
    margin-bottom: 4px;
    margin-left: 0;
}
.reschditms-td {
    background: #eeeded;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #d3d1d1;
}
.reschditms-header .reschditms-td {
    border-right: 1px solid #dbdbdb !important;
}
.reschditms-header .reschditms-td {
    background: #dbdbdb;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.reschditms-apprblock {
    border: 1px solid #888888;
    margin-right: 19px;
}
.reschditms-header .reschditms-apprblock {
    /*padding-left: 7px;
    background: #dbdbdb;*/
}
.reschditms-mainblock {
    border: 1px solid #888888;
}
.reschditms-header .reschditms-mainblock {
    /*padding-right: 10px;
    background: #dbdbdb;*/
}
.reschditms-prcful {
    width: 33px;
    font-size: 11px;
}
.reschditms-prcship {
    width: 36px;
    font-size: 11px;
}
.reschditms-prcful.peach,
.reschditms-prcship.peach {
    background: #f7aa78;
}
.reschditms-approval {
    width: 68px;
    font-size: 10px;
}
.reschditms-brand {
    width: 13px;
}
.reschditms-rush {
    width: 38px;
}
.reschditms-order {
    width: 50px;
    color: #0000ff;
    font-size: 12px;
    font-weight: 600;
}
.reschditms-date {
    width: 73px;
    font-weight: 600;
}
.reschditms-date.latedate {
    background: #fd0202;
    color: #fff;
}
.reschditms-header .reschditms-order {
    color: #000 !important;
}
.reschditms-items {
    width: 44px;
    font-weight: 600;
    font-size: 12px;
}
.reschditms-imp {
    width: 28px;
    color: #b8b7b7;
}
.reschditms-prints {
    width: 44px;
    color: #b8b7b7;
}
.reschditms-header .reschditms-imp,
.reschditms-header .reschditms-prints {
    color: #949292 !important;
}
.reschditms-itmcolor {
    width: 125px;
}

.reschditms-inkcolor {
    width: 115px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschditms-header .reschditms-description,
.reschditms-header .reschditms-inkcolor {
    text-align: center !important;
}