.printcalendarcontent {
    /*padding-left: 15px;    */
    /*background: #fff !important;*/
    padding: 15px 0 15px 15px;
}
.prnshd-left {
    position: relative;
    /*width: 765px;*/
    width: 745px;
}
.prnshd-right {
    float: right !important;
    /*width: 758px;*/
    /*width: 745px;*/
    width: calc(100% - 753px);
}
.psright-small {
    width: 438px !important;
}
.statistics-block {
    display: block;
    /*width: 490px;*/
    /*height: 112px;*/
    /*background: #efeded;*/
    /*border: 1px solid #000;*/
}
.simpltodayblock {
    display: none;
    width: 745px;
    height: 630px;
    background: #969595;
    color: #fff;
    border: 1px solid #000;
    margin-top: 15px;
}
.todayblock {
    display: none;
    width: 1500px;
    height: 630px;
    background: #969595;
    color: #fff;
    border: 1px solid #000;
    margin-top: 15px;
}
.calendar-full {
    display: block;
    position: relative;
}
.calendar-week {
    display: none;
    width: 745px;
    height: 68px;
    background: #efeded;
    border: 1px solid #000;
}
.clndrfull-body {
    /*width: 762px;*/
    position: relative;
    width: 745px;
    /*height: 530px;*/
    height: 540px;
    background: #efeded;
    border: 1px solid #000;
    margin-bottom: 6px;
}
.calnd-arrowsbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #9a9999;
    padding-right: 15px;
}
.calnd-arrow {
    float: right !important;
    font-size: 28px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
}
.calnd-up {
    margin-right: 10px;
}
.calnd-down {}

.week-tr {
    width: 100%;
}
.calnd-daybox {
    border: 1px solid #303030;
    width: 106px;
    height: 39px;
    background: #fff;
}
.calnd-daysweek {
    margin-top: -24px;
    margin-bottom: 4px;
}
.dayweek {
    width: 106px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.clndrfull-weeklytotal {
    display: block;
    position: absolute;
    left: 760px;
    width: 134px;
    height: 530px;
}
.weeklytotal-title {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: -24px;
}
.weeklytotal-body {
    color: #fff;
    background: #42338e;
    width: 100%;
    height: 500px;
}
.psright-topbar {
    height: 48px;
    width: 100%;
}
.psleft-topbar {
    display: block;
    height: 48px;
    width: 100%;
}
.psleft-txt {
    font-size: 13px;
    line-height: 21px;
    color: #0124fc;
    font-style: italic;
    font-weight: 600;
}
.psleft-years {
    float: right !important;
}
.psleft-years-box {
    /*float: right !important;*/
    width: 58px;
    height: 21px;
    border: 1px solid #333333;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-left: 7px;
}
.reshedlordr-btn {
    /*background: #5c5b5b;*/
    background: url(/img/printscheduler/btnreschedular-open2.svg) no-repeat;
    width: 254px;
    height: 50px;
    float: right !important;
    color: #fff;
    margin-top: -10px;
}
.reshedlordr-btntxt {
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 40px;
}
.reshedlordr {
    width: 100%;
}
.reschdl-body {
    display: none;
    width: 100%;
    height: 665px;
    background: #5c5b5b;
    color: #fff;
}
.reschdl-linebody {
    display: none;
    width: 100%;
    height: 20px;
    background: #5c5b5b;
}
.reschdl-infobody {
    display: block;
    float: right !important;
    width: 438px;
    height: 88px;
    background: #5c5b5b;
    padding-left: 20px;
    padding-top: 10px;
}
.ps_keymaps {}
.keymaps-box {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    margin-right: 2px;
}
.keymaps-box.white {
    background: #fff;
}
.keymaps-box.orange {
    background: #f7aa78;
}
.keymaps-box.lightpink {
    background: #fa89fb;
}
.keymaps-box.pink {
    background: #f606ff;
}
.keymaps-label {
    font-size: 11px;
    line-height: 14px;
    margin-right: 3px;
}
.keymaps-label:last-child {
    margin-right: 0;
}
.reschedulartabs {
    display: none;
    margin-top: 6px;
}
.reschdl-tab {
    background: #d0d0d0;
    padding: 3px 14px;
    color: #f4f2f2;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px 3px 0 0;
    margin-top: 4px;
    margin-right: 7px;
    cursor: pointer;
}
.reschdl-tab.active {
    background: #5c5b5b;
    padding: 4px 14px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    margin-top: 0;
}
.ro_stillprint {
    width: 190px;
    margin-right: 12px;
}
.ro_infotitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.stillprint_box {
    background: #fff;
    border: 1px solid #000;
    padding: 4px 0;
}
.sprbox-orders {
    width: 62px;
    border-right: 1px solid #c3c3c3;
}
.sprbox-items {
    width: 62px;
    border-right: 1px solid #c3c3c3;
}
.sprbox-total {
    width: 64px;
}
.sprbox-title {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #8d8d8d;
}
.sprbox-result {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.ro_lateorders {
    width: 190px;
}
.lateorders_box {
    background: #ff8080;
    border: 1px solid #000;
    padding: 4px 0;
}
.lateordbox-orders {
    width: 62px;
    border-right: 1px solid #eb6a6a;
}
.lateordbox-items {
    width: 62px;
    border-right: 1px solid #eb6a6a;
}
.lateordbox-total {
    width: 64px;
}
.lateordbox-title {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #c63d3d;
}
.lateordbox-result {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
/* Statistics Block */
.statistics-tbl {
    width: 490px;
}
.statistics-tr {
    width: 100%;
    margin-bottom: 6px;
}
.statistics-td {
    /*border: 1px solid #e5e5e5;*/
    text-align: center;
}
.statistics-years {
    width: 44px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    line-height: 35px;
}
.statistics-tbltitle {
    font-size: 10px;
    line-height: 12px;
    color: #8d8d8d;
    margin-bottom: 0 !important;
}
.statistics-tbltitle .statistics-td {
    padding-top: 5px;
    height: 35px;
}
.orders_prntd {
    width: 56px;
}
.items_prntd {
    width: 56px;
}
.total_prntd {
    width: 56px;
}
.statistics-tbltitle .total_prntd {
    margin-right: 10px;
}
.statistics-prntd {
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    margin-right: 10px;
    padding: 4px 0;
}
.statistics-prntd .statistics-td {
    border-right: 1px solid #c3c3c3;
}
.statistics-prntd .statistics-td:last-child {
    border-right: none;
}
.statistics-avgbest {
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    padding: 4px 0;
}
.statistics-avgbest .statistics-td {
    border-right: 1px solid #c3c3c3;
}
.statistics-avgbest .statistics-td:last-child {
    border-right: none;
}
.avg_prntday {
    width: 62px;
}
.avg_prntweek {
    width: 62px;
}
.best_day {
    width: 58px;
}
.best_week {
    width: 80px;
}
.bestday_date {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.bestday_total {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}
.bestweek_date {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.bestweek_total {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}
