.printcalendarcontent {
    /*padding-left: 15px;    */
    /*background: #fff !important;*/
    padding: 15px 0 15px 15px;
}
.prnshd-left {
    position: relative;
    /*width: 765px;*/
    width: 745px;
    margin-right: 15px;
}
.prnshd-right {
    float: right !important;
    /*width: 758px;*/
    width: 745px;
}
.psright-small {
    width: 438px !important;
}
.statistics-block {
    display: block;
    /*width: 490px;*/
    /*height: 112px;*/
    /*background: #efeded;*/
    /*border: 1px solid #000;*/
}
.simpltodayblock {
    display: none;
    width: 745px;
    height: 630px;
    background: #969595;
    color: #fff;
    border: 1px solid #000;
    margin-top: 15px;
}
.todayblock {
    display: none;
    width: 1500px;
    height: 630px;
    background: #969595;
    color: #fff;
    border: 1px solid #000;
    margin-top: 15px;
}
.calendar-full {
    display: block;
    position: relative;
}
.calendar-week {
    display: none;
    width: 745px;
    height: 68px;
    background: #efeded;
    border: 1px solid #000;
}
.clndrfull-body {
    /*width: 762px;*/
    position: relative;
    width: 752px;
    /*height: 530px;*/
    height: 580px;
    background: #efeded;
    border: 1px solid #000;
    margin-bottom: 6px;
}
.calnd-arrowsbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #9a9999;
    padding-right: 15px;
}
.calnd-arrow {
    float: right !important;
    font-size: 28px;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
}
.calnd-up {
    margin-right: 10px;
}
.calnd-down {}

.week-tr {
    width: 100%;
    margin-bottom: 3px;
}
.psctable-td {
    width: 106px;
}
.pastday .daybox-date,
.pastday .daybox-itemsprinted,
.pastday .daybox-printsprinted {
    opacity: .15 !important;
}
.dayoff.pastday .daybox-date,
.dayoff.pastday .daybox-itemsprinted,
.dayoff.pastday .daybox-printsprinted {
    opacity: .25 !important;
}
.calnd-daybox.pastday {
    border: 1px solid #dedede;
}
.calnd-daybox.pastday.dayoff {
    border: 1px solid #afafaf;
}
.calnd-daybox.dayoff {
    border: 1px solid #303030;
    /*width: 108px;*/
    width: 112px;
    height: 39px;
    background: #d9d9d9;
    padding: 0 3px;
}
.psctable-daybox:hover,
.psctable-daybox.today {
    outline: 3px solid #1c08d2;
    background: #e2ebfc;
    z-index: 2;
}

.calnd-daybox {
    border: 1px solid #303030;
    width: 106px;
    height: 39px;
    background: #fff;
}
.calnd-daybox .daybox-date {
    width: 24px;
    margin-top: 4px;
}
.calnd-daybox .dayboxdate-month {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #000;
    line-height: 12px;
}
.calnd-daybox .dayboxdate-date {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    line-height: 20px;
}
.calnd-daybox .daybox-orders {
    width: 32px;
    margin-top: 5px;
    margin-left: 2px;
}
.calnd-daybox .dayboxorders-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #a4a4a4;
    line-height: 12px;
}
.calnd-daybox .dayboxorders-numbers {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #1000a7;
    line-height: 16px;
}
.calnd-daybox .daybox-printsprinted {
    width: 36px;
    margin-top: 2px;
    margin-left: 2px;
}
.dayboxprintsprinted-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
    color: #000;
}
.dayboxprintsprinted-numbers {
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: #000;
    line-height: 14px;
}
.calnd-daybox .daybox-itemsprinted {
    width: 38px;
    margin-top: 2px;
}
.dayboxitemsprinted-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
    color: #000000;
}
.dayboxitemsprinted-numbers {
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    color: #000;
}
.calnd-daybox .daybox-printsprinted {
    width: 36px;
    margin-top: 2px;
    margin-left: 2px;
}
.dayboxprintsprinted-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
    color: #000;
}
.dayboxprintsprinted-numbers {
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: #000;
    line-height: 14px;
}
.calnd-daybox .daybox-printsprinted {
    width: 36px;
    margin-top: 2px;
    margin-left: 2px;
}
.dayboxprintsprinted-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    font-style: italic;
    color: #000;
}
.dayboxprintsprinted-numbers {
    width: 100%;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: #000;
    line-height: 14px;
}
.calnd-daybox .daybox-prints {
    width: 42px;
    margin-top: 5px;
}
.calnd-daybox .dayboxprints-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #a4a4a4;
    line-height: 12px;
}
.calnd-daybox .dayboxprints-numbers {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #1000a7;
    line-height: 16px;
}

.psctable-totalbox {
    border: 1px solid #303030;
    width: 150px; /* 132px; */
    height: 39px;
    background: #130072;
    color: #fff;
    padding: 0 3px;
}
.psctable-totalbox.readyweek {
    /*opacity: 0.8;*/
    background: #42338e;
}
.totalbox-printed {
    /*width: 45px; */
    width: 66px;
    margin-left: 4px;
}
.totalboxtprinted-name {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #646464;
    line-height: 18px;
    height: 16px;
    margin-top: 2px;
}
.totalboxtprinted-numbers {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #646464;
    line-height: 16px;
    height: 16px;
}


.calnd-daysweek {
    margin-top: -24px;
    margin-bottom: 4px;
}
.dayweek {
    width: 106px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.clndrfull-weeklytotal {
    display: block;
    position: absolute;
    left: 760px;
    width: 134px;
    height: 530px;
}
.weeklytotal-title {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: -24px;
}
.weeklytotal-body {
    /*color: #fff;*/
    /*background: #42338e;*/
    width: 100%;
    /*height: 500px;*/
}
.psright-topbar {
    height: 48px;
    width: 100%;
}
.psleft-topbar {
    display: block;
    height: 48px;
    width: 100%;
}
.psleft-txt {
    font-size: 13px;
    line-height: 21px;
    color: #0124fc;
    font-style: italic;
    font-weight: 600;
}
.psleft-years {
    float: right !important;
}
.psleft-years-box {
    /*float: right !important;*/
    width: 58px;
    height: 21px;
    border: 1px solid #333333;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    margin-left: 7px;
    cursor: pointer;
    opacity: .4;
    background: #d9d9d9;
}
.psleft-years-box.active {
    background: #ffffff;
    opacity: 1;
}
.reshedlordr-btn {
    /*background: #5c5b5b;*/
    background: url(/img/printscheduler/btnreschedular-open2.svg) no-repeat;
    width: 254px;
    height: 50px;
    float: right !important;
    color: #fff;
    margin-top: -10px;
    cursor: pointer;
}
.reshedlordr-btntxt {
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 35px;
    margin-right: 10px;
}
.btnreschedular-btn {
    width: 37px;
    margin: 9px 0;
    line-height: 32px;
    border-left: 1px solid #aeadad;
    color: #fff;
    font-size: 26px;
    text-align: center;
    /* cursor: pointer; */
}
.reshedlordr {
    width: 100%;
}
.reschdl-body {
    display: none;
    width: 100%;
    height: 665px;
    background: #5c5b5b;
    color: #fff;
}
.reschdl-linebody {
    display: none;
    width: 100%;
    height: 20px;
    background: #5c5b5b;
}
.reschdl-infobody {
    display: block;
    float: right !important;
    width: 438px;
    height: 88px;
    background: #5c5b5b;
    padding-left: 20px;
    padding-top: 10px;
}
.ps_keymaps {}
.keymaps-box {
    width: 14px;
    height: 14px;
    border: 1px solid #000;
    margin-right: 5px;
}
.keymaps-box.white {
    background: #fff;
}
.keymaps-box.orange {
    background: #f7aa78;
}
.keymaps-box.lightpink {
    background: #fa89fb;
}
.keymaps-box.pink {
    background: #f606ff;
}
.keymaps-label {
    font-size: 11px;
    line-height: 16px;
    margin-right: 5px;
}
.keymaps-label:last-child {
    margin-right: 0;
}
.reschedulartabs {
    display: none;
    margin-top: 6px;
}
.reschdl-tab {
    background: #d0d0d0;
    padding: 3px 14px;
    color: #f4f2f2;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px 3px 0 0;
    margin-top: 4px;
    margin-right: 7px;
    cursor: pointer;
}
.reschdl-tab.active {
    background: #5c5b5b;
    padding: 4px 14px;
    color: #fff;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    margin-top: 0;
}
.ro_stillprint {
    width: 190px;
    margin-right: 12px;
}
.ro_infotitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.stillprint_box {
    background: #fff;
    border: 1px solid #000;
    padding: 4px 0;
}
.sprbox-orders {
    width: 62px;
    border-right: 1px solid #c3c3c3;
}
.sprbox-items {
    width: 62px;
    border-right: 1px solid #c3c3c3;
}
.sprbox-total {
    width: 64px;
}
.sprbox-title {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #8d8d8d;
}
.sprbox-result {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.ro_lateorders {
    width: 190px;
}
.lateorders_box {
    background: #ff8080;
    border: 1px solid #000;
    padding: 4px 0;
}
.lateordbox-orders {
    width: 62px;
    border-right: 1px solid #eb6a6a;
}
.lateordbox-items {
    width: 62px;
    border-right: 1px solid #eb6a6a;
}
.lateordbox-total {
    width: 64px;
}
.lateordbox-title {
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    color: #c63d3d;
}
.lateordbox-result {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
/* Statistics Block */
.statistics-tbl {
    width: 530px;
}
.statistics-tr {
    width: 100%;
    margin-bottom: 6px;
}
.statistics-td {
    /*border: 1px solid #e5e5e5;*/
    text-align: center;
}
.statistics-years {
    width: 44px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    line-height: 35px;
}
.statistics-tbltitle {
    font-size: 10px;
    line-height: 12px;
    color: #8d8d8d;
    margin-bottom: 0 !important;
}
.statistics-tbltitle .statistics-td {
    padding-top: 5px;
    height: 35px;
}
.orders_prntd {
    width: 56px;
}
.items_prntd {
    width: 70px;
}
.total_prntd {
    width: 70px;
}
.statistics-tbltitle .total_prntd {
    margin-right: 10px;
}
.statistics-prntd {
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    margin-right: 10px;
    padding: 4px 0;
}
.statistics-prntd .statistics-td {
    border-right: 1px solid #c3c3c3;
}
.statistics-prntd .statistics-td:last-child {
    border-right: none;
}
.statistics-avgbest {
    border: 1px solid #000;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
    padding: 4px 0;
}
.statistics-avgbest .statistics-td {
    border-right: 1px solid #c3c3c3;
}
.statistics-avgbest .statistics-td:last-child {
    border-right: none;
}
.avg_prntday {
    width: 62px;
}
.avg_prntweek {
    width: 62px;
}
.best_day {
    width: 58px;
}
.best_week {
    width: 92px;
}
.bestday_date {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.bestday_total {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}
.bestweek_date {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}
.bestweek_total {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}
/* Reshedule Content */
.reschedular-table {
    margin-top: 10px;
    margin-left: 7px;
}
.reschdltabl-tr {
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-left: 7px;
}
.reschdltabl-header {
    margin-bottom: 4px;
    margin-left: 7px;
}
.reschdltabl-td {
    background: #eeeded;
    text-align: center;
    border-right: 1px solid #d3d1d1;
    font-size: 11px;
    cursor: pointer;
}
.reschdltabl-header .reschdltabl-td {
    border-right: 1px solid #dbdbdb !important;
    cursor: auto!important;
}
.reschdltabl-header .reschdltabl-td {
    background: #dbdbdb;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.reschdltabl-apprblock {
    border: 1px solid #888888;
    margin-right: 16px;
}
.reschdltabl-header .reschdltabl-apprblock {
    padding-left: 7px;
    background: #dbdbdb;
}
.reschdltabl-mainblock {
    border: 1px solid #888888;
}
.reschdltabl-header .reschdltabl-mainblock {
    padding-right: 10px;
    background: #dbdbdb;
}
.reschdltabl-daylate {
    width: 28px;
}
.reschdltabl-daylatedata {
    width: 32px;
    font-size: 10px;
    color: #ffffff;
    text-align: right;
    padding-right: 4px;
}
.reschdltabl-prcful {
    width: 33px;
}
.reschdltabl-prcship {
    width: 36px;
}
.reschdltabl-prcful.peach,
.reschdltabl-prcship.peach {
    background: #f7aa78;
}
.reschdltabl-approval {
    width: 68px;
    font-size: 10px;
}
.reschdltabl-brand {
    width: 13px;
}
.reschdltabl-header .reschdltabl-brand {
    padding-left: 34px;
}
.reschdltabl-rush {
    width: 38px;
}
.reschdltabl-order {
    width: 41px;
    color: #0000ff;
    /*font-size: 12px;*/
    font-weight: 600;
}
.reschdltabl-header .reschdltabl-order {
    color: #000 !important;
}
.reschdltabl-items {
    width: 41px;
    font-weight: 600;
    /*font-size: 12px;*/
}
.reschdltabl-imp {
    width: 23px;
    color: #b8b7b7;
}
.reschdltabl-prints {
    width: 42px;
    color: #b8b7b7;
}
.reschdltabl-header .reschdltabl-imp,
.reschdltabl-header .reschdltabl-prints {
    color: #949292 !important;
}
.reschdltabl-itmcolor {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 3px;
}
.reschdltabl-description {
    width: 150px;
    text-align: left !important;
    padding-left: 5px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschdltabl-description.ontimedescription {
    width: 183px;
}
.reschdltabl-inkcolor {
    width: 90px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschdltabl-header .reschdltabl-description,
.reschdltabl-header .reschdltabl-inkcolor {
    text-align: center !important;
}
.printerline {
    width: calc(100% - 12px);
    height: 19px;
    line-height: 19px;
    margin: 13px 0 6px 0;
}
.reschdltabl-printername {
    font-size: 13px;
    line-height: 22px;
    font-style: italic;
}
.reschdltabl-printerinfo {
    color: #e0e0e0;
    font-size: 13px;
    line-height: 22px;
    margin-left: 17px;
}
.reschdltabl-printerinfo span {
    font-weight: 600;
}
.reschdltabl-body {
    max-height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
}
.late-section {
    background: #fb0404;
    padding-bottom: 12px;
    margin-top: 3px;
}
.latesection-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 705px;
    margin-left: 11px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 3px;
}
.latesection-date {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
}
.ontime-section {
    background: #969595;
    padding-bottom: 12px;
    margin-top: 10px;
}
.ontimesection-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 680px;
    margin-left: 8px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.ontimesection-date {
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    width: 680px;
    margin-left: 15px;
}

/*---------------------- SORT BY ITEM ---------------------------*/
.reschditms-table {
    margin-left: 10px;
    margin-top: 15px;
}
.reschditms-body {
    max-height: 620px;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 700px;
}
.reschditms-itemline {
    width: 680px;
    margin-left: 8px;
    margin-top: 3px;
    margin-bottom: 2px;
}
.reschditms-itemline > div {
    line-height: 20px;
    height: 20px;
    font-size: 11px;
    color: #afafaf;
    text-align: center;
    font-weight: 600;
}
.reschditms-itemline .imprintitemname {
    width: 273px;
    color: #fff;
    font-size: 12px;
    text-align: left;
}
.reschditms-itemline .imprintorders {
    width: 50px;
}
.reschditms-itemline .imprintorders span {
    font-weight: normal;
}
.reschditms-itemline .imprintitemqty {
    width: 44px;
}
.reschditms-itemline .imprintprintsqty {
    margin-left: 28px;
    width: 44px;
}
.reschditms-tr {
    height: 20px;
    line-height: 20px;
    margin-bottom: 3px;
    /*margin-left: 7px;*/
}
.reschditms-header {
    margin-bottom: 4px;
    margin-left: 0;
}
.reschditms-td {
    background: #eeeded;
    font-size: 11px;
    text-align: center;
    border-right: 1px solid #d3d1d1;
}
.reschditms-header .reschditms-td {
    border-right: 1px solid #dbdbdb !important;
}
.reschditms-header .reschditms-td {
    background: #dbdbdb;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}
.reschditms-header .reschditms-brand {
    padding-left: 34px;
}
.reschditms-apprblock {
    border: 1px solid #888888;
    margin-right: 19px;
}
.reschditms-header .reschditms-apprblock {
    /*padding-left: 7px;
    background: #dbdbdb;*/
}
.reschditms-mainblock {
    border: 1px solid #888888;
}
.reschditms-header .reschditms-mainblock {
    /*padding-right: 10px;
    background: #dbdbdb;*/
}
.reschditms-prcful {
    width: 33px;
    /*font-size: 11px;*/
}
.reschditms-prcship {
    width: 36px;
    /*font-size: 11px;*/
}
.reschditms-prcful.peach,
.reschditms-prcship.peach {
    background: #f7aa78;
}
.reschditms-approval {
    width: 68px;
    font-size: 10px;
}
.reschditms-brand {
    width: 13px;
}
.reschditms-rush {
    width: 38px;
}
.reschditms-order {
    width: 50px;
    color: #0000ff;
    /*font-size: 12px;*/
    font-weight: 600;
}
.reschditms-date {
    width: 73px;
    font-weight: 600;
}
.reschditms-date.latedate {
    background: #fd0202;
    color: #fff;
}
.reschditms-header .reschditms-order {
    color: #000 !important;
}
.reschditms-items {
    width: 44px;
    font-weight: 600;
    /*font-size: 12px;*/
}
.reschditms-imp {
    width: 28px;
    color: #b8b7b7;
}
.reschditms-prints {
    width: 44px;
    color: #b8b7b7;
}
.reschditms-header .reschditms-imp,
.reschditms-header .reschditms-prints {
    color: #949292 !important;
}
.reschditms-itmcolor {
    width: 125px;
}

.reschditms-inkcolor {
    width: 115px;
    text-align: left !important;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reschditms-header .reschditms-description,
.reschditms-header .reschditms-inkcolor {
    text-align: center !important;
}