.taskview_conteiner {
    clear: both;
    margin-left: 15px;
    margin-top: 18px;
    /*width: 964px;*/
    margin-bottom: 10px;
}
.taskview_manage {
    clear: both;    
    margin-bottom: 10px;
    width: 994px;
}
.tasklist_search {
    width: 526px;
    height: 24px;
}
.tasksearchselect {
    width: 125px;
}
select.tasksearch_select {
    width: 121px;
    height: 24px;
}
.find_newbtn {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    margin: 3px 0 0 8px;
    /*padding-top: 3px;*/
    text-align: center;
    text-decoration: none;
    width: 92px;
    background: #c6c4c4;
    background: linear-gradient(to top, #aeabab, #e1dfdf);
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    line-height: 22px;
    cursor: pointer;
}
.ordproofinclude {
    padding-top: 3px;
    text-align: center;
    width: 29px;
}
.ordproofinclude_label {
    color: #010101;
    font-size: 13px;
    padding-top: 5px;
    width: 105px;
}
.ordproofinclude_label.oldhide {
    width: 145px;
}
.ordproofviewselect {
    margin-left: 104px;
    width: 144px;
}
.ordproofviewselect.taskview {
    margin-left: 14px;
}
select.ordproofview {
    font-size: 12px;
    color: #161616;
    width: 128px;
    padding-left: 3px;
    height: 24px;
}
/* keymaps */
.taskview_keymaps {
    width: 127px;
    height: 48px;
    margin-top: -15px;
    margin-left: 40px;
}
.taskview_keymap_icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.taskview_keymap_icon img {
    width: 100%;
    height: auto;
}
.taskview_keymap_label {
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}
.taskview_datacontent {
    clear: both;
    /* width: 974px; */
    width: 1196px;
}
/* Headers for details */
.taskview_devstage {
    width: 165px;
    margin-right: 7px;
}
.taskview_devstage.taskstoproof {
    width: 377px;
}
.taskview_devstage.justapproved {
    width: 146px;
}
.taskview_devstage.short {
    width: 146px;
}
.taskview_devstage_title {
    background: #1bac21;
    background: linear-gradient(to top, #1a9726, #1dc01d);
    border-top: 1px solid #919191;
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    height: 32px;
    margin-top: 0;
    padding-top: 6px;
    text-align: center;
    width: 165px;
    line-height: 21px;
}
.taskstoproof .taskview_devstage_title {
    width: 377px;
}
.taskview_devstage.short .taskview_devstage_title {
    width: 146px;
}
.justapproved .taskview_devstage_title {
    background: #4856f7;
    background: linear-gradient(to top, #3237f3, #5a70fa);
    width: 146px;
}
.taskview_devstage_subtitle {
    /*background: url("/img/art/taskview_subheader.png") no-repeat scroll 0 0 transparent;*/
    background: #0f5715;
    border: 1px solid #919191;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 165px;
}
.taskstoproof .taskview_devstage_subtitle {
    width: 377px;
}
.justapproved .taskview_devstage_subtitle {
    background: #16019e;
    width: 146px;
}
.taskview_devstage.short .taskview_devstage_subtitle {
    width: 146px;
}
.taskview_rushtitle {
    width: 16px;
}
.taskview_sortarea {
    margin-top: 7px;
    width: 16px;
}
.sortactive {
    color: #FFFFFF !important;
    font-size: 12px !important;
}
.taskview_timetitle {
    color: #a4b9aa;
    font-size: 11px;
    /*margin-top: 6px;*/
    width: 45px;
    cursor: pointer;
}
.taskview_timetitle:hover {
}
.taskview_ordertitle {
    color: #a4b9aa;
    font-size: 11px;
    /*margin-top: 6px;*/
    width: 37px;
    cursor: pointer;
}
.taskview_ordertitle:hover {
}
.taskview_notetitle {
    width: 42px;
}
.taskview_itemtitle {
    color: #a4b9aa;
    font-size: 11px;
    /*margin-top: 6px;*/
    width: 227px;
}
/* body */
.taskview_devstage_data {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    clear: both;
    height: 543px;
    overflow-y: auto;
    width: 165px;
    overflow-x: hidden;
    scrollbar-width: none;
}
.taskstoproof .taskview_devstage_data {
    width: 377px;
}
.taskview_devstage_data.short {
    width: 146px;
}
/* CENTERED DATA HOLDERS */
/*.centerdat {*/
/*    margin-left: 1px;*/
/*}*/
.sorttaskdesc {
    background: url('/img/art/taskview_desc.png') no-repeat transparent;
}
.sorttaskasc {
    background: url('/img/art/taskview_asc.png') no-repeat transparent;
}
/*.justapproved {*/
/*    margin-left: 10px;*/
/*}*/
/* DATA */
.taskdata_row {
    clear: both;
    width: 165px;
}
.taskdataproof_row {
    clear: both;
    width: 377px;
}
.taskdatashort_row {
    clear: both;
    width: 146px;
}
.emptytasklist {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.taskdata_row div, .taskdataproof_row div, .taskdatashort_row div {
    height: 18px;
    line-height: 18px!important;
    font-size: 11px;
    text-align: center;
}
.taskview_seqnum {
    /*font-size: 11px;*/
    /*line-height: 18px!important;*/
    /*text-align: center;    */
    width: 14px;
}
.taskview_rush {
    /*padding-top: 1px;*/
    /*text-align: center;*/
    width: 25px;
}
.taskview_rush img {
    width: 16px;
    height: 16px;
}
.taskview_custom {
    width: 20px;
    color: #000000;
    font-size: 12px!important;
}
.taskview_time {
    color: #7B7B7B;
    /*font-size: 11px;*/
    /*padding-top: 3px;*/
    /*text-align: center;*/
    /*width: 50px;*/
    width: 40px;
}
.taskview_order {
    color: #0000FF;
    font-size: 12px;
    font-weight: bold;
    /*padding-top: 2px;*/
    /*text-align: center;*/
    width: 55px;
    cursor: pointer;
}
/*.taskview_order:hover {*/
/*}*/
.taskview_order.taskoverdue {
    background: none #B40404;
    color: #FFFFFF;
    height: 18px!important;
    line-height: 18px!important;
    padding-top: 2px;
}
.taskview_order.bypass {
    color: #008000;
}
.taskview_note {
    width: 25px;
    color: #000000;
    font-size: 13px!important;
}
.reminderarea:hover {
    cursor:pointer;
}
.taskview_item {
    text-align: left!important;
    width: 227px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.taskview_item.customshape {
    font-weight: 600;
}
/* task_rushicon.png */
/* reminder.png */
/* Task Search */
.taskview_datacontent > .ordertable-art {
    width: 100%;
}
.taskview_datacontent > .ordertable-art > .ordertable-title {
    /*width: 100%;*/
    width: 974px;
    background-color: #bcbcbc;
    border: 1px solid #919191;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > div {
    font-size: 13px;
    text-align: center;
    height: 31px;
    line-height: 31px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .date {
    width: 55px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .ordernum {
    width: 50px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .orderconf {
    width: 64px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .customer {
    width: 212px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .item {
    border-right: 2px solid #000000;
    width: 212px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .art {
    width: 28px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .approve {
    border-right: 2px solid #000000;
    width: 28px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .ordercode {
    width: 46px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .ordernote {
    width: 39px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .revenue {
    width: 73px;
}
.taskview_datacontent > .ordertable-art > .ordertable-title > .salesrepl {
    width: 75px;
}
.taskview_datacontent > .ordertable-art > .content-art-table {
    border-bottom: 1px solid #919191;
    border-left: 1px solid #919191;
    border-right: 1px solid #919191;
    clear: both;
    max-height: 551px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 974px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata {
    clear: both;
    font-size: 12px;
    width: 1196px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > div {
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .date {
    border-right: 1px solid #919191;
    width: 54px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .ordernum {
    border-right: 1px solid #919191;
    color: #0000ff;
    cursor: pointer;
    width: 49px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .orderconf {
    border-right: 1px solid #919191;
    width: 63px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .customer {
    border-right: 1px solid #919191;
    overflow: hidden;
    padding-left: 3px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 208px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .item {
    border-right: 2px solid #000000;
    padding-left: 3px;
    text-align: left;
    width: 219px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .art {
    width: 28px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .approve {
    border-right: 2px solid #000000;
    width: 28px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .ordercode {
    border-right: 1px solid #919191;
    width: 45px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .ordernote {
    border-right: 1px solid #919191;
    width: 38px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .revenue {
    border-right: 1px solid #919191;
    width: 72px;
}
.taskview_datacontent > .ordertable-art > .content-art-table > .rowdata > .salesrepl {
    padding-left: 2px;
    text-align: left;
    width: 73px;
}
/* Popover */
.task_detailview {
    background-color: #EDEDED!important;
    padding: 0px;
    font-size: 13px!important;
    color: #000!important;
    text-align: justify!important;
    border-color: #000000!important;
}