.searchipaddres_content {
    clear: both;
    margin-left: 10px;
    width: 1003px;
}
.searchipaddres_content input {
    font-size: 13px;
    font-family: arial, verdana, sans-serif;
}
.searchipaddres_head {
    clear: both;
    width: 100%;
}
.searchipaddres_head > div {
    height: 30px;
    line-height: 30px;
}
.searchipaddres_head .select_timesearsch {
    margin-left: 5px;
    width: 360px;
}
.searchipaddres_head .select_custom_period {
    visibility: hidden;
    margin-left: 10px;
}
.searchipaddres_head .select_custom_period > div {
    height: 30px;
    line-height: 30px;
}
.searchipaddres_head input.datesearchinpt {
    width: 75px;
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.searchipaddres_head .select_custom_period .customsearchbtn {
    cursor: pointer;
}
.searchipaddres_dataconatiner {
    clear: both;
    /* max-width: 996px; */
    width: 1005px;
    margin-top: 10px;
    /* overflow-x: auto; */
}
/*Table */
.table-01-umber {
    background-image: url("/img/marketing/tableipaddr-head-left.png");
    background-repeat: no-repeat;
    width: 44px;
    height: 38px;
}
.table-02-umber {
    background-image: url("/img/marketing/tableipaddr-head-center.png");
    background-repeat: repeat-x;
    height: 38px;
}
.table-03-umber {
    background-image: url("/img/marketing/tableipaddr-head-right.png");
    background-repeat: no-repeat;
    width: 92px;
    height: 38px;
}
.table-04-umber {
    background-image: url("/img/marketing/tableipaddr-number.png");
    background-repeat: no-repeat;
    width: 43px;
    height: 25px;
}
/* New View */
.search_ipaddress_header {}
.search_ipaddress_headarea {
    margin-right: 10px;
}
.search_ipaddress_headarea div {
    text-align: center;
    background: #533206;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
}
.search_ipaddress_head_rank {
    border-top-left-radius: 7px;
    width: 44px;
}
.search_ipaddress_head_ipadrs {
    width: 109px;
}
.search_ipaddress_head_result {
    width: 70px;
}
.search_ipaddress_head_location {
    border-top-right-radius: 7px;
    width: 162px;
}


.search_ipaddress_dataarea {
    max-height: 508px;
    overflow-y: auto;
    width: 1189px;
}
.search_ipaddress_datarow {
    margin-right: 10px;
}
.search_ipaddress_datarow.lastrow {
    margin-right: 0!important;
}
.search_ipaddress_datarow div {
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
}
.search_ipaddress_data_rank {
    background: #533206;
    color: #ffffff;
    font-weight: 600;
    width: 44px;
}
.search_ipaddress_data_ipadrs {
    width: 109px;
    border-right: 1px solid #000000;
}
.search_ipaddress_data_result {
    width: 70px;
    border-right: 1px solid #000000;
}
.search_ipaddress_data_location {
    width: 162px;
    text-align: left !important;
    padding-left: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #000000;
}
