#modalLeadOrder .modal-dialog {
    width: 1244px;
    height: 755px;
    border: 1px solid #000;
    border-radius: 7px;
}

#modalLeadOrder .modal-dialog div {
    float: left;
}
#modalLeadOrder .modal-content {
    position: relative;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none;
    height: 754px;
}
#modalLeadOrder .modal-header {
    display: none;
    padding: 0;
    border-bottom: none;
    width: 100%;
}
#modalLeadOrder .modal-header .close {
    display: none;
}
#modalLeadOrder .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}
.neworder {
    position: relative;
    margin: 0 auto;
    width: 1244px;
    height: 755px;
    background: #0000FF;
    border: 1px solid #000;
    border-radius: 7px;
}
.neworder div {
    float: left;
}
.neworder input[type='text'] {
    color: #000000;
    padding-left: 4px;
}
.neworder textarea {
    color: #000000;
    padding-left: 4px;
    overflow-y: auto;
    resize: none;
}
.neworder_left {
    width: 906px;
    background: #0000FF;
    padding: 8px 10px 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 753px;
}
.neworder_header {
    position: relative;
    width: 100%;
    height: 34px;
}
.neworder_close {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    font-size: 26px;
    line-height: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    font-weight: bold;
}
.namecustomer {
    margin: 4px 10px;
}
.namecustomer_title {
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    color: #fff;
    margin-right: 7px;
}
.namecustomer_box {
    /*width: 220px;*/
    height: 24px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 15px;
    color: #fff;
}
input.namecustomer {
    height: 24px;
    border: 1px solid #ffffff;
    font-size: 14px;
    width: 240px;
    padding-left: 4px;
    color: #000;
}
.neworder_whiteline {
    width: calc(100% - 2px);
    height: 30px;
    background: #fff;
    padding: 3px 10px;
    margin-bottom: 10px;
}
.whiteline_title {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-right: 10px;
}
.whiteline_datebox {
    width: 100px;
    height: 24px;
    line-height: 25px;
    border: 1px solid #686868;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
    text-align: center;
}
.whiteline_ordnumberbox {
    /*width: 157px;*/
    height: 24px;
    line-height: 24px;
    border: 1px solid #686868;
    border-radius: 4px;
    margin-left: 4px;
    padding: 0 7px;
}
.ordnumberbox_title {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    color: #AEAEAE;
    margin-right: 4px;
}
.ordnumberbox_number {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-right: 7px;
}
.ordnumberbox_code {
    float: right !important;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}
.whiteline_btns {
    /*margin-left: 218px;*/
    float: right !important;
    margin-right: 22px;
    margin-top: 4px;
}
.btnsbox {
    width: auto;
    height: 24px;
    border: 1px solid #686868;
    border-radius: 4px;
    padding: 0;
    background: #ffffff;
}
.btnsbox-button {
    border-right: 1px solid #cecece;
    padding: 0 4px;
    color: #4040DD;
    font-size: 12px;
    line-height: 23px;
    font-weight: bold;
    cursor: pointer;
}
.btnsbox-button:last-child {
    border-right: none;
}
.btnsbox-button span {
    margin: 0 2px;
    font-size: 14px;
    line-height: 12px;
    position: relative;
    top: 1px;
}
.btnsbox-button.unactive {
    opacity: .5;
}
.btnsbox-btnedit {
    height: 24px;
    width: 45px;
    border: 1px solid #686868;
    border-radius: 4px;
    background: #af01a9;
    background: linear-gradient(to top, #8e0089, #d601cf);
    font-size: 12px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
}

.btnsbox-btnsave {
    height: 24px;
    width: 45px;
    border: 1px solid #686868;
    border-radius: 4px;
    background: #074a21;
    background: linear-gradient(to top, #074a21, #038136);
    font-size: 12px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
}


#modalLeadOrder .modal-body {
    padding: 0;
}
.neworder_body {
    width: 100%;
    /*padding: 8px 15px 0;*/
}
.neworder_column1 {
    margin-right: 10px;
    width: 525px;
}
.neworder_column2 {
    margin-right: 10px;
    width: 334px;
}
.neworder_right {
    width: 336px;
    background: #8080FF;
    padding: 8px 2px 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 753px;
}
.neworder_column3 {
    margin-right: 0;
    /*width: 334px;*/
}
.ord_block {
    width: 100%;
}
.ordblock_tab {
    height: 17px;
    background: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #fff;
    border-radius: 4px 4px 0 0;
    padding: 0 7px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    z-index: 5;
}
.ordblock_body {
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 0 4px 4px 4px;
    margin-top: -1px;
    position: relative;
    z-index: 1;
    padding: 5px 8px 8px;
}
.ordblock_payment {
    margin-top: 12px;
}
.ordblock_payment .ordblock_tab {
    background: #8080FF;
    border-bottom: 1px solid #8080FF;
}
.ordblock_payment .ordblock_body {
    background: #8080FF;
    height: 242px;
}
.ordblock_fullfilment_title {
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    margin-left: 8px;
}
.ordblock_body_fullfilment {
    width: 100%;
    position: relative;
    padding: 5px 8px 8px;
}
.ordblock_fulfillment .ordblock_tab {
    background: #8080FF;
    border-bottom: 1px solid #8080FF;
}
.ordblock_fulfillment .ordblock_body {
    background: #8080FF;
    height: 640px;
}
.orddetails_row {
    width: 100%;
    margin-bottom: 8px;
}
.orddetails_row:last-child {
    margin-bottom: 0;
}



.ordblock_artapproval .ordblock_body {
    height: 370px;
}
.ordblock_details .ordblock_body {
    height: 640px;
}



.orddtls_dates {
    width: 100%;
    background: #0000FF;
    height: auto;
    padding: 4px 0;
}
.ord_datetitle {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 20px;
}
.ord_datebox {
    height: 20px;
    width: 57px;
    background: #fff;
    border: 1px solid #C7C7FF;
    margin-left: 7px;
    font-size: 12px;
    line-height: 19px;
    font-weight: bold;
    text-align: center;
}
.ord_shipdate {
    margin-left: 40px;
}
.ord_arrivaldate {
    margin-left: 15px;
}
.ord_eventdate {
    margin-left: 15px;
}
.orddtls_ordtotal {
    float: right !important;
    height: 24px;
    width: 210px;
    background: #02027d;
    background: linear-gradient(to top, #050566, #000096);
    border: 1px solid #342e23;
    border-radius: 4px;
    padding: 0 8px;
}
.ordtotal_title {
    font-size: 13px;
    line-height: 24px;
    color: #fff;
}
.ordtotal_price {
    float: right !important;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    line-height: 24px;
    color: #fff;
}

.orddtls_notes {
    width: 152px;
    margin-right: 8px;
}
.orddtls_notestitle {
    font-size: 10px;
    color: #807F7F;
}
.orddtls_notesbox {
    border: 1px solid #BCBBBB;
    height: 75px;
    width: 100%;
    /*padding: 5px;*/
    font-size: 10px;
}
.orddtls_notesbox textarea {
    width: 100%;
    height: 72px;
    overflow-y: auto;
    resize: none;
    border: none;
}
.orddtls_update {
    width: 125px;
    margin-right: 9px;
}
.orddtls_updatetitle {
    font-size: 10px;
    color: #807F7F;
}
.orddtls_updatebox {
    border: 1px solid #BCBBBB;
    height: 58px;
    width: 100%;
    padding: 5px;
    font-size: 10px;
}
.orddtls_updatebox textarea {
    width: 100%;
    height: 48px;
    resize: none;
    border: none;
}
.btn_update {
    float: right !important;
    width: 42px;
    height: 13px;
    background: #061507;
    background: linear-gradient(to top, #061507, #373a37);
    border: 1px solid #061507;
    border-radius: 2px;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
    text-align: center;
    margin-top: 3px;
}
.orddtls_history {
    width: 213px;
    float: right !important;
}
.orddtls_historytitle {
    font-size: 10px;
    color: #807F7F;
}
.orddtls_historybox {
    border: 1px solid #BCBBBB;
    height: 75px;
    width: 100%;
    font-size: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}
.historybox {
    width: 100%;
}
.historybox_header {
    width: 100%;
    height: 14px;
    background: #706F6F;
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    color: #fff;
}
.historybox_text {
    font-size: 10px;
    padding-left: 5px;
    padding-top: 3px;
}
.historybox_icon {
    position: relative;
    top: -1px;
    margin-left: 5px;
    cursor: pointer;
}
a.historydetailsview {
    text-decoration: none;
}


.orddtls_contacts {
    width: 100%;
}
.orddtls_subtitle {
    /*width: 100%;*/
    font-size: 11px;
    font-weight: bold;
    color: #3736FE;
}
.orddtls_contactsbox {
    width: 100%;
    height: 72px;
    background: #DADADA;
    border: 1px solid #747474;
    border-radius: 4px 0 0 4px;
    padding: 2px 7px 5px;
    overflow-y: auto;
    scrollbar-width: none;
}
.tbl_contacts {
    width: 100%;
}
.tblconts_tr {
    width: 100%;
    line-height: 14px;
    margin-bottom: 3px;
    height: 14px;
}
.tblconts_td input {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    border: 1px solid #858585;
    padding: 0 5px;
}
.tblconts_td {
    margin-right: 5px;
}
.tblconts_name {
    width: 110px;
}
.tblconts_phone {
    width: 111px;
}
.tblconts_email {
    width: 190px;
}
.tblconts_inptbox {
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    background: #DADADA;
    border: 1px solid #858585;
    padding: 0 5px;
}
.tblconts_subtitle {
    width: 100%;
    text-align: center;
    font-size: 11px;
}
.tblconts_header {
    margin-bottom: 2px;
    line-height: 12px;
    height: 12px;
}
.tblconts_boxes {
    width: 20px;
    margin-right: 0;
}
.tblconts_checkbox input {
    margin: 0 2px;
}



.orddtls_items {
    width: 100%;
}
.table_items {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    height: 136px;
}
.table_items input, .table_items select {
    width: 100%;
    height: 18px;
}
.tblitems_tr {
    width: 100%;
    line-height: 18px;
    border-bottom: 1px solid #b5b5b5;
}
.tblitems_header {
    height: 20px;
    line-height: 20px;
    background: #4550e1;
    background: linear-gradient(to top, #3337e1, #5869e1);
    border-bottom: none;
}
.tblitems_td {
    border-right: 1px solid #b5b5b5;
    padding: 0 4px;
    font-size: 11px;
    color: #535050;
}
.tblitems_td:last-child {
    border-right: none;
}
.tblitems_header .tblitems_td {
    text-align: center !important;
    font-size: 11px;
    border-right: 1px solid transparent;
    color: #fff;
}
.tblitems_item {
    width: 66px;
    text-align: right;
}
.tblitems_additemdata {
    width: 228px;
}
/*.tblitems_additemdata select {*/
/*    width: 100%;*/
/*}*/
.tblitems_descript {
    width: 162px;
}
.tblitems_color, .adddata_color {
    width: 77px;
}
.tblitems_customdescript {
    width: 239px;
}
.tblitems_qty, .adddata_qty  {
    width: 47px;
    text-align: right;
}
/*.tblitems_qty input, .adddata_qty input {*/
/*    width: 100%;*/
/*}*/
.tblitems_each, .adddata_price {
    width: 50px;
    text-align: center;
}
/*.tblitems_each input, .adddata_price input {*/
/*    width: 100%;*/
/*}*/
.tblitems_subtotal {
    width: 69px;
    text-align: right;
}
.tditems_trash {
    width: 20px;
    text-align: center;
    cursor: pointer;
}
span.addorderitemcolor {}
.adddata_subtotal {
    width: 60px;
}
.items_content_addprint {
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
    visibility: hidden;
    background: #008000;
    height: 18px;
    border-radius: 4px;
    padding: 0 5px;
    line-height: 18px;
    margin: 1px auto;
    float: unset!important;
    text-align: center;
}
.tblitems_cancel, .adddata_cancel {
    text-align: center;
    font-size: 14px;
    width: 14px;
    cursor: pointer;
}
/* SELECT 2 for item select */
.tblitems_additemdata span.select2-selection--single {
    height: 20px!important;
}
.tblitems_additemdata .select2-selection__rendered {
    line-height: 19px!important;
}
.tblitems_additemdata .select2-selection__arrow {
    height: 18px!important;
}
li.select2-results__option {
    font-size: 12px;
}
/* SELECT 2 for item select */
.tblitems_inforow {
    padding-left: 10px;
    /*width: 242px;*/
    width: 239px;
}
.textgreen {
    color: #026F11;
    font-size: 10px;
    cursor: pointer;
}
.orderitemsarea {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 106px;
}
.doprow {
    border-bottom: 1px solid transparent;
}
.whiterow {
    background: #fff;
}
.greyrow {
    background: #ededed;
}
.items_footer {
    width: 100%;
    margin-top: 10px;
}
.itemsfooter_message {
    width: 184px;
    margin-right: 20px;
}
.itemsfooter_message label  {
    font-size: 10px;
}
.itemsfooter_message textarea {
    width: 174px;
    height: 34px;
    background: #DADADA;
    border: 1px solid #ACACAC;
    resize: none;
    padding: 3px 5px;
}
.itemsfooter_inpts {
    width: 197px;
}
.inpts_row {
    width: 100%;
    margin-bottom: 4px;
    height: 15px;
}
.itemsfooter_inpts input {
    width: 187px;
    height: 15px;
    background: #DADADA;
    border: 1px solid #ACACAC;
    padding: 0 5px;
    line-height: 15px;
    font-size: 11px;
}
.itemsfooter_inpts input::placeholder {
    color: #BFBFC2;
    font-style: italic;
    font-size: 10px;
    text-align: right;
    line-height: 15px;
}
.itemsfooter_inptsprice {
    width: 65px;
    float: right !important;
}
.inptsprice_box {
    width: 65px;
    height: 15px;
    background: #DADADA;
    border: 1px solid #ACACAC;
    line-height: 15px;
    text-align: right;
    padding: 0 5px;
    font-size: 11px;
    margin-top: 2px;
}
.item_subtotal {
    width: 100%;
    border-top: 2px solid #000;
    padding-top: 3px;
}
.itemsubtotal_price {
    float: right !important;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}
.itemsubtotal_txt {
    float: right !important;
    font-size: 13px;
    line-height: 18px;
    color: #858585;
    font-weight: bold;
    margin-right: 7px;
}

.shiptax_info {
    float: right !important;
    width: 270px;
    margin-right: 5px;
}
.infoshiptax_row {
    width: 100%;
    float: right !important;
    margin-bottom: 3px;
    height: 16px;
}
.infoshiptax_pricebox {
    float: right !important;
    width: 60px;
    height: 16px;
    background: #fff;
    border: 1px solid #BCBBBB;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
    margin-left: 5px;
}
.infoshiptax_title {
    float: right !important;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    margin-left: 4px;
}
.infoshiptax_infotext {
    float: right !important;
    font-size: 9px; /* 10px */
    line-height: 15px;
    color: #747474;
}
.infoshiptax_infotext span.bluetxt {
    color: #1A1AD5;
}
.infoshiptax_infotext span.italictxt {
    font-style: italic;
}
.infoshiptax_infotext.taxdataview {
    position: relative;
    top: -22px;
    left: -120px;
}
.shipdocs {
    width: 50px;
}
.shipdocs_txt {
    font-size: 10px;
    width: 100%;
}
.shipdocs_icons {
    width: 100%;
}
.shipdocs_file {
    font-size: 12px;
}



.orddtls_shiptax {
    width: 100%;
    margin-top: -7px;
}
.shiptax_body {
    position: relative;
    width: 100%;
    height: 98px;
    background: #E4E3E3;
    border: 1px solid #747474;
    border-radius: 4px;
}
.shiptax_bodyleft {
    position: relative;
    width: 162px;
    padding-left: 5px;
}
.shiptax_bodyright {
    float: right !important;
    width: 328px;
}
.shiptax_topright {
    width: 328px;
    height: 38px;
    background: url(/img/leadorder/shiptax_topright_2.jpg) no-repeat;
    position: relative;
    top: -1px;
    right: -1px;
    float: right !important;
}
.shiptax_bottomright {
    width: 328px;
}
.shiptax_groupdates {
    float: right !important;
    margin-top: 8px;
    margin-right: 15px;
}
.groupdates_block {
    width: 54px;
    margin-left: 8px;
}
.groupdates_title {
    width: 100%;
    font-size: 10px;
    color: #545454;
    text-align: center;
    line-height: 11px;
}
.groupdates_box {
    width: 53px;
    height: 13px;
    background: #fff;
    border: 1px solid #1A1AD5;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 13px;
}

.ship_addressarea {}
.shipaddress_box {
    position: relative;
    width: 154px;
    height: 69px;
    border: 2px solid #95939E;
    background: #fff;
}
.inpt_addressarea {
    float: left;
    width: calc(100% - 4px);
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    display: block !important;
    height: 13px;
    line-height: 12px;
    font-size: 11px;
    color: #5C5C5C;
}
.inpt_addressarea::placeholder {
    font-size: 9px;
    color: #ebebeb;
    font-style: italic;
}
.inptaddress_city {
    width: 69px !important;
    border-bottom: none !important;
}
.select_addressarea {
    float: left;
    /*width: calc(100% - 4px);*/
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    display: block !important;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    width: 38px;
    background: #fff;
    color: #5C5C5C;
}
.inptaddress_zipcode {
    width: 31px !important;
    border-bottom: none !important;
}
.inptaddress_country {
    width: 112px;
    margin-bottom: 2px;
}
.inptaddress_country select {
    width: 100%;
    height: 15px;
    border: 1px solid #95939E;
    background: #fff;
    font-size: 10px;
    line-height: 14px;
}
.btn_blind {
    position: absolute;
    right: 0;
    top: 3px;
    width: 42px;
    height: 14px;
    line-height: 14px;
    background: #BFBEBE;
    color: #535353;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}
/* Multishiping */
.shiptax_bodyleftmultiple {
    position: relative;
    width: 343px;
    padding-left: 5px;
    max-height: 75px;
    overflow-y: auto;
    scrollbar-width: none;
    margin-top: 12px;
}
.shipaddressarea {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.shipaddressarea .numpp {
    width: 15px;
    text-align: center;
}
.shipaddressarea .shipqty {
    width: 30px;
    text-align: right;
    padding-right: 3px;
}
.shipaddressarea .devider {
    width: 10px;
    text-align: center;
}
.shipaddressarea .shipaddres {
    width: 150px;
}
.shipaddressarea .shipaddres span {
    font-weight: 600;
}
.shipaddressarea .shipcost {
    width: 50px;
    text-align: right;
    padding-right: 3px;
}
.shipaddressarea .arrivedate {
    color: #3736FE;
    width: 83px;
}
.shiptax_bodyrightmultiple {
    float: right !important;
    width: 145px;
}
.shiptax_bodyrightmultiple .shipdocs {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.shiptax_bodyrightmultiple .shiptax_info {
    width: 100%;
}


.artapprvl_row {
    width: 100%;
}
.artapprvl_subtitle {
    font-size: 13px;
    font-weight: bold;
}
.artapprvl_blankrush {
    float: right !important;
}
.artapprvl_blank {
    margin-right: 4px;
}
.artapprvl_blankrush label {
    font-size: 11px;
    position: relative;
    top: -2px;
}
.artapprvl_blankrush input {
    margin: 0;
}
.artapprvl_instructitle {
    font-size: 12px;
}
.artapprvl_instrucbox {width: 100%;}
.artapprvl_instrucbox textarea {
    width: 100%;
    height: 49px;
    background: #DADADA;
    border: 1px solid #BDBDBD;
    resize: none;
    padding: 3px 5px;
}
.artapprvl_templates {
    float: right !important;
}
.templates_title {
    font-size: 12px;
    line-height: 14px;
}
.templatebox {
    margin-left: 3px;
    line-height: 14px;
}
.templatebox_icon {
    margin-right: 3px;
    height: 14px;
    position: relative;
    top: -1px;
}
.templatebox_icon img {
    height: 14px;
    width: auto;
}
.templatebox_text {
    font-size: 12px;
    color: #0A0AD4;
}
.artapprvl_colors {
    font-size: 11px;
    line-height: 18px;
    /* margin-top: 3px; */
}
.artapprvl_font {
    float: right !important;
    /* margin-top: 3px; */
}
.artapprvl_font label {
    font-size: 11px;
    line-height: 17px;
    color: #9F9898;
    position: relative;
    top: -3px;
    margin: 0;
}
.artapprvl_font select {
    width: 78px;
    height: 17px;
    border: 1px solid #BDBDBD;
    background: #fff;
}
.artapprvl_art {
    width: 100%;
    margin-top: -15px;
}
.art_boxes {
    width: 100%;
    height: 85px;
    border: 1px solid #858585;
    overflow-y: auto;
    scrollbar-width: none;
}
.art_header span {
    font-size: 10px;
    font-weight: bold;
}
.artheader_original {
    margin-left: 45px;
}
.artheader_vector {
    margin-left: 126px;
}
.artapprvl_artbox {
    width: 287px;
    height: 25px;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-bottom: 2px;
    padding: 0 4px;
}
.artbox_number {
    width: 16px;
    font-size: 12px;
    line-height: 25px;
    margin-right: 3px;
}
.artbox_filenameorg {
    width: 87px;
    font-size: 12px;
    line-height: 24px;
    color: #0A0AD4;
    cursor: pointer;
}
.artbox_locationtitle {
    font-size: 12px;
    width: 70px;
    line-height: 24px;
}
.artbox_filenameorg.unactive {
    color: #cbcbd1;
}
.artbox_filenameorg input {
    width: 50px;
    height: 18px;
}
.artbox_iconfile {
    width: 16px;
    margin-top: 1px;
}
.artbox_iconfile.unactive {
    opacity: .25;
}
.artbox_iconfile {
    width: 16px;
    /*margin-top: 4px;*/
}
.artbox_iconfile img {
    height: 16px;
    width: auto;
}
.artbox_rush {
    width: 45px;
    margin-top: 4px;
}
.artbox_rush.unactive {
    opacity: .5;
}
.artbox_rush label {
    font-size: 9px;
    position: relative;
    top: -3px;
}
.artbox_rush input {
    margin: 0;
}
.artbox_step.arrow {
    width: 16px;
    margin: 1px 5px 0;
}
.artbox_step.arrow img {
    width: 18px;
    height: auto;
}
.artbox_filenamevect {
    font-size: 12px;
    line-height: 25px;
    color: #0A0AD4;
    width: 84px;
    cursor: pointer;
}
.artbox_filenamevect.redrawing {
    font-size: 12px;
    line-height: 24px;
    color: #cfcfcf;
    font-style: italic;
}
.artbox_step.tick {
    width: 16px;
    margin: 1px 5px 0;
}
.artbox_step.tick img {
    width: 18px;
    height: auto;
}
.artapprvl_proofs {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
    overflow: hidden;
}
.artproofs_header {
    width: 100%;
    height: 22px;
    background: #c2c4c3;
    border-bottom: 1px solid #000;
}
.artproofs_body {
    width: 308px;
    height: 98px;
    overflow-x: auto;
    padding: 4px 5px;
    display: flex;
    flex-wrap: nowrap;
}
.artproofs_addoptn {
    width: 47px;
    height: auto;
    border: 1px dashed #C2C1C1;
    border-radius: 5px;
    text-align: center;
    color: #C2C1C1;
    font-size: 10px;
    padding: 10px 0;
    margin: 17px 4px;
    cursor: pointer;
}
.artproofs_optn {
    width: 65px;
    height: 75px;
    margin: 0 7px;
    flex: 0 0 auto;
}
.optn_header {
    width: 100%;
}
.optn_box {
    /*width: 54px;*/
    width: 100%;
    height: 54px;
    border: 1px solid #c2c1c1;
    padding: 4px;
    overflow-y: auto;
    scrollbar-width: none;
}
.optn_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.optn_box ul li {
    font-size: 10px;
    color: #0000D2;
    font-weight: bold;
    margin-bottom: 2px;
}
.optn_checkbox {
    margin-right: 3px;
}
.optn_checkbox input {
    margin: 0;
}
.optn_title {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.optn_star {
    margin-left: 2px;
    height: 14px;
    position: relative;
    top: -3px;
}
.optn_star img {
    height: 14px;
    width: auto;
}
.artproofs_optn.approved .optn_box {
    background: #ffff00;
    border: 1px solid #000;
}


.artproofheader_title {
    width: 56px;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px;
}
.artproofheader_apprvl {
    width: 130px;
    height: 21px;
    padding: 0 5px;
    font-weight: bold;
    line-height: 21px;
    font-size: 13px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
.artproofheader_apprvl.approval {
    background: #ffff00;
}
.artproofapprvl_icon {
    position: relative;
    top: -2px;
    font-size: 11px;
}
.artproofapprvl_icon img {
    height: 15px;
    width: auto;
}
.artproofapprvl_days {
    float: right !important;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
}
.artproofheader_open {
    width: 67px;
    text-align: center;
    color: #05059D;
    border-right: 1px solid #000;
    font-size: 12px;
    line-height: 21px;
}
.artproofheader_open span {
    position: relative;
    top: 0;
}
.artproofheader_open span img {
    height: 17px;
    width: auto;
    position: relative;
    top: -1px;
    margin-left: 4px;
}
.artproofheader_send {
    width: 60px;
    text-align: center;
    color: #9e9ea0;
    font-size: 12px;
    line-height: 21px;
}
.artproofheader_send span {
    margin-left: 4px;
    font-size: 16px;
}
.fulflm_row {
    width: 100%;
}
.fulflm_profit {
    float: right !important;
    width: 288px;
    /* background: #001072; */
    border: 1px solid #001072;
    border-radius: 7px;
    /* margin-top: 277px; */
    margin-top: 10px;
}
.fulflmprofit_price {
    width: 85px;
    padding-right: 7px;
    text-align: right;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #fff;
}
.fulflm_profit.white .fulflmprofit_price, .fulflm_profit.white .fulflmprofit_interest,
.fulflm_profit.green .fulflmprofit_price, .fulflm_profit.green .fulflmprofit_interest,
.fulflm_profit.orange .fulflmprofit_price, .fulflm_profit.orange .fulflmprofit_interest
 {
    border-right: 1px solid #000000;
}
.fulflmprofit_interest {
    width: 86px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #fff;
    padding: 0 5px;
}
.fulflmprofit_complt {
    width: 103px;
    float: right !important;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    height: 28px;
}
.fulflm_claymodels {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
    overflow: hidden;
}
.claymodels_header {
    width: 100%;
    height: 22px;
    background: #c2c4c3;
    border-bottom: 1px solid #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px;
}
.claymodels_body {
    width: 100%;
    height: 98px;
    overflow-x: auto;
    background: #fff;
    padding: 4px 5px;
    scrollbar-width: none;
}
.claymodels_addoptn {
    width: 47px;
    height: auto;
    border: 1px dashed #C2C1C1;
    border-radius: 5px;
    text-align: center;
    color: #C2C1C1;
    font-size: 10px;
    padding: 10px 0;
    margin: 17px 4px;
    cursor: pointer;
}
.claymodels_optn {
    width: 65px;
    height: 75px;
    margin: 0 7px;
    flex: 0 0 auto;
}
.claymodels_optn_header {
    width: 100%;
    margin-top: 3px;
}
.claymodels_optn_box {
    width: 54px;
    /*height: 54px;*/
    border: 1px solid #c2c1c1;
    padding: 4px;
    max-height: 68px;
    overflow-y: auto;
    scrollbar-width: none;
}
.claymodels_optn_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.claymodels_optn_box ul li {
    font-size: 10px;
    color: #0000D2;
    font-weight: bold;
    margin-bottom: 2px;
}
.claymodels_optn_checkbox {
    margin-right: 3px;
}
.claymodels_optn_checkbox input {
    margin: 0;
}
.claymodels_optn_title {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.claymodels_optn_star {
    margin-left: 2px;
    height: 14px;
    position: relative;
    top: -3px;
}
.claymodels_optn_star img {
    height: 14px;
    width: auto;
}
.fulflm_previewpict {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
    overflow: hidden;
}
.previewpict_header {
    width: 100%;
    height: 22px;
    background: #c2c4c3;
    border-bottom: 1px solid #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px;
}
.previewpict_body {
    width: 100%;
    height: 98px;
    overflow-x: auto;
    background: #fff;
    padding: 4px 5px;
}
.previewpict_addoptn {
    width: 47px;
    height: auto;
    border: 1px dashed #C2C1C1;
    border-radius: 5px;
    text-align: center;
    color: #C2C1C1;
    font-size: 10px;
    padding: 10px 0;
    margin: 17px 4px;
    cursor: pointer;
}
.previewpict_optn {
    width: 65px;
    height: 75px;
    margin: 0 7px;
    flex: 0 0 auto;
}
.previewpict_optn_header {
    width: 100%;
    margin-top: 3px;
}
.previewpict_optn_box {
    width: 73px;
    border: 1px solid #c2c1c1;
    padding: 4px;
    max-height: 65px;
    overflow-y: auto;
    scrollbar-width: none;
}
.previewpict_optn_box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.previewpict_optn_box ul li {
    font-size: 10px;
    color: #0000D2;
    font-weight: bold;
    margin-bottom: 2px;
}
.previewpict_optn_checkbox {
    margin-right: 3px;
}
.previewpict_optn_checkbox input {
    margin: 0;
}
.previewpict_optn_title {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
}
.previewpict_optn_star {
    margin-left: 2px;
    height: 14px;
    position: relative;
    top: -3px;
}
.previewpict_optn_star img {
    height: 14px;
    width: auto;
}
.fulflm_shipping {
    width: 100%;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 10px;
    /*overflow: hidden;*/
    overflow-y: auto;
    max-height: 129px;
    scrollbar-width: none;
}
.fulflmshipping_header {
    width: 100%;
    height: 24px;
    background: #000;
    border-bottom: 1px solid #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 7px;
    color: #fff;
}
.fulflmshipping_footer {
    width: 100%;
    height: 24px;
    background: #000;
    border-bottom: 1px solid #000;
    font-size: 13px;
    line-height: 22px;
    font-weight: bold;
    padding-left: 5px;
    color: #fff;
}
.fulflmshipping_body {
    width: 100%;
    /*height: 78px;*/
    height: 42px;
    overflow-x: auto;
    background: #fff;
    padding: 4px 5px;
}
.fulflmshipping_remaining {
    font-size: 13px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 15px;
    color: #fff;
}
.fulflmshipping_ship {
    float: right !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    padding-right: 7px;
    color: #fff;
}
.fulflmshipping_box {
    width: 100%;
    margin-bottom: 3px;
}
.fulflmshipping_addnew {
    font-size: 12px;
    color: #3737FF;
    font-style: italic;
    cursor: pointer;
    width: 100%;
    background: #fff;
    padding: 4px;
}
.fulflmshipping_box input {
    float: left;
    height: 15px;
    line-height: 15px;
    border: 1px solid #4D4D4D;
    font-size: 11px;
}
.fulflmship_inptqty {
    width: 41px;
    margin-right: 3px;
}
.fulflmship_inptdate {
    width: 60px;
    margin-right: 9px;
}
.fulflmship_inpttrack {
    width: 112px;
}
.fulflmship_inptcarrier {
    width: 58px;
}
.fulflmshipping_box select {
    float: left;
    height: 15px;
    line-height: 17px;
    border: 1px solid #4D4D4D;
    background: #fff;
    font-size: 11px;
    margin-right: 4px;
}
.fulflmshipping_track_separator {
    float: left;
    width: 100%;
    height: 3px;
    background: #fff;
}



.paymentsection_left {
    width: 140px;
    margin-right: 4px;
}
.paymentsection_right {
    width: 156px;
    float: right !important;
}
.paymentsection_bottom {
    width: 100%;
    margin-top: 7px;
}
.paymentblock {
    width: 100%;
    /*margin-top: -5px;*/
}
.orddtls_addmanual {
    float: right !important;
    font-size: 10px;
    color: #e8e8e8;
    cursor: pointer;
}
.paymentbox {
    position: relative;
    width: 100%;
    /*height: 60px;*/
    height: 44px;
    background: #fff;
    border: 2px solid #000;
    padding: 4px 5px;
}
.paymentbox_card {
    width: 100%;
}
.paymentbox_card input {
    float: left;
    height: 15px;
    line-height: 15px;
    border: 1px solid #858585;
    font-size: 11px;
    padding: 0 2px;
    margin-right: 3px;
}
.paymentcard_txt {
    font-size: 11px;
    line-height: 15px;
    margin: 0 4px 0 1px;
}
.paymentcard_price {
    width: 44px;
    text-align: right;
}
.paymentcard_number {
    width: 135px;
}
.paymentcard_date,
.paymentcard_month {
    width: 22px;
}
.paymentcard_cvc {
    width: 24px;
}
.paymentcard_cvc::placeholder {
    font-size: 9px;
    color: #BFBFBF;
    text-align: center;
}
.paymentcard_lock {
    font-size: 14px;
    height: 17px;
    position: relative;
    top: -1px;
    margin-left: 2px;
}
.btn_addcard {
    font-size: 11px;
    color: #ACACAC;
    margin-top: 4px;
}
.balancedueblock {
    width: 100%;
}
.balanceduebox {
    float: right !important;
    height: 26px;
    width: 226px;
    background: #1e211f;
    background: linear-gradient(to top, #040805, #3a3b3a);
    border: 1px solid #040805;
    border-radius: 5px;
    padding: 0;
    margin-top: 5px;
}
.balancedue_link {
    width: 26px;
    height: 26px;
    border-right: 1px solid #565656;
}
.balancedue_send {
    width: 29px;
    height: 26px;
    border-right: 1px solid #565656;
    text-align: center;
    line-height: 24px;
    color: #838583;
    font-size: 16px;
}
.balancedue {
    float: right !important;
    width: 168px;
}
.balancedue.paid {
    background: #1e211f;
    background: linear-gradient(to top, #040805, #3a3b3a);
    border: 1px solid #040805;
    border-radius: 5px;
    margin-top: 5px;
}
.balancedue_txt {
    color: #fff;
    font-size: 13px;
    margin-left: 4px;
    line-height: 26px;
}
.balancedue_price {
    float: right !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    color: #fff;
    padding-right: 7px;
}
.balancedue_linkicon {
    margin-top: 1px;
    margin-left: 5px;
}
.balancedue_linkicon img {
    height: 15px;
    width: auto;
}
.paymenthistory {
    margin-top: 20px;
}
.paymenthistory_box {
    width: 156px;
    height: 68px;
    background: #fff;
    border: 1px solid #000;
    margin-top: 3px;
}
.paymhist_tbl {
    width: 100%;
}
.paymhist_tr {
    width: 100%;
    height: 14px;
    line-height: 12px;
}
.paymhist_header {
    background: #6C6C6C;
}
.paymhist_td {
    font-size: 9px;
    text-align: center;
    border-right: 1px solid #b5b5b5;
}
.paymhist_header .paymhist_td {
    border-right: none !important;
}
.paymhist_td:last-child {
    border-right: none;
}
.paymhist_date {
    width: 38px;
    color: #414141;
}
.paymhist_payment {
    width: 54px;
    color: #0000D5;
}
.paymhist_amount {
    width: 60px;
    color: #414141;
}
.paymhist_tr.tr_white {
    background: #fff;
}
.paymhist_tr.tr_grey {
    background: #ededed;
}
.paymhist_header .paymhist_date,
.paymhist_header .paymhist_payment,
.paymhist_header .paymhist_amount {
    color: #fff !important;
}
.totalpaymnt {
    width: 100%;
    margin-top: 4px;
}
.totalpaymnt_txt {
    font-size: 10px;
    line-height: 14px;
}
.totalpaymnt_price {
    font-size: 12px;
    width: 80px;
    float: right !important;
    font-weight: bold;
    line-height: 14px;
    text-align: right;
}



.billing_addressarea {}
.billaddress_box {
    position: relative;
    width: 154px;
    height: 69px;
    border: 2px solid #95939E;
    background: #fff;
}
.copyaddress {
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    background: #000;
    color: #fff;
    font-size: 8px;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
}
textarea.fulladdressview {
    display: none;
    padding-left: 3px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    overflow-y: auto;
    resize: none;
}
.billing_addressarea .inpt_addressarea {
    float: left;
    width: calc(100% - 4px);
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    display: block !important;
    height: 13px;
    line-height: 12px;
    font-size: 11px;
    color: #5C5C5C;
}
.billing_addressarea .inpt_addressarea::placeholder {
    font-size: 9px;
    color: #ebebeb;
    font-style: italic;
}
.billing_addressarea .inptaddress_city {
    width: 69px !important;
    border-bottom: none !important;
}
.billing_addressarea .select_addressarea {
    float: left;
    /*width: calc(100% - 4px);*/
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    display: block !important;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    width: 38px;
    background: #fff;
    color: #5C5C5C;
}
.billing_addressarea .inptaddress_zipcode {
    width: 31px !important;
    border-bottom: none !important;
}
.billing_addressarea .inptaddress_country {
    width: 112px;
    margin-bottom: 2px;
}
.billing_addressarea .inptaddress_country select {
    width: 100%;
    height: 15px;
    border: 1px solid #95939E;
    background: #fff;
    font-size: 10px;
    line-height: 14px;
}
.sameaddress {}
.sameaddress input {
    float: left;
    margin: 0 3px 0 0;
}
.sameaddress label {
    float: left;
    font-size: 10.5px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.po_inputgroup {}
.po_inputgroup label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-right: 4px;
    margin-bottom: 0;
}
.po_inputgroup input {
    float: left;
    width: 104px;
    height: 15px;
    line-height: 14px;
    font-size: 12px;
    background: #DADADA;
    border: 1px solid #858585;
    padding: 0 4px;
}
.po_inputgroup input::placeholder {
    font-size: 11px;
    color: #BAB9B9;
    font-style: italic;
}
.paymnt_viewdeclined {
    font-size: 9px;
    color: #6C6C6C;
    float: right !important;
    cursor: pointer;
    line-height: 15px;
}
.paymenthistory .orddtls_subtitle {
    width: auto !important;
}


/* Aprove Email */
.sendnotification {
    border: 1px solid #000;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 93px;
    left: 518px;
    width: 353px;
    background: #fff;
    z-index: 1060;
}
.sendnotification_close {
    position: absolute;
    top: -9px;
    right: -9px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    font-size: 26px;
    line-height: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    font-weight: bold;
}
.aprovemail_content {
    /*background: url("/img/artpage/artpopup_approveemail_bg.png") no-repeat scroll 0 0 transparent;*/
    clear: both;
    /*float: left;*/
    /*height: 442px;*/
    width: 356px;
    margin: 9px 10px 0 10px;
}
.approvemaildata_title {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.approvemaildata_content {
    clear: both;
    /*float: left;*/
    /* margin: 10px 8px 10px 11px;*/
    /* width: 345px; */
}
.approvemail_row {
    clear: both;
    /*float: left;*/
    text-align: left;
    margin-bottom: 11px;
    width: 331px;
}
.approvemail_label {
    color: #1A1A1A;
    /*float: left;*/
    font-size: 12px;
    padding-top: 4px;
    text-align: left;
    width: 46px;
}
.approvemail_data {
    float: left;
    width: 285px;
}
.addbccapprove {
    text-align: left;
    color: #0e02ff;
    font-size: 11px;
    text-decoration: none;
    font-style: italic;
}
.addbccapprove:hover {
    cursor: pointer;
}
input.aprovemail_input {
    float: left;
    border: 1px solid #000000;
    color: #000;
    font-size: 12px;
    width: 283px;
}
textarea.aprovemail_message {
    float: left;
    height: 246px;
    margin-top: -6px;
    overflow-y: auto;
    resize: none;
    width: 323px;
    color: #000;
    font-size: 12px;
}
.approvemail_send {
    /*float: left;*/
    margin-left: 271px;
    margin-top: -6px;
    width: 60px;
    cursor: pointer;
}
/* Clay preview tabs */
.leadorderclaytab, .leadorderpreviewtab {
    width: 124px;
    height: 35px;
    background: #C2C4C3;
    color: #000000;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    margin-top: 6px;
    position: relative;
}
.leadorderpreviewtab {
    float: right!important;
    margin-right: 2px;
}
.leadorderpreviewtab.active, .leadorderclaytab.active {
    background: #FFFFFF;
    height: 37px;
    z-index: 10;
}
.leadorderclaycontent, .leadorderpreviewcontent {
    width: 315px;
    height: 137px;
    border: 1px solid #333333;
    display: none;
    margin-top: -2px;
}
.leadorderclaycontent.active, .leadorderpreviewcontent.active {
    display: block;
    background: #FFFFFF;
}
.claypreviewtab_title {
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}
.claypreviewtab_subtitle {
    width: 100%;
    font-size: 11px;
    text-align: center;
}
/* Clay Model history */
.claymodelsdataarea, .previewpicsdataarea {
    overflow-x: auto;
    margin-top: 9px;
    margin-left: 9px;
}
.claymodelsdatatable, .previewpicsdatatable {
    width: 65px;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}
.previewpicsdatatable {
    width: 80px;
}
.claymodeldatarow, .previewpicdatarow {
    width: 100%;
    padding-left: 5px;
    border-bottom: 1px dotted #000000;
}
.claymodelname, .previewpicname {
    height: 17px;
    line-height: 17px;
    color: #0000ff;
    font-size: 11px;
    cursor: pointer;
}
/* Invertory popup */
.orderitem_inventoryview {
    display: none;
    position: absolute;
    left: 289px;
    top: 148px;
    z-index: 1052;
}
.orderitem_inventoryview div {
    float: left;
}
.orderitem_inventoryview_head {
    background: #707070;
    color: #FFFFFF;
    height: 18px;
    font-size: 11px;
}
.orderitem_inventoryview_head div {
    line-height: 18px;
    text-align: center;
}
.orderitem_inventoryview_head .inventorycolor {
    width: 99px;
    margin-right: 10px;
}
.orderitem_inventoryview_head .inventorypercent {
    width: 36px;
}
.orderitem_inventoryview_head .inventoryinstock {
    width: 52px; /* 44px; */
}
.orderitem_inventoryview_head .inventoryreserv {
    width: 42px;
}
.orderitem_inventoryview_head .inventoryavailable {
    width: 52px; /* 44px; */
    margin-right: 10px;
}
.orderitem_inventoryview_head .inventoryonboat {
    width: 66px;
}
.orderitem_inventoryview_body {
    clear: both;
    background: #707070;
    /* color: #FFFFFF; */
    font-size: 12px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.orderitem_inventoryview_body div {
    line-height: 18px;
    height: 18px;
    text-align: center;
    color: #000000;
}
.orderitem_inventoryview_body .datarow {
    clear: both;
    cursor: pointer;
}
.inventorydataempty {
    width: 10px;
    background: #707070;
}
.orderitem_inventoryview_body .inventorycolor {
    width: 99px;
    text-align: right;
    font-size: 13px;
    padding-right: 7px;
}
.orderitem_inventoryview_body .inventorycolor.selected {
    background: #000000;
    color: #FFFFFF;
}
.orderitem_inventoryview_body .inventorypercent {
    width: 36px;
    color: #7d7d7d;
    border-right: 1px solid #000000;
}
.orderitem_inventoryview_body .inventorypercent.severevalstock,
.orderitem_inventoryview_body .inventoryinstock.severevalstock
{
    background: #f77777;
    /* color: #ffffff; */
}
.orderitem_inventoryview_body .inventorypercent.lowinstock,
.orderitem_inventoryview_body .inventoryinstock.lowinstock {
    background: #ffcc7f;
    /* color: #000000; */
}
.orderitem_inventoryview_body .inventorydatacell.selected {
    border-top: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    line-height: 14px;
}
.orderitem_inventoryview_body .inventoryinstock {
    width: 52px; /* 44px */
    border-right: 1px solid #000000;
}
.orderitem_inventoryview_body .inventoryreserv {
    width: 42px;
    border-right: 1px solid #000000;
}
.orderitem_inventoryview_body .inventoryavailable {
    width: 52px; /* 44px */
}
.orderitem_inventoryview_body .inventoryonboat {
    width: 66px;
    border-right: 1px solid #000000;
}
.orderitem_inventoryview_close {
    position: relative;
    top: -13px;
    left: -7px;
    z-index: 1055;
    font-size: 15px;
    cursor: pointer;
    height: 14px;
}
/* End Inventory Popup */
/* Imprint details Popup */
.imprintdetails_popup {
    display: none;
    position: absolute;
    left: 104px;
    top: 148px;
    z-index: 1052;
}
/* Imprint details content */
.imprintpopuptitle {
    width: 1047px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    height: 28px;
    background: #f3f3f3;
    border: 2px solid #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.imprintdetailsclose {
    position: absolute;
    top: -11px;
    right: -9px;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    font-size: 16px;
    line-height: 18px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    font-weight: bold;
}
.imprintdetailsarea {
    /*background: url('/img/leadorder/inprint_location_bg.png') no-repeat transparent;*/
    clear: both;
    height: 451px;
    width: 1047px;
    background: #f3f3f3;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.imprintdetailsdata {
    float: left;
    height: 409px;
    margin-left: 13px;
    width: 745px;
}
.imprintdetailstitle {
    float: left;
    margin-left: 184px;
    height: 31px;
    line-height: 31px;
    width: 240px;
}
.imprintdetailstitle > .orderblank {
    float: left;
    width: 100%;
}
.imprintdetailstitle > .orderblank input {
    float: left;
    margin-top: 13px;
}

.imprintdetailstitle > .orderblank .labeltxt {
    float: left;
    font-size: 12px;
    margin-left: 7px;
    margin-top: 4px;
}
.imprintdetailsdata_left, .imprintdetailsdata_right {
    width: 367px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    padding-bottom: 10px;
}
.imprintdetailsdata_left {
    clear: both;
    margin-left: -5px;
}
/*.imprintdetailsdata_right {*/
/*    float: left;*/
/*    margin-left: 16px;*/
/*    !* margin-top: 27px; *!*/
/*    width: 362px;*/
/*    border-top: 1px solid #000000;*/
/*    border-bottom: 1px solid #000000;*/
/*    border-right: 1px solid #000000;*/
/*}*/
.imprintdetails_location_subltitle {
    float: left;
    width: 100%;
    margin-top: 6px;
}
.imprintdetails_location_subltitle > div {
    font-size: 12px;
    color: #252525;
    float: left;
    height: 21px;
    line-height: 21px;
}
.imprintdetails_location_subltitle > .locname_subtitle {
    width: 68px;
}
.newrepeat_subtitle {
    width: 95px;
}
.numcolors_subtitle {
    width: 68px;
}
.printsetupcost_subtitle {

}
.imprintlocdata {
    border-bottom: 1px solid #000000;
    clear: both;
    float: left;
    opacity: 0.5;
    width: 367px;
}
.imprintlocdata.active {
    opacity: 1;
}
.imprintlocrow {
    clear: both;
    float: left;
    height: 27px;
    line-height: 27px;
    width: 100%;
}
.imprintlocrow input, .imprintlocrow select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #000000;
    float: left;
    height: 20px;
}
.imprintlocrow input:disabled, .imprintlocrow select:disabled {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #e2e2e2;
    color: #e2e2e2;
    float: left;
    height: 20px;
}
input.locationactive {
    height: 16px;
    margin-top: 5px;
}
.imprintlocrow > .title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    text-align: left;
    width: 51px;
}
select.locationtype {
    margin-right: 3px;
    margin-top: 2px;
    width: 54px;
}
.repeatdetail {
    background: transparent url("/img/leadorder/icon_fileempty.png") no-repeat scroll 0 0;
    float: left;
    /* margin-left: 2px;*/
    margin-top: 1px;
    /* opacity: 0.5; */
    /* width: 17px; */
    width: 39px;
}
input.imprintrepeatnote {
    width: 37px;
    font-size: 12px;
}
.repeatdetail.active {
    opacity: 1;
    cursor: pointer;
}
.repeatdetail.full {
    background: transparent url("/img/leadorder/icon_file.png") no-repeat scroll 0 0;
}
select.imprintcolorschoice {
    margin-top: 2px;
    width: 32px;
}
.imprintlocrow > .labeltxt {
    float: left;
    font-size: 12px;
    width: 31px;
    margin-left: 2px;
    height: 22px;
    line-height: 21px;
}
.imprintlocprices {
    float: left;
    /* width: 141px; */
}
input.imprintprice {
    font-size: 11px;
    margin-left: 3px;
    text-align: right;
    width: 27px;
}
select.imprintlocationchoice {
    margin-left: 25px;
    width: 94px;
}
.extracostlabel {
    float: left;
    text-align: right;
    line-height: 10px;
    height: 22px;
    font-size: 10px;
    margin-right: 7px;
    width: 39px;
}
.imprintdetailssample {
    float: left;
    margin-left: 9px;
    margin-top: 14px;
    width: 268px;
}
.imprintdetailssample > .title {
    clear: both;
    float: left;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
    color: #1f1f1f;
}
.imprinttable_title {
    clear: both;
    float: left;
    height: 17px;
    line-height: 17px;
    margin-left: 29px;
    width: 228px;
}
.imprinttable_title > .label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    width: 98px;
}
.imprinttable_title > .labelprice {
    width: 87px;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-size: 11px;
}
.imprinttable_title > select.imprintpricepiece {
    height: 17px;
    width: 34px;
}
.imprinttablelocations {
    clear: both;
    background: url('/img/leadorder/imprintsample_bg.png') no-repeat transparent;
    float: left;
    margin-left: 30px;
    margin-top: 3px;
    width: 226px;
}
.imprinttablelocations > .imprinttablehead {
    color: #ffffee;
    float: left;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 100%;
}
.imprinttablelocations > .imprinttablehead > .label_locationname {
    float: left;
    width: 143px;
}
.imprinttablelocations > .imprinttablehead > .label_locationsize {
    float: left;
    width: 54px;
}
.imprinttablelocations > .imprinttablehead > .label_locationtemplate {
    float: left;
    width: 28px;
}
.imprinttabledata {
    float: left;
    height: 265px;
    width: 224px;
}
.imprinttabledata > .locationsamplerow {
    clear: both;
    color: #ffffee;
    float: left;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.imprinttabledata > .locationsamplerow > .numpp {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 19px;
}
.imprinttabledata > .locationsamplerow > .locatname {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 117px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.imprinttabledata > .locationsamplerow > .locatname.addnew {
    color: #8a8a8a;
    margin: 0;
    padding: 0;
    text-align: center;
}
.imprinttabledata > .locationsamplerow > .locatsize {
    float: left;
    border-right: 1px solid #FFFFEE;
    width: 62px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imprinttabledata > .locationsamplerow > .locattempl {
    float: left;
    margin-left: 3px;
    width: 18px;
}
.imprinttabledata > .locationsamplerow > .locattempl.active {
    background: url('/img/leadorder/icon_glass.png') no-repeat transparent;
}
.saveimprintdetailsarea {
    clear: both;
    float: left;
    margin-left: 626px;
    width: 120px;
}
.saveimprintdetailsarea > .saveimprintdetailsdata {
    background: transparent url("/img/leadorder/button_save.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 31px;
    line-height: 28px;
    text-align: center;
    width: 47px;
}
.saveimprintdetailsarea > .revertimprintdetailsdata {
    background: transparent url("/img/leadorder/button_revert.png") no-repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 12px;
    height: 31px;
    line-height: 28px;
    margin-left: 7px;
    text-align: center;
    width: 58px;
}
.imprintdetail_repeat_note {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
/* End Imprint details content */
/* Fullfilment Historical */
.fulfillmentblock {
    width: 338px;
    /*background: #7F7FFF;*/
    /*padding: 10px;*/
}
.fulfillm_historical {
    position: relative;
    width: 100%;
    border: 2px dashed #000;
    border-radius: 4px;
    padding: 8px 7px 4px;
}
.fulfillm_hist_title {
    position: absolute;
    top: -9px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #7F7FFF;
    padding: 0 3px;
}
.btbox_list {
    width: 100%;
}
.btbox {
    /*width: calc(100% - 14px);*/
    width: 100%;
    height: 18px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 4px;
    padding: 0 7px;
}
.btbox_open {
    height: auto !important;
}
.btbox_arrow {
    width: 10px;
    font-size: 16px;
    line-height: 17px;
    color: #000;
    text-align: center;
    position: relative;
    left: -3px;
    cursor: pointer;
}
.btbox_title {
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    margin-right: 4px;
}
.btbox_info {
    font-size: 12px;
    line-height: 17px;
}
.btbox_icon {
    float: right !important;
    font-size: 13px;
    line-height: 17px;
    margin-left: 4px;
}
.btbox_net {
    float: right !important;
    font-size: 12px;
    line-height: 17px;
}
.btbox_body {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 4px;
}
.btbox_bodyrow {
    width: 100%;
    margin-bottom: 2px;
}
.btbox_status {
    width: 75px;
    font-size: 10px;
}
.btbox_billmethod {
    width: 126px;
    font-size: 10px;
}
.btbox_rep {
    width: 80px;
    font-size: 10px;
}
.btbox_shipdate {}
.btbox_shipdate_label,
.btbox_shipact_label,
.btbox_messagevendor_label {
    font-size: 10px;
    line-height: 14px;
    color: #3736FE;
    font-weight: bold;
}
.btbox_shipdate_box {
    width: 47px;
    height: 14px;
    border: 1px solid #BDBDBD;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    margin-left: 3px;
}
.btbox_shipact {
    margin-left: 4px;
    height: 15px;
}
.btbox_shipact select {
    width: 110px;
    height: 16px;
    border: 1px solid #BDBDBD;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
    margin-left: 3px;
    background: #fff;
    position: relative;
    top: -3px;
}
.btbox_messagevendor {
    width: 100%;
    margin-top: 3px;
}
.btbox_messagevendor_box {
    float: right !important;
    width: 186px;
}
.btbox_messagevendor_box textarea {
    width: 100%;
    height: 30px;
    border: 1px solid #BDBDBD;
    background: #fff;
    resize: none;
    padding: 3px 5px;
}
.btbox_table {
    width: 100%;
    margin-top: 3px;
}
.btboxtable_header {
    width: 100%;
    margin-bottom: 2px;
}
.btboxtable_body {
    width: 100%;
    border: 1px solid #95939E;
    height: 60px;
}
.btboxtable_tr {
    width: 100%;
    height: 14px;
    line-height: 14px;
}
.btboxtable_td {
    border-right: 1px solid #B5B5B5;
    font-size: 10px;
    padding: 0 2px;
}
.btboxtable_td:last-child {
    border-right: none;
}
.btboxtable_header .btboxtable_td {
    border-right: none;
    font-size: 9px;
    text-align: center;
}
.btboxtable_item {
    width: 50px;
}
.btboxtable_descr {
    width: 121px;
    padding-left: 4px;
}
.btboxtable_qty {
    width: 32px;
    text-align: center;
}
.btboxtable_price {
    width: 34px;
    text-align: center;
}
.btboxtable_subtotal {
    width: 43px;
    text-align: center;
}
.boldtxt {
    font-weight: bold;
}
.grey {
    background: #EDEDED;
}
.shipaddrs {
    width: 100%;
}
.shipaddrs_tabs {
    position: relative;
    width: 100%;
    z-index: 5;
}
.shipaddrs_body {
    position: relative;
    width: 100%;
    background: #E4E3E3;
    border: 1px solid #000;
    height: 73px;
    padding: 5px 7px;
    z-index: 1;
    margin-top: -1px;
}
.shipaddrs_tab {
    width: 57px;
    height: 14px;
    line-height: 15px;
    border: 1px solid #000;
    border-bottom: none;
    font-size: 10px;
    text-align: center;
    margin-right: 4px;
    background: #c2c4c3;
    border-radius: 2px 2px 0 0;
    margin-top: .5px;
}
.shipaddrs_tab.active {
    width: 57px;
    height: 15px;
    line-height: 17px;
    border: 1px solid #000;
    border-bottom: 1px solid #E4E3E3;
    font-size: 10px;
    text-align: center;
    margin-right: 4px;
    background: #E4E3E3;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
    margin-top: -.5px;
}
.shipaddrs_left {}
.shipaddrs_right {
    width: 139px;
    float: right !important;
}
.shipaddrs_right label {
    float: left;
    font-size: 10px;
    width: 44px;
    margin-right: 3px;
    text-align: right;
    line-height: 15px;
}
.shipaddrs_addressbox {
    width: 122px;
    height: 62px;
    border: 1px solid #95939E;
    padding: 3px 5px;
    background: #fff;
    font-size: 10px;
    line-height: 12px;
}
.shipaddrs_method {
    width: 100%;
}
.shipaddrs_method select {
    float: left;
    width: 92px;
    height: 15px;
    line-height: 14px;
    background: #fff;
    border: 1px solid #BDBDBD;
    font-size: 10px;
}
.shipaddrs_billdate {
    width: 100%;
    margin-top: 3px;
}
.shipaddrs_right label{
    float: left;
    font-size: 10px;
    width: 42px;
    margin-right: 5px;
    text-align: right;
    line-height: 15px;
}
.shipaddrs_billdate input {
    float: left;
    width: 50px;
    height: 13px;
    line-height: 14px;
    background: #fff;
    border: 1px solid #BDBDBD;
    font-size: 10px;
}