.sitecontent_submenu {
    margin-top: 0.4375rem;
    margin-left: 0.4375rem;
    width: 10rem;
    position: fixed;
}
.submenu_item {
    /* background-image: url('/img/contents/menu_subitem_bg.png');
    background-repeat: no-repeat; */
    background: #a6a6a6;
    background: linear-gradient(to top, #8f8f8f, #c2c2c2);
    /* background-size: auto; */
    color: #ffffff;
    border-radius: 0.3rem;
}
.submenu_item.active {
    /* background-image: url('/img/contents/menu_subitemactive_bg.png'); */
    background: #215bf8;
    background: linear-gradient(to top, #3636ff, #0c80f1);
}
.submenu_manage {
    display: none;
    /* margin-right: 11px;
    width: 149px; */
}
.submenu_manage.active {
    display: block;
    padding-right: 0.75rem;
}
.submenu_manage .submenu_label {
    height: 1.5625rem;
    line-height: 1.5625rem!important;
    font-size: 0.9375rem;
    font-weight: bold;
    text-align: right;
    width: 100%;
    text-transform: uppercase;
}
.submenu_manage .buttons {
    float: right!important;
    width: 62%;
}
.submenu_manage .buttons .edit_button {
    background-color: #ba00cb;
    color: #ffffff;
    cursor: pointer;
    float: right!important;
    border-radius: 0.3rem;
}
.buttonmanagecontent {
    text-align: center;
}
.buttonmanagecontent i {
    margin-right: 0.3rem;
}
.contentpagearea {
    display: none;
}
.statcipage_content input {
    padding-left: 0.5rem;
    height: 1.5rem;
    border: 1px solid #000;
    float: left;
}
.statcipage_content input:read-only {
    border: 1px solid #c0c0c0;
}
.statcipage_content textarea {
    border: 1px solid #000;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    resize: none;
    overflow-y: auto;
}
.statcipage_content textarea:read-only {
    border: 1px solid #c0c0c0!important;
}
.statcipage_content .metainfotitle,
.statcipage_content .contentinfotitle {
    width: 100%;
    height: 1.75rem;
    line-height: 1.75rem!important;
    background: #595959;
    color: #ffffff;
    font-size: 1.0625rem;
}
.statcipage_content .metainfotitle .displaymeta,
.statcipage_content .contentinfotitle .displaycontent {
    width: 1.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    float: left;
}
.statcipage_content .metainfotitle .title,
.statcipage_content .contentinfotitle .title {
    margin-left: 0.3125rem;
    line-height: 1.75rem!important;
    float: left;
}
.statcipage_content .metaleftpart {
    margin-top: 1rem;
    padding-left: 1.25rem;
}
.statcipage_content .metarightpart {
    margin-top: 1rem;
}
.statcipage_content div.label {
    height: 1.5rem;
    line-height: 1.1875rem!important;
    font-family: Helvetica-Bold;
    font-size: 0.9375rem;
    color: #000;
    font-weight: normal;
    text-align: left;
    vertical-align: unset;
    border-radius: 0;
}
.statcipage_content div.metatitle {
    /* width: 86px;  */
}
.statcipage_content div.metakeywords {
    margin-top: 0.625rem;
    /* width: 128px; */
}
.statcipage_content div.metadescription {
    /* width: 132px; */
}
.statcipage_content input.metatitle {
    /* width: 448px; */
    width: 98%;
    height: 1.5rem;
}
.statcipage_content textarea.metakeywords {
    margin-top: 0.625rem;
    height: 6.1875rem;
    width: 98%;
}
.statcipage_content textarea.metadescription {
    height: 8.3125rem;
    width: 98%;
}
.statcipage_content .customcontent-area {
    margin-top: 1rem;
    padding-left: 1.25rem;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {
    .mobileviewonly {
        display: none;
    }
    /*.desktopviewonly {*/
    /*    display: block;*/
    /*}*/
    .submenu_item {
        font-size: 1rem;
        font-weight: bold;
        margin: 6px 9px 0 11px;
        height: 1.6875rem;
        line-height: 1.6875rem!important;
        cursor: pointer;
        padding-left: 0.4375rem;
        width: 8.625rem;
    }
    .submenu_manage .buttons .edit_button {
        background: url(/img/contents/edit_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right!important;
    }
    .submenu_manage .buttons .cancel_button {
        background: url(/img/contents/cancel_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .submenu_manage .buttons .save_button {
        background: url(/img/contents/save_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .contentpagearea {
        width: 66rem;
        margin-top: 0.4375rem;
        margin-bottom: 0.4375rem;
        margin-left: 10.4375rem;
        border: 0.3125rem solid #1f5ef7;
    }
    .buttonmanagecontent i {
        font-size: 1.1rem;
    }
    .buttonmanagecontent span {
        font-size: 1rem;
    }
}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .mobileviewonly {
        display: none;
    }
/*    .desktopviewonly {
        display: block;
    } */
    .submenu_item {
        font-size: 0.9rem;
        font-weight: bold;
        height: 1.8rem;
        line-height: 1.8rem!important;
        margin: 0.375rem 0rem 0 0.25rem;
        cursor: pointer;
        padding-left: 0.45rem;
        width: 8.15rem;
    }
    .sitecontent_submenu {
        width: 8.5rem;
        position: fixed;
    }
    .contentpagearea {
        width: 53.5rem;
        margin-top: 0.4375rem;
        margin-bottom: 0.4375rem;
        margin-left: 9.2rem;
        border: 0.3125rem solid #1f5ef7;
    }
    .submenu_manage .buttons .edit_button {
        background: url(/img/contents/edit_button_bg.png);
        height: 2rem;
        width: 6.125rem;
        cursor: pointer;
        float: right!important;
    }
    .submenu_manage .buttons .cancel_button {
        background: url(/img/contents/cancel_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .submenu_manage .buttons .save_button {
        background: url(/img/contents/save_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .buttonmanagecontent i {
        font-size: 1.1rem;
    }
    .buttonmanagecontent span {
        font-size: 1rem;
    }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
/*    .mobileviewonly {
        display: block;
    } */
    .desktopviewonly {
        display: none;
    }
    .submenu_manage.active {
        padding-right: unset;
    }
    .submenu_item {
        font-size: 1rem;
        font-weight: bold;
        height: 2.1rem;
        line-height: 2.1rem!important;
        cursor: pointer;
        text-align: center;
        width: 10.45rem;
    }
    .submenu_manage .submenu_label {
        height: 1.8rem;
        line-height: 1.8rem!important;
        font-size: 1rem;
    }
    .submenu_manage .buttons .edit_button {
        font-size: 0.9rem;
        height: 1.8rem;
        line-height: 1.8rem;
        width: 5.7rem;
    }
    .submenu_manage .buttons .cancel_button {
        background: url(/img/contents/cancel_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .submenu_manage .buttons .save_button {
        background: url(/img/contents/save_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .buttonmanagecontent i {
        font-size: 1.1rem;
    }
    .buttonmanagecontent span {
        font-size: 1rem;
    }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    /*.mobileviewonly {
        display: block;
    }*/
    .desktopviewonly {
        display: none;
    }
    .submenu_manage.active {
        padding-right: unset;
    }
    .submenu_item {
        font-size: 0.9rem;
        font-weight: bold;
        height: 1.8rem;
        line-height: 1.8rem!important;
        cursor: pointer;
        text-align: center;
        width: 8.15rem;
    }
    .submenu_manage .submenu_label {
        height: 1.6rem;
        line-height: 1.6rem!important;
        font-size: 0.8rem;
    }
    .submenu_manage .buttons .edit_button {
        font-size: 0.8rem;
        height: 1.7rem;
        line-height: 1.7rem;
        width: 4.7rem;
    }
    .submenu_manage .buttons .cancel_button {
        background: url(/img/contents/cancel_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .submenu_manage .buttons .save_button {
        background: url(/img/contents/save_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .buttonmanagecontent i {
        font-size: 1rem;
    }
    .buttonmanagecontent span {
        font-size: 0.9rem;
    }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
    /* .mobileviewonly {
        display: block;
    }*/
    .desktopviewonly {
        display: none;
    }
    .submenu_manage.active {
        padding-right: unset;
    }
    .submenu_item {
        font-size: 0.7rem;
        font-weight: bold;
        height: 1.5rem;
        line-height: 1.5rem!important;
        cursor: pointer;
        text-align: center;
        width: 4.15rem;
    }
    .submenu_manage .submenu_label {
        height: 1.3rem;
        line-height: 1.3rem!important;
        font-size: 0.6rem;
    }
    .submenu_manage .buttons .edit_button {
        font-size: 0.7rem;
        height: 1.5rem;
        line-height: 1.5rem;
        width: 3.7rem;
    }
    .submenu_manage .buttons .cancel_button {
        background: url(/img/contents/cancel_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .submenu_manage .buttons .save_button {
        background: url(/img/contents/save_button_bg.png);
        height: 31px;
        width: 98px;
        cursor: pointer;
        float: right;
    }
    .buttonmanagecontent i {
        font-size: 0.7rem;
    }
    .buttonmanagecontent span {
        font-size: 0.7rem;
    }
    .contentpagearea {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-top: 0.3125rem solid #1f5ef7;
        border-bottom: 0.3125rem solid #1f5ef7;
    }
    .statcipage_content .metaleftpart {
        padding-left: 0.55rem;
    }
    .statcipage_content .metarightpart {
        padding-left: 0.55rem;
    }
}
