div.custom_maintitle {
    width: 90px;
}
input.custom_maintitle {
    width: 198px;
}
div.custom_secondarytext {
    width: 128px;
    margin-left: 12px;
}
input.custom_secondarytext {
    width: 345px;
}
.custom_mainimagearea {
    clear: both;
    width: 652px;
}
div.custom_mainimage {
    width: 91px;
}
.custom_imagesubtitle {
    color: #000000;
    font-family: Helvetica-Oblique;
    font-size: 12px;
    margin-top: 4px;
}
.custom_imagesubtitlesize {
    color: #000000;
    font-family: Helvetica-Oblique;
    font-size: 12px;
    margin-right: 6px;
}
.custom_mainimagesrc,
.custom_mainimageempty {
    width: 533px;
    height: 223px;
    border: 1px solid #ededed;
}
.custom_mainimagesrc img {
    width: 100%;
}
.custom_mainimageremove {
    height: 24px;
    width: 33px;
    background: #000000;
    z-index: 10;
    position: relative;
    top: 2px;
    left: -35px;
    cursor: pointer;
}
.custom_mainimageremove i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 33px;
    line-height: 22px!important;
}
.custom_mainimageupload {
    margin-left: 54px;
    margin-top: 85px;
}
.custom_homeimagearea {
    width: 442px;
}
.custom_homepageimage {
    width: 192px;
}
.custom_homepageimagesrc,
.custom_homepageimageempty {
    width: 234px;
    height: 237px;
    border: 1px solid #ededed;
}
.custom_homepageimagesrc img {
    width: 100%;
}
.custom_homeimageremove {
    height: 24px;
    width: 33px;
    background: #000000;
    z-index: 10;
    position: relative;
    top: 5px;
    left: -40px;
    cursor: pointer;
}
.custom_homeimageremove i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 33px;
    line-height: 22px!important;
}
.custompage_content_left {
    width: 615px;
}
div.custom_belowimagetext {
    width: 147px;
}
input.custom_belowimagetext {
    width: 454px;
}
div.custom_fivebulletpoints {
    width: 123px;
}
div.custom_fivebulletpoints_area {
    width: 197px;
}
input.custom_fivebulletpoints {
    width: 186px;
    margin-bottom: 14px;
}
div.custom_longerbodytext {
    width: 147px;
    margin-top: 10px;
}
textarea.custom_longerbodytext {
    width: 472px;
    height: 183px;
}
div.custom_abovegallerytext {
    width: 158px;
}
input.custom_abovegallerytext {
    width: 457px;
}
div.custom_gallerytitle {
    width: 100px;
}
input.custom_gallerytitle {
    width: 454px;
}
/* Gallery */
.galleryinfotitle {
    width: 100%;
    height: 28px;
    line-height: 28px!important;
    background: #595959;
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;
}
.galleryinfotitle .displaygallery {
    width: 23px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 3px;
}
.galleryinfotitle .title {
    margin-left: 5px;
    line-height: 28px;
}
.custom_galleries_area {
    margin-top: 16px;
    padding-left: 20px;
    width: 1113px;
}
div.custom_commongallerytitle {
    width: 155px;
}
input.custom_commongallerytitle {
    width: 455px;
}
div.custom_gallerytitle {
    width: 129px;
}
input.custom_gallerytitle {
    width: 180px;
}
.custom_exampletitlesize {
    color: #000000;
    font-family: Helvetica-Oblique;
    font-size: 12px;
    margin-left: 132px;
}
.custom_examplelabel {
    width: 111px;
}
.custom_exampleimagetitle {
    color: #000000;
    font-family: Helvetica-Bold;
    font-size: 13px;
    /* margin-left: 132px; */
    width: 93px;
}
.customimage_enlarge {
    color: #000000;
    font-size: 10px;
    width: 90px;
}
.gallery_collageimage {
    width: 185px;
    height: 124px;
    border: 1px solid #ededed;
    margin-left: 20px;
}
.gallery_collageimage img {
    width: 100%;
}
.custom_galleryimagedelete {
    height: 24px;
    width: 33px;
    background: #000000;
    z-index: 10;
    position: relative;
    top: 6px;
    right: 7px;
    cursor: pointer;
    margin-left: -33px;
}
.custom_galleryimagedelete i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 33px;
    line-height: 22px!important;
}
.custom_galleryimageupload {
    margin-top: 46px;
    margin-left: 54px;
}
.custom_galleries_area .custom_imagesubtitle {
    margin-left: 15px;
    margin-right: 15px;
}
.custom_galleryshow_label {
    width: 95px;
}
.custom_galleryshow {
    margin-left: 14px;
    margin-top: -4px;
}
.custom_galleryshow .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.custom_galleryshow .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.custom_galleryshow .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.custom_galleryshow .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.custom_galleryshow input:checked + .slider {
    background-color: #2196F3;
}

.custom_galleryshow input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.custom_galleryshow input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.custom_galleryshow .slider.round {
    border-radius: 34px;
}
.custom_galleryshow .slider.round:before {
    border-radius: 50%;
}
.custom_gallerydelete {
    margin-left: 10px;
    width: 37px;
    height: 30px;
    line-height: 30px!important;
    margin-top: -3px;
}
.custom_gallerydelete i {
    color: #ff0000;
    font-size: 31px;
    cursor: pointer;
}
.galleryitemssources {
    width: 838px;
}
.add_new_gallery {
    background: #145224;
    color: #ffffff;
    font-size: 14px;
    height: 24px;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    line-height: 24px!important;
    font-weight: bold;
}
.add_new_gallerypic {
    background-image: none!important;
    background-color: #145224!important;
    color: #ffffff;
    font-size: 14px;
    height: 24px!important;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    line-height: 24px!important;
    font-weight: bold;
    width: 169px!important;
}
/* Below gallery inputs */
div.custom_belowgallerrytext {
    width: 153px;
}
input.custom_belowgallerrytext {
    width: 553px;
}
input.custom_belowgallerrysubtext {
    margin-left: 147px;
    width: 553px;
}
div.custom_stepprocesstitle {
    width: 159px;
}
input.custom_stepprocesstitle {
    width: 407px;
}
div.custom_belowstepstext {
    width: 145px;
}
textarea.custom_belowstepstext {
    width: 690px;
    height: 53px;
}
.galleryitemsinfotitle {
    width: 100%;
    height: 28px;
    line-height: 28px!important;
    background: #595959;
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;
}
.galleryitemsinfotitle .displaygalleryitems {
    width: 23px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 3px;
}
.galleryitemsinfotitle .title {
    margin-left: 5px;
    line-height: 28px;
}
.custom_galleryitems_area {
    margin-top: 16px;
    padding-left: 20px;
}
.custom_galleryitemdata {
    width: 137px;
}
.custom_galleryitem {
    width: 122px;
    height: 122px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 1px solid #ededed;
    cursor: pointer;
}
.custom_galleryitem img {
    width: 100%;
}
.custom_galleryitem:last-child {
    margin-right: 0;
}
.custom_emptygalleryitem {
    width: 122px;
    height: 122px;
    border: 1px solid #ededed;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #ffffff;
}
.custom_galleryitemupload {
    margin-top: 50px;
    margin-left: 23px;
}
.custom_galleryitemdelete {
    height: 24px;
    width: 33px;
    background: #000000;
    z-index: 10;
    position: relative;
    top: 0px;
    right: 16px;
    cursor: pointer;
    margin-left: -33px;
}
.custom_galleryitemdelete i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 33px;
    line-height: 22px!important;
}
.custom_galleryitemtxt {
    width: 136px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}
input.item_description {
    width: 132px;
}
/* Case study slider */
.casestudyinfotitle {
    width: 100%;
    height: 28px;
    line-height: 28px!important;
    background: #595959;
    color: #ffffff;
    font-size: 17px;
    margin-top: 10px;
}
.casestudyinfotitle .displaycasestudy {
    width: 23px;
    cursor: pointer;
    margin-left: 8px;
    line-height: 28px;
}
.casestudyinfotitle .title {
    margin-left: 5px;
    line-height: 28px;
}
.custom_casestudies_area {
    margin-top: 16px;
    padding-left: 20px;
}
.custom_casestudy_area {
    width: 250px;
}
div.custom_casestudyhead {
    width: 100px;
}
.custom_casestudyimage {
    width: 233px;
    height: 126px;
    border: 1px solid #ededed;
}
.custom_casestudyimage img {
    width: 100%;
}
div.custom_casestudyimage_empty {
    width: 233px;
    height: 126px;
    border: 1px solid #ededed;
}
.custom_casestudyimagedelete {
    height: 24px;
    width: 33px;
    background: #000000;
    z-index: 10;
    position: relative;
    top: -126px;
    left: 200px;
    cursor: pointer;
    margin-bottom: -24px;
}
.custom_casestudyimagedelete i {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 33px;
    line-height: 22px!important;
}
.custom_casestudyitemupload {
    margin-top: 50px;
    margin-left: 78px;
}
div.custom_casestudytitle {
    margin-top: 15px;
    width: 40px;
}
input.custom_casestudytitle {
    margin-top: 15px;
    width: 185px;
}
.custom_casestudytext {
    width: 45px;
}
textarea.custom_casestudytext {
    width: 224px;
    height: 76px;
}
textarea.custom_casestudyexpand {
    width: 224px;
    height: 241px;
    margin-top: -4px;
}
/* Popup Upload */
.dialog-location-row {
    clear: both;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 345px;
}
.dialog-location-rowlegend {
    float:left;
    width:100px;
    font-size:12px;
}
.dialog-location-rowvalue {
    float:left;
    margin-left:5px;
    width:230px;
}
/* Popup for upload */
.imageuploaddata {
    background : url('/img/image-itemdetail-bg.png') no-repeat transparent;
    clear: both;
    float: left;
    padding: 0 15px;
    width: 544px;
    height: 310px;
}
.viewpreloadimg {
    clear: both;
    float: left;
    width: 320px;
    margin-top: 30px;
    text-align: center;
}
.viewpreloadimg img {
    width: 200px;
}
.manegeupload {
    float: left;
    width: 200px;
    margin-top: 70px;
}
.custom_upload {
    clear: both;
    background: url("/img/browse.png") no-repeat scroll 0 0 transparent !important;
    clear: both;
    height: 80px !important;
    width: 120px !important;
}
.saveimgupload {
    clear: both;
    display: none;
    float: left;
    margin-bottom: 15px;
    margin-left: 444px;
    margin-top: -26px;
    width: 120px;
}
.saveimgupload:hover {
    cursor: pointer;
}
.deleteuploadimg {
    float: left;
    width: 200px;
    margin-top: 25px;
}
.viewsrcfile {
    float: left;
    width: 200px;
    margin-top: 25px;
}
/* Fancy View */
.fancybox-slide--iframe .fancybox-content {
    width  : 1280px !important;
    height : 600px !important;
    max-width  : 90%;
    max-height : 80%;
    margin: 0;
}
